collection-tray {
  width: 100%;
  margin: 0;
  & > section {
    overflow: hidden;
    background-color: darken(md-color($background, app-bar), 1%);
    height: auto;
    box-shadow: inset 0 1px 0 0 md-color($foreground, divider);
    width: 100%;
    .asset-carousel {
      // @include transition($swift-ease-out);
      width: calc(100% - 500px);
      padding: 0 0 0 0;
      max-height: 100%;
      min-height: 100%;
      border: none;
      color: md-color($foreground, secondary-text);
      background-color: rgba(darken(md-color($background, app-bar), 50%), .06);
      border-radius: 0;
    }
    .focused-collection {
      @include transition(max-height 0.45s, min-height 0.35s, opacity .99s, $swift-ease-in-out-timing-function);
      min-height: rem(5.6);
      max-height: rem(5.6);
      @include background-image(
        linear-gradient(md-color($md-primary, 800, .06), md-color($md-primary, 800, .06)),
        linear-gradient(rgba(md-color($md-background, status-bar), 1), rgba(md-color($md-background, status-bar), 1))
      );
      white-space: nowrap;
      .focused {
        margin-left: rem(1);
        width: auto;
        white-space: nowrap;
      
        button.is-dd[md-button] {
          color: rgba(md-color($md-foreground, secondary-text), .6);
        }
        .asset-count {
          border-radius: $md-button-border-radius;
          background-color: rgba(md-color($md-foreground, secondary-text), .4);
          min-width: rem(2.4);
          line-height: 1em;
          margin-right: 0;
          margin-left: 0;
          padding: 2px 3px;
          .count {
            @include text-contrast(md-color($md-foreground, secondary-text));
          }
          &:hover {
            background-color: rgba(md-color($md-foreground, secondary-text), .4);
            cursor: default;
          }
          &:hover::after {
            background-color: transparent;
          }
        }
      }
      button[md-icon-button] {
        margin-top: rem(-.2);
        margin-right: rem(.4);
        max-width: rem(4.0);
        min-width: rem(4.0);
        color: rgba(md-color($md-foreground, secondary-text), .6);
        &:hover {
          background-color: rgba(md-color($md-foreground, base), .1);
        }
        &:hover::after {
          background-color: transparent;
        }
      } 
    }
  }
}

header.app-header.collection-tray-closed collection-tray section {
  .focused-collection, .asset-carousel.grid ul.asset-list {
    max-height: 0;
    min-height: 0;
  }
  button.close {
    max-height: 0;
    min-height: 0;
    overflow: hidden;
  }
}

.asset-carousel.grid ul.asset-list {
  list-style: none;
  font-size: 0;
  line-height: 0;
  padding: 0;
  margin: 0 0 0 0;
  white-space: nowrap;
  overflow-y: hidden;
  @include transition(max-height 0.45s, min-height 0.35s, $swift-ease-in-out-timing-function);
  min-height: rem(5.6);
  max-height: rem(5.6);
  // padding: 0;
  & > li {
    font-size: 1em;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 0 0 0;
    width: rem(9.957);
    opacity: .9;
    @include transition(none);
    .asset {
      padding: 0;
      padding-bottom: 0;
      background-color: md-color($md-background, app-bar);

      a.asset-thb {
        display: block;
        height: 0;
        width: 100%;
        position: relative;
        padding: 56.25% 0 0 0;
        @include background-image(
          linear-gradient(rgba(md-color($md-grey, 900),1), rgba(md-color($md-grey, 900),.6)),
          linear-gradient(rgba(md-color($md-grey, 900),.5), rgba(md-color($md-grey, 900),1))
        );
        &:hover, &:active {
          cursor: pointer;
        }
        img {
          position: absolute;
          display: block;
          height: 100%;
          max-width: 100%;
          max-height: 100%;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          // width: 100%;
          // if you want to stretch 4:3 SD thumbs
        }
      }
      a.asset-thb::before {
        content: " ";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: md-color($md-foreground, base, .2);
        background-image: none;
        box-shadow: 
        inset 0 -3px 0 0 md-color($md-background, card, 1);        
        @include transition($swift-ease-out);
        z-index: 1;
        opacity:0
      }
      a.asset-thb:hover {
        &::before {
          opacity: 1;
        }
      }
    }
    @media screen and (max-width: $layout-breakpoint-lg) {
      width: rem(9.957);
    }
    @media screen and (max-width: $layout-breakpoint-md) {
      width: rem(9.957);
    }
    @media screen and (max-width: $layout-breakpoint-sm) {
      width: rem(9.957);
    }
    @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
      width: rem(9.957);
      margin-bottom: 0;          
    }
  }
  & > li:first-child {
    margin-left: 0;
  }
}
