collection-tray {
  width: 100%;
  margin: 0;
  & > section {
    overflow: hidden;
    height: auto;
    width: 100%;
    .asset-carousel {
      width: calc(100% - 500px);
      padding: 0 0 0 0;
      max-height: 100%;
      min-height: 100%;
      border: none;
      border-radius: 0;
    }
    .focused-collection {
      transition: max-height 0.45s, min-height 0.35s, opacity .99s, $swift-ease-in-out-timing-function;
      min-height: rem(5.6);
      max-height: rem(5.6);
      white-space: nowrap;
      .focused {
        margin-left: rem(1);
        width: auto;
        white-space: nowrap;
        .asset-count {
          border-radius: 2px;
          min-width: rem(2.4);
          line-height: 1em;
          margin-right: 0;
          margin-left: 0;
          padding: 2px 3px; 
          &:hover {
            cursor: default;
          }
          &:hover::after {
            background-color: transparent;
          }
        }
      }
      button[md-icon-button] {
        margin-top: rem(-.2);
        margin-right: rem(.4);
        max-width: rem(4.0);
        min-width: rem(4.0);
      } 
    }
  }
}

header.app-header.collection-tray-closed collection-tray section {
  .focused-collection, .asset-carousel.grid ul.asset-list {
    max-height: 0;
    min-height: 0;
  }
  button.close {
    max-height: 0;
    min-height: 0;
    overflow: hidden;
  }
}

.asset-carousel.grid ul.asset-list {
  list-style: none;
  font-size: 0;
  line-height: 0;
  padding: 0;
  margin: 0 0 0 0;
  white-space: nowrap;
  overflow-y: hidden;
  transition: max-height 0.45s, min-height 0.35s, $swift-ease-in-out-timing-function;
  min-height: rem(5.6);
  max-height: rem(5.6);
  // padding: 0;
  & > li {
    font-size: 1em;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 0 0 0;
    width: rem(9.957);
    opacity: .9;
    transition: none;
    .asset {
      padding: 0;
      padding-bottom: 0;

      a.asset-thb {
        display: block;
        height: 0;
        width: 100%;
        position: relative;
        padding: 56.25% 0 0 0;
        &:hover, &:active {
          cursor: pointer;
        }
        img {
          position: absolute;
          display: block;
          height: 100%;
          max-width: 100%;
          max-height: 100%;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
      a.asset-thb::before {
        content: " ";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        transition: $swift-ease-out;
        z-index: 1;
        opacity:0
      }
      a.asset-thb:hover {
        &::before {
          opacity: 1;
        }
      }
    }
    @media screen and (max-width: $layout-breakpoint-lg) {
      width: rem(9.957);
    }
    @media screen and (max-width: $layout-breakpoint-md) {
      width: rem(9.957);
    }
    @media screen and (max-width: $layout-breakpoint-sm) {
      width: rem(9.957);
    }
    @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
      width: rem(9.957);
      margin-bottom: 0;          
    }
  }
  & > li:first-child {
    margin-left: 0;
  }
}
