header.app-header {
  position: relative;
  width: 100%;
  z-index: 3;
  background-color:rgba(md-color($md-primary, 900), .3);
  border-bottom: solid 1px rgba(contrast-color(md-color($md-primary, 900)), .25);
  @include md-elevation(0);
  position: absolute;
  top: 0;
  left: 0;
  @include transition($swift-ease-out);
  a.home-link > .logo-wrapper {
    @include transition(all .4s ease-in-out);
    opacity: .7;
    &:hover {
      opacity: 1;
    }
    overflow: hidden;
    width: rem(10);
    height: rem(5);
    position: absolute;
    top: rem(.8);
    margin-left: rem(.7);
    .logo img {
      @include background-image(url($logo-header));
      background-position: top left;
      background-repeat:no-repeat;
      background-size: rem(27.2);
      width: 95px;
      height: 50px;
    }
    @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
      width: 72px;
      height: 37px;
      top: 10px;
      .logo img {
        background-size: 200px;
        height: 37px;
      }
    }
  }
  &.fixed {
    background-color:rgba(md-color($md-background, app-bar), .95);
    @include text-contrast(md-color($md-background, app-bar), md-color($md-foreground, secondary-text), md-color($md-background, app-bar));
    position: fixed;
    top: 0;
    @include animation(slideDownHeader .75s ease-in-out);
    border-bottom: none;
    @include md-elevation(3);
    a.home-link > .logo-wrapper {
      opacity: .95;
    }
  }
}
header.app-header md-toolbar {
  background-color: transparent;
}
header.app-header [md-button],
header.app-header [md-icon-button] {
  @include text-contrast(md-color($md-grey, 900), md-color($md-foreground, secondary-text), md-color($md-background, app-bar));
  text-transform: uppercase;
  margin-left: rem(.6);
  @include transition(all .4s ease-in-out);
  &:hover {
    background-color: rgba(md-color($md-background, background), .075);
  }
  &:first-child{
    margin-left: 0;
  }
}
header.app-header md-toolbar:not(.md-menu-toolbar) [md-button] {
  &.md-accent {
    color: rgba(md-color($md-accent, 500), .8);
  }
}

header.app-header.fixed [md-button],
header.app-header.fixed [md-icon-button] {
  @include text-contrast(md-color($md-background, app-bar), md-color($md-foreground, secondary-text), md-color($md-background, app-bar));
}

header.app-header app-nav button.open-bin-tray,
header.app-header app-nav button.open-search {
  display: none;
}

header.app-header.bin-tray-closed app-nav button.open-bin-tray,
header.app-header.search-closed app-nav button.open-search {
  display: initial;
}



@include keyframes(slideDownHeader) {
  0% {
    opacity: .8;
    @include transform(translateY(-200px));
  }

  100% {
    opacity: 1;
    @include transform(translateY(0));
  }
}





// These are used for spacing the top of the page to allow for a absolute and fixed header.
// The spacing may change when search or the bin tray is open in the header.
// there are a few different styles of pages.
// Also the current mdToolbar does not change height for mobile. This could change, that is what the media queries are for.

header.app-header + div.main-content collection-show,
header.app-header + div.main-content collections,
header.app-header + div.main-content cms,
header.app-header + div.main-content search,
header.app-header + div.main-content asset {
  display: block;
  @include transition(border-top-width 0.35s, $swift-ease-in-out-timing-function);
  border-top: rem(16.6) solid md-color($md-grey, 900, .7);
  @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
    border-top-width: rem(15.2);
  }
}
header.app-header.bin-tray-closed + div.main-content collection-show,
header.app-header.bin-tray-closed + div.main-content collections,
header.app-header.bin-tray-closed + div.main-content cms,
header.app-header.bin-tray-closed + div.main-content search,
header.app-header.bin-tray-closed + div.main-content asset {
  border-top-width: rem(11.0);
  @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
    border-top-width: rem(9.6);
  }
}
header.app-header.bin-tray-closed.search-closed + div.main-content collection-show,
header.app-header.bin-tray-closed.search-closed + div.main-content collections,
header.app-header.bin-tray-closed.search-closed + div.main-content cms,
header.app-header.bin-tray-closed.search-closed + div.main-content search,
header.app-header.bin-tray-closed.search-closed + div.main-content asset {
  border-top-width: rem(6.4);
  // @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
  //   border-top-width: rem(5.6);
  // }
}
header.app-header.search-closed + div.main-content collection-show,
header.app-header.search-closed + div.main-content collections,
header.app-header.search-closed + div.main-content cms,
header.app-header.search-closed + div.main-content search,
header.app-header.search-closed + div.main-content asset {
  border-top-width: rem(12.0);
  // @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
  //   border-top-width: rem(11.2);
  // }
}

// pages that do not have options to open and close search and bins, but don't have a bk hero image or video (admin)
header.app-header + div.main-content admin{
  display: flex;
  @include transition(border-top-width 0.35s, $swift-ease-in-out-timing-function);
  border-top: rem(16.6) solid md-color($md-grey, 900, .7);
  // @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
  //   border-top-width: rem(15.2);
  // }
}

header.app-header + div.main-content admin {
  border-top-width: rem(6.4);
  // @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
  //   border-top-width: rem(5.6);
  // }
}

// pages that do not have options to open and close search and bins with a bk hero image or video (user, home)
// currently the latest material header toolbar does not change sizes for mobile. If it does, then used the media query
header.app-header + div.main-content user .hero,
header.app-header + div.main-content home .hero {
  padding-top: rem(6.4);
  // @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
  //   padding-top: rem(5.6);
  // }
}
