<h5 class="mat-title">
  Billing account
</h5>
<form
  layout="column" 
  [formGroup]="form" 
  novalidate 
  class="mat-inline-form" 
  autocomplete="{{autocomplete}}" 
  (ngSubmit)="onSubmit()">
  <div *ngFor="let field of items; let i=index">
    <wz-input-suggestions
      *ngIf="field.type == 'suggestions'" 
      #suggestions 
      [fControl]="form.controls[field.name]" 
      [rawField]="field"
      [matchOnProperty]="matchOnProperty"
      (newSuggestion)="onSelectSuggestion($event)">
      <mat-input-container>
        <input matInput placeholder="{{field.label | translate}}" 
        (keydown)="suggestions.inputKeyDown($event)"
        [ngClass]="{'show-errors': hasErrorType(form.controls[field.name])}"
        formControlName="{{field.name}}"
        type="text"
        [required]="isRequiredField(field)">
        <mat-error *ngIf="hasErrorType(form.controls[field.name])">
          <span *ngIf="form.controls[field.name].hasError('required')">
            {{ 'ERRORS.MISSING_REQUIRED_FIELD' | translate:{fieldName:field.label | translate} }}
          </span>
          <span *ngIf="form.controls[field.name].hasError('serverError')">
            {{ 'ERRORS.'+form.controls[field.name].errors.serverError | translate }}
          </span>
        </mat-error>
      </mat-input-container>
    </wz-input-suggestions>
  </div>
</form>

<ul class="mat-caption">
  <li *ngFor="let property of labels | async">
    <strong>{{property.label}}:</strong> {{property.value}}
  </li>
</ul>
<ul class="mat-caption recipient empty-properties">
  <li><strong>Name:</strong></li>
  <li><strong>Account:</strong></li>
</ul>
<ul class="mat-caption billing empty-properties">
  <li><strong>Sales rep:</strong></li>
  <li><strong>Purchase on credit:</strong></li>
  <li><strong>Credit Exemption:</strong></li>
  <li><strong>Payment Terms Days:</strong></li>
</ul>
  