@import './components/wz-autocomplete-search/wz-autocomplete.search';
@import './components/wz-input-tags/wz-input-tags';
@import './components/wz-input-suggestions/wz-input-suggestions';
@import './components/wz-pikaday/wz.pikaday';

form button {
  &.conversion {
    min-width: 92%;
  }
}
form {
  padding-top:rem(1.8);
}
wz-cc-form,
wz-form {
  display: block;
  position: relative;
  form {
    md-select,
    .mat-input-container {
      width: 100%;
      margin-top: rem(1.1);
      margin-bottom: rem(1.1);
    }
    md-select {
      position: relative;
    }
    a.view-tos {
      text-decoration: underline;
      cursor: pointer;
    }
    md-card-actions.mat-card-actions {
      display: flex;
      margin: rem(1.6) 0 0 0;
      padding: rem(.4) 0;
    }
    .indicate-required {
      font-size: 84%;
      margin-top: rem(3.2);
      margin-bottom: rem(.8);
      opacity: .8;
      > span {
        display: block;
        position: relative;
        padding-left: rem(1.1);
        &::before {
          content: "*";
          font-size: 130%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
}
// cc form has no title
wz-cc-form form {
  padding-top: 0;
}
  //show hide edit button 
wz-cc-form button.mini.is-outlined {
  position: absolute;
  top: rem(-2.2);
  right: rem(-2.4);
  margin-right: 0;
}

*[md-button] {
  text-transform: uppercase;
}

md-checkbox.ng-dirty.ng-invalid {  
  md-hint.mat-hint.error {
    bottom: rem(10);
  }  
}

// two shorter inputs on 1 line
form .two-col div[flex="50"]:first-child {
  padding: 0 rem(.5) 0 0;
}
form .two-col div[flex="50"]:last-child {
  padding: 0 0 0 rem(.5);
}
