@import './components/wz-autocomplete-search/wz-autocomplete.search';
@import './components/wz-input-tags/wz-input-tags';

form button {
  &.conversion {
    min-width: 94%;
  }
}
form {
  padding-top:rem(2.0);
}
wz-cc-form,
wz-form {
  display: block;
  position: relative;
  form {
    md-select,
    md-input {
      width: 100%;
      margin-top: rem(1.2);
      margin-bottom: rem(1.2);
      font-size: 1.1em;
    }
    md-select {
      .md-select-trigger {
        height: rem(1.8);
        margin: rem(1.6) 0;
        padding-bottom: rem(1.0);
        line-height: rem(1.4);
      }
      .md-select-value {
        top: rem(-.2);
        color: currentColor;
      }
      .md-select-arrow {
        height: rem(.3);
      }
    }
    a.view-tos {
      text-decoration: underline;
      cursor: pointer;
    }
    md-card-actions {
      margin: rem(1.6) 0 0 0;
      padding: rem(.4) 0;
    }
    .indicate-required {
      font-size: 84%;
      margin-top: rem(3.8);
      margin-bottom: rem(.8);
      opacity: .8;
      > span {
        display: block;
        position: relative;
        padding-left: rem(1.1);
        &::before {
          content: "*";
          font-size: 130%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
}

*[md-button] {
  text-transform: uppercase;
}

// testing error display in form.
// currently using md-hint this may change with ng2 material recommendation
md-input.show-errors.ng-invalid,
md-input.ng-touched.ng-dirty.ng-invalid {
  .md-input-placeholder {
    color: md-color($warn, 600);
    &.md-float.md-focused .md-placeholder-required {
      color: md-color($warn, 600);
    }
  }
  .md-input-wrapper {
    .md-input-underline {
      border-top-color: md-color($warn, 600);
      .md-input-ripple {
        background-color: md-color($warn, 600);
      }
    }
  } 
  md-hint.error {
    color: md-color($warn, 600);
  }
}

md-checkbox.ng-dirty.ng-invalid {
  .md-checkbox-inner-container {
    .md-checkbox-frame {
     color: md-color($md-warn, 600); 
    }
  }
  md-hint.md-hint.error {
    bottom: rem(10);
    color: md-color($warn, 600);
  }  
}
