form button {
  &.conversion {
    min-width: 92%;
  }
}
form {
  padding-top: 18px;
}
wz-cc-form,
wz-form {
  display: block;
  position: relative;
  form {
    md-select,
    .mat-input-container {
      width: 100%;
      margin-top: 11px;
      margin-bottom: 11px;
    }
    md-select {
      position: relative;
    }
    a.view-tos {
      text-decoration: underline;
      cursor: pointer;
    }
    md-card-actions.mat-card-actions {
      display: flex;
      margin: 16px 0 0 0;
      padding: 4px 0;
    }
    .indicate-required {
      font-size: 84%;
      margin-top: 32px;
      margin-bottom: 8px;
      opacity: .8;
      > span {
        display: block;
        position: relative;
        padding-left: 11px;
        &::before {
          content: "*";
          font-size: 130%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
}
// cc form has no title
wz-cc-form form {
  padding-top: 0;
}
  //show hide edit button 
wz-cc-form button.mini.is-outlined {
  position: absolute;
  top: -22px;
  right: -24px;
  margin-right: 0;
  @media screen and (max-width: $layout-breakpoint-xs) {
    top: -12px;
    right: -9px;
  }
}

*[md-button] {
  text-transform: uppercase;
}

md-checkbox.ng-dirty.ng-invalid {  
  md-hint.mat-hint.error {
    bottom: 100px;
  }  
}

// two shorter inputs on 1 line
form .two-col div[flex="50"]:first-child {
  padding: 0 5px 0 0;
}
form .two-col div[flex="50"]:last-child {
  padding: 0 0 0 5px;
}
