
<section layout="row" flex="100" layout-align="start" class="header-tray">
  <div flex="80" class="asset-carousel"></div>
  <div layout="row" flex="auto" layout-align="end center" class="focused-collection">
    <nav class="focused">
      <button md-button="" class="is-dd"> London Tourism Project </button>
      <div class="asset-count"><span class="count"></span></div>
    </nav>
    <button flex="none" md-button="" title="more collection options" type="button" class="md-icon-button"><i md-icon="" class="material-icons">more_vert</i></button>
  </div>
  <button md-button="" title="close collections" type="button" (click)="closeBinTray()" class="md-icon-button close"><i md-icon="" class="material-icons">close</i></button>
</section>