
<!-- span(flex='')-->
<!--   nav.md-toolbar-tools-->
<!--     form.md-inline-form(layout='row', [ngFormModel]="form", (ngSubmit)="getPageNumber(form.value.page)")-->
<!--       .text-nav-->
<!--         span displaying page-->
<!--         input(type='text', ngControl="page")-->
<!--         span of {{ pagination.numberOfPages }}-->
<!--     button.md-icon-button(*ngIf="pagination.hasPreviousPage", md-button='', title='previous page', (click)="getPageNumber(pagination.currentPage - 1)")-->
<!--       i.material-icons(md-icon) keyboard_arrow_left-->
<!--     button.md-icon-button(*ngIf="pagination.hasNextPage", md-button='', title='next page', (click)="getPageNumber(pagination.currentPage + 1)")-->
<!--       i.material-icons(md-icon) keyboard_arrow_right-->
<nav flex="100" layout="row" layout-align="end center">
  <form flex="" [ngFormModel]="form" (ngSubmit)="getPageNumber(form.value.page)">
    <div flex="" class="text-nav"><span>page</span>
      <input type="text" ngControl="page"/><span>of </span><span>{{ pagination.numberOfPages }}</span>
    </div>
  </form>
  <button [disabled]="!pagination.hasPreviousPage" md-button="" title="previous page" (click)="getPageNumber(pagination.currentPage - 1)" class="md-icon-button"><i md-icon="md-icon" class="material-icons">keyboard_arrow_left</i></button>
  <div class="divider"></div>
  <button [disabled]="!pagination.hasNextPage" md-button="" title="next page" (click)="getPageNumber(pagination.currentPage + 1)" class="md-icon-button"><i md-icon="md-icon" class="material-icons">keyboard_arrow_right</i></button>
</nav>