.pagination {
  margin-top: rem(3.4);
  min-height: rem(3.4);
  max-height: rem(3.4);
  opacity: .75;
}
pagination {
  .text-nav > span {
    &:nth-child(3n) {
      margin-right: rem(.5);
    }
    &:nth-child(4n) {
      margin-right: rem(.8);
    }
  }
  .divider {
    display: none;
    width: rem(.2);
    height: rem(2.4);
    margin-right: rem(.2);
    box-shadow: -1px 0 0 0 rgba(md-color($md-background, 900), .4) inset, 1px 0 0 0 rgba(md-color($md-background, 100),.7);
  }
  form {
    input {
      width: rem(2.8);
      height: rem(2.3);
      overflow: hidden;
      text-align: center;
      background-color: rgba(md-color($md-background, 50), .9);
      border-style: solid;
      border-width: 1px;
      border-color: rgba(md-color($md-background, 900), .35);
      margin-right: rem(.8);
      margin-left: rem(.7);
    }
  }
  button[md-button].md-icon-button {
    margin: 0;
  }
}
.results-count {
  min-height: rem(4);
  line-height: rem(4);
  text-align: right;
  padding-right: rem(2.4);
}  
