md-button.md-icon-button(md-button='', show-xs='', (click)="getPrevPage(currentPageNumber)")
  i.material-icons(md-icon='') keyboard_arrow_left

input(class="md-input" value="{{ currentPageNumber }}")

md-button.md-icon-button(md-button='', show-xs='', (click)="getNextPage(currentPageNumber)")
  i.material-icons(md-icon='') keyboard_arrow_right
