span(flex='')
  nav.md-toolbar-tools
    form.md-inline-form(layout='row')
      input(md-input="", type='text', value="{{ currentPageNumber }}")
      button.md-icon-button(md-button='', title='previous page', (click)="getPrevPage(currentPageNumber)")
        i.material-icons(md-icon) keyboard_arrow_left
      .divider
      button.md-icon-button(md-button='', title='next page', (click)="getNextPage(currentPageNumber)")
        i.material-icons(md-icon) keyboard_arrow_right
