nav(flex='100', layout='row', layout-align='end center')
  form(flex='', [ngFormModel]="form", (ngSubmit)="getPageNumber(form.value.page - 1)")
    .text-nav(flex='')
      span page
      input(type='text', ngControl="page")
      span of {{ pagination.numberOfPages }}
  button.md-icon-button([disabled]="!pagination.hasPreviousPage", md-button='', title='previous page', (click)="getPageNumber(pagination.currentPage - 1)")
    i.material-icons(md-icon) keyboard_arrow_left
  button.md-icon-button([disabled]="!pagination.hasNextPage", md-button='', title='next page', (click)="getPageNumber(pagination.currentPage + 1)")
    i.material-icons(md-icon) keyboard_arrow_right
