span(flex='')
  nav.md-toolbar-tools
    form.md-inline-form(layout='row')
      .text-nav
        span displaying
        input(md-input="", type='text', value="{{ pagination.currentPage + 1 }}")
        span of {{ pagination.numberOfPages }}
      button.md-icon-button(*ngIf="pagination.hasPreviousPage", md-button='', title='previous page', (click)="getPrevPage(pagination.currentPage)")
        i.material-icons(md-icon) keyboard_arrow_left
      button.md-icon-button(*ngIf="pagination.hasNextPage", md-button='', title='next page', (click)="getNextPage(pagination.currentPage)")
        i.material-icons(md-icon) keyboard_arrow_right
