<div class="collections-dd-menu md-elevation-z12">
  <div class="dd-menu-wrapper">
    <header layout="row">
      <h4 class="md-headline" flex="100" layout-align="start center">
        {{ 'COLLECTION.DD_MENU.HEADING' | translate }}
      </h4>
      <div class="tools" flex="auto" layout-align="end center">
        <button md-icon-button title="{{ 'COLLECTION.DD_MENU.SEARCH_BTN_TITLE' | translate }}" (click)="showSearch.emit($event)"><md-icon>search</md-icon></button>
        <button md-icon-button title="{{ 'COLLECTION.DD_MENU.FILTER_BTN_TITLE' | translate }}" (click)="showFilters.emit($event)"><md-icon>filter_list</md-icon></button>
        <button md-icon-button title="{{ 'COLLECTION.DD_MENU.SORT_BTN_TITLE' | translate }}" (click)="showSort.emit($event)"><md-icon>sort</md-icon></button>
      </div>
    </header>
    <md-list dense>
      <md-list-item *ngFor="let collection of (collections | async).items" [ngClass]="{focused: focusedCollection.id === collection.id}"
        (click)="selected(collection)">
        <md-icon *ngIf="focusedCollection.id === collection.id">check_box</md-icon>
        <md-icon *ngIf="focusedCollection.id !== collection.id">check_box_outline_blank</md-icon>
        {{collection.name}}
      </md-list-item>
    </md-list>
    <footer layout="row" layout-align="center center">
      <div class="actions" flex="90" layout="row" layout-align="center center">
        <div flex="33" layout-align="center start">
          <button md-button type="button" (click)="showNewCollection()"><md-icon>add_circle_outline</md-icon><span class="label">{{ 'COLLECTION.DD_MENU.CREATE_BTN_LABEL' | translate }}</span></button>
        </div>
        <div flex="33" layout-align="center center">
          <a md-button (click)="navigateToCollectionShow(focusedCollection.id)">
            <md-icon>open_in_browser</md-icon><span class="label">{{ 'COLLECTION.DD_MENU.OPEN_BTN_LABEL' | translate }}</span></a>
        </div>
        <div flex="33" layout-align="center end">
          <a md-button (click)="navigateToCollectionsIndex()">
            <md-icon>folder_open</md-icon><span class="label">{{ 'COLLECTION.DD_MENU.VIEW_BTN_LABEL' | translate }}</span>
          </a>
        </div>
      </div>
    </footer>
  </div>
</div>
<div [ngClass]="{'fade-out': !(UiState.uiState | async).newCollectionFormIsOpen, 'fade-in': (UiState.uiState | async).newCollectionFormIsOpen}" class="bk-for-dd" (click)="closeCollectionsList()"></div>