div.bk-for-dialog, div.bk-for-dd {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: -1;
}
collection-form div.bk-for-dialog.fade-in {
  @include background-image(
    url("../assets/img/bk/tex/bktx_dgl_lines_light.png"),
    linear-gradient(md-color($md-grey, 900, .7), md-color($md-grey, 900, .7)));
  @include transition(opacity, 1200ms, $md-fast-out-slow-in-timing-function);
  opacity: 1;
}  
collection-form div.bk-for-dialog.fade-out {
  opacity: 0;
}  
collection-form {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
  margin-top: -100%;
  md-card.wz-form-card {
    margin-top:-250%;
    @include transition(margin-top, 600ms, $md-fast-out-slow-in-timing-function);
  }
  &.revealed {
    margin-top: 0;
    position: fixed;
    md-card.wz-form-card {
      margin-top: 9%;
    }
  }
}


// collection-list-dd

collections-list-dd {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
  margin-top: -100%;
  &.revealed {
    margin-top: 0;
    position: fixed;
  }
  &.revealed .collections-dd-menu {
    @include animation-name(dd-open);
    @include animation-duration(300ms);
    @include animation-timing-function($swift-ease-in-timing-function);
    @include animation-iteration-count(1);
    @include animation-fill-mode(backwards);
  }
  &.revealed .dd-menu-wrapper {
    @include animation-name(fadeIn);
    @include animation-duration(250ms);
    @include animation-timing-function($swift-ease-in-timing-function);
    @include animation-iteration-count(1);
    @include animation-delay(300ms);
    @include animation-fill-mode(backwards);
  }
  .dd-menu-wrapper {
    padding: rem(2.0);
  }
  .collections-dd-menu {
    @include transition($swift-ease-out);
    position: absolute;
    right: rem(11.0);
    top: rem(11.5);
    min-width: rem(32.0);
    max-width: rem(40.0);
    background-color: md-color($md-background, card);
    color: rgba(md-color($md-foreground, text), .7);
    @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
      position: static;
    }
    header {
      margin-bottom: rem(1.6);
      .md-headline {
        font-size: 20px;
        margin: 0;
        margin-top: rem(.6);
        width: calc(100% - 120px);
      }
      .tools {
        white-space: nowrap;
      }
    }
    md-list[dense] {
      padding-top: 0;
      border: 1px solid md-color($md-foreground, divider);
      max-height: rem(32.2);
      min-height: rem(16.2);
      overflow-x: hidden;
      margin-bottom: rem(1.1);
      md-list-item .md-list-item {
        padding: 0 10px;
        box-shadow: inset 0 1px 0 0 md-color($md-foreground, divider);
        @include transition($swift-ease-out);
        md-icon {
          @include transition($swift-ease-out);
          opacity: .7;
          margin-right: rem(1.0);
        }
        &:hover {
          cursor: pointer;
          color: md-color($md-primary);
          background-color: rgba(md-color($md-foreground, base), .1);
        }
      }
      md-list-item.focused .md-list-item {
        color: md-color($md-primary);
        background-color: rgba(md-color($md-foreground, base), .07);
        box-shadow: inset 0 1px 0 0 md-color($md-foreground, base), .05;
        md-icon {
          opacity: 1;
        }
        &:hover {
          cursor: default;
        }
      }
      md-list-item:first-child .md-list-item {
        box-shadow: none;
      }
    }
    footer .actions {
      [md-button], button {
        @include transition($swift-ease-out);
        line-height: 1;
        white-space: normal;
        min-width: rem(9.2);
        padding: 4px 8px;
        margin: 0 4px;
        &:hover {
          color: md-color($md-primary);
          background-color: rgba(md-color($md-foreground, base), .07);
          md-icon {
            opacity: 1;
          }
        }
      }
      md-icon {
        font-size: 32px;
        width: 32px;
        height: 32px;
        opacity: .8;
      }
      .label {
        display: block;
        text-align: center;
        font-size: .76em;
        text-transform: none;
        opacity: .8;
      }
    }
  }
}


@include keyframes(dd-open) {
  0% {
    max-height: 0;
    max-width: 0;
    min-width: 0;
    overflow: hidden;
  }
  100% {
    max-height: rem(44.1);
    max-width: rem(40.0);
    min-width: rem(32.0);
  }
}