
<!--<h2 *ngIf="focusedCollection.id">focused Collection id is {{focusedCollection.id}}</h2>
<h2 *ngIf="!focusedCollection.id">There is not a focused collection</h2>-->



<!--this will be it's own component -->
<!--<section class="login hero" *ngIf="config" style="padding-top: 30px;">
  <div layout="row" md-scroll-y="" layout-align="center start">
    <div flex-gt-lg="30" flex-gt-md="40" flex-gt-sm="55" flex="100">-->
      <md-card>
        <md-card-title>        
          {{ 'COLLECTION.NEW_TITLE' | translate }}
        </md-card-title>
        <md-card-content>
          <wz-form [items]="config.form.items" submitLabel="COLLECTION.FORM.SUBMIT_LABEL" (formSubmit)="createCollection($event)"></wz-form>
        </md-card-content>
      </md-card>
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
