.collections-list {
  header {
    .md-headline {
      margin: .5em 0;
    }
    .tools {
      text-align: right;
    }
  }
  ul {
    margin: 0;
    margin-top: rem(1.5);
    padding: 0;
    list-style: none;
  }
  li.collection {
    position: relative;
    background-color: rgba(md-color($md-background, card), .85);
    color: rgba(md-color($md-foreground, text), .7);
    margin-bottom: rem(1.2);
    padding: rem(.4);
    border-radius: $md-button-border-radius;
    border: 1px solid rgba(md-color($md-background, card), .65);
    @include transition($swift-ease-out);
    h3 {
      margin-top: rem(-.6);
      margin-bottom: rem(.6);
    }
    .collection-info {
      line-height: 1.5em;
    }
    .asset-count {
      display: inline-block;
      border-radius: $md-button-border-radius - 1;
      background-color: rgba(md-color($md-foreground, secondary-text), .4);
      min-width: rem(2.1);
      font-size: .7em;
      line-height: 1em;
      padding: 4px 4px;
      display: inline-block;
      text-align: center;
      .count {
        @include text-contrast(md-color($md-foreground, secondary-text));
      }
    }
    .md-caption span {
      display: block;
    }
    &.focused {
      @include background-image(
        linear-gradient(rgba(md-color($md-grey, 900),0.06), rgba(md-color($md-primary, 900),0.06)),
        linear-gradient(rgba(md-color($md-primary, 900),0.06), rgba(md-color($md-grey, 900),0.06))
      );
      border: 1px solid rgba(md-color($md-primary), .7);
    }
    .divider {
      margin-top: rem(.6);
      padding-bottom: rem(.6);
      box-shadow: inset 0 1px 0 0 md-color($md-grey, 800, .14);
    }
    .collection-tags {
      margin-top: rem(2.2);
      margin-bottom: rem(1.8);
    }
    ul.meta-data-tags {
        display: inline-block;
      li.tag {
        display: inline;
        padding: rem(.5);
        padding-right: rem(.9);
        padding-left: rem(.9);
        margin-left: rem(.7);
        background-color: rgba(md-color($md-foreground, secondary-text), .12);
        color: md-color($md-foreground, secondary-text);
      }
    }
    .actions div:last-child {
      text-align: right;
    }
  }
  .asset .asset-thb {
    display: block;
    height: 0;
    width: 100%;
    position: relative;
    padding: 56.25% 0 0 0;
    position: relative;
    img {
      position: absolute;
      display: block;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    .asset-id {
      position: absolute;
      bottom: 3px;
      right: 3px;
      z-index: 2;
      background-color: rgba(md-color($md-foreground, base), .1);
      .id {
        padding: rem(.3);
        @include text-contrast(md-color($md-foreground, base));
        opacity: .7;
      }
    }
    .selected {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      line-height: 0;
      md-icon {
        font-size: rem(3.2);
        @include text-contrast(md-color($md-foreground, base));
        opacity: .9;
      }
    }
  }
}
