collections-list-dd {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
  margin-top: -200%;
  &:parent {
    z-index: 100;
  }
  &.revealed {
    margin-top: 0;
  }
  &.revealed .collections-dd-menu {
    @include animation-name(dd-open);
    @include animation-duration(300ms);
    @include animation-timing-function($swift-ease-in-timing-function);
    @include animation-iteration-count(1);
    @include animation-fill-mode(backwards);
  }
  &.revealed .dd-menu-wrapper {
    @include animation-name(fadeIn);
    @include animation-duration(250ms);
    @include animation-timing-function($swift-ease-in-timing-function);
    @include animation-iteration-count(1);
    @include animation-delay(300ms);
    @include animation-fill-mode(backwards);
  }
  .dd-menu-wrapper {
    padding: rem(2.0);
  }
  .collections-dd-menu {
    @include transition($swift-ease-out);
    min-width: rem(40.0);
    background-color: md-color($md-background, card);
    color: rgba(md-color($md-foreground, text), .7);
    @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
      position: static;
      min-width: 100%;
      max-width: 100%;
    }
    header {
      margin-bottom: rem(1.6);
      .md-headline {
        font-size: 20px;
        margin: 0;
        margin-top: rem(.6);
        width: calc(100% - 120px);
      }
      .tools {
        white-space: nowrap;
        text-align: right;
        button {
          @include transition($swift-ease-out);
          &:hover {
            color: md-color($md-primary);
            background-color: md-color($md-background, hover);
          }
          // once they put a transition into the ::after pseudo class this can go away
          &[md-icon-button]:hover::after {
            background-color: transparent;
          }
        }
      }
    }
    md-list[dense] {
      padding-top: 0;
      border: 1px solid md-color($md-foreground, divider);
      max-height: rem(32.2);
      min-height: rem(16.2);
      overflow-x: hidden;
      margin-bottom: rem(1.1);
      md-list-item .md-list-item {
        padding: 0;
        button {
          height: rem(4.0);
          color: rgba(md-color($md-foreground, text), .7);
          display: flex;
          align-items: center;
          width: 100%;
          padding: 0;
          margin: 0;
          border: none;
          text-align: left;
          background: none;
          background-color: transparent;
          font-size: inherit;
          line-height: inherit;
          @include transition($swift-ease-out);
          padding: 0 10px;
          box-shadow: inset 0 1px 0 0 md-color($md-foreground, divider);
          &:hover, &:focus {
            cursor: pointer;
            color: md-color($md-primary);
            background-color: rgba(md-color($md-foreground, base), .1);
            outline: none;
          }
        }
        md-icon {
          @include transition($swift-ease-out);
          opacity: .7;
          margin-right: rem(1.0);
        }
      }
      md-list-item.focused .md-list-item button {
        color: md-color($md-primary);
        background-color: rgba(md-color($md-foreground, base), .07);
        box-shadow: inset 0 1px 0 0 md-color($md-foreground, base), .05;
        md-icon {
          opacity: 1;
        }
        &:hover {
          cursor: default;
        }
      }
      md-list-item:first-child .md-list-item button {
        box-shadow: none;
      }
    }
    footer .actions {
      [md-button], button {
        @include transition($swift-ease-out);
        line-height: 1;
        white-space: normal;
        min-width: rem(9.2);
        padding: 4px 8px;
        margin: 0 4px;
        &:hover {
          color: md-color($md-primary);
          background-color: rgba(md-color($md-foreground, base), .07);
          md-icon {
            opacity: 1;
          }
        }
        // once they put a transition into the ::after pseudo class this can go away
        &:hover::after {
          background-color: transparent;
        }
      }
      md-icon {
        font-size: 32px;
        width: 32px;
        height: 32px;
        opacity: .8;
      }
      .label {
        display: block;
        text-align: center;
        font-size: .76em;
        text-transform: none;
        opacity: .8;
      }
    }
  }
}


@include keyframes(dd-open) {
  0% {
    max-height: 0;
    max-width: 0;
    min-width: 0;
    overflow: hidden;
  }
  100% {
    max-height: rem(44.1);
    max-width: rem(40.0);
    min-width: rem(32.0);
  }
}