<section>
  <div layout="row" md-scroll-y="" layout-align="center start">
    <div flex="100">
      <md-list *ngFor="let collection of collections.items">
        <md-list-item style="display:block;background-color:#efefef;color:#333">
          <span (click)="selected.emit(collection)">
            <strong>Id: </strong> {{collection.id}}  
            <strong>Name: </strong> {{collection.name}}
            <strong>assets: </strong> 
            <span *ngIf="collection.assets">{{collection.assets.length}}</span>
            <span *ngIf="!collection.assets">0</span>
          </span>
          <span><button md-icon-button title="delete collections" type="button"  (click)="deleted.emit(collection)" class="close"><md-icon>close</md-icon></button></span>
          <span *ngIf="focusedCollection.id === collection.id">selected</span>
        </md-list-item>
      </md-list>
      <div><h1></h1><h1></h1></div>
    </div>
  </div>
</section>  


<div class="collections-dd-menu md-elevation-z12">
    <header layout="row">
      <h4 class="md-headline" flex="66" layout-align="start center">
        Select Collection
      </h4>
      <div class="tools" flex="" layout-align="end center">
        <button md-icon-button title="Search collections" type="button" (click)="showSearch.emit($event)"><md-icon>search</md-icon></button>
        <button md-icon-button title="Filter collections" type="button" (click)="showFilters.emit($event)"><md-icon>filter_list</md-icon></button>
        <button md-icon-button title="Sort collections" type="button" (click)="showSort.emit($event)"><md-icon>sort</md-icon></button>
      </div>
    </header>
    <md-list dense>
      <md-list-item
        *ngFor="let collection of collections.items"
        [ngClass]="{focused: focusedCollection.id === collection.id}"
        (click)="selected.emit(collection)">
        <md-icon *ngIf="focusedCollection.id === collection.id">check_box</md-icon>
        <md-icon *ngIf="focusedCollection.id !== collection.id">check_box_outline_blank</md-icon>
        {{collection.name}}
        <!--<button md-button class="asset-count">
          <span class="count" *ngIf="collection.assets">{{collection.assets.length}}</span>
          <span class="count" *ngIf="!collection.assets">0</span>
        </button>-->
      </md-list-item>
    </md-list>
    <footer layout="row" layout-align="center center">
      <div class="actions" flex="85" layout="row" layout-align="center center">
        <div flex="33" layout-align="center start">
          <a md-button [routerLink]="['collection']"><md-icon>folder_open</md-icon><span class="label">View all</span></a>
        </div>
        <div flex="33" layout-align="center center">
          <a md-button [routerLink]="['detail/',focusedCollection.id]"><md-icon>open_in_browser</md-icon><span class="label">Open selected</span></a>
        </div>
        <div flex="33" layout-align="center end">
          <button md-button type="button" (click)="showSort.emit($event)"><md-icon>add_circle_outline</md-icon><span class="label">Create new</span></button>
        </div>
      </div>
    </footer>        

</div>


<div><h1></h1><h1></h1></div>
<div>{{focusedCollection | json}}</div>
<!--
<section>
  <div layout="row" md-scroll-y="" layout-align="center start">
    <div flex="100">
      <md-list *ngFor="let collection of collections.items">
        <md-list-item style="display:block;background-color:#efefef;color:#333">
          <span (click)="selected.emit(collection)">
            <strong>Id: </strong> {{collection.id}}  
            <strong>Name: </strong> {{collection.name}}
            <strong>assets: </strong> 
            <span *ngIf="collection.assets">{{collection.assets.length}}</span>
            <span *ngIf="!collection.assets">0</span>
          </span>
          <span><button md-icon-button title="close collections" type="button"  (click)="deleted.emit(collection)" class="close"><md-icon>close</md-icon></button></span>
        </md-list-item>
      </md-list>
    </div>
  </div>
</section>-->
