ul.asset-list
  li(*ngFor="#asset of assets")
    .asset
      .asset-name {{asset.name}}
      a.asset-thb(flex='', (click)='showAsset(asset)')
        img(*ngIf="asset.thumbnail", src='{{asset.thumbnail.urls.https}}')
        
        span(class="mdata-0", *ngIf="asset.metaData[0]") 
          span {{asset.metaData[0].value}}
          
        span(class="mdata-2", *ngIf="asset.metaData[2]") 
          span.sd-hd([ngClass]="formatType(asset.metaData[2].value)") {{asset.metaData[2].value}}
        
        span(class="mdata-3", *ngIf="asset.metaData[3]") 
          span {{asset.metaData[3].value}}

      section.actions
        md-toolbar
          nav.md-toolbar-tools(layout-align="end stretch")
            button.md-icon-button(md-button='', title='Sharing Options')
              i.material-icons(md-icon) shopping_cart
            button.md-icon-button(md-button='', title='Download Comp')
              i.material-icons(md-icon) file_download
            button.md-icon-button(md-button='', title='Add to Collection')
              i.material-icons(md-icon) library_add
            button.md-icon-button(md-button='', title='More')
              i.material-icons(md-icon) more_vert
      a.asset-desc((click)='showAsset(asset)')   
        span(class="mdata-1", *ngIf="asset.metaData[1]") {{asset.metaData[1].value}}
