ul.asset-list
  li(*ngFor="#asset of assets")
    .asset
      .asset-name {{asset.name}}
      a(flex='', (click)='showAsset(asset)')
        img(*ngIf="asset.thumbnail", src='{{asset.thumbnail.urls.https}}')
        
        span(*ngFor="#mdata of asset.metaData; #i = index", class="mdata-{{i}}") 
          span(*ngIf="i != 2") {{mdata.value}}
          span.sd-hd(*ngIf="i == 2", 
            [ngClass]="{hd: mdata.value == 'High Definition', sd: mdata.value == 'Standard Definition', dv: mdata.value == 'Digital Video'}") {{mdata.value}}
      // div(*ngFor="#mdata of asset.metaData; #i = index", class="mdata-{{i}}") 
      //   span( *ngIf="i == 1") {{mdata.value}}
 