
<ul class="asset-list">
  <li *ngFor="#asset of assets">
    <div class="asset">
      <div class="asset-name">{{asset.name}}</div><a flex="" (click)="showAsset(asset)" class="asset-thb"><img *ngIf="asset.thumbnail" src="{{asset.thumbnail.urls.https}}"/><span *ngIf="asset.metaData[0]" class="mdata-0"> <span>{{asset.metaData[0].value}}</span></span><span *ngIf="asset.metaData[2]" class="mdata-2"> <span [ngClass]="formatType(asset.metaData[2].value)" class="sd-hd">{{asset.metaData[2].value}}</span></span><span *ngIf="asset.metaData[3]" class="mdata-3"> <span>{{asset.metaData[3].value}}</span></span></a>
      <section class="actions">
        <md-toolbar>
          <nav layout-align="end stretch" class="md-toolbar-tools">
            <button md-button="" title="Sharing Options" class="md-icon-button"><i md-icon="md-icon" class="material-icons">shopping_cart</i></button>
            <button md-button="" title="Download Comp" class="md-icon-button"><i md-icon="md-icon" class="material-icons">file_download</i></button>
            <button md-button="" title="Add to Collection" class="md-icon-button"><i md-icon="md-icon" class="material-icons">library_add</i></button>
            <button md-button="" title="More" class="md-icon-button"><i md-icon="md-icon" class="material-icons">more_vert</i></button>
          </nav>
        </md-toolbar>
      </section><a (click)="showAsset(asset)" class="asset-desc">  <span *ngIf="asset.metaData[1]" class="mdata-1">{{asset.metaData[1].value}}</span></a>
    </div>
  </li>
</ul>