<div class="pagination md-body-2" layout-align="end center">
	<div *ngIf="pagination.totalCount" class="results-count">{{pagination.totalCount | number}} results</div>
	<nav layout="row" layout-align="end center">
		<form [formGroup]="form" (ngSubmit)="getPageNumber(form.value.page)">
			<div class="text-nav"><span>page</span>
				<input type="text" formControlName="page" value="{{pagination.currentPage}}" /><span>of </span><span>{{ pagination.numberOfPages | number }}</span>
			</div>
		</form>
		<button [disabled]="!pagination.hasPreviousPage" md-icon-button title="previous page" (click)="getPageNumber(pagination.currentPage - 1)"><md-icon>keyboard_arrow_left</md-icon></button>
		<div class="divider"></div>
		<button [disabled]="!pagination.hasNextPage" md-icon-button title="next page" (click)="getPageNumber(pagination.currentPage + 1)"><md-icon>keyboard_arrow_right</md-icon></button>
	</nav>
</div>