.pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-height: rem(3.4);
  // @jimmybillings 01/08/17
  // This causes double scroll bars to appear on the search page when you add 
  // the pagination component to the bottom of the search page results. Adding to the top 
  // is fine.
    // max-height: rem(3.4);
  opacity: .75;
  width: 100%;
  white-space: nowrap;
  @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
    &.md-body-2 {
      font-size: .76em;
      font-weight: normal;
    }
  }  
}
wz-pagination {
  display: block;
  margin-right: rem(-.6);
  margin-top: rem(.3);
  .divider {
    display: none;
    width: rem(.2);
    height: rem(2.4);
    margin-right: rem(.2);
    box-shadow: -1px 0 0 0 rgba(mat-color($mat-foreground, divider), 1) inset, 1px 0 0 0 rgba(mat-color($mat-background, background),.7);
  }
  span.current-page {
    margin-right: rem(2);
  }
  button[md-icon-button] {
    margin: 0;
    transition: all .4s ease-in-out;
    md-icon.material-icons {
      font-size: rem(3.0);
      width: 100%;
      opacity: .75;
    }
    &:hover {
      opacity: 1;
      background-color: rgba(mat-color($mat-foreground, base), .08);
    }
    &[disabled]:hover {
      background-color: transparent;
    }
  }
}
.results-count {
  min-height: rem(3.4);
  max-height: rem(3.4);
  line-height: rem(3.4);
  padding-right: rem(2.4);
}  

app .app {
  wz-pagination:last-child {
    margin-top: 0;
    margin-bottom: rem(.6);
  }
}
