wz-share {
  .form-panel {
    padding: 10px 24px 24px;
    wz-form form {
      padding-top: 0;
      margin: 0;
      mat-card-actions {
      margin-bottom: 0;
      padding-bottom: 0;
      }
    }
    .asset-thb {
      display: block;
      height: 0;
      width: 100%;
      position: relative;
      padding: 56.25% 0 0 0; 
      img {
        position: absolute;
        display: block;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      } 
    }
  }
}

.wz-share-dialog .mat-dialog-container {
  padding: 0;
}
