<!--<div>
  In: <span>{{ playerState.inMarkerFrame | timecode }}</span>
  <button (click)="setInMarker()">Set</button>
  <button (click)="seekToInMarker()">Go</button>
  <br/>
  Out: <span>{{ playerState.outMarkerFrame | timecode }}</span>
  <button (click)="setOutMarker()">Set</button>
  <button (click)="seekToOutMarker()">Go</button>
  <br/>
  <button (click)="playInToOut()">Play In to Out</button>
  <button (click)="clear()">Clear</button>
</div>-->



<section flex="80"  layout-align="start stretch">
  <button md-icon-button [disabled]="!playerState.inMarkerFrame" title="Seek to in marker" (click)="seekToInMarker()">
    <md-icon>keyboard_tab</md-icon>
  </button>
  <span class="timecode">{{ playerState.inMarkerFrame | timecode }}</span>
  <button class="is-outlined set-marker" md-button title="Set in marker" (click)="setInMarker()">
    In
  </button>
  <button md-icon-button title="Play in to out marker" (click)="playInToOut()">
    <md-icon>play_circle_filled</md-icon>
  </button>
  <button class="is-outlined set-marker" md-button title="Set out marker" (click)="setOutMarker()">
    Out
  </button>
  <span class="timecode">{{ playerState.outMarkerFrame | timecode }}</span>
  <button class="seek-out" md-icon-button [disabled]="!playerState.outMarkerFrame" title="Seek to out marker" (click)="seekToOutMarker()">
    <md-icon>keyboard_tab</md-icon>
  </button>
  <button md-icon-button [disabled]="!playerState.outMarkerFrame && !playerState.outMarkerFrame" title="clear in and out markers" (click)="clear()">
    <md-icon>cancel</md-icon>
  </button>
</section>
<nav class="subclip-options" flex="20" layout-align="end stretch">
  <button [disabled]="true" md-icon-button title="Save subclip to collection">
    <md-icon>library_add</md-icon>
  </button>
  <button md-icon-button title="Show simple player">
    <md-icon>ondemand_video</md-icon>
  </button>
  <button md-icon-button title="more player options" 
    [md-menu-trigger-for]="morePlayerOptions">
    <md-icon>more_vert</md-icon>
  </button>
</nav>

<md-menu class="more-options-menu" x-position="before" #morePlayerOptions="mdMenu">
  <button md-menu-item><md-icon>fullscreen</md-icon>Show full screen</button>
  <button md-menu-item><md-icon>av_timer</md-icon>Show timecode formats</button>
  <button md-menu-item><md-icon>keyboard</md-icon>Show keyboard shortcuts</button>
</md-menu>
