h3 {{login}}
form.login(method='post')
  .input-field
    input(type='text', name='name', value='', placeholder='Email')
  .input-field
    input(type='password', name='name', value='', placeholder='Password')
  .input-field
    a.waves-effect.waves-light.btn Login
