h3 {{login}}
form(action='#')
  .mdl-grid
    .mdl-cell.mdl-cell--6-col
        .mdl-textfield.mdl-js-textfield
            input#sample1.mdl-textfield__input(type='text')
            label.mdl-textfield__label(for='email')
    .mdl-cell.mdl-cell--6-col
        .mdl-textfield.mdl-js-textfield
            input#sample1.mdl-textfield__input(type='password')
            label.mdl-textfield__label(for='password')
    .mdl-cell.mdl-cell--6-col
        button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent Button