<section flex="90" layout="row">
  <nav class="time-play" layout="row" layout-align="center center">
    <time-display [playerState]="playerState"></time-display>
    <playback-toggle-button [playerState]="playerState" (request)="forward($event)"></playback-toggle-button>
    <fast-playback-button [playerState]="playerState" [direction]="'forward'" (request)="forward($event)">
    </fast-playback-button>
  </nav>
  <nav class="step-playback" flex layout="row" layout-align="center center">
    <step-button [playerState]="playerState" [size]="'-5s'" (request)="forward($event)"></step-button>
    <step-button [playerState]="playerState" [size]="'-1s'" (request)="forward($event)"></step-button>
    <step-button [playerState]="playerState" [size]="'-1f'" (request)="forward($event)"></step-button>
    <step-button [playerState]="playerState" [size]="'+1f'" (request)="forward($event)"></step-button>
    <step-button [playerState]="playerState" [size]="'+1s'" (request)="forward($event)"></step-button>
    <step-button [playerState]="playerState" [size]="'+5s'" (request)="forward($event)"></step-button>
  </nav>
</section>
<nav flex="10" layout-align="end stretch">
  <volume-control [playerState]="playerState" (request)="forward($event)"></volume-control>
</nav>
