<section flex="80"  layout-align="start stretch">
  <marker-seek-button [type]="'in'" [playerState]="playerState" (request)="forward($event)"></marker-seek-button>
  <marker-time-display [type]="'in'" [playerState]="playerState"></marker-time-display>
  <marker-set-button [type]="'in'" [playerState]="playerState" (request)="forward($event)"></marker-set-button>
  <markers-playback-button [playerState]="playerState" (request)="forward($event)"></markers-playback-button>
  <marker-set-button [type]="'out'" [playerState]="playerState" (request)="forward($event)"></marker-set-button>
  <marker-time-display [type]="'out'" [playerState]="playerState"></marker-time-display>
  <marker-seek-button [type]="'out'" [playerState]="playerState" (request)="forward($event)"></marker-seek-button>
  <markers-clear-button [playerState]="playerState" (request)="forward($event)"></markers-clear-button>
</section>
<nav class="subclip-options" flex="20" layout-align="end stretch" *ngIf="displayContext == 'assetDetails'">
  <markers-save-button [playerState]="playerState" (request)="forward($event)"></markers-save-button>
  <button md-icon-button title="{{ 'ASSET.ADV_PLAYER.SIMPLE_BTN_TITLE' | translate }}">
    <md-icon>ondemand_video</md-icon>
  </button>
  <button md-icon-button title="{{ 'ASSET.ADV_PLAYER.MORE_BTN_TITLE' | translate }}" 
    [md-menu-trigger-for]="morePlayerOptions">
    <md-icon>more_vert</md-icon>
  </button>
</nav>

<md-menu class="more-options-menu" x-position="before" #morePlayerOptions="mdMenu">
  <button md-menu-item><md-icon>fullscreen</md-icon>Show full screen</button>
  <button md-menu-item><md-icon>av_timer</md-icon>Show timecode formats</button>
  <button md-menu-item><md-icon>keyboard</md-icon>Show keyboard shortcuts</button>
</md-menu>
