search-component md-sidenav-container.mat-sidenav-container {
  background-color: transparent;
}
.mat-sidenav {
  width: rem(29.0);
  &.mat-sidenav-side.mat-sidenav-opened,
  &.mat-sidenav-side.mat-sidenav-opening {
    @include mat-elevation(16);
  }
}
.filter {
  .mat-nav-list {
    padding-top: 0;
  }
  .exclusive-list .mat-list-item {
    .mat-list-item-content {
      padding: 0;
      height: rem(3.0);
    }       
    .mat-button {
      height: 100%;
      padding: 0 rem(1.6) 0 rem(3.6);
      text-transform: none;
      text-align: left;
      width: 100%;
      font-size: rem(1.6);
      font-weight: 400;
      line-height: 1;
      &.mat-primary.active {
        background-color: rgba(mat-color($primary, default), 1);
        color: mat-color($primary, default-contrast);
      }
    }
  } 
  li {
    list-style-type: none;
    font-size: .94em;
    &:last-child {
      margin-bottom: rem(1.6);
    }
    .filter-subhead {
      font-size: rem(1.4);
      font-weight: 500;
      letter-spacing: .01em;
      line-height: .9em;
      color: rgba(mat-color($foreground, base), .54);
      &:hover {
        cursor: pointer;
        background-color: rgba(mat-color($foreground, base), .02);
      }
      .filter-subhead-inner {
        display: block;
        padding: rem(1.4);
      }
      .filter-subhead-content {
        display: block;
        position: relative;
        z-index: 1;
      }
    }
    .exclusive-list .filter-subhead:hover {
      cursor: default;
      background-color: transparent;
    }
    .exclusive-list md-divider:last-child {
      margin-top: rem(1.2);
    }
    md-checkbox {
      padding: 0 rem(1.6) rem(1.0) rem(3.2);
      line-height: 2;
    }

    .mat-input-container {
      margin: rem(.4) 0 0 rem(3.1);
      width: calc(100% - 62px);
    }
  }
  .filter-count {
    font-size: .75em;
  }
}

.date-range {
  .filter-subhead:hover {
    cursor: default;
    background-color: transparent;
  }
  .connector, .input-container {
    width: calc(100% - 62px);
    position: relative;
  }
  .connector {
    display: block;
    margin: rem(-0.4) 0 0 rem(3.2);
    font-size: .75em;
    color: rgba(mat-color($foreground, base), .54);
  }
  .input-container {
    margin: rem(.6) 0 rem(1.6) rem(3.2);
    &::after {
      content: "\e8df";
      font-family: 'Material Icons';
      font-size: rem(2.0);
      font-weight: 100;
      position: absolute;
      right: 0;
      top: 0;
      opacity: .25;
    }
  }
  input {
    width: 100%;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: mat-color($foreground, divider);
    border-image: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 1; // To enable clicking the container's ::after icon.
    padding: rem(.4) 0 rem(.4) 0;
    position: relative;
    &:focus, &:active {
      outline: none;
      border-color: mat-color($primary, default);
      border-width: 0 0 1px 0;
    }
  }
}

.filter .mat-checkbox-disabled:not(.mat-checkbox-checked) .mat-checkbox-label {
  color: mat-color($foreground, disabled-text);
}

