.md-sidenav-backdrop.md-sidenav-shown {
  display: none !important;
}
md-sidenav {
  width: rem(32.0);
  .md-overlay-container {
    pointer-events: all;
    opacity: .5;
  }
}
.filter {
  md-list {
    padding-top: 0;
  }
  md-list md-list-item {
    &.md-primary .md-list-item {
      height: rem(3.0);
      padding: 0 rem(1.6) 0 rem(3.6);
      color: rgba(md-color($primary, default), 1);
      &:hover {
        background-color: rgba(md-color($foreground, base), .02);
        cursor: pointer;
      }
    }
    &.md-primary.active .md-list-item {
      background-color: rgba(md-color($primary, default), 1);
      color: md-color($primary, default-contrast);
    }
  } 
  li {
    list-style-type: none;
    &:last-child {
      margin-bottom: rem(1.6);
    }
    .filter-subhead {
      font-size: rem(1.4);
      font-weight: 500;
      letter-spacing: .01em;
      line-height: 1.2em;
      color: rgba(md-color($foreground, base), .54);
      &:hover {
        cursor: pointer;
        background-color: rgba(md-color($foreground, base), .02);
      }
      .filter-subhead-inner {
        display: block;
        padding: rem(1.6);
      }
      .filter-subhead-content {
        display: block;
        position: relative;
        z-index:1;
      }
    }
    // this can be removed when they fix
    // https://github.com/angular/material2/issues/1336
    md-divider {
      border-top-style: solid;
      border-top-width: 1px;
      border-top-color: md-color($foreground, divider);
    }
    .exclusive-list .filter-subhead:hover {
      cursor: default;
      background-color: transparent;
    }
    .exclusive-list md-divider:last-child {
      margin-top: rem(1.2);
    }
    md-checkbox {
      padding: 0 rem(1.6) rem(1.0) rem(3.2);
      line-height: 2;
    }

    md-input {
      margin: 0 0 0 rem(3.1);
      @include calc(width, "100% - 62px");
    }
  }
  .filter-count {
    font-size: .75em;
  }
  .date-range {
    .filter-subhead:hover {
      cursor: default;
      background-color: transparent;
    }
    input {
      @include calc(width, "100% - 62px");
      margin: rem(.6) 0 rem(1.6) rem(3.2);
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: rgba(md-color($foreground, base), .38);
      border-image: none;
      padding: rem(.4) 0 rem(.4) 0;
      position: relative;
      &:focus, &:active {
        outline: none;
        border-color: rgba(md-color($primary, default),.9);
        border-width: 0 0 2px 0;
      }
    }
    .input-container {
      position: relative;
      &::after {
        content: "\e8df";
        font-family: 'Material Icons';
        font-size: rem(2.0);
        font-weight: 100;
        position: absolute;
        right: rem(3.0);
        top: rem(.8);
        opacity: .25;
      }
    }
  }
}






.filter .md-checkbox-disabled:not(.md-checkbox-checked) .md-checkbox-label {
  color: md-color($foreground, disabled-text);
}


// this 
.filter [color="primary"].md-checkbox-checked .md-checkbox-background {
  background-color: md-color($primary, default);
}