.md-sidenav-backdrop.md-sidenav-shown {
  display: none !important;
}
md-sidenav {
  width: 320px;
  .md-overlay-container {
    pointer-events: all;
    background-color: white;
    opacity: .5;
  }
}
.filter {
  ul {
    padding-left:0;
    padding: 0 12px;
  }
  md-divider {
    margin-top: 10px;
  }
  li {
    list-style-type: none;
    p {
      cursor: pointer;
      padding-left: 5px;
      &.active {
        color: md-color($md-grey, 500);
      }
    }
    &.heading p {
      font-size: 15px;
    }
    &.filter p {
      font-size: 13px;
      text-decoration: underline;
      padding-left: 15px;
    }
    md-input {
      margin: 0;
      width: 90%;
      height: 45px;
      font-size: 13px;
      div.md-input-wrapper {
        width: 100%;
        margin: 20px 0;
      } 
    }
    .md-checkbox-disabled {
      .md-checkbox-label {
        color: #aaa;
      }
    }
  }
}