<md-nav-list>
  <li *ngFor="let filter of filters.subFilters">
    <div [ngSwitch]="filter.type">
      <div *ngSwitchCase="'ExclusiveList'" class="exclusive-list">
        <div class="filter-subhead">
          <div class="filter-subhead-inner">
            <div class="filter-subhead-content">
              <span>{{filter.name}}</span>
            </div>
          </div>
        </div>

        <md-list-item *ngFor="let subFilter of filter.subFilters">
          <button md-button (click)="applyExclusiveFilter(subFilter)" [ngClass]="{'active': subFilter.active}" color="primary">
            {{subFilter.name}}
            <span class="filter-count" *ngIf="counted && subFilter.count > -1">
              &nbsp;({{subFilter.count | number}})
            </span>
          </button>
        </md-list-item>
        <md-divider></md-divider>
      </div>

      <span *ngSwitchCase="'None'" class="none">
        <div class="filter-subhead" (click)="toggleFilterGroup(filter)">
          <div class="filter-subhead-inner">
            <div class="filter-subhead-content">
              <span>{{filter.name}}</span>
            </div>
          </div>
        </div>

        <filter-component (onFilterEvent)="onFilterEvent.emit($event)" *ngIf="filter.active" [filters]="filter" [counted]="counted"></filter-component>

        <md-divider></md-divider>
      </span>

      <span *ngSwitchCase="'List'" class="list">
        <div title="{{filter.filterId}}" class="filter-subhead" (click)="toggleFilterGroup(filter)">
          <div class="filter-subhead-inner">
            <div class="filter-subhead-content">
              <span>{{filter.name}}</span>
            </div>
          </div>
        </div>

        <filter-component (onFilterEvent)="onFilterEvent.emit($event)" *ngIf="filter.active" [filters]="filter" [counted]="counted"></filter-component>
      </span>

      <span *ngSwitchCase="'DateRange'" class="date-range">
        <div class="filter-subhead">
          <div class="filter-subhead-inner">
            <div class="filter-subhead-content">
              <span>{{'SEARCH.FILTERS.DATE_RANGE_HEADING' | translate }}</span>
            </div>
          </div>
        </div>

        <div class="input-container">
          <input wzPikaday name="start" type="text" readonly="true" placeholder="Beginning of time" value="{{defaultDate(filter, 'start')}}"
            (change)="applyDateRange($event, filter)" [maxDate]="defaultDate(filter, 'end')" />
        </div>

        <span class="connector">through</span>

        <div class="input-container">
          <input wzPikaday name="end" type="text" readonly="true" placeholder="End of time" value="{{defaultDate(filter, 'end')}}"
            (change)="applyDateRange($event, filter)" [minDate]="defaultDate(filter, 'start')" />
        </div>
      </span>

      <span *ngSwitchCase="'Text'" class="text">
        <md-input-container>
            <input mdInput
            name="filterValue"
            color="primary"
            placeholder="{{filter.name}}"
            [value]=  "filter.filterValue || ''"
            (keypress)="applyCustomValue($event, filter)">
        </md-input-container>

        <filter-component (onFilterEvent)="onFilterEvent.emit($event)" *ngIf="filter.active" [filters]="filter" [counted]="counted"></filter-component>
      </span>

      <span *ngSwitchDefault>
        <md-checkbox
          [disabled]="counted && filter.count < 1"
          [checked]="filter.active"
          color="primary"
          (change)="toggleFilter(filter)">
           {{filter.name}}
           <span class="filter-count" *ngIf="counted && filter.count > -1">
             ({{filter.count | number}})
           </span>
        </md-checkbox>

        <filter-component (onFilterEvent)="onFilterEvent.emit($event)" *ngIf="filter.active" [filters]="filter" [counted]="counted"></filter-component>
      </span>
    </div>
  </li>
</md-nav-list>
