<ul>
  <li *ngFor="let filter of filters.subFilters">

    <span [ngSwitch]="filter.type">

      <span *ngSwitchCase="'ExclusiveList'">
        <p title="{{filter.filterId}}">{{filter.name}}</p>
        <md-divider></md-divider>
        <p title="{{subFilter.filterId}}"
           *ngFor="let subFilter of filter.subFilters"
           (click)="applyExclusiveFilter(subFilter)"
           [ngClass]="{'active': subFilter.active}"
           class="md-primary">
            {{subFilter.name}}
          <span *ngIf="counted && subFilter.count > 0"> 
            ( {{subFilter.count}} )
          </span>
        </p>
        <md-divider></md-divider>
      </span>
      
      <span *ngSwitchCase="'None'">
        <p title="{{filter.filterId}}" (click)="toggle(filter)">
          {{ filter.name }} 
        </p>
        <filter *ngIf="filterShouldBeShowing(filter)" [filters]="filter" [counted]="counted"></filter>
        <md-divider></md-divider>
      </span>

      <span *ngSwitchCase="'List'">
        <p title="{{filter.filterId}}" (click)="toggle(filter)">
          {{ filter.name }} 
        </p>
        <filter *ngIf="filterShouldBeShowing(filter)" [filters]="filter" [counted]="counted"></filter>
      </span>

      <span *ngSwitchCase="'DateRange'">
        <label for="dateRange">Date Range:</label>
        <input wzPikaday name="start" type="text" value="{{defaultDate(filter, 'start')}}" (change)="dateRangeSelect($event, filter)" />
        <input wzPikaday name="end" type="text" value="{{defaultDate(filter, 'end')}}" (change)="dateRangeSelect($event, filter)" />
      </span>
        
      <span *ngSwitchCase="'Text'">
        <md-input
          align="end"
          name="filterValue"
          color="primary"
          placeholder="{{filter.name}}"
          [value]="filter.filterValue"
          (keypress)="customValue($event, filter)">
        </md-input>
        <filter *ngIf="filterShouldBeShowing(filter)" [filters]="filter" [counted]="counted"></filter>
      </span>


      <span *ngSwitchDefault>
        <md-checkbox
          [disabled]="counted && filter.count < 1"
          [checked]="filter.active"
          color="primary"
          (change)="applyFilter(filter.filterId)">
            {{filter.name}}
              <span *ngIf="counted">
                ( {{filter.count}} )
              </span>
        </md-checkbox>
        <filter *ngIf="filterShouldBeShowing(filter)" [filters]="filter" [counted]="counted"></filter>
      </span>

    </span>
  </li>
</ul>