search-component md-sidenav-layout {
  // temporary fix for when the search result set is small
  min-height: 60vh;
  overflow-y: scroll;
}

md-slide-toggle.count-toggle {
  background-color: md-color($md-background, background);
  margin: 0;
  padding: rem(.7) rem(1.6);
  .md-slide-toggle-content {
    opacity: .75
  }
  &.md-primary.md-checked .md-slide-toggle-bar {
    background-color: rgba(md-color($md-primary, 500), .5) !important;
  }
  &.md-primary.md-checked .md-slide-toggle-thumb {
    background-color: md-color($md-primary, 500) !important;
  }
}
