search-component .md-sidenav-container {
  background-color: transparent;
}
search-component .search-header {
  color: rgba(mat-color($mat-foreground, text), .5);
  padding-left: rem(.8);
  padding-right: rem(.8);
  box-shadow: inset 0 -1px 0 0 mat-color($mat-foreground, divider), 0 1px 0 0 rgba(mat-color($mat-background, card), .6);
  header {
    padding-top: rem(.6);
    padding-bottom: rem(.5);
    position: relative;
    .md-display-1 {
      margin: 0;
      width: calc(100% - 120px);
      font-size: rem(2.6);
      &.alert {
        color: mat-color($warn, darker);
      }
    }
  } 
  .tools {
    text-align: right;
    white-space: nowrap;
    margin-top: rem(-.3);
    margin-bottom: rem(-.1);
    button.is-dd.md-icon-button.md-primary {
      .md-button-wrapper::after {
        color: mat-color($mat-primary, default);
      }
    }
  }
}
.asset-sort-by button {
  text-transform: inherit;
  .key {
    font-weight: 500;
    vertical-align: baseline;
  }
  .value {
    text-transform: none;
    font-weight: 400;
    opacity: .75;
  }
  &.md-primary[md-button], &[md-button].is-dd.md-primary .md-button-wrapper::after {
    color: mat-color($mat-primary, default);
  }
  &[md-button]:hover.md-primary::after, [md-icon-button]:hover.md-primary::after {
    background-color: rgba(mat-color($mat-primary, default), .12);
  }
  &.md-primary[md-button].settings {
    padding: 0 rem(1.2) 0 rem(1.0);
    min-height: rem(3.8);
    max-height: rem(3.8);
    &.is-dd.md-icon-button .md-button-wrapper::after {
      top: 0;
      right: rem(-.2);
    }
 } 
}

search-component .search-breadcrumbs {
  // padding-left: rem(.8);
  padding-right: rem(.8);
  // testing
  padding-top: rem(1.0);
  margin-bottom: rem(-.3);
  header {
    padding-top: rem(0.6);
    padding-bottom: rem(0.2);
  }
}
search-component .search-results > div > div {
  padding-left: rem(.8);
  padding-right: rem(.8);
}
md-slide-toggle.count-toggle {
  background-color: mat-color($background, background);
  margin: 0;
  padding: rem(.7) rem(1.6);
  .md-slide-toggle-content {
    opacity: .75
  }
}

no-results > div {
  h2.md-display-1 {
    // margin-top: 0;
    margin-bottom: rem(0.8);
  }
  h3.md-headline {
    margin-top: rem(0.7);
    margin-bottom: rem(2.4);
    a {
      color: mat-color($primary);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  margin-bottom: rem(5.5);
  ul {
    font-size: rem(1.7);
    line-height: 1.5;
    li {
      margin: rem(1.0) 0;
    }
  }
}
