// search {
//   display: block;
//   background-color:  md-color($md-background, 300);
// }
// header.app-header + div.main-content search {
//   @include transition(border-top-width 0.35s, $swift-ease-in-out-timing-function);
//   border-top: rem(16.6) solid md-color($md-background, 900, .7);
//   @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
//     border-top-width: rem(15.2);
//   }
// }
// header.app-header.bin-tray-closed + div.main-content search {
//   border-top-width: rem(11.0);
//   @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
//     border-top-width: rem(9.6);
//   }
// }
// header.app-header.bin-tray-closed.search-closed + div.main-content search {
//   border-top-width: rem(6.4);
//   @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
//     border-top-width: rem(5.6);
//   }
// }
// header.app-header.search-closed + div.main-content search {
//   border-top-width: rem(12.0);
//   @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
//     border-top-width: rem(11.2);
//   }
// }
