md-sidenav-layout {
  // temporary fix for when the search result set is small
  min-height: 60vh;
  overflow-y: scroll;
  .count-toggle {
    margin-left: 15px;
  }
}

button.filter {
    position: absolute;
    padding: 0px 0px 0px 0px;
    text-align: center;
    margin-top: 1px;
    width: 140px;
    height: 70px;
    background: #bbb;
    z-index: 15;
    border-radius: 0px 0px 0px 20px;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform-origin: bottom;
    position: fixed;
    left: 0px;
    border: cornsilk;
    cursor: pointer;
    font-size: 24px;
    color: white;

    &:focus {
      outline:none;
    }
}

.breadcrumbs {
  .breadcrumb {
    background-color: #eee;
    box-shadow: 2px 2px 7px #aaa;
    font-size: 0.8em;
    border-radius: 5px;
    padding: 2px 5px 2px 10px;
    display: inline-block;
    p {
      padding: 0px;
    }
    button[md-icon-button] {
      margin-left: 6px;
      color: #bbb;
      height: 24px;
      width: 24px;
      @include transition(all .4s ease-in-out);
      span.md-button-wrapper {
        position: static;
        line-height: 1.8;
        font-size: inherit;
      }
      md-icon.material-icons {
        padding-left: .5px;
        font-size: 22px;
      }
    }
    &.clear {
      color: md-color($md-warn, 500);
    }
  }
}

.asset-sort-display {
  button[md-icon-button] {
    md-icon.material-icons {
      font-size: 22px;
    }
  }
}