search-component md-sidenav-layout {
  // temporary fix for when the search result set is small
  min-height: 60vh;
  overflow-y: scroll;
  // material bug workaround
  background-color: transparent;
}
search-component .search-header {
  color: md-color($primary, default);
  padding-left: rem(.8);
  padding-right: rem(.8);
  box-shadow: inset 0 -1px 0 0 md-color($md-foreground, divider), 0 1px 0 0 rgba(md-color($md-background, card), .6);
  header {
    padding-top: rem(1.6);
    padding-bottom: rem(.6);
    position: relative;
    .md-display-1 {
      margin: 0;
      width: calc(100% - 120px);
      font-size: rem(2.6);
      &.alert {
        color: md-color($warn, darker);
      }
    }
  } 
  .tools {
    text-align: right;
    white-space: nowrap;
  }
}
.asset-sort-by button {
  .key {
    font-weight: 500;
  }
  .value {
    text-transform: none;
    font-weight: 400;
    opacity: .75;
  }
  .material-icons {
    position: relative;
    top: rem(.5);
    left: rem(-.4);
  }
  &.md-primary[md-button], &[md-button].is-dd.md-primary .md-button-wrapper::after {
    color: md-color($md-primary, default);
  }
  &[md-button]:hover.md-primary::after, [md-icon-button]:hover.md-primary::after {
    background-color: rgba(md-color($md-primary, default), .12);
  }
}

md-slide-toggle.count-toggle {
  background-color: md-color($md-background, background);
  margin: 0;
  padding: rem(.7) rem(1.6);
  .md-slide-toggle-content {
    opacity: .75
  }
}

no-results > div {
  h2.md-display-1 {
    // margin-top: 0;
    margin-bottom: rem(0.8);
  }
  h3.md-headline {
    margin-top: rem(0.7);
    margin-bottom: rem(2.4);
    a {
      color: md-color($primary);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  margin-bottom: rem(5.5);
  ul {
    font-size: rem(1.7);
    line-height: 1.5;
    li {
      margin: rem(1.0) 0;
    }
  }
}
