<div #target></div>
<md-sidenav-layout>
  <md-sidenav #searchFilter align="start" mode="push">
    <div class="md-overlay-container" *ngIf="(uiState.data | async).loading">
      <md-progress-bar color="accent" mode="indeterminate"></md-progress-bar>
    </div>
    <md-slide-toggle class="count-toggle" [checked]="counted" color="accent" value="toggle" (change)="countToggle($event)">Display Filter Counts</md-slide-toggle>
    <filter-component class="filter" [counted]="counted" [filters]="filter.data | async"></filter-component>
  </md-sidenav>
  
  <button class="filter" (click)="searchFilter.toggle()">FILTERS</button>

  <section class="search-results">
    <div layout="row" md-scroll-y="" layout-align="center start" layout-padding="">
      <div flex-xl="85" flex-gt-lg="95" flex="100" *ngIf="config.viewType.value == 'grid'">
        
        <breadcrumb-component class="root" [filters]="filter.data | async" [loading]="(uiState.data | async).loading"></breadcrumb-component>
        <wz-pagination [pagination]="assets.pagination" (getPage)="changePage($event)"></wz-pagination>
        <button md-icon-button [md-menu-trigger-for]="assetSortMenu"><md-icon>sort</md-icon></button>
        <wz-asset-list 
          [assets]="assets.items" 
          [permission]="permission"
          [collection]="activeCollection.data | async"
          (onAddToCollection)="addToCollection($event)"
          (onRemoveFromCollection)="removeFromCollection($event)"
          (onShowNewCollection)="showNewCollection($event)"
          (onAddToCart)="addToCart($event)" 
          (onDownloadComp)="downloadComp($event)" 
          class="{{config.viewType.value}}">
        </wz-asset-list>
          
        <wz-pagination [pagination]="assets.pagination" (getPage)="changePage($event)"></wz-pagination>
      </div>
    </div>
  </section>
</md-sidenav-layout>

<md-menu #assetSortMenu="mdMenu">
  <wz-sort-component></wz-sort-component>
</md-menu>