<md-sidenav-layout>
  <md-sidenav #searchFilter align="start" mode="push" style="padding-right: 100px;">
    <filter [filters]="filters"></filter>
  </md-sidenav>
    <button md-icon-button (click)="searchFilter.toggle()" style="position:absolute;"><md-icon>menu</md-icon></button>


  <section class="search-results" *ngIf="config">
    <div layout="row" md-scroll-y="" layout-align="center start" layout-padding="">
      <div flex-xl="85" flex-gt-lg="95" flex="100" *ngIf="config.viewType.value == 'grid'">
        <div layout="row" layout-align="end center" class="pagination md-body-2"> 
          <div flex="40" layout-align="end center" *ngIf="assets.pagination.totalCount" class="results-count">{{assets.pagination.totalCount}} results</div>
          <wz-pagination [pagination]="assets.pagination" (getPage)="changePage($event)"></wz-pagination>
        </div>
        <div>
          <!--<span *ngFor="let filter of rootFilter.selectedFilters()" style="padding-right: 10px; font-size: 0.8em">
            <img src="/assets/img/delete.png" style="align:middle;cursor:pointer;padding-right:5px; height:12px" (click)="filter.check();applyFilter(filter);"/>{{filter.name}}
          </span>-->
        </div>
      
        <div layout="column">       
          <wz-asset-list 
            [assets]="assets.items" 
            [currentUser]="currentUser" 
            [collection]="activeCollection.data | async"
            (onShowAsset)="showAsset($event)" 
            (onAddToCollection)="addToCollection($event)"
            (onRemoveFromCollection)="removeFromCollection($event)"
            (onShowNewCollection)="showNewCollection($event)"
            (onAddToCart)="addToCart($event)" 
            (onDownloadComp)="downloadComp($event)" 
            class="{{config.viewType.value}}">
          </wz-asset-list>
          <h1 *ngIf="!assets.items" class="md-display-1 alert warning">No items can be found for that search</h1>
        </div>
        
        
        <div layout="row" layout-align="end center" class="pagination md-body-2 pg-bottom"> 
          <div flex="40" layout-align="end center" *ngIf="assets.pagination.totalCount" class="results-count">{{assets.pagination.totalCount}} results</div>
          <wz-pagination [pagination]="assets.pagination" (getPage)="changePage($event)"></wz-pagination>
        </div>
      </div>
      <div flex-xl="70" flex-gt-lg="80" flex="100" *ngIf="config.viewType.value == 'list'">
        <div layout="row" layout-align="end center" class="pagination md-body-2"> 
          <div flex="40" layout-align="end center" *ngIf="assets.pagination.totalCount" class="results-count">{{assets.pagination.totalCount}} results</div>
          <wz-pagination [pagination]="assets.pagination" (getPage)="changePage($event)"></wz-pagination>
        </div>
        <div layout="row">
          <asset-list [assets]="assets.items" class="{{config.viewType.value}}"></asset-list>
        </div>
        <div layout="row" layout-align="end center" class="pagination md-body-2 pg-bottom"> 
          <div flex="40" layout-align="end center" *ngIf="assets.pagination.totalCount" class="results-count">{{assets.pagination.totalCount}} results</div>
          <div *ngIf="!assets.items" class="alert warning">No items can be found for that search</div>
        </div>
      </div>
    </div>
  </section>


</md-sidenav-layout>