form.md-inline-form(layout='column', [ngFormModel]="form", (ngSubmit)="onSubmit(form.value)")
  md-content( layout-sm="row", layout-padding='')  
    md-input-container.md-block(*ngFor="#field of items")
    
      div(*ngIf="field.type == 'text' || field.type == 'password' || field.type == 'email' || field.type == 'date'")
        label {{field.label | translate}}
        input.md-input(autofocus, type='{{field.type}}', ngControl="{{field.name}}", id="{{field.name}}")
      
      div(*ngIf="field.type == 'select'")

        select(ngControl="{{field.name}}")
          option(*ngFor="#option of parseOptions(field.options)") {{option}}
        
      div(md-messages='{{field.name}}', role='alert')
        div(*ngIf="field.validation == 'REQUIRED'")
          div(md-message='required') You must supply a {{field.label | translate}}
        div(*ngIf="field.validation == 'EMAIL'")
          div(md-message='') Your email must be between 8 and 50 characters long and look like an e-mail address.
        div(*ngIf="field.validation == 'PASSWORD'")
          div(md-message='required') You must supply a Password
          div(md-message='minlength') Password must be at least 8 characters
      
    md-card-actions(layout='column', layout-align='center center', layout-wrap='')  
      button.md-raised.md-primary.conversion(md-raised-button='', type='submit') {{submitLabel | translate}}
