
// Overrides for material overlays.
// These should go away when Ng material fixes them 
// Needed to fix z-index with fixed header and large dd menu (collection-dd) for mobile.
.cdk-overlay-pane {
  z-index: 1001;
}
/************
 * menus and menus with icons
 * Once material has better menu support these possibly can be removed.
 ************/
.mat-menu-content .divider {
  width: 100%;
  margin-top: 0;
  padding-bottom: 1px;
}
/************
 * Aspera download options
 * unique menu list. they have an inactive label width two buttons as icon for each menu item
 ************/
.mat-list.aspera-download-options .mat-list-item {
  align-items: center;
  align-content: center;
  justify-content: space-between;
  [mat-menu-item][disabled] {
    padding: 0 5px 0 0;
  }
  .actions {
    max-width: 85px;
    min-width: 85px;
    margin-right: -10px;
    margin-bottom: 4px;
    text-align: right;
  }
}
