// Typography
// ------------------------------

// Implement the rem unit with SCSS so we don't have to actually set a font-size on
// the user's body element.
@function rem($multiplier) {
  $font-size: 10px;
  @return $multiplier * $font-size;
}
$display-4-font-size-base: 7rem !default;
$display-3-font-size-base: 3.5rem !default;
$display-2-font-size-base: 2.8125rem !default;
$display-1-font-size-base: 2.125rem !default;
$headline-font-size-base: 1.5rem !default;
$title-font-size-base: 1.25rem !default;
$subhead-font-size-base: 1rem !default;

$caption-font-size-base: .75rem !default;

// Layout
$baseline-grid: 8px !default;

$layout-breakpoint-xs:     600px !default;
$layout-breakpoint-sm:     960px !default;
$layout-breakpoint-md:     1280px !default;
$layout-breakpoint-lg:     1920px !default;
$layout-gutter-width: ($baseline-grid * 2) !default;
