<section class="cart-asset">
  <div layout-align="start start" layout-gt-xs="row">
    <div flex-gt-sm="35" flex="100" layout-padding>
      <asset-thumbnail-component [asset]="asset"></asset-thumbnail-component>
    </div>
    <div flex-gt-sm="65" flex="100" layout-padding>
      <asset-info-component [asset]="asset"></asset-info-component>
    </div>
    <!--<asset-subclip-display-component>-->
      <!--Need to figure out how subclipping displays in the UI-->
      <!--<div *ngIf="asset.timeStart !== -2" class="asset-sub-clip md-caption">
        <strong>{{ 'COLLECTION.SHOW.SUB_CLIPPING_LABEL' | translate }} </strong>
        <div class="subclip-timeline">
          <span class="subclip-segment" [ngStyle]="calcSubClipSegments(asset)"></span>
        </div>
        <ul class="subclip-data" layout="row">
          <li flex-gt-sm="30" flex-gt-md="25" flex="35">
            <strong>{{ 'COLLECTION.SHOW.START_TIME_LABEL' | translate }} </strong>
            {{frame(asset.metadata[2].value, asset.timeStart - 0) | timecode}}
          </li>
          <li flex="none">
            <strong>{{ 'COLLECTION.SHOW.END_TIME_LABEL' | translate }} </strong>
            {{frame(asset.metadata[2].value, asset.timeEnd - 0) | timecode}}
          </li>
          <li flex="" layout-align="end center">
            <strong>{{ 'COLLECTION.SHOW.SUB_CLIP_LENGTH_LABEL' | translate }} </strong>
            {{frame(asset.metadata[2].value, asset.timeEnd - asset.timeStart) | timecode}}
          </li>
        </ul>
      </div>-->
    <!--</asset-subclip-display-component>-->
  </div>
</section>
