div.wz-dialog.pricing {
  form {
    padding-top:rem(2);
    span.input {
      md-select {
        padding: rem(1);
        width: 100%;
      }
    }
    div.submit-btn {
      button.submit {
        width: 77%;
        margin: rem(2) 0 0;
      }
    }
  } 
} 
