.toast {
  animation-name: toasty;
  animation-duration: 5s;
  animation-timing-function: linear;
  color: #fff;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 50px;
  z-index: 10000;
  width: 350px;
  margin-top: 100px;
  margin-right: 30px;
  text-align: center;
  border-radius: 7px;
  -webkit-box-shadow: 5px 5px 24px -1px rgba(56, 56, 56, 1);
  -moz-box-shadow: 5px 5px 24px -1px rgba(56, 56, 56, 1);
  box-shadow: 5px 5px 24px -1px rgba(56, 56, 56, 1);
  &.alert {
    background: md-color($md-accent);
  }
  &.success {
    background: md-color($md-green, 500);
  }
  &.warn {
    background: md-color($md-warn);
  }
}

@keyframes toasty {
  0% {
    margin-top: 400px;
    opacity: 0;
  }
  7% {
    margin-top: 100px;
    opacity: 1;
  }
  95% {
    margin-top: 100px;
    opacity: 1;
  }
  100% {
    margin-top: 0px;
    opacity: 0;
  }
}
