@mixin wz-home-hero-theme($theme) {
  $foreground: map-get($theme, foreground);

  home-hero { 
    .hero {
      background-image:
        linear-gradient( rgba(mat-color($foreground, text), .55), rgba(mat-color($foreground, text), .45)),
        url($bk-img-home)
      ;
      .logo-wrapper {
        .logo {
          background-image: url($logo-home);
        }
      }
    }
  }
}
    