@mixin wz-home-call-to-action-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  home-call-to-action {
    .mrkt-call-to-action {
      background-color: mat-color($primary, darker);
      color: mat-color($primary, darker-contrast);
    }
    .conversion {
      &[md-button] {
        background-color: mat-color($accent, darker, .8);
        &:hover {
          background-color: mat-color($accent, darker, .8);
        }
      }
    }
  }
}
