home-hero { 
  .hero {
    text-align: center;
    color: $white-87-opacity;
    overflow: hidden;
    width: 100%;
    position: relative;
    margin: 0 auto;
    background-position: 0 0, center center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    margin-bottom: 0;
    min-height: 802px;
    .logo-wrapper {
      height: 250px;
      width: 100%;
      .logo {
        background-position: bottom center;
        background-repeat:no-repeat;
        background-size: 255px;
        height: 255px;
        opacity: .7;
        @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
          background-size: 220px;
        }
      }
    }
  }
}
  