home-hero { 
  .hero {
    text-align: center;
    // @include text-contrast(md-color($md-primary, 900));
    // color: md-color($primary, 900, contrast);
    color: $white-87-opacity;
    overflow: hidden;
    width: 100%;
    position: relative;
    margin: 0 auto;
    background-image:
      linear-gradient( rgba(md-color($foreground, text), .55), rgba(md-color($foreground, text), .45)),
      url($bk-img-home)
    ;
    background-position: 0 0, center center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    margin-bottom: 0;
    min-height: 802px;
    .logo-wrapper {
      height: 250px;
      width: 100%;
      .logo {
        background-image: url($logo-home);
        background-position: bottom center;
        background-repeat:no-repeat;
        background-size: 255px;
        height: 255px;
        opacity: .7;
        @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
          background-size: 220px;
        }
      }
    }
  }
    .hero {
    text-align: center;
    // @include text-contrast(md-color($md-primary, 900));
    // color: md-color($primary, 900, contrast);
    color: $white-87-opacity;
    overflow: hidden;
    width: 100%;
    position: relative;
    margin: 0 auto;
    background-image:
      linear-gradient( rgba(md-color($foreground, text), .55), rgba(md-color($foreground, text), .45)),
      url($bk-img-home)
    ;
    background-position: 0 0, center center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    margin-bottom: 0;
    min-height: 802px;
    .logo-wrapper {
      height: 250px;
      width: 100%;
      .logo {
        background-image: url($logo-home);
        background-position: bottom center;
        background-repeat:no-repeat;
        background-size: 255px;
        height: 255px;
        opacity: .7;
        @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
          background-size: 220px;
        }
      }
    }
  }
}
  