home-call-to-action {
  .mrkt-call-to-action {
    min-height: rem(44.0);
    text-align: center;
  }
  // this should go in some kind of glb scss file
  .conversion {
    &[mat-button] {
      font-size: rem(1.8);
      min-width: rem(30.0);
      padding: rem(.4) rem(4.0);
      border: 1px solid transparent;
      transition: $swift-ease-in;
      &:hover {
        border: 1px solid $white-87-opacity;
        @include mat-elevation(2);
      }
    }
  }
}
