<h1 *ngIf="!assets" class="md-display-1 alert warning">No items can be found</h1>
<ul class="asset-list" #target *ngIf="assets">
  <li *ngFor="let asset of assets">
    <div class="asset">
      <div class="asset-name">{{asset.name}}</div>
      <a flex="" [routerLink]="['/asset/', asset.assetId]" class="asset-thb">
        <img *ngIf="asset.thumbnail" src="{{asset.thumbnail.urls.https}}"/>
        <span *ngIf="asset.metaData[0]" class="mdata-0">
          <span>{{asset.metaData[0].value}}</span>
        </span>
        <span *ngIf="asset.metaData[2]" class="mdata-2">
          <span [ngClass]="formatType(asset.metaData[2].value)" class="sd-hd">{{asset.metaData[2].value}}</span>
        </span>
        <span *ngIf="asset.metaData[3]" class="mdata-3">
          <span>{{asset.metaData[3].value}}</span>
        </span>
      </a>
      <section class="actions">
        <nav class="asset-options" flex layout-align="end center">
          <button
            md-icon-button
            title="Add to cart"
            (click)="addToCart(asset)">
              <md-icon>shopping_cart</md-icon>
          </button>
          <button
            *ngIf="asset.hasDownloadableComp && (currentUser.canDownload('wm') | async)"
            md-icon-button
            title="{{ 'COLLECTION.SHOW.DOWNLOAD_BTN_TITLE_ENABLED' | translate }}"
            (click)="setAssetActiveId(asset.assetId)"
            [md-menu-trigger-for]="downloadCompMenu">
              <md-icon>file_download</md-icon>
          </button>
          <button
            *ngIf="!asset.hasDownloadableComp || !(currentUser.canDownload('wm') | async)"
            disabled
            md-icon-button
            title="{{ 'COLLECTION.SHOW.DOWNLOAD_BTN_TITLE_DISABLED' | translate }}"
            (click)="setAssetActiveId(asset.assetId)"
            [md-menu-trigger-for]="downloadCompMenu">
              <md-icon>file_download</md-icon>
          </button>
          <button md-icon-button *ngIf="collection.id !== null && alreadyInCollection(asset)" 
            title="{{ 'COLLECTION.REMOVE_FROM_COLLECTION_HOVER_TITLE' | translate:{collectionName:collection.name} }}" 
            (click)="removeFromCollection(collection, asset); removeToast.show()">
            <md-icon>remove_circle</md-icon>
          </button>
          <button md-icon-button *ngIf="collection.id !== null && !alreadyInCollection(asset)" 
            title="{{ 'COLLECTION.ADD_TO_COLLECTION_HOVER_TITLE' | translate:{collectionName:collection.name} }}" 
            (click)="addToCollection(collection, asset); addToast.show()">
            <md-icon>library_add</md-icon>
          </button>
          <button md-icon-button *ngIf="collection.id === null"  
            title="{{ 'COLLECTION.CREATE_COLLECTION_HOVER_TITLE' | translate }}" 
            (click)="showNewCollection(asset)">
            <md-icon>library_add</md-icon>
          </button>
          <button md-icon-button title="More"><md-icon>more_vert</md-icon></button>
        </nav>
      </section>
      <a [routerLink]="['/asset/', asset.assetId]" class="asset-desc">  
        <span *ngIf="asset.metaData[1]" class="mdata-1">
          {{asset.metaData[1].value}}
        </span>
      </a>
    </div>
  </li>
</ul>

<md-menu x-position="before" #downloadCompMenu="mdMenu">
  <button [disabled]="!(currentUser.canDownload('wm') | async)" md-menu-item  (click)="downloadComp('wm');">Download Watermarked Comp</button>
  <button [disabled]="!(currentUser.canDownload('clean') | async)" md-menu-item (click)="downloadComp('clean')">Download Clean Comp</button>
  <button [disabled]="!(currentUser.canDownload('full') | async)" md-menu-item (click)="downloadComp('full')">Download Full Comp</button>
</md-menu>

<wz-toast #addToast>
  <div class="toast" layout="row" layout-align="center center">
    <div flex-xs="100" md-elevation-z2>{{ 'COLLECTION.ADD_TO_COLLECTION_TOAST' | translate:{collectionName:collection.name} }}</div>
  </div>
</wz-toast>

<wz-toast #removeToast>
  <div class="toast" layout="row" layout-align="center center">
    <div flex-xs="100" md-elevation-z2>{{ 'COLLECTION.REMOVE_FROM_COLLECTION_TOAST' | translate:{collectionName:collection.name} }}</div>
  </div>
</wz-toast>

