$logo-c-rev: "/resources/img/logo/logo-c-rev.svg";
$logo-m-blk: "/resources/img/logo/logo-m-blk.svg";
$logo-m-rev: "/resources/img/logo/logo-m-rev.svg";

$logo-header: $logo-c-rev;
$logo-header-fixed: $logo-c-rev;
$logo-footer: $logo-m-rev;
$logo-simple-form: $logo-m-blk;
