// button modifiers

[md-button] {
// outlined button
  &.is-outlined {
    border: 1px solid rgba(md-color($md-foreground, secondary-text), .2);
    line-height: $md-button-line-height - rem(0.300);
    &.md-primary {
      border: 1px solid md-color($md-primary, 500, .4);
    }
    &.md-accent {
      border: 1px solid md-color($md-accent, 500, .4);
    }
    &.md-warn {
      border: 1px solid md-color($md-warn, 500, .4);
    }
  }
// drop down indicator on a button
  &.is-dd[md-button] {
    position: relative;
    padding-right: rem(2.40);
    padding-left: rem(1.00);
    &:not[hide] {
      display: block;
    }
    // &[hide] {
    //   display: none;
    // }
    .md-button-wrapper::after {
      color: md-color($md-foreground, secondary-text);
      @include transition(opacity 0.4s);
      font-family: 'Material Icons';
      content: "\e5c5";
      font-size: rem(2.1);
      position: absolute;
      right: rem(.2);
      top: rem(-.1);
    }
    &.md-primary .md-button-wrapper::after {
      color: contrast-color(md-color($md-primary, 500));
    }
    &.md-accent .md-button-wrapper::after {
      color: contrast-contrast(md-color($md-accent, 500));
    }
    &.md-warn .md-button-wrapper::after {
      color: contrast-color(md-color($md-warn, 500));
    }
    &.md-icon-button {
      width: rem(5.3);
      border-radius: rem(.3);
      .md-button-wrapper::after {
        right: rem(.1);
        top: rem(.7);
      }
    }
  }
}
