@mixin wz-quote-show-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);

  quote-show-component section.header {
    color: mat-color($primary, default);
    box-shadow: inset 0 -1px 0 0 mat-color($foreground, divider), 0 1px 0 0 rgba(mat-color($background, card), .6);
    header .md-display-1.alert {
      color: mat-color($warn, darker);
    }
  }
  .quote-summary .quote-info > span.expired {
    color: mat-color($warn, darker);
  }
  .quote-summary .quote-info a {
    color: mat-color($primary, darker, 1);
  }
}
