quote-show-component section.header {
  header {
    @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) {
      padding-right: 8px;
      padding-left: 8px;
    }
    padding-top: 6px;
    padding-bottom: 5px;
    position: relative;
    .mat-display-1 {
      margin: 0;
      width: calc(100% - 120px);
      font-size: 26px;
    }
    .tools {
      text-align: right;
      span.comment-count {
        position: absolute;
        top:0;
        right: -2px;
        border-radius: 2px;
        min-width: 14px;
        font-size: .77em;
        line-height: 1;
        margin-right: 0;
        margin-left: 0;
        padding: 1px 2px;
        border-width: 1px;
        border-style: solid;
      }
    }
  }
}

quote-show-component .project .assets {
  padding: 0 12px 12px 12px;
  display: flex;
}
.quote-summary {
  padding-left: 4px;
  padding-right: 4px;
  .details {
    opacity: .7;
    margin: 12px 0 13px 0;
  }
  .quote-info {
    line-height: 1.4;
    & > span {
      display: flex;
      strong {
        padding-right: 5px;
      }
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }    
  }
}
commerce-component wz-comment > section {
  padding: 6px 0 28px 0;
}
quotes-component .reject-quote.mat-button .mat-icon,
.cart-total .reject-quote .mat-button .mat-icon {
    height: 26px;
    padding-right: 3px;
    margin-left: -5px;
}
.cart-total .reject-quote {
  @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) {
    margin-top: 16px;
  }
}
.cart-total .action-items {
  white-space: nowrap;
  text-align: right;
}
