quote-show-component section.header {
  padding-left: rem(.4);
  padding-right: rem(.4);
  header {
    padding-top: rem(.6);
    padding-bottom: rem(.5);
    position: relative;
    .md-display-1 {
      margin: 0;
      width: calc(100% - 120px);
      font-size: rem(2.6);
    }
    .tools {
      text-align: right;
    }
  }
}

quote-show-component .project .assets {
  padding: 0 rem(1.2) rem(1.2) rem(1.2);
  display: flex;
}
.quote-summary {
  padding-left: rem(.4);
  padding-right: rem(.4);
  .details {
    opacity: .7;
    margin: rem(1.2) 0 rem(1.3) 0;
  }
  .quote-info {
    line-height: 1.4;
    & > span {
      display: flex;
      strong {
        padding-right: rem(.5);
      }
    }
  }
}
