<section class="header">
  <section
    class="comments-section"
    layout="row" layout-align="center start">
    <div flex="100" flex-gt-sm="95" flex-gt-md="85" flex-gt-lg="80">
      <wz-comment
        [ngClass]="{ 'visible': showComments, 'not-visible': showComments === false }"
        [formFields]="commentFormConfig"
        [parentObject]="commentParentObject"
        [userCanAddComments]="true"
        (toggleCommentsVisibility)="toggleCommentsVisibility()">
      </wz-comment>
    </div>
  </section>
  <section layout="row" layout-align="center start">
    <header flex="100" flex-gt-sm="95" flex-gt-md="85" flex-gt-lg="80">
      <div flex="100" layout="row" layout-align="space-between end">

        <div *ngIf="shouldDisplayReview" flex="grow">
          <h2 class="mat-display-1">
            {{ 'QUOTE.REVIEW_HEADER' | translate }} 
            <span *ngIf="hasPurchaseType">- {{ trStringForPurchaseType | translate }}</span>
          </h2>
        </div>
        <div *ngIf="shouldDisplayPurchaseHeader" flex="grow">
          <h2 class="mat-display-1">
            {{ 'QUOTE.PURCHASE_HEADER' | translate }} 
            <span *ngIf="hasPurchaseType">- {{ trStringForPurchaseType | translate }}</span>
          </h2>
          <div *ngIf="(offlineAgreementIds | async).length" class="offline-id">
            <span>{{ 'QUOTE.OFFLINE_ID_HEADER' | translate }} {{ offlineAgreementIds | async }}</span>
          </div>
        </div>
        <div 
          class="tools"
          flex="auto" 
          [ngClass]="{ 'hide-for-comments': showComments, 'comments-closed': showComments === false }">
          <a color="primary" [routerLink]="['/quotes']" mat-icon-button title="{{ 'QUOTE.SHOW.BACK_TO_INDEX_TITLE' | translate }}">
            <mat-icon>inbox</mat-icon>
          </a>
          <button
            mat-icon-button
            color="primary"
            title="{{ 'COLLECTION.SHOW.COMMENT_BTN_TITLE' | translate }}"
            (click)="toggleCommentsVisibility()">
              <mat-icon>mode_comment</mat-icon>
              <span *ngIf="(commentCount | async) > 0" class="comment-count">{{ commentCount | async }}</span>
          </button>
        </div>
      </div>
    </header>
  </section>
</section>

<section *ngIf="shouldDisplayReview" class="quote-summary">
	<div layout="row" flex="100" layout-align="center center">
    <div
      layout="column"
      layout-gt-xs="row"
      flex="100"
      flex-gt-sm="95"
      flex-gt-md="85"
      flex-gt-lg="80"
      layout-align-gt-xs="space-between end">
      <div layout="column" layout-gt-xs="row" flex="100" layout-align-gt-xs="space-between end">
        <div flex-gt-xs="55" flex="100" class="details">
          <div class="mat-caption quote-info" flex-order-xs="2">
            <span class="quote-number">
              <strong>{{ 'QUOTE.SHOW.NUMBER_LABEL' | translate }}</strong>
              <span class="number">{{ (quote | async).id }}</span>
            </span>
            <span>
              <strong>{{ 'QUOTE.CREATED_ON_LABEL' | translate }} </strong>
              {{ (quote | async).createdOn | date:'short' }}
            </span>
            <span *ngIf="(quote | async).bulkOrderId">
              <strong>{{ 'QUOTE.BULK_ORDER_NAME' | translate }} </strong>
              {{ (quote | async).bulkOrderId }}
            </span>
            <span>
              <strong>{{ 'QUOTE.PURCHASE_TYPE_LABEL' | translate }} </strong>
              {{ trStringForPurchaseType | translate }}
            </span>
            <span *ngIf="(offlineAgreementIds | async).length">
              <strong>{{ 'QUOTE.OFFLINE_ID_HEADER' | translate }}</strong>{{ offlineAgreementIds | async }}
            </span>
            <span>
              <strong>{{ 'QUOTE.RECIPIENT_NAME' | translate }} </strong>
              {{ (quote | async).createdUserFullName || 'N/A' }}
            </span>
            <span>
              <strong>{{ 'QUOTE.RECIPIENT_EMAIL' | translate }} </strong>
              <a href="mailto: {{ (quote | async).createdUserEmailAddress }}">{{ (quote | async).createdUserEmailAddress}}</a> 
            </span>
            <span [ngClass]="{expired: isExpired}">
              <strong>{{ ( isExpired ? 'QUOTE.EXPIRED_LABEL' : 'QUOTE.EXPIRATION_LABEL') | translate }} </strong>
              {{ (quote | async).expirationDate | date:'short' }}
            </span>
          </div>
        </div>
        <div class="cart-total" flex-gt-xs="60" flex="100" class="cart-total" flex-order-xs="-1">
          <h5 class="mat-subhead status {{ (quote | async).quoteStatus.toLowerCase() }}">
            {{ (quote | async).quoteStatus }}
          </h5>
          <div *ngIf="hasDiscount" flex="100" layout="row" layout-align="end center" class="subtotal mat-headline">
            <span class="total-label" flex="100">
              {{ 'CART.CART_SUBTOTAL' | translate }} 
            </span>
            <span class="total-amount" flex="nogrow">
              {{ (quote | async).subTotal | currency:'USD':true:'1.2-2' }}
            </span>
          </div>
          <div *ngIf="hasDiscount" flex="100" layout="row" layout-align="end center" class="discount mat-headline">
            <span class="total-label" flex="100">
              {{ 'CART.CART_DISCOUNT' | translate }} 
            </span>
            <span class="total-amount" flex="nogrow">{{ (quote | async).discount }}</span>
          </div> 
          <div>
            <div class="total mat-headline" flex="auto" layout="row" layout-align="end center">
              <span class="total-label">
                  {{ 'QUOTE.INDEX.TOTAL_LABEL' | translate }}
              </span>
              <span class="total-amount">
                  {{ (quote | async).total | currency:'USD':true:'1.2-2' }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
</section>

<section class="tabs-section">
  <div layout="row" flex="100" layout-align="center start">
     <div flex="100" flex-gt-sm="95" flex-gt-md="85" flex-gt-lg="80">
      <div *ngIf="userCan.administerQuotes()">
        <quote-tab flex></quote-tab>
      </div>
      <div *ngIf="!userCan.administerQuotes()">
        <mat-tab-group *ngIf="(quote | async).quoteStatus === 'ACTIVE'" [(selectedIndex)]="selectedTabIndex">
          <mat-tab *ngFor="let tabLabelKey of tabLabelKeys; let i = index" [disabled]="!tabEnabled[i]">
            <ng-template mat-tab-label>{{ tabLabelKey | uppercase }}</ng-template>
            <quote-tab 
              *ngIf="tabLabelKey === 'quote'"
              (notify)="onNotification($event)">
            </quote-tab>
            <quote-billing-tab 
              *ngIf="tabLabelKey === 'billing'"
              [loaded]="selectedTabIndex === 1"
              (notify)="onNotification($event)">
            </quote-billing-tab>
            <quote-payment-tab 
              *ngIf="tabLabelKey === 'payment'"
              (notify)="onNotification($event)">
            </quote-payment-tab>
            <quote-confirm-tab 
              *ngIf="tabLabelKey === 'confirm'"
              (notify)="onNotification($event)">
            </quote-confirm-tab>
          </mat-tab>
        </mat-tab-group>
        <div *ngIf="(quote |async).quoteStatus !== 'ACTIVE'">
          <quote-tab flex></quote-tab>
        </div>
      </div>
    </div>
  </div>
</section>
