<section class="header" layout="row" layout-align="center center">
  <header flex="100" flex-gt-sm="95" flex-gt-md="85" flex-gt-lg="80">
    <div flex="100" layout="row" layout-align="space-between end">
      <h2 *ngIf="shouldDisplayReview" flex="grow" class="md-display-1">
        {{ 'QUOTE.REVIEW_HEADER' | translate }} <span *ngIf="hasPurchaseType">- {{ (quote | async).purchaseType }}</span>
      </h2>
      <h2 *ngIf="shouldDisplayPurchaseHeader" flex="grow" class="md-display-1">
        {{ 'QUOTE.PURCHASE_HEADER' | translate }} <span *ngIf="hasPurchaseType">- {{ (quote | async).purchaseType }}</span>
      </h2>
      <div class="tools" flex="auto">
				<a [routerLink]="['/commerce/quotes']" md-icon-button color="primary" title="View all quotes">
					<md-icon>inbox</md-icon>
				</a>
			</div>
    </div>
  </header>
</section>

<section *ngIf="shouldDisplayReview" class="quote-summary">
	<div layout="row" flex="100" layout-align="center center">
    <div
      layout="column"
      layout-gt-xs="row"
      flex="100"
      flex-gt-sm="95"
      flex-gt-md="85"
      flex-gt-lg="80"
      layout-align-gt-xs="space-between end">
      <div layout="column" layout-gt-xs="row" flex="100" layout-align-gt-xs="space-between end">
        <div flex-gt-xs="55" flex="100" class="details">
          <div class="md-caption quote-info">
            <span class="quote-number">
              <strong>{{ 'QUOTE.SHOW.NUMBER_LABEL' | translate }}</strong>
              <span class="number">{{ (quote | async).id }}</span>
            </span>
            <span>
              <strong>{{ 'QUOTE.CREATED_ON_LABEL' | translate }} </strong>
              {{ (quote | async).createdOn | date:'short' }}
            </span>
            <span *ngIf="(quote | async).bulkOrderId">
              <strong>{{ 'QUOTE.BULK_ORDER_NAME' | translate }} </strong>
              {{ (quote | async).bulkOrderId }}
            </span>
            <span>
              <strong>{{ 'QUOTE.PURCHASE_TYPE_LABEL' | translate }} </strong>
              {{ (quote | async).purchaseType ? (quote | async).purchaseType : 'none' }}
            </span>
            <span>
              <strong>{{ 'QUOTE.EXPIRATION_LABEL' | translate }} </strong>
              {{ (quote | async).expirationDate | date:'short' }}
            </span>
          </div>
        </div>
        <div flex="100" layout="row" layout-xs="column" class="divider"></div>
        <div class="cart-total" flex-gt-xs="60" flex="100" class="cart-total">
          <h5 class="md-subhead status {{ (quote | async).quoteStatus.toLowerCase() }}">
            {{ (quote | async).quoteStatus }}
          </h5>
          <div class="total md-headline" flex="auto" layout="row" layout-align="end center">
            <span class="total-label">
                {{ 'QUOTE.INDEX.TOTAL_LABEL' | translate }}
            </span>
            <span class="total-amount">
                {{ (quote | async).total | currency:'USD':true:'1.2-2' }}
            </span>
          </div>
        </div>
      </div>
    </div>
	</div>
</section>

<section class="tabs-section">
  <div layout="row" flex="100" layout-align="center start">
     <div flex="100" flex-gt-sm="95" flex-gt-md="85" flex-gt-lg="80">
      <div *ngIf="userCan.administerQuotes()">
        <quote-tab flex></quote-tab>
      </div>
      <div *ngIf="!userCan.administerQuotes()">
        <md-tab-group *ngIf="(quote | async).quoteStatus === 'ACTIVE'" [(selectedIndex)]="selectedTabIndex">
          <md-tab *ngFor="let tabLabelKey of tabLabelKeys; let i = index" [disabled]="!tabEnabled[i]">
            <ng-template md-tab-label>{{ tabLabelKey | uppercase }}</ng-template>
            <quote-tab 
              *ngIf="tabLabelKey === 'quote'"
              (notify)="onNotification($event)">
            </quote-tab>
            <quote-billing-tab 
              *ngIf="tabLabelKey === 'billing'"
              (notify)="onNotification($event)">
            </quote-billing-tab>
            <quote-payment-tab 
              *ngIf="tabLabelKey === 'payment'"
              (notify)="onNotification($event)">
            </quote-payment-tab>
            <quote-confirm-tab 
              *ngIf="tabLabelKey === 'confirm'"
              (notify)="onNotification($event)">
            </quote-confirm-tab>
          </md-tab>
        </md-tab-group>
        <div *ngIf="(quote |async).quoteStatus !== 'ACTIVE'">
          <quote-tab flex></quote-tab>
        </div>
      </div>
    </div>
  </div>
</section>
