@mixin wz-mat-menu-extended-theme($theme) {
  $foreground: map-get($theme, foreground);

  .mat-menu-content a[mat-menu-item][disabled] mat-icon.material-icons,
  .mat-menu-content button[mat-menu-item][disabled] mat-icon.material-icons {
    color: mat-color($foreground, disabled);
  }
  .mat-menu-content .divider {
    box-shadow: inset 0 1px 0 0 mat-color($foreground, divider);
  }
  /************
  * Aspera download options
  * unique menu list. they have an inactive label width two buttons as icon for each menu item
  ************/
  .mat-list.aspera-download-options .mat-list-item {
    [mat-menu-item][disabled] {
      color: mat-color($foreground, secondary-text);
    }
    .actions button[mat-icon-button] {
      color: mat-color($foreground, base, .7);
    }
    .actions button[mat-icon-button][disabled] {
      color: mat-color($foreground, disabled);
    }
  }
}
