@mixin wz-mat-menu-extended-theme($theme) {
  $foreground: map-get($theme, foreground);

  .mat-menu-content a[mat-menu-item][disabled] mat-icon.material-icons,
  .mat-menu-content button[mat-menu-item][disabled] mat-icon.material-icons {
    color: mat-color($foreground, disabled);
  }
  .mat-menu-content .divider {
    box-shadow: inset 0 1px 0 0 mat-color($foreground, divider);
  }
}
