projects-component .add-project button {
  margin: rem(.2) 0 rem(.2) 0;
  mat-icon {
    padding: 0 rem(.4) rem(.2) 0;
  }
}  

projects-component section.header {
  padding-left: rem(.8);
  padding-right: rem(.8);
  header {
    padding-top: rem(.6);
    padding-bottom: rem(.5);
    position: relative;
    .mat-display-1 {
      margin: 0;
      width: calc(100% - 120px);
      font-size: rem(2.6);
    }
  }
  .tools {
    text-align: right;
  }
}
div.project {
  margin-bottom: 0;
  header.project-info {
    h5[mat-display-1] {
      margin: 0 0 2px 0;
      white-space: nowrap;
      .project-name {
        font-size: rem(1.8);
        font-weight: 400;
      }
    }
    .project-client {
      line-height: 1.6;
    }
    project-info-component {
      margin: 8px 0 8px 8px;
      padding: 0 0 0 2px;
      position: relative;
      transition: all .2s ease-in-out;
      &::before {
        content: "\e150";
        font-family: 'Material Icons';
        position: absolute;
        top: 2px;
        right: 3px;
        font-size: 24px;
        opacity: 0;
      }
      &:hover {
        padding: 0 40px 0 6px;
        cursor: pointer;
        &::before {
          opacity: .55;
        }
      }
      &.read-only:hover {
        padding: 0 0 0 2px;
        background-color: transparent;
        cursor: default;
        &::before {
          content: "";
          opacity: 0;
        }
      }
    }
    div:nth-child(2n) {
      padding: rem(.2) rem(.2) rem(.4) 0;
      text-align: right;
    }
    div.project-asset-count {
      font-size: rem(1.4);
      padding: rem(.3) rem(.9) 0 0;
    }
    div.project-subtotal {
      bottom: rem(.3);
      right: rem(.2);
      padding: rem(.2) rem(.2) rem(.2) 0;
      span {
        font-size: rem(1.8);
        display: inline-block;
        padding: rem(.1) rem(.6) 0 0;
        &::first-letter {
          font-size: .83em;
          vertical-align: top;
        }
      }
      strong {
        padding-right: rem(.5);
      }
    }
    button.is-outlined {
      line-height: rem(2.4);
      min-width: rem(5.0);
      &.select-usage {
        border: none;
      }
    }
    button.rights-pkg .mat-icon {
      font-size: rem(1.8);
      line-height: 1.32em;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}
