projects-component .add-project button {
  margin: rem(.2) 0 rem(.2) 0;
  md-icon {
    padding: 0 rem(.4) rem(.2) 0;
  }
}  

projects-component section.header {
  color: mat-color($primary, default);
  padding-left: rem(.8);
  padding-right: rem(.8);
  box-shadow: inset 0 -1px 0 0 mat-color($mat-foreground, divider), 0 1px 0 0 rgba(mat-color($mat-background, card), .6);
  header {
    padding-top: rem(.6);
    padding-bottom: rem(.5);
    position: relative;
    .md-display-1 {
      margin: 0;
      width: calc(100% - 120px);
      font-size: rem(2.6);
    }
  }
  .tools {
    text-align: right;
  }
}
div.project {
  margin-bottom: rem(1.8);
  background-color: rgba(mat-color($background, card), .4);
  header.project-info {
    background-color: mat-color($mat-primary, darker, .8);
    @include text-contrast(mat-color($mat-primary, default));
    border-radius: $mat-button-border-radius $mat-button-border-radius 0 0;
    position: relative;
    h5[md-display-1] {
      margin: 0 0 rem(.2) 0;
      .project-name {
        font-size: rem(1.8);
        font-weight: 400;
      }
    }
    .project-client {
      line-height: 1.6;
    }
    div:first-child {
      padding: rem(1.0);
    }
    div:nth-child(2n) {
      padding: rem(.2) rem(.2) rem(.4) 0;
      text-align: right;
    }
    div.project-asset-count {
      font-size: rem(1.4);
    }
    div.project-subtotal {
      bottom: rem(.3);
      right: rem(.2);
      padding: rem(.2) rem(.2) rem(.2) 0;
      span {
        font-size: rem(1.8);
        display: inline-block;
        padding-right: rem(.5);
        &::first-letter {
          font-size: .83em;
          vertical-align: top;
        }
      }
      strong {
        padding-right: rem(.5);
      }
    }
    button.is-outlined {
      line-height: rem(2.4);
      min-width: rem(5.0);
      border-color: mat-color($background, background, .25);
    }
  }
}
