section.admin-index
  div(layout='row', layout-align='start start')
    div(class='account-table' flex-xl="60",flex-gt-lg="50",flex-gt-md="60",flex="70")
      wz-list(
        [items]="currentUserResources.items", 
        [headers]="headers", 
        [toggleFlag]="toggleFlag", 
        (sort)="navigateToSortUrl($event)")
      div(layout='row', layout-align='end center')
        pagination(
          (getPage)="navigateToPageUrl($event)", 
          [currentPage]="routeParams.params.i || 1", 
          [pagination]="currentUserResources.pagination")
    div(class='admin-filter' flex-xl="30",flex-gt-lg="40",flex-gt-md="30",flex="20")
      filter([fields]="fields", (filterSubmit)="navigateToFilterUrl($event)", (clearFilter)="navigateToBaseUrl($event)")