md-toolbar.md-whiteframe-z1.md-tall.glb-h
  span(flex='')
  nav.md-toolbar-tools.md-toolbar-tools-bottom
    md-button.md-icon-button(arial-label='Settings')
    i.material-icons(md-icon) menu
    a(flex='', [routerLink]="['Home']", title='Home')
      .home
        .logo
          img(src='/images/logo_connect_rev_colr.svg')
    a.md-button(*ngIf="currentUser.loggedIn()", alt='Login', md-button='', [routerLink]="['Search']")
      span.md-button-wrapper Search
    a.md-button(*ngIf="!currentUser.loggedIn()", alt='Login', md-button='', [routerLink]="['User', 'Login']")
      span.md-button-wrapper Login
    a.md-button(*ngIf="!currentUser.loggedIn()", alt='Register', md-button='', [routerLink]="['User', 'Register']")
      span.md-button-wrapper Register
    a.md-icon-button(md-button='', title='More',[routerLink]="['Home']")
      i.material-icons(md-icon='') more_vert
    logout(*ngIf="currentUser.loggedIn()")
