
app-header md-toolbar.glb-h {
  background-color:rgba(darken(#37474F, 14%), .1);
  border-bottom: solid 1px rgba(#fff, .2);
  position: absolute;
  top: 0;
  left: 0;
  &.scrolled {
    background-color:#fff; 
    position: fixed;
  }
}
.home {
  overflow: hidden;
  width: 100px;
  height: 50px;
  position: absolute;
  top: 9px;
  margin-left: 7px;
  .logo {
    width: 272px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}