
app-header md-toolbar.glb-h {
  background-color:rgba(#BF360C, .9); 
  position: relative;
}
.home {
  overflow: hidden;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 25px;
  margin-left: 25px;
  .logo {
    width: 261px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}