md-toolbar.glb([ngClass]="{'fixed': showFixed, 'slide-up': slideUp}")
  span(flex='')
  nav.md-toolbar-tools
    md-button.md-icon-button(arial-label='Settings')
    i.material-icons(md-icon) menu
    a.home-link(flex='', [routerLink]="['Home']", title='Home')
      .logo-wrapper
        .logo
          img(src='resources/img/logo_connect_rev_colr.svg')
    p(*ngIf="currentUser.loggedIn()") 
      span {{currentUser.fullName()}} | 
      span {{currentUser.email()}} | 
      span {{currentUser.account()}} | 
    a.md-button(*ngIf="currentUser.loggedIn()", alt='Login', md-button='', [routerLink]="['Search']")
      span.md-button-wrapper Search
    a.md-button(*ngIf="!currentUser.loggedIn()", alt='Login', md-button='', [routerLink]="['User', 'Login']")
      span.md-button-wrapper Login
    a.md-button(*ngIf="!currentUser.loggedIn()", alt='Register', md-button='', [routerLink]="['User', 'Register']")
      span.md-button-wrapper Register
    a.md-icon-button(md-button='', title='More',[routerLink]="['Home']")
      i.material-icons(md-icon='') more_vert
    logout(*ngIf="currentUser.loggedIn()")
