
app-header md-toolbar {
  background-color:rgba(#000, .3); 
  position: relative;
}
.home {
  overflow: hidden;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 25px;
  margin-left: 25px;
  .logo {
    width: 261px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}