header.login.hero
  .bktxt
    div(layout='row', layout-xs="column", md-scroll-y='', layout-align='start center', layout-padding='')
      div(flex="")
      div(flex-gt-lg="25", flex-gt-md="35", flex-gt-sm="65", flex-gt-xs="90", flex="100")
        md-card.md-whiteframe-z2
          md-card-content
            h1 Register

            .md-inline-form(layout='column')
              md-content(layout-padding='')
                form(method='post', #f="ngForm", (ngSubmit)="onSubmit(f.value)")
                  md-input-container
                    label First Name
                    input.md-input(type='text', name='firstName', value='', ngControl="firstName")
                  md-input-container
                    label Last Name
                    input.md-input(type='text', name='lastName', value='', ngControl="lastName")
                  md-input-container
                    label Email
                    input.md-input(type='text', name='street', value='', ngControl="emailAddress")
                  md-input-container
                    label Password
                    input.md-input(type='password', name='password', value='', ngControl="password")
                  md-input-container
                    select(ngControl='accountIdentifier')
                        option(value="poc1")
                            | poc1
                        option(value="poc2")
                            | poc2
                    
                  section(layout='row', layout-sm='column', layout-align='end center', layout-wrap='')  
                    button.md-raised(md-raised-button='') Cancel
                    button.md-raised.md-primary(md-raised-button='', type='submit') Register
      div(flex="")