@mixin wz-asset-detail-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  section.preview-bk {
    .breadcrumb-container {
      box-shadow: inset 0 -1px 0 0 mat-color($foreground, base, .5), 0 1px 0 0 mat-color($background, card, .1);
      .breadcrumb {
        @include text-contrast(mat-color($foreground, base));
      }
    }
    &.theater {
      background-image:
        linear-gradient(mat-color($foreground, base, .57), mat-color($foreground, base, .56)),
        linear-gradient(mat-color($primary, 900, .07), mat-color($primary, 700, .07)),
        linear-gradient(mat-color($foreground, base, .57), mat-color($foreground, base, .56))
      ;
      &::after {
        background-image: url("assets/img/bk/tex/bktx_dgl_lines_light.png");
      }
      .mat-raised-button.mat-primary[disabled] {
        color: mat-color($mat-grey, 50, .4);
        background-color: mat-color($mat-grey, 400, .15);
      }
    }
    .preview::before {
      background-color: rgba(mat-color($mat-grey, 50), 1);
    }
    .toolbar-actions {
      nav.asset-options {
        button[md-icon-button] {
          @include text-contrast(mat-color($foreground, base));
          &:disabled {
            md-icon {
              color: rgba(mat-color($background, background),.2);
            }
          }
        }
      }
    }
    div.primary-info {
      @include text-contrast(mat-color($foreground, base));
      background-color: rgba(mat-color($foreground, base), .05);
      div.primary-content {
        .contact-us-pricing {
          color: rgba(mat-color($accent, 500), .75);
        }
        md-card-actions {
          md-select {
            .mat-select-underline {
              background-color: mat-color($background, background, .2);
            }
            .mat-select-placeholder.mat-floating-placeholder,
            .mat-select-value,
            .mat-select-arrow {
              color: mat-color($background, background, .7);
            }
          }
          button {
            &.mat-primary.mat-hue-7 {
              background-color: scale-color(mat-color($primary, default), $lightness: -10%, $alpha: -35%);
              &:hover {
                background-color: scale-color(mat-color($primary, default), $lightness: 0%, $alpha: -25%);
              }
            }
          }
        }
      }
    }
  }

  .responsive-video .photo-container {
    background-image: linear-gradient(mat-color($foreground, base, .17), mat-color($foreground, base, .16));
  }
  div.primary-info-t {
    @include text-contrast(mat-color($foreground, base));
    div.primary-content-t {
      .sd-hd {
        border-color: rgba(mat-color($background, app-bar), .4);
        background-color: rgba(mat-color($foreground, base), .3);
      }
      .sd-hd.sd {
        border-color: rgba(mat-color($foreground, base), 0);
        background-color: rgba(mat-color($background, card), .5);
        &::before {
          color: mat-color($foreground, text);
        }
      }
      .image.photo::before {
        color: rgba(mat-color($mat-grey, 100),0.4);
      }
    }
  }
}
