asset-share-link .link {
  padding-top: rem(4);
  padding-right: rem(.4);
  padding-bottom: rem(4.6);
  padding-left: rem(2.4);
  white-space: nowrap;
  text-align: right;
  max-width: rem(40.0);
  // max-width: 100%;
  .link-input {
    overflow: hidden;
    margin-right: rem(.4);
    width: calc(100% - 44px);
    max-width: calc(100% - 44px);
    border: 1px solid rgba(mat-color($foreground, base), .8);
    padding-top: rem(1.3);
    padding-right: rem(.5);
    padding-bottom: rem(1.3);
    padding-left: rem(.5);
    font-size: .9em;
    color: rgba(mat-color($primary, default),.75);
    &:focus, &:active {
      outline: none;
      border-color: rgba(mat-color($primary, default), .9);
    }
    &::selection {
      background: rgba(mat-color($accent, default), .25);
      color: mat-color($primary, darker);
    }
  }
  button {
    // transition: $swift-ease-out;
    &:hover {
      color: mat-color($primary);
    }
  }
}
