<!-- there probably should be some kind of toggle for theater mode (dark background where preview is VS light)-->

<section class="comments-section" layout="row" layout-align="center">
  <div flex-gt-xs="95" 
    flex-gt-md="85" 
    flex-lg="80" 
    flex-gt-lg="75" 
    flex="100" 
    layout-gt-xs="row" 
    layout="column">
    <wz-comment
      flex
      *ngIf="canComment"
      [ngClass]="{ 'visible': showComments, 'not-visible': showComments === false }"
      [formFields]="commentFormConfig"
      [parentObject]="commentParentObject"
      [userCanAddComments]="userCanAddComments | async"
      (toggleCommentsVisibility)="toggleCommentsVisibility()">
    </wz-comment>
  </div>
</section>
<section class="preview-bk theater">
  <div layout="row" layout-align="center" class="breadcrumb-container">
    <div 
      flex-gt-xs="95" 
      flex-gt-md="85" 
      flex-lg="80" 
      flex-gt-lg="75" 
      flex="100" 
      layout-gt-xs="row" 
      layout="column">
      <div flex="noshrink" class="breadcrumb" flex-order-xs="2">
        <!-- this maybe reintroduced when user comes from a page by clicking the collection tray asset from any page other than collection show page (look at referrer url and the asset.type)-->
        <!-- <a
          class="back-to-search"
          *ngIf="hasPageHistory && asset.type == 'collectionAsset'"
          title="Back to search results"
          mat-icon-button 
          (click)="previousPage()">
            <mat-icon>arrow_back</mat-icon>
        </a> -->
        <a
          mat-button
          [routerLink]="routerLinkForAssetParent">
          {{ breadcrumbLabel[0] | uppercase | translate:{id: breadcrumbLabel[1]} }}
        </a>
        <span class="breadcrumb-separator"></span>
        <span class="breadcrumb-current">{{asset.common[5].value}}</span>
        <ng-container *ngIf="asset.timeStart">
          <span class="breadcrumb-timecode-separator"></span>
          <span class="breadcrumb-current timecode">{{asset.inMarkerFrame | timecode }} - {{asset.outMarkerFrame | timecode }}</span>
        </ng-container>
      </div>

      <div
        class="toolbar-actions" 
        flex="auto" flex-order-xs="-1"
        [ngClass]="{ 'hide-for-comments': showComments, 'comments-closed': showComments === false }">
        <nav class="asset-options" flex layout-align="end stretch">
          <button
            *ngIf="showDownloadButton"
            data-pendo='asset-detail_download-btn'
            [disabled]="!(hasDeliveryOptions | async)"
            mat-icon-button
            [mat-menu-trigger-for]="downloadCompMenu"
            title="{{ 'COLLECTION.SHOW.DOWNLOAD_BTN_TITLE_ENABLED' | translate }}">
              <mat-icon>file_download</mat-icon>
          </button>

          <button mat-icon-button *ngIf="canShare" title="{{ shareButtonLabelKey | translate }}" (click)="sharing.show($event)">
            <mat-icon>share</mat-icon>
          </button>

          <button mat-icon-button
            (click)="toggleCommentsVisibility()"
            *ngIf="canComment"
            title="{{ 'ASSET.DETAIL.COMMENTS_BTN_TITLE' | translate }}">
              <mat-icon>mode_comment</mat-icon>
              <span *ngIf="(commentCount | async) > 0" class="comment-count">{{commentCount| async}}</span>
          </button>

          <ng-container *ngIf="userCan.haveCollections()">
            <button
              data-pendo='asset-detail_add-to-collection-btn'
              mat-icon-button 
              *ngIf="canAddToActiveCollection"
              [disabled]="!userCan.editCollections()" 
              title="{{ 'COLLECTION.ADD_TO_COLLECTION_HOVER_TITLE' | translate:{collectionName: activeCollectionName} }}"
              (click)="addAssetToActiveCollection()">
              <mat-icon>add_box</mat-icon>
            </button>
            <button mat-icon-button 
              *ngIf="canAddAgainToActiveCollection"
              [disabled]="!userCan.editCollections()" 
              title="{{ 'COLLECTION.ADD_AGAIN_TO_COLLECTION_HOVER_TITLE' | translate:{collectionName: activeCollectionName} }}"
              (click)="addAssetToActiveCollection()">
              <mat-icon>library_add</mat-icon>
            </button>
            <button mat-icon-button 
              *ngIf="canUpdateInActiveCollection"  
              [disabled]="!userCan.editCollections()"
              title="{{ 'COLLECTION.UPDATE_IN_COLLECTION_HOVER_TITLE' | translate:{collectionName: activeCollectionName} }}"
              (click)="updateAssetInActiveCollection()">
              <mat-icon>update</mat-icon>
            </button>
            <button mat-icon-button 
              *ngIf="canRemoveFromActiveCollection"  
              [disabled]="!userCan.editCollections()"
              title="{{ 'COLLECTION.REMOVE_FROM_COLLECTION_HOVER_TITLE' | translate:{collectionName: activeCollectionName} }}"
              (click)="removeAssetFromActiveCollection()">
              <mat-icon>remove_circle</mat-icon>
            </button>
          </ng-container>
        </nav>
      </div>
    </div>
  </div>
  <div layout="row" layout-align="center">
    <div flex-gt-xs="95" flex-gt-md="85" flex-lg="80" flex-gt-lg="75" flex="100" layout="row" layout-xs="column">
      <div flex-gt-xs="66" flex="100" flex-order-xs="2">
        <div flex="" layout="column" class="primary-info-t">
          <div class="primary-content-t" layout="row">
            <div flex="auto">
              <div layout="row" layout-wrap="" layout-align="start center">
                <div [ngClass]="{hd: asset.primary[2].value == 'High Definition', sd: asset.primary[2].value == 'Standard Definition'}" class="sd-hd"
                  *ngIf='asset.primary[2].value != null'>
                </div>
                <div [ngClass]="{image: asset.primary[0].value == 'Image'}" class="photo"
                  *ngIf="asset.primary[0].value != null && asset.primary[0].value == 'Image'">
                </div>
                <div flex="none" class="rights mat-caption">{{rights}}</div>
                <div flex="none" class="restriction-banner" *ngIf="asset.primary[4].value != null && asset.primary[4].value != 'Needs calculation'">{{asset.primary[4].value}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div layout="row" flex="" layout-align="center">
    <div flex-gt-xs="95" flex-gt-md="85" flex-lg="80" flex-gt-lg="75" flex="100" layout="row" layout-xs="column">
      <div *ngIf="userCan.createSubclips(asset)" flex-gt-xs="66" flex="100" class="responsive-video">
        <wz-advanced-player
          [window]="window"
          [asset]="asset"
          (markersInitialization)="onPlayerMarkersInitialization($event)"
          (markerChange)="onPlayerMarkerChange($event)">
        </wz-advanced-player>
      </div>
      <div *ngIf="!userCan.createSubclips(asset)" flex-gt-xs="66" flex="100" class="responsive-video">
        <wz-player [window]="window" [asset]="asset"></wz-player>
      </div>

      <div flex-gt-xs="33" flex="100">
        <div flex="" layout="column" class="primary-info">
          <div class="primary-content {{asset.type}}">
            <h4 class="title-txt" *ngIf="asset.primary[5].value !== null">{{asset.primary[5].value}}</h4>
            <p class="description-txt">{{asset.primary[6].value}}</p>

            <div *ngIf="canShowPricingAndCartActions" layout="row">
              <div *ngIf="hasPrice" class="list-price">
                <span *ngIf="priceIsStartingPrice" class="starting">{{ 'ASSET.DETAIL.BASE_PRICE' | translate }}</span>
                <span class="price">{{ price | currency:'USD':true:'1.2-2' }}</span>
              </div>

              <div *ngIf="hasNoPrice" class="contact-us-pricing">
                {{ 'ASSET.DETAIL.CONTACT_US_PRICING' | translate }}
              </div>

              <mat-card-actions *ngIf="canPerformCartActions" layout="column" layout-align="center center" layout-wrap="">
                  <mat-form-field *ngIf="canSelectTranscodeTarget">
                    <mat-select (change)="onSelectTarget($event)" [(ngModel)]="selectedTarget">
                      <mat-option *ngFor="let target of asset.transcodeTargets" [value]="target">
                        {{ 'ASSET.TRANSCODE_TARGETS.' + target | translate }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                <button *ngIf="canCalculatePrice" mat-button (click)="getPricingAttributes()" class="is-outlined">
                  {{ 'PRICING.CALCULATE_HEADING' | translate }}
                </button>

                <button *ngIf="canUpdateCartAsset"
                  [disabled]="assetMatchesCartAsset"
                  mat-raised-button
                  (click)="updateCartAsset()"
                  color="primary">
                  {{ updateCartAssetButtonLabelKey | translate }}
                </button>

                <button
                  data-pendo='asset-detail_add-to-cart-btn'
                  *ngIf="canAddToCart"
                  mat-raised-button
                  (click)="addAssetToCart()"
                  color="primary">
                  {{ addToCartOrQuoteButtonLabelKey | translate }}
                </button>

                <button
                  *ngIf="canUpdateCartAsset"
                  mat-raised-button
                  (click)="removeAssetFromCartOrQuote()"
                  color="accent">
                  {{ removeFromCartOrQuoteButtonLabelKey | translate }}
                </button>

                <button *ngIf="canGoToSearchAssetDetails" class="is-outlined" mat-button (click)="goToSearchAssetDetails()">
                  {{ 'ASSET.DETAIL.BUTTON.GO_TO_SEARCH_ASSET_DETAILS' | translate }}
                </button>
              </mat-card-actions>                  
            </div>              
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<wz-dropdown #sharing>
  <asset-share layout="row" layout-align="end start" class="revealed"
    [userEmail]="userEmail | async" 
    [enhancedAsset]="asset" 
    [subclipMarkers]="subclipMarkers"
    [config]="shareComponentConfig" 
    (close)="sharing.close()">
  </asset-share>
</wz-dropdown>

<mat-menu x-position="before" #downloadCompMenu="matMenu">
  <wz-delivery-options [assetId]="asset.assetId" [markers]="subclipMarkers"></wz-delivery-options>
</mat-menu>
