<div class="collections-dd-menu">
  <div class="dd-menu-wrapper">
    <header>
      <asset-share-link
        *ngIf="assetLinkIsShowing"
        flex="100"
        [assetLink]="assetShareLink"
        (close)="resetShareLinkShowing()"
        (onOpenSnackbar)="onOpenSnackBar.emit($event)">
      </asset-share-link>
      <div flex="100" layout="row">
        <h4 class="md-headline" flex="100" layout-align="start center">
            {{ shareAssetDialogTitle | translate}}
        </h4>
        <div class="tools" flex="auto" layout-align="end center">
          <button md-icon-button title="{{ 'ASSET.SHARING.SHARE_LINK_BTN_TITLE' | translate }}" (click)="showShareLink()"><md-icon>link</md-icon></button>
        </div>
      </div>
    </header>

    <div class="subclip-info" *ngIf="markersAreDefined" layout="column" layout-align="center">
      <p class="in-out-markers" flex>
        <strong>{{ 'ASSET.SHARING.SUBCLIP_IN_LABEL' | translate}}</strong>
        <span>{{ subclipMarkers.in | timecode }}</span>
        <strong>{{ 'ASSET.SHARING.SUBCLIP_OUT_LABEL' | translate}}</strong>
        <span>{{ subclipMarkers.out | timecode }}</span>
        <!-- I think it would be nice to display subclip duration -->
        <!-- <strong>/</strong>
        <span class="duration">{{ enhancedAsset.subclipDurationFrame | timecode }}</span> -->
      </p>
    </div>
    <div class="asset-name" layout="column" layout-align="center">
      <span flex>{{ enhancedAsset.primary[1].value }}</span>
    </div>
    <div class="form-panel" layout="column">
      <div class="wz-form-card">
        <md-card-content>
          <wz-form 
            [items]="config.form.items"
            includeCancel="true"
            cancelLabel="ASSET.SHARING.FORM.CANCEL_BTN_LABEL"
            submitLabel="ASSET.SHARING.FORM.SUBMIT_BTN_LABEL"
            (formCancel)="formCancel()"
            (formSubmit)="createShareLink($event)">
          </wz-form>
        </md-card-content>
      </div>
    </div>
  </div>
</div>

