
.data-bk, .tabs-section {
  background-color: transparent !important;
  & > div > div {
    background: rgba(mat-color($background, background),.7);
  }
  md-tab-group {
    min-width: 100%;
    & > div {
      margin-bottom: 0;
      margin-top: rem(3.6);
      margin-left: rem(3.6);
      margin-right: rem(3.6);
      &:last-child {
        margin-bottom: rem(4.6);
      }
    }
    .mat-tab-header .mat-tab-list .mat-tab-labels {
        text-transform: uppercase;
      //   transition: $swift-ease-out;
      //   line-height: rem(5.6);
      //   height: rem(5.2);
      //   &.mat-tab-active {
      //     opacity: 1;
      //     background-color: rgba(mat-color($primary, lighter), .00);
      //     color: mat-color($primary, default);
      //   }
      //   &.mat-tab-disabled {
      //     opacity: .25;
    }
    md-content {
      min-width: 100%;
      m-data {
        min-width: 100%;
      }
    }
  }
  h1:first-child {
    margin-top: 0;
  }
}
.m-data {
  text-align: left;
  overflow: hidden;
  padding: 0;
  background-color: rgba(mat-color($mat-grey, 100), 1);
  border-top: 1px solid rgba(mat-color($mat-grey, 400),.5);
  display: table;
  min-width: 100%;
  margin-top: rem(3.7);
  &:first-child {
    margin-top: 0;
  }
  & > .row {
    display: table-row;
    .cell {
      border-right: 1px solid rgba(mat-color($mat-grey, 400),.5);
      border-bottom: 1px solid rgba(mat-color($mat-grey, 400),.5);
      display: table-cell;
      padding: 10px 20px 10px 12px;
      vertical-align: top;
      p {
        margin: 0;
        line-height: 24px;
        opacity: .9;
      }
    }
    .cell:first-child {
      border-left: 1px solid rgba(mat-color($mat-grey, 400),.5);
      background: rgba(mat-color($mat-grey, 300),.6);
      text-align: right;
      white-space: nowrap;
      padding: 10px 12px 10px 40px;
      width: 33%;
      h5 {
        margin: 0;
      }
    }
  }
  & > .row.divider {
    background-color: mat-color($mat-grey, 100);
    .cell {
      padding: 18px 0;
      border-right-width: 0;
      &:first-child {
        border-left-width: 0;
        background: transparent;
      }
    }
  }
}
