asset-share {
  .asset-name {
    padding: 8px 18px 0 18px;
    font-size: .7em;
    opacity: .65;
    line-height: 1.25;
  }
  .subclip-info {
    padding: 8px 18px 8px 18px;
    .in-out-markers {
      margin: 0;
      font-size: .7em;
      line-height: 1;
      strong {
        padding: 3px 1px 3px 0;
        &:nth-child(5) {
          margin-right: 8px;
        }
      }
      span {
        padding: 1px 5px;
        &:nth-child(2) {
          margin-right: 15px;
        }
        &:nth-child(4) {
          margin-right: 7px;
        }
      }
    }
  }
  .form-panel {
    padding: 10px 24px 24px;
    wz-form form {
      padding-top: 0;
      margin: 0;
      md-card-actions {
      margin-bottom: 0;
      padding-bottom: 0;
      }
    }
    .asset-thb {
      display: block;
      height: 0;
      width: 100%;
      position: relative;
      padding: 56.25% 0 0 0; 
      img {
        position: absolute;
        display: block;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      } 
    }
  }
}
