asset-save-subclip {
  position: absolute;
  top: rem(-4.0);
  right: 0;
  width: calc(100% - 10px);
  height: calc(100% + 40px);
  background-color: mat-color($background, card);
  z-index: 2;
  // margin-top: rem(-4.0);
  padding: rem(2.4);
  border-radius: rem(.2);
  box-sizing: border-box;
  @include mat-elevation(6);
  color: mat-color($foreground, text);
  @media screen and (min-width: $layout-breakpoint-sm) {
    max-height: calc(100% + 40px);
    max-width: calc(33% - 4px);
  }
  .mat-dialog-container {
    box-shadow: none;
    padding: 0;
    overflow: inherit;
    .wz-dialog {
      width: 100%;
      padding: rem(1.4) 0 rem(1.2);
      .wz-dialog-title {
        margin: 0 0 rem(.2);
        font-size: rem(2.2);
        font-weight: 400;
        color: rgba(mat-color($foreground, text), .65);
      }
      .collection-name {
        margin: 0;
        opacity: .588;
      }
      .in-out-markers {
        margin: rem(1.8) 0 0;
        font-size: rem(1.1);
        strong {
          padding: rem(.3) rem(.1) rem(.3) 0;
        }
        span {
          padding: rem(.3) rem(.4);
          background-color:  rgba(mat-color($primary), .04);
          &:nth-child(2) {
            margin-right: rem(2.6);
          }
        }
      }
      wz-form {
        font-size: rem(1.4);
        form {
          padding-top: 10px;
          .mat-select-trigger {
            font-size: rem(1.4);
          }
        }
      }
    }
    footer {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: rem(2.0) 0 rem(2.4);
      background-color:  rgba(mat-color($primary), .1);
    }
  }
}
