// asset-detail {
//   display: block;
//   background-color:  md-color($md-grey, 300);
//   border-top: rem(6.4) solid md-color($md-primary, 900, .9);
//   @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
//     border-top-width: rem(5.6);    
//   }
// }

section.preview-bk {
  overflow: hidden;
  width: 100%;
  position: relative;
  padding-top: rem(3.3);
  padding-bottom: rem(9);
  @media screen and (max-width: $layout-breakpoint-md)  {
    padding-top: rem(2);    
    padding-bottom: rem(4);
    // padding-left: rem(1.6);
    // padding-right: rem(1.6);
  }
  &.theater {
    height: 100%;
    @include md-elevation(2);
    @include text-contrast(md-color($md-grey, 900));
    @include background-image(
      linear-gradient(md-color($md-grey, 900, .8), md-color($md-grey, 900, .7)),
      linear-gradient(md-color($md-primary, 900, .1), md-color($md-primary, 600, .1)),
      linear-gradient(md-color($md-grey, 900, .8), md-color($md-grey, 900, .7))
    );
    position: relative;
    &::after {
      content: " ";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height:100%;
      @include background-image(
        url("../assets/img/bk/tex/bktx_dgl_lines_light.png")
      );
      opacity: .3;
      z-index: 0;
    }
    & > div > div {
      z-index: 1;
      @media screen and (max-width: $layout-breakpoint-sm)  {
        margin-right: rem(1.6);    
        margin-left: rem(1.6);    
      }
    }
    & > div:first-child > div {
      z-index: 2;
    }
  }
  .preview {
    position: relative;
    height: 100%;
    width: 100%;
    
    &::before {
      content: " ";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba(md-color($md-grey, 50), 1);
      @include transition(opacity 1.5s cubic-bezier(0.55, 0, 0.55, 0.2));
    }
  }
  .toolbar-actions {
    display: flex;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    md-menu {
      z-index: 8;
    }
    nav.asset-options {
      display: flex;
      button[md-icon-button] {
        @include text-contrast(md-color($md-grey, 900));
        margin-left: rem(.6);
        &:disabled {
          md-icon {
            color: rgba(md-color($md-background, background),.2);
          }
        }
      }
    }
  }
  div.primary-info {
    @include text-contrast(md-color($md-grey, 900));
    box-shadow: none;
    background-color: rgba(md-color($md-grey, 900),.2);
    padding:rem(1.6);
    position: relative;
    @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
      padding: 0;
      background-color: transparent;
    }
    div.primary-content {
      .title-txt {
        margin-top: 0;
        margin-bottom: rem(1.2);
        font-size: 1.2em;
        opacity: .5;
      }
      .description-txt {
        height: rem(12.1);
        overflow-y: scroll;
        margin-top: 0;
        margin-bottom: 0;
        font-size: .95em;
        line-height: 1.4;
        opacity: .9;
        @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
          height: auto;
          min-height: rem(14.4);
          margin-top: rem(.4);
          margin-bottom: rem(2);
        }
      }
      .price {
        position: absolute;
        bottom: rem(9.0);
        right: rem(3.7);
        font-size: 1.7em;
        font-weight: 400;
        line-height: 1;
        &::first-letter {
          font-size: .7em;
          font-weight: 200;
          vertical-align: top;
        }
        @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
          right: 0;
        } 
      }
      md-card-actions {
        @include calc(width, "100% - 42px");
        margin: 0;
        padding-left: rem(1.6); 
        padding-right: rem(.8); 
        position: absolute;
        bottom: rem(1.6);
        @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
          padding-left: 0; 
          padding-right: 0; 
          position: static;
          width: 100%;
        }
        button {
          width: 100%;
          margin-bottom: rem(1.0);
          text-transform: uppercase;
          &.md-primary.md-hue-7 {
            background-color: scale-color(md-color($md-primary, 500), $lightness: -15%, $alpha: -50%);
            &:hover {
              background-color: scale-color(md-color($md-primary, 500), $lightness: 0%, $alpha: -40%);
            }
          }
          &.is-outlined {
            color: scale-color(md-color($md-grey, 50), $lightness: 0%, $alpha: -15%);
            border-color: scale-color(md-color($md-grey, 50), $lightness: 0%, $alpha: -40%);
          }
        }
      }
    }
  }
}

.responsive-video {
  // z-index: 1;
  background-color:  transparent;
  position: relative;
	height: auto;
}








div.primary-info-t {
  height: rem(4.8);
  // @include calc(height, "100% - 56px");
  // @include calc(min-height, "100% - 56px");
  @include text-contrast(md-color($md-grey, 900));
  // box-shadow: none;
  // background-color: rgba(md-color($md-grey, 900),.2);
  // padding:rem(2.0);
  // position: relative;
  div.primary-content-t {
    .asset-name {
      margin-bottom: rem(.5);
      opacity: .5;
    }
    .sd-hd {
      height: rem(2);
      width: rem(2.8);
      border-radius: rem(.3);
      border-width: 1px;
      border-style: solid;
      border-color: rgba(md-color($md-grey, 100),0.4);
      background-color: rgba(md-color($md-grey, 900),.8);
      position: relative;
      &::before {
        content: "HD";
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        opacity: 0.8;
        font-size: .94em;
        font-weight: bold;
      }
    }
    .sd-hd.sd {
      width: rem(2.7);
      height: rem(1.8);
      border-radius: 50%;
      border-color: rgba(md-color($md-grey, 900), 0);
      background-color: rgba(md-color($md-grey, 100), .75);
      &::before {
        content: "SD";
        color:rgba(md-color($md-grey, 900),1);
        opacity: 0.9;
      }
    }
    .rights {
      padding-left: rem(1);
      padding-top: rem(.4);
      text-transform: uppercase;
    }
  }
}
