
section.preview-bk {
  overflow: hidden;
  width: 100%;
  position: relative;
  padding-top: 0;
  padding-bottom: 74px;
  .breadcrumb-container {
    padding: 5px 0;
    position: relative;
    .breadcrumb {
      a[mat-button] {
        line-height: 40px;
        min-width: 60px;

      }
      .breadcrumb-current {
        line-height: 40px;
        opacity: .65;
        &.timecode {
          font-size: .75em;
        }
      }
      .breadcrumb-separator {
        display: inline-block;
        &::before {
          top: -18px;
        }
      }
      .back-to-search {
        margin-right: 2px;
        margin-left: -8px;
      }
      .breadcrumb-timecode-separator {
        position: relative;
        width: 10px;
        &::before {
          content: "\e192";
          font-family: 'Material Icons';
          position: absolute;
          top: -2px;
          left: -14px;
          font-size: 22px;
          opacity: .4;
        }
      }
    }

  }
  &.theater {
    height: 100%;
    @include mat-elevation(2);
    position: relative;
    &::after {
      content: " ";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height:100%;
      opacity: .3;
      z-index: 0;
    }
    & > div > div {
      position: relative;
      z-index: 1;
      @media screen and (max-width: $layout-breakpoint-xs)  {
        margin-right: 6px;    
        margin-left: 6px;    
      }
    }
  }
  .preview {
    position: relative;
    height: 100%;
    width: 100%;
    
    &::before {
      content: " ";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba(mat-color($mat-grey, 50), 1);
      transition: opacity 1.5s cubic-bezier(0.55, 0, 0.55, 0.2);
    }
  }
  .toolbar-actions {
    text-align: right;
    max-width: 265px;
    @media screen and (max-width: $layout-breakpoint-xs)  {
      max-width: none;

    }
    .asset-options {
      span.comment-count {
        position: absolute;
        top:0;
        right: -2px;
        border-radius: 2px;
        min-width: 14px;
        font-size: .8em;
        line-height: 1;
        margin-right: 0;
        margin-left: 0;
        padding: 1px 2px;
        border-width: 1px;
        border-style: solid;
      }
    }
  }
  div.primary-info {
    box-shadow: none;
    padding: 16px;
    position: relative;
    height: 100%;
    @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
      padding: 0;
      background-color: transparent;
      min-height: 335px;
    }
    div.primary-content {
      @media screen and (max-width: $layout-breakpoint-sm) and (min-width: $layout-breakpoint-xs)   {
        font-size: .92em;
        max-height: 55%;
        overflow: hidden;
      }
      .title-txt {
        margin-top: 0;
        margin-bottom: 12px;
        font-size: 1.2em;
        opacity: .5;
        @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
          margin-top: 12px;
          font-size: 1em;
          opacity: .65;
          padding-left: 12px;
          padding-right: 12px;
        }
      }
      .description-txt {
        height: 121px;
        overflow-y: scroll;
        margin-top: 0;
        margin-bottom: 0;
        font-size: .95em;
        line-height: 1.4;
        opacity: .9;
        @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) {
          height: auto;
          font-size: .9em;
          margin-top: 4px;
          margin-bottom: 160px;
          padding-left: 12px;
          padding-right: 12px;
        }
      }
      .list-price, .calculated-price {
        position: absolute;
        bottom: 174px;
        right: 37px;
        @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
          bottom: 84px;
          right: 16px;
        }
        span {
          display: inline-block;
          font-size: 1.7em;
          font-weight: 400;
          line-height: 1;
          &.starting {
            font-size: 1.1em;
            margin-right: 5px;
          }
          &.price::first-letter {
            font-size: .7em;
            font-weight: 200;
            vertical-align: top;
          }
        }
      }
      &.searchAsset .list-price, 
      &.searchAsset .calculated-price {
        bottom: 130px;
        @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
          bottom: 38px;
        }
      }
      &.cartAsset .list-price, 
      &.cartAsset .calculated-price,
      &.quoteEditAsset .list-price, 
      &.quoteEditAsset .calculated-price {
        bottom: 222px;
        @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
          bottom: 131px;
        }
      }
      .contact-us-pricing {
        width: calc(100% - 32px);
        bottom: 135px;
        display: block;
        font-size: 1.12em;
        font-weight: 200;
        line-height: 1.1;
        margin-left: 16px;
        margin-right: 16px;
        position: absolute;
        right: 0;
        text-align: center;
        @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
          right: 0;
        } 
      }
      mat-card-actions {
        width: calc(100% - 42px);
        margin: 0;
        padding: 0 8px 6px 16px;
        position: absolute;
        bottom: 16px;
        @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
          padding-left: 16px; 
          padding-right: 16px;
          padding-bottom: 0;
          bottom: -65px;
          width: 100%;
        }
        button {
          width: 100%;
          margin: 0 0 10px 0;
          text-transform: uppercase;
          &.is-outlined {
            color: scale-color(mat-color($mat-grey, 50), $lightness: 0%, $alpha: -15%);
            border-color: scale-color(mat-color($mat-grey, 50), $lightness: 0%, $alpha: -40%);
          }
        }
      }
    }
  }
}

.responsive-video {
  background-color:  transparent;
  position: relative;
	height: auto;
  & > div.jw-error {
    @media screen and (min-width: $layout-breakpoint-lg)  {
      min-height: 540px;
    }
    @media screen and (min-width: $layout-breakpoint-md) and (max-width: $layout-breakpoint-lg)  {
      min-height: 480px;
    }
    @media screen and (min-width: $layout-breakpoint-sm) and (max-width: $layout-breakpoint-md)  {
      min-height: 400px;
    }
    @media screen and (max-width: $layout-breakpoint-sm)  {
      min-height: 320px;
    }
  }
  .photo-container {
    text-align: center;
    img {
      max-height: 635px;
      min-height: 380px;
      max-width: 100%;
      vertical-align: middle;
      @media screen and (max-width: $layout-breakpoint-sm)  {
        max-height: 505px;
        min-height: 230px;
      }
      @media screen and (max-width: $layout-breakpoint-xs)  {
        max-height: 475px;
        min-height: 230px;
      }
    }
  }
}
div.primary-info-t {
  height: 40px;
  div.primary-content-t {
    height: 100%;
    & > div > div {
      height: 100%;
    }
    .sd-hd {
      height: 20px;
      width: 28px;
      border-radius: 3px;
      border-width: 1px;
      border-style: solid;
      position: relative;
      &::before {
        content: "HD";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.8;
        font-size: .94em;
        font-weight: bold;
      }
    }
    .sd-hd.sd {
      width: 27px;
      height: 18px;
      border-radius: 50%;
      &::before {
        content: "SD";
        opacity: 0.9;
      }
    }
    .rights {
      padding-left: 8px;
      text-transform: uppercase;
    }
    .image.photo {
      position: relative;
      height: 20px;
      width: 30px;
      color: transparent;
      &::before {
        content: "\e412";
        font-family: 'Material Icons';
        color: rgba(mat-color($mat-grey, 100),0.4);
        position: absolute;
        top: -8px;
        left: 1px;
        font-size: 1.85em;
      }
    }
  }
}
