
section.preview-bk {
  overflow: hidden;
  width: 100%;
  position: relative;
  padding-top: rem(1.8);
  padding-bottom: rem(7.4);
  &.theater {
    height: 100%;
    @include mat-elevation(2);
    position: relative;
    &::after {
      content: " ";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height:100%;
      opacity: .3;
      z-index: 0;
    }
    & > div > div {
      position: relative;
      z-index: 1;
      @media screen and (max-width: $layout-breakpoint-xs)  {
        margin-right: rem(1.6);    
        margin-left: rem(1.6);    
      }
    }
    // & > div:first-child > div {
    //   z-index: 2;
    // }
  }
  .preview {
    position: relative;
    height: 100%;
    width: 100%;
    
    &::before {
      content: " ";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba(mat-color($mat-grey, 50), 1);
      transition: opacity 1.5s cubic-bezier(0.55, 0, 0.55, 0.2);
    }
  }
  .toolbar-actions {
    display: flex;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    md-menu {
      z-index: 8;
    }
    nav.asset-options {
      display: flex;
      button[md-icon-button] {
        margin-left: rem(.6);
      }
    }
  }
  div.primary-info {
    box-shadow: none;
    padding:rem(1.6);
    position: relative;
    height: 100%;
    @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
      padding: 0;
      background-color: transparent;
      min-height: rem(33.5);
    }
    div.primary-content {
      .title-txt {
        margin-top: 0;
        margin-bottom: rem(1.2);
        font-size: 1.2em;
        opacity: .5;
        @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
          margin-top: rem(1.2);
          font-size: 1.1em;
          opacity: .65;
        }
      }
      .description-txt {
        height: rem(12.1);
        overflow-y: scroll;
        margin-top: 0;
        margin-bottom: 0;
        font-size: .95em;
        line-height: 1.4;
        opacity: .9;
        @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) {
          height: auto;
          font-size: .9em;
          margin-top: rem(.4);
          margin-bottom: rem(16.0);
        }
      }
      .list-price, .calculated-price {
        position: absolute;
        bottom: rem(13.0);
        right: rem(3.7);
        @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
          bottom: rem(9.0);
          right: 0;
        }
        span {
          display: inline-block;
          font-size: 1.7em;
          font-weight: 400;
          line-height: 1;
          &.starting {
            font-size: 1.1em;
            margin-right: rem(.5);
          }
          &.price::first-letter {
            font-size: .7em;
            font-weight: 200;
            vertical-align: top;
          }
        }
      }

      .contact-us-pricing {
        width: calc(100% - 32px);
        bottom: rem(13.5);
        display: block;
        font-size: 1.12em;
        font-weight: 200;
        line-height: 1.1;
        margin-left: rem(1.6);
        margin-right: rem(1.6);
        position: absolute;
        right: 0;
        text-align: center;
        @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
          right: 0;
        } 
      }
      md-card-actions {
        md-select {
          width: 100%;
          margin-bottom: rem(2);
        }
        width: calc(100% - 42px);
        margin: 0;
        padding-left: rem(1.6); 
        padding-right: rem(.8); 
        position: absolute;
        bottom: rem(1.6);
        @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
          padding-left: 0; 
          padding-right: 0;
          bottom: rem(-2.0);
          width: 100%;
        }
        button {
          width: 100%;
          margin-bottom: rem(1.0);
          text-transform: uppercase;
          &.is-outlined {
            color: scale-color(mat-color($mat-grey, 50), $lightness: 0%, $alpha: -15%);
            border-color: scale-color(mat-color($mat-grey, 50), $lightness: 0%, $alpha: -40%);
          }
        }
      }
    }
  }
}

.responsive-video {
  background-color:  transparent;
  position: relative;
	height: auto;
  .photo-container {
    text-align: center;
    img {
      max-height: rem(63.5);
      min-height: rem(38.0);
      max-width: 100%;
      vertical-align: middle;
      @media screen and (max-width: $layout-breakpoint-sm)  {
        max-height: rem(50.5);
        min-height: rem(23.0);
      }
      @media screen and (max-width: $layout-breakpoint-xs)  {
        max-height: rem(47.5);
        min-height: rem(23.0);
      }
    }
  }
}
div.primary-info-t {
  height: rem(4.8);
  div.primary-content-t {
    .back-to-search {
      margin-right: rem(.2);
      margin-left: rem(-.5);
    }
    .asset-name {
      margin-bottom: rem(.4);
      opacity: .5;
    }
    .sd-hd {
      height: rem(2);
      width: rem(2.8);
      border-radius: rem(.3);
      border-width: 1px;
      border-style: solid;
      position: relative;
      &::before {
        content: "HD";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.8;
        font-size: .94em;
        font-weight: bold;
      }
    }
    .sd-hd.sd {
      width: rem(2.7);
      height: rem(1.8);
      border-radius: 50%;
      &::before {
        content: "SD";
        opacity: 0.9;
      }
    }
    .rights {
      padding-left: rem(.8);
      padding-top: rem(.4);
      text-transform: uppercase;
    }
    .image.photo {
      position: relative;
      height: rem(2.0);
      width: rem(3.0);
      color: transparent;
      &::before {
        content: "\e412";
        font-family: 'Material Icons';
        color: rgba(mat-color($mat-grey, 100),0.4);
        position: absolute;
        top: rem(-.8);
        left: rem(.1);
        font-size: 1.85em;
      }
    }
  }
}
