<section class="cart-asset">
  <div layout="row" layout-align="start center">
    <div flex="35">
      <div class="cart-asset-thb">
        <div layout="column" layout-align="center center">
          <a [routerLink]="['/asset', asset.assetId]"><img src="{{asset.thumbnailUrl}}"/></a>
        </div>
      </div>
    </div>

    <div flex="65" class="cart-asset-metadata">
      <table>
        <tr *ngFor="let meta of asset.metadata">
          <th class="md-body-1">{{ translationReady(meta.name) | uppercase | translate }}</th>
          <td class="md-caption">{{ meta.value | slice:0:80 }}</td>
        </tr>
      </table>
    </div>
  </div>
</section>

