<section class="cart-asset">
  <div layout-align="start start" layout-gt-xs="row">
    <div flex-gt-sm="35" flex="100" layout-padding>
      <a [routerLink]="['/asset', asset.assetId, assetParams(asset)]">
        <div class="cart-asset-thb">
            <span *ngIf="asset.timeStart === -2 && asset.metadata[2].value" class="asset-duration">
              <span>{{frame(asset.metadata[2].value, durationAsFrames(asset.metadata[2].value, asset.metadata[5].value/1000.0)) | timecode}}</span>
            </span>
            <span  *ngIf="asset.timeStart !== -2" class="asset-duration">
              <span>{{frame(asset.metadata[2].value, asset.timeEnd - asset.timeStart) | timecode}}</span>
            </span>
            <span *ngIf="asset.metadata[6] && asset.metadata[6].name == 'Resource.Class' && asset.metadata[6].value == 'Image'" class="indicate-photo">
              <span class="{{asset.metadata[6].value | lowercase}}"></span>
            </span>
            <img src="{{asset.thumbnailUrl}}"/>
        </div>
      </a>
    </div>

    <div flex-gt-sm="65" flex="100" layout-padding>
      <div class="md-caption asset-name">{{asset.assetName}}</div>
      <p class="asset-description">
        {{ asset.metadata[0].value  | slice:0:80 }}
      </p>
      <div class="cart-asset-metadata md-caption">
        <span *ngFor="let meta of asset.metadata">
          <ng-container 
            *ngIf="meta.name !== 'Description' 
            && meta.name !== 'Format.Duration'
            && meta.name !== 'Format.AspectRatio'
            && meta.name !== 'Resource.Class'">
            <strong>{{ translationReady(meta.name) | uppercase | translate }}: </strong>
            {{ meta.value | slice:0:80 }}
          </ng-container>
        </span>
      </div>

      <!--Need to figure out how subclipping displays in the UI-->
      <!--<div *ngIf="asset.timeStart !== -2" class="asset-sub-clip md-caption">
        <strong>{{ 'COLLECTION.SHOW.SUB_CLIPPING_LABEL' | translate }} </strong>
        <div class="subclip-timeline">
          <span class="subclip-segment" [ngStyle]="calcSubClipSegments(asset)"></span>
        </div>
        <ul class="subclip-data" layout="row">
          <li flex-gt-sm="30" flex-gt-md="25" flex="35">
            <strong>{{ 'COLLECTION.SHOW.START_TIME_LABEL' | translate }} </strong>
            {{frame(asset.metadata[2].value, asset.timeStart - 0) | timecode}}
          </li>
          <li flex="none">
            <strong>{{ 'COLLECTION.SHOW.END_TIME_LABEL' | translate }} </strong>
            {{frame(asset.metadata[2].value, asset.timeEnd - 0) | timecode}}
          </li>
          <li flex="" layout-align="end center">
            <strong>{{ 'COLLECTION.SHOW.SUB_CLIP_LENGTH_LABEL' | translate }} </strong>
            {{frame(asset.metadata[2].value, asset.timeEnd - asset.timeStart) | timecode}}
          </li>
        </ul>
      </div>-->

    </div>
  </div>
</section>
