<section class="cart-asset">
  <div layout="column" layout-align="center stretch" layout-gt-sm="row" layout-align-gt-sm="center center">
    <div flex-gt-sm="50" flex="35">
      <div class="cart-asset-thb">
        <span class="asset-id">
          <span class="id">{{ asset.assetId }}</span>
        </span>
        <a [routerLink]="['/asset', asset.assetId, assetParams(asset)]"><img src="{{asset.thumbnailUrl}}"/></a>
      </div>
    </div>

    <div flex-gt-md="65" class="cart-asset-metadata">
      <table>
        <tr *ngFor="let meta of asset.metadata">
          <th class="md-body-1">{{ translationReady(meta.name) | uppercase | translate }}</th>
          <td class="md-caption">{{ meta.value | slice:0:80 }}</td>
        </tr>
      </table>
    </div>
  </div>
</section>
