<ul>
	<li 
		*ngFor="let lineItem of items; let i = index"
		class="cart-asset" 
		flex="100" 
		layout="row" 
		layout-xs="column">
		<div flex="100" flex-gt-xs="50">
			<cart-asset-component [asset]="lineItem.asset" (assetNotify)="delegate($event)"></cart-asset-component>
		</div>
		<div flex-gt-xs="30" layout-sm="100" flex="auto" class="delivery-format" layout-padding>
			<md-select placeholder="Delivery format/codec" *ngIf="lineItem.transcodeTargets && lineItem.transcodeTargets.length > 0" [(ngModel)]="targets[i]">
				<md-option *ngFor="let target of lineItem.transcodeTargets" [value]="target" (onSelect)="selectTarget(targets[i], target, lineItem)">{{ 'ASSET.TRANSCODE_TARGETS.' + target | translate }}</md-option>
			</md-select>
		</div>
		<div flex-gt-xs="20" layout-sm="100" flex="auto" class="actions" flex-order-xs="-3">
			<div class="tools" flex="100">
				<!--<button *ngIf="lineItem.rightsManaged" (click)="showPricingDialog(lineItem)" md-button class="mini is-outlined" type="button">Price</button>-->
				<button *ngIf="lineItem.rightsManaged" md-button color="primary" class="mini is-outlined" (click)="showPricingDialog(lineItem)" title="usage pricing">{{ 'CART.PROJECTS.EDIT_USAGE_BTN_LABEL' | translate }}</button>
				<button  md-icon-button (click)="remove(lineItem)" title="{{ 'CART.PROJECTS.REMOVE_ASSET_BTN_HOVER' | translate }}"><md-icon>remove_circle</md-icon></button>
				<!--<button *ngIf="lineItem.rightsManaged" md-icon-button (click)="showPricingDialog(lineItem)" title="usage pricing"><md-icon>data_usage</md-icon></button>-->
				<button md-icon-button [md-menu-trigger-for]="lineItemOptionsMenu" (click)="selectLineItem(lineItem)" title="{{ 'CART.PROJECTS.MORE_OPTIONS_BTN_HOVER' | translate }}"><md-icon>more_vert</md-icon></button>
			</div>
			<div flex="100" layout="row" layout-xs="column" class="divider"></div>
			<div class="price" [ngClass]="{'select-usage': lineItem.rightsManaged && !lineItem.attributes}">
				{{ lineItem.price | currency:'USD':true:'1.2-2' }}
			</div>
		</div>
	</li>
</ul>

<md-menu x-position="before" #lineItemOptionsMenu="mdMenu">
	<button md-menu-item (click)="clone(selectedLineItem)">
		<md-icon>control_point_duplicate</md-icon>{{ 'CART.PROJECTS.DUPLICATE_ASSET_BTN_LABEL' | translate }}
	</button>
	<div class="divider" *ngIf="otherProjects.length > 0"></div>
	<button md-menu-item *ngFor="let otherProject of otherProjects" (click)="moveTo(otherProject, selectedLineItem)">
    <md-icon>swap_vert_circle</md-icon>
    {{ 'CART.PROJECTS.MOVE_TO' | translate:{projectName: otherProject.name} | slice:0:28 }}
  </button>
	<div class="divider" *ngIf="userCan.createSubclips(selectedLineItem) && otherProjects.length > 0"></div>
	<button md-menu-item (click)="editMarkers(selectedLineItem)" *ngIf="userCan.createSubclips(selectedLineItem)">
		<md-icon>theaters</md-icon>
		<span>
			{{ (!selectedLineItem.timeStart ? 'COLLECTION.SHOW.ASSET_MORE_MENU.EDIT_SUBCLIPPING' : 'COLLECTION.SHOW.ASSET_MORE_MENU.ADD_SUBCLIPPING') | translate }}
		</span>
	</button>
</md-menu>
