<div class="line-items">
	<div *ngFor="let lineItem of items; let i = index" layout="row" layout-align="center center">
		<div class="line-item" flex-gt-sm="95">
			<div layout-gt-sm="row" layout="column" layout-align-gt-sm="space-between center" layout-align="space-around stretch">
				<div flex-gt-sm="65">
					<cart-asset-component [asset]="lineItem.asset" (assetNotify)="delegate($event)"></cart-asset-component>
				</div>
				<div flex-gt-sm="30" layout="row" layout-align="center center">
					<md-select *ngIf="lineItem.transcodeTargets && lineItem.transcodeTargets.length > 0" [(ngModel)]="targets[i]">
						<md-option *ngFor="let target of lineItem.transcodeTargets" [value]="target" (onSelect)="selectTarget(targets[i], target, lineItem)">{{ 'ASSET.TRANSCODE_TARGETS.' + target | translate }}</md-option>
					</md-select>
				</div>
				<div class="line-item-actions" flex-gt-sm="10">
					<div layout="row" layout-align="center center">
						<button md-icon-button (click)="showPricingDialog(lineItem)" title="usage pricing"><md-icon>attach_money</md-icon></button>
						<button md-icon-button (click)="clone(lineItem);" title="copy line item"><md-icon>content_copy</md-icon></button>
						<button md-icon-button (click)="remove(lineItem)" title="delete line item"><md-icon>clear</md-icon></button>
						<button md-button *ngIf="this.otherProjects.length === 1" (click)="moveTo(otherProjects[0], lineItem)">{{ 'CART.PROJECTS.MOVE_TO' | translate:{projectName: otherProjects[0].name} | slice:0:26 }}</button>
						<button *ngIf="this.otherProjects.length > 1" md-icon-button [md-menu-trigger-for]="lineItemOptionsMenu" (click)="selectLineItem(lineItem)"><md-icon>more_vert</md-icon></button>
						<button *ngIf="userCan.createSubclips(lineItem)"md-icon-button title="Edit asset" (click)="editMarkers(lineItem);">
              <md-icon>mode_edit</md-icon>
          </button>
						<p class="price"><strong>{{ lineItem.price | currency:'USD':true:'1.2-2' }}</strong></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<md-menu x-position="before" #lineItemOptionsMenu="mdMenu">
	<button md-menu-item *ngFor="let otherProject of otherProjects" (click)="moveTo(otherProject, selectedLineItem)">
    <md-icon>forward</md-icon>
    {{ 'CART.PROJECTS.MOVE_TO' | translate:{projectName: otherProject.name} | slice:0:26 }}
  </button>
</md-menu>
