section.project {
  background-color: md-color($md-primary, 500);
  @include md-elevation(2);
  @include text-contrast(md-color($md-primary, 500));
  height: rem(7);
  line-height: 4;
  div.project-info {
    button[md-icon-button] {
      float: left;
      margin-top: 10px;
    }
    ul {
      width: 100%;
      margin: 0;
      padding: 0;
      li {
        display: block;
        list-style-type: none;
        &:last-child {
          button {
            float: right;
          }
        }
      }
    }
  }
}

div.add-project-button {
  margin-top: rem(2);
}
