header.login.hero {
  overflow: hidden;
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding-top: 90px;
  @include background-image(
    url("resources/img/bktx_dgl_lines_light.png"),
    linear-gradient(rgba(darken(#37474F, 20%), 0.65), rgba(#000, 0.95)),
    url("resources/img/hero_meeting.jpg")
  );
  background-position: 0 0, 0 0, center center;
  background-repeat: repeat, no-repeat, no-repeat;
  background-size: auto, cover, cover;
  
  margin-bottom: 0;
  min-height: 1000px;
  h1 {
    color: rgba(darken(#444, 20%), 0.89)
  }
  md-card {
    min-width: 336px;
  }
}
