section.login.hero
  div(layout='row', layout-xs="column", md-scroll-y='', layout-align='start center', layout-padding='')
    div(flex='')
    div(flex-xl="30", flex-gt-lg="35",flex-gt-md="40", flex-gt-sm="55", flex-gt-xs="100", flex="100")
      md-card.md-whiteframe-z2
        md-card-header
          .logo-wrapper
            .logo
        md-card-title
          md-card-title-text(layout='column', layout-align='center center')
            span.md-headline Login To Your Account
        md-card-content
          form.md-inline-form(layout='column', [ngFormModel]="loginForm", (ngSubmit)="onSubmit(loginForm.value)" )
            md-content( layout-sm="row", layout-padding='')
              md-input-container.md-block.flex-gt-sm
                label Email
                input(autofocus='', md-input="", type='email', [ngFormControl]="loginForm.controls['userId']")
              md-input-container.md-block.flex-gt-sm
                label Password
                input(md-input="", type='password', [ngFormControl]="loginForm.controls['password']")
            md-card-actions(layout='column', layout-align='center center', layout-wrap='')  
              button.md-raised.md-primary.conversion(md-raised-button='', type='submit') Login
              
            div.md-body-2( layout="column", layout-align='center center')  
              a.md-primary(layout='row', flex='', md-button="", [routerLink]="['Register']") Forgot Your Password?
              
      div(md-theme="docs-dark", layout='column', layout-align='start center', layout-wrap='')
        span.md-title Don't have an account? #[a.md-accent(md-button="", [routerLink]="['Register']") Sign Up]
    div(flex='')

