<!-- there probably should be some kind of toggle for theater mode (dark background where preview is VS light)-->
<section layout="row" flex="" layout-align="center stretch" class="preview-bk theater">
  <div flex-xl="70" flex-gt-lg="80" flex-gt-md="90" flex="100" layout="row" layout-wrap="" layout-align="center stretch" layout-fill="">
    <player [clip]="assetDetail.common[5].value" flex-gt-sm="66" flex="100" layout="column" layout-fill="" class="responsive-video"></player>
    <div flex-gt-sm="33" flex="100" layout="column" layout-fill="">
      <header class="toolbar-actions">
        <nav class="asset-options" flex layout-align="end stretch">
          <button md-icon-button title="Sharing Options"><md-icon>share</md-icon></button>
          <button md-icon-button title="add to cart"><md-icon>shopping_cart</md-icon></button>
          <button md-icon-button title="Download Comp"><md-icon>file_download</md-icon></button>
          <button md-icon-button title="Add to Collection"><md-icon>library_add</md-icon></button>
          <button md-icon-button title="More"><md-icon>more_vert</md-icon></button>
        </nav>
      </header>
      <md-card flex="" layout="column" layout-fill="" class="primary-info">
        <md-card-content>
          <div flex="" layout="column" class="asset-name md-caption">{{assetDetail.common[5].value}}</div>
          <div layout="row" layout-wrap="">
            <div [ngClass]="{hd: assetDetail.primary[2].value == 'High Definition', sd: assetDetail.primary[2].value == 'Standard Definition'}"
              class="sd-hd" *ngIf='assetDetail.primary[2].value != null'>
            </div>
            <div flex="" class="rights md-caption">{{assetDetail.primary[3].value}}</div>
          </div>
          <div layout="row" layout-wrap="" *ngIf='assetDetail.primary[4].value != null'>
            <div flex="" class="restriction-banner">{{assetDetail.primary[4].value}}</div>
          </div>
          <h4 class="title-txt" *ngIf="assetDetail.primary[5].value != null">{{assetDetail.primary[5].value}}</h4>
          <h5 class="description-txt md-subhead">{{assetDetail.primary[6].value}}</h5>
          <md-card-actions layout="column" layout-align="center center" layout-wrap="">
            <md-button md-raised-button="" (click)="someFunction()" class="md-raised md-primary md-hue-7">Add to Cart</md-button>
            <md-button md-button="" (click)="someFunction()" class="is-outlined">Calculate Price</md-button>
          </md-card-actions>
        </md-card-content>
      </md-card>
    </div>
  </div>
</section>

<section class="data-bk">
  <div layout="row" md-scroll-y="" layout-align="center start">
    <div flex-xl="70" flex-gt-lg="80" flex-gt-md="90" flex="100" layout="row" layout-wrap="" layout-align="center start">
      <div md-will-be-tabs md-dynamic-height="" md-border-bottom="">
        <div *ngFor='let key of secondaryKeys' label="translationReady(secondaryMdata[key].name) | uppercase | translate">
          <header class="meta-data-header">
            {{translationReady(secondaryMdata[key].name) | uppercase | translate}}
          </header>
          <md-content class="md-padding">
            <div class="m-data" *ngFor='let sData of secondaryMdata[key].data; let i=index'>
              <div class="row" *ngFor='let m of sData.section'>
                <div class="cell">
                  <h5 class="md-subhead">{{translationReady(m.name) | uppercase | translate}}</h5>
                </div>
                <div class="cell">
                  <p class="md-body-1">{{m.value}}</p>
                </div>
              </div>
            </div>
          </md-content>
        </div>
      </div>



      <!--<md-tab-group>
        <md-tab *ngFor='let key of secondaryKeys' label="translationReady(secondaryMdata[key].name) | uppercase | translate">
          <template md-tab-label>{{translationReady(secondaryMdata[key].name) | uppercase | translate}}</template>
          <template md-tab-content>
            <div class="m-data" *ngFor='let sData of secondaryMdata[key].data; let i=index'>
              <div class="row" *ngFor='let m of sData.section'>
                <div class="cell">
                  <h5 class="md-subhead">{{translationReady(m.name) | uppercase | translate}}</h5>
                </div>
                <div class="cell">
                  <p class="md-body-1">{{m.value}}</p>
                </div>
              </div>
            </div>
          </template>
        </md-tab>
      </md-tab-group>-->
    </div>
  </div>
</section>

<!--this is the actual section that was working-->
<!--<section class="data-bk"> 
  <div layout="row" md-scroll-y="" layout-align="center start">
    <div flex-xl="70" flex-gt-lg="80" flex-gt-md="90" flex="100" layout="row" layout-wrap="" layout-align="center start">
      <md-tabs md-dynamic-height="" md-border-bottom="">
        <template md-tab *ngFor='let key of secondaryKeys' label="translationReady(secondaryMdata[key].name) | uppercase | translate">
          <md-content class="md-padding">
            <div class="m-data" *ngFor='let sData of secondaryMdata[key].data; let i=index'>
              <div class="row" *ngFor='let m of sData.section'>
                <div class="cell">
                  <h5 class="md-subhead">{{translationReady(m.name) | uppercase | translate}}</h5>
                </div>
                <div class="cell">
                  <p class="md-body-1">{{m.value}}</p>
                </div>
              </div>
          </div>
        </md-content>
      </template>
      </md-tabs>
    </div>
  </div>
</section>-->