wz-autocomplete-search {
  input { 
    color: mat-color($mat-foreground, secondary-text);
    background-color:  rgba(mat-color($mat-background, app-bar), .9);
    &::placeholder {
      color: mat-color($mat-foreground, hint-text);
    }
    &:focus {
      background-color: lighten(mat-color($mat-background, app-bar), 40%);
    }
  }
  button[type="submit"] {
    background-color: mat-color($mat-accent, 800, .95);
    &:hover {
      background-color: mat-color($mat-accent, 700, 1);
    }
    &[disabled] {
      background-color: mat-color($mat-accent, 800, .95);
    }
  }
}
// search box in the header
header.app-header {
  wz-autocomplete-search {
    form {
      background-color: mat-color($mat-background, app-bar);
    }
    button[type="submit"] {
      background-color: mat-color($mat-primary, 700, .45);
    }
  }
  button.filter-toggle {
    background-image:
      linear-gradient(mat-color($mat-primary, 800, .06), mat-color($mat-primary, 800, .06)),
      linear-gradient(rgba(mat-color($mat-foreground, base), .5), rgba(mat-color($mat-foreground, base), .5))
    ;
    @include text-contrast(mat-color($mat-foreground, base));
    &:hover {
      background-color: rgba(mat-color($mat-foreground, base), .55);
    }
  }
  button.close {
    md-icon.material-icons {
      @include text-contrast(mat-color($mat-background, background));
    }
  }
}
header.app-header.fixed {
  wz-autocomplete-search {
    button[type="submit"] md-icon.material-icons, button.filter-toggle {
      @include text-contrast(mat-color($mat-primary, 700), mat-color($mat-grey, 700), mat-color($mat-grey, 100));
    }
  }
}

