// asset-detail {
//   display: block;
//   background-color:  md-color($md-grey, 300);
//   border-top: rem(6.4) solid md-color($md-primary, 900, .9);
//   @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
//     border-top-width: rem(5.6);    
//   }
// }

section.preview-bk {
  overflow: hidden;
  width: 100%;
  position: relative;
  z-index: 2;
  padding-top: rem(6.5);
  padding-bottom: rem(9);

  &.theater {
    height: 100%;
    @include md-elevation(3);
    @include text-contrast(md-color($md-grey, 900));
    @include background-image(
      linear-gradient(md-color($md-grey, 900, .8), md-color($md-grey, 900, .7)),
      linear-gradient(md-color($md-primary, 900, .1), md-color($md-primary, 600, .1)),
      linear-gradient(md-color($md-grey, 900, .8), md-color($md-grey, 900, .7))
    );
    position: relative;
    &::after {
      content: " ";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height:100%;
      @include background-image(
        url("../assets/img/bk/tex/bktx_dgl_lines_light.png")
      );
      opacity: .3;
      z-index: 1;
    }
    & > div {
      z-index: 3;
    }
  }
  .preview {
    position: relative;
    height: 100%;
    width: 100%;
    
    &::before {
      content: " ";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba(md-color($md-grey, 50), 1);
      // @include background-image(linear-gradient(rgba(md-color($md-grey, 100),0.5), rgba(md-color($md-grey, 100),0.3) 80%));
      // opacity: 0.5;
      @include transition(opacity 1.5s cubic-bezier(0.55, 0, 0.55, 0.2));
      z-index: 1;
    }
  }
  .toolbar-actions {
    height: rem(5.6);
    nav.asset-options {
      display: flex;
      height: 100%;
      min-height: 100%;
      max-height: 100%;
      background-color: rgba(md-color($md-grey, 900),.4);
      padding-left: rem(.6);
      padding-right: rem(.6);
      padding-top: rem(1.2);
      button[md-icon-button] {
        @include text-contrast(md-color($md-grey, 900));
        height: 36px;
        width: 36px;
        padding: rem(.6);
        margin: rem(.3);
        @include transition(all .4s ease-in-out);
        span.md-button-wrapper {
          position: static;
          line-height: 1.9;
          font-size: inherit;
        }
        md-icon.material-icons {
          font-size: 22px;
        }
        &:hover {
          background-color: rgba(md-color($md-background, background),.08);
        }
      }
    }
  }
  md-card.primary-info {
    box-shadow: none;
    position: relative;
    @include calc(height, "100% - 56px");
    @include calc(min-height, "100% - 56px");
    // margin: 0 0 0 20px;
    @include text-contrast(md-color($md-grey, 900));
    background-color: rgba(md-color($md-grey, 900),.2);
    // background-color: transparent;
    z-index: 2;
    // &::before {
    //   content: " ";
    //   position: absolute;
    //   top: 0;
    //   bottom: 0;
    //   left: 0;
    //   width: 100%;
    //   background-color: rgba(md-color($md-grey, 100),0.3);
    //   @include background-image(linear-gradient(rgba(md-color($md-grey, 100),0.5), rgba(md-color($md-grey, 100),0.3) 80%));
    //   opacity: 0.1;
    //   @include transition(opacity 1.5s cubic-bezier(0.55, 0, 0.55, 0.2));
    //   z-index: -1;
    // }
    md-card-content {
      // padding: rem(2.5);
      // background-color: rgba(md-color($md-grey, 900),.2);
      // position: relative;
      // z-index: 1;
      // @include calc(height, "100% - 96px");
      .title-txt {
        margin-top: rem(1.2);
        margin-bottom: 0;
        font-size: 1.2em;
      }
      .description-txt {
        height: rem(12.1);
        overflow-y: scroll;
        margin-top: rem(1.2);
        margin-bottom: 0;
      }
      md-card-actions {
        @include calc(width, "100% - 48px");
        margin: 0;
        padding-left: rem(.8); 
        padding-right: rem(.8); 
        position: absolute;
        bottom: rem(1.5);
        md-button {
          width: 100%;
          margin-bottom: rem(.8);
          text-transform: uppercase;
          &.md-primary.md-hue-7 {
            background-color: scale-color(md-color($md-primary, 500), $lightness: -15%, $alpha: -50%);
            &:hover {
              background-color: scale-color(md-color($md-primary, 500), $lightness: 0%, $alpha: -40%);
            }
          }
          &.is-outlined {
            color: scale-color(md-color($md-grey, 50), $lightness: 0%, $alpha: -15%);
            border-color: scale-color(md-color($md-grey, 50), $lightness: 0%, $alpha: -40%);
          }
        }
      }
      .asset-name {
        margin-bottom: rem(.7);
      }
      .sd-hd {
        height: rem(2);
        width: rem(2.8);
        border-radius: rem(.3);
        border-width: 1px;
        border-style: solid;
        border-color: rgba(md-color($md-grey, 100),0.4);
        background-color: rgba(md-color($md-grey, 900),.8);
        position: relative;
        &::before {
          content: "HD";
          position: absolute;
          top: 50%;
          left: 50%;
          @include transform(translate(-50%, -50%));
          opacity: 0.8;
          font-size: .94em;
          font-weight: bold;
        }
      }
      .sd-hd.sd {
        width: rem(2.7);
        height: rem(1.8);
        border-radius: 50%;
        border-color: rgba(md-color($md-grey, 900), 0);
        background-color: rgba(md-color($md-grey, 100), .75);
        &::before {
          content: "SD";
          color:rgba(md-color($md-grey, 900),1);
          opacity: 0.9;
        }
      }
      .rights {
        padding-left: rem(1);
        padding-top: rem(.4);
        text-transform: uppercase;
      }
    }
  }
}

.data-bk {
  background-color: transparent !important;
  & > div > div {
    background: rgba(md-color($md-background, background),.7);
  }
  md-tab-group {
    min-width: 100%;
    & > div {
      margin-bottom: 0;
      margin-top: rem(3.6);
      margin-left: rem(3.6);
      margin-right: rem(3.6);
      &:last-child {
        margin-bottom: rem(4.6);
      }
    }
    .md-tab-header{
      background-color: md-color($md-background, card);
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
      text-transform: uppercase;
      border-width: 0 0 1px 0;
      border-style: solid; 
      border-color: rgba(md-color($md-grey, 400),.5);
      .md-tab-label {
        line-height: rem(5.6);
        height: rem(5.2);
        &:focus {
          background-color: rgba(md-color($md-primary, 300), .07);
        }
        &.md-active {
          opacity: 1;
          color: md-color($md-primary, 500);
        }
      }
      md-ink-bar {
        background-color: md-color($md-primary, 500);
      }
    }
    md-content {
      min-width: 100%;
      m-data {
        min-width: 100%;
      }
    }
  }
  h1:first-child {
    margin-top: 0;
  }
}
.m-data {
  text-align: left;
  overflow: hidden;
  padding: 0;
  background-color: rgba(md-color($md-grey, 100), 1);
  border-top: 1px solid rgba(md-color($md-grey, 400),.5);
  display: table;
  min-width: 100%;
  margin-top: rem(3.7);
  &:first-child {
    margin-top: 0;
  }
  & > .row {
    display: table-row;
    .cell {
      border-right: 1px solid rgba(md-color($md-grey, 400),.5);
      border-bottom: 1px solid rgba(md-color($md-grey, 400),.5);
      display: table-cell;
      padding: 10px 20px 10px 12px;
      vertical-align: top;
      p {
        margin: 0;
        line-height: 24px;
        opacity: .9;
      }
    }
    .cell:first-child {
      border-left: 1px solid rgba(md-color($md-grey, 400),.5);
      background: rgba(md-color($md-grey, 300),.6);
      text-align: right;
      white-space: nowrap;
      padding: 10px 12px 10px 40px;
      width: 33%;
      h5 {
        margin: 0;
      }
    }
  }
  & > .row.divider {
    background-color: md-color($md-grey, 100);
    .cell {
      padding: 18px 0;
      border-right-width: 0;
      &:first-child {
        border-left-width: 0;
        background: transparent;
      }
    }
  }
}

.responsive-video {
  // z-index: 1;
  background-color:  transparent;
  position: relative;
	height: auto;

}
