.wz-dialog md-card {
  z-index: 20;
  width: 33vw;
  &:hover {
    @include md-elevation(20);
  }
  .md-card {
    width: 100%;
  }
}
// .md-overlay-container {
//   background-color: rgba(md-color($md-foreground, base), .5);
//   opacity: 0;
//   @include transition($swift-ease-out);
//   width: 0;
//   height: 0;
//   position: absolute;
//   left: 0;
//   top: 0;
//   z-index: 4;
//   &.active {
//     opacity: 1;
//     width: 100%;
//     height: 100%;
//   }
// }


.md-overlay-container {
  z-index: 3;
  @include transition(background-color, 1400ms, $md-fast-out-slow-in-timing-function);
  &.active {
    position: fixed;
    @include background-image(
      url("../assets/img/bk/tex/bktx_dgl_lines_light.png"));
    background-color: rgba(md-color($md-foreground, base), .6);
  }
}

.wz-dialog-click-catcher {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(aquamarine, .3);
}