.wz-dialog md-card {
  z-index: 21;
  width: 33vw;
  &:hover {
    @include md-elevation(20);
  }
  .md-card {
    width: 100%;
  }
  md-card-title, md-card-subtitle, md-card-actions {
    padding: 12px 0;
  }
  .confirmation-buttons span.md-button-wrapper {
    color: #2196F3;
  }
}

.md-overlay-container {
  // z-index: 5;
  z-index: 19;
  @include transition(background-color, 1400ms, $md-fast-out-slow-in-timing-function);
  &.active {
    position: fixed;
    @include background-image(
      url("../assets/img/bk/tex/bktx_dgl_lines_light.png"));
    background-color: rgba(md-color($md-foreground, base), .6);
  }
}

.wz-dialog-click-catcher {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: -72px;
  left: -483px;
  z-index: 20;
  // for testing
  // background-color: rgba(aquamarine, .3);
  background-color: transparent;
}