section.admin-dashboard {
  background-color: #fff;
  .admin-dash-header {
    max-height: 74px;
    md-toolbar {
      min-height: 50px;
      height: 50px;
      margin-top: 64px;
      nav {
        height: 50px;
      }
    }
    admin-nav {
      margin-top: -64px;
    }
  }
  .admin-dash-user-info {
    margin-top: 75px;
    .md-table {
      margin: 0 5em 2.5em 5em;
      border: 1px solid rgb(230,230,230);
      min-width: 100%;
      border-collapse: collapse;
      tbody tr:hover, tbody tr:focus {
        background-color: rgb(230,230,230);
      }
      .md-table-header {
        border-right: 1px solid rgb(230, 230, 230);
        border-bottom: 1px solid rgb(230,230,230);
        color: rgb(130,130,130);
        text-align: left;
        font-size: 0.75em;
        font-weight: 700;
        padding: 6px 6px 6px 0;
      }
      .md-table-content {
        border-right: 1px solid rgb(230, 230, 230);
        white-space: nowrap;
        font-size: 0.8em;
        padding: 6px 6px 6px 6px;
        height: 40px;
      }
    }
  } 
}
