section.admin-dashboard
  section.admin-dash-header
    div(class="admin-nav" layout='row' md-scroll-y='', layout-align='center start')
      md-toolbar
        nav.md-toolbar-tools
          a.md-body-1.md-primary.md-hue-2([routerLink]="['Account']", title='Accounts for {{ currentUser.fullName() | async }}') Accounts
        
  section.admin-dash-user-info
    div(layout='row' md-scroll-y='', layout-align='center start')
      div(flex-xl="90",flex-gt-lg="80",flex-gt-md="90",flex="100")
        h1.md-display-1 Admin Dashboard - {{ currentUser.fullName() | async }}
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique vero repellat voluptatibus cumque asperiores numquam, harum odit voluptatem totam fugiat tempore quaerat hic eaque earum debitis, pariatur itaque ab facilis!    
        
  section.admin-dash-content
    div(layout='row' md-scroll-y='', layout-align='center start')
      div(flex-xl="90",flex-gt-lg="80",flex-gt-md="90",flex="100")
        h3.md-display-1 Recent Uploads
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt odit tenetur dignissimos hic nam cumque reprehenderit quibusdam dolores obcaecati optio, necessitatibus unde assumenda sequi porro error perspiciatis! Perspiciatis, a, neque!