.suggestions-menu {
  width: 100%;  
  transition: $swift-ease-out;
  height: auto;
  overflow-y: auto;
  position: absolute;
  z-index: 20;
  top: rem(6.6);
  display: none;
  .heading {
    margin: 0;
    padding-top: rem(1.1); 
    padding-right: 0; 
    padding-bottom: rem(.9); 
    padding-left: rem(1.0);
    opacity: .5;
    font-size: 1.1em;
  }
  &.revealed {
    display: block;
    @include mat-elevation(1);
    animation-name: open-menu;
    animation-duration: 120ms;
    animation-timing-function: $swift-ease-in-timing-function;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
  }
  .mat-list {
    padding-top: 0;
    overflow-x: hidden;
    .mat-list-item .mat-list-item-content {
      padding: 0;
      height: rem(4.2);
      button {
        height: rem(4.2);
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
        border: none;
        text-align: left;
        background: none;
        background-color: transparent;
        font-size: 1.1em;
        line-height: inherit;
        transition: $swift-ease-out;
        padding-left: rem(1.6);
        padding-right: rem(1.6);
        // box-shadow: inset 0 1px 0 0 mat-color($foreground, divider);
        &:hover, &:focus, &.active {
          cursor: pointer;
          outline: none;
        }
      }
    }
    md-list-item.focused .mat-list-item button {
      md-icon {
        opacity: 1;
      }
      &:hover {
        cursor: default;
      }
    }
    md-list-item:first-child .mat-list-item button {
      box-shadow: none;
    }
  }
}

@keyframes open-menu {
  0% {
    max-height: 0;
    min-height: 0;
    overflow: hidden;
  }
  100% {
    max-height: rem(44.1);
  }
}
