license-agreement-component .wz-dialog.license-agreements {
  min-width: 100%;
  padding: 7px 10px 12px;
  .mat-tab-label {
    text-transform: uppercase;
  }
  .mat-tab-header {
    border-bottom-width: 0; 
  }
  .mat-dialog-content {
    margin: 0;
    padding: 0;
    border-width: 1px 0 0 0;
    border-style: solid;
  }
  .license.legal-txt {
    font-size: .85em;
    line-height: 1.3;
    padding: 20px;
  }
}
.mat-dialog-container .wz-dialog.license-agreements [md-dialog-title] {
  text-align: left;
}
