<section class="header" layout="row" layout-align="center center">
	<header flex="100" flex-gt-sm="95" flex-gt-md="85" flex-gt-lg="80">
    <div flex="100" layout="row">
      <div 
        flex-gt-lg="35" 
        flex-gt-md="40" 
        flex-md="55" 
        flex-gt-sm="60" 
        flex-gt-xs="80" 
        flex="100" 
        layout="row" 
        layout-align="space-between end">
        <h2 flex="grow" class="md-display-1">{{ 'QUOTE.CREATE_HEADER' | translate }}</h2>
        <span class="bulk-order" flex="nogrow" *ngIf="quoteEditService.hasProperty('bulkOrderId') | async">
          <span>{{ 'QUOTE.BULK_ORDER_NAME' | translate }}</span> {{quoteEditService.hasProperty('bulkOrderId') | async}}
        </span>
      </div>
      <div class="tools" flex="auto" layout-align="end center">
        <button md-icon-button color="primary" [md-menu-trigger-for]="quoteOptionsMenu" title="{{ 'QUOTE.MORE_OPTIONS_TITLE' | translate }}">
          <md-icon>more_vert</md-icon>
        </button>
      </div>
      <md-menu x-position="before" #quoteOptionsMenu="mdMenu">
        <button md-menu-item (click)="addBulkOrderId()">
          <md-icon>bookmark_border</md-icon>{{ bulkOrderIdActionLabel() | translate }}
        </button>
        <button md-menu-item (click)="editDiscount()">
          <md-icon>monetization_on</md-icon>{{ discountActionLabel() | translate }}
        </button>
      </md-menu>
		</div>
	</header>
</section>

<section class="tabs-section quote-section">
  <div layout="row" flex="100" layout-align="center start">
    <div flex="100" flex-gt-sm="95" flex-gt-md="85" flex-gt-lg="80">
      <div class="quote-wrapper">
        <div flex>
          <div 
            flex-gt-lg="20" 
            flex-gt-md="25" 
            flex-md="30" 
            flex-gt-sm="40" 
            flex-gt-xs="45" 
            flex="100" 
            layout="row" 
            layout-align="start">
            <quote-purchase-type-component flex="100" (selectQuoteType)="onSelectQuoteType($event)">
            </quote-purchase-type-component>
          </div>

          <projects-component
            [quoteType]="quoteType"
            [projects]="quoteEditService.projects | async"
            [config]="config" 
            [userCan]="userCan"
            [includeFees]="true"
            (projectsNotify)="onNotification($event)">
          </projects-component>

          <section class="cart-total" layout="row" layout-align="center center">
            <div flex="100">
              <div *ngIf="showDiscount()" flex="100" layout="row" layout-align="end center" class="subtotal md-headline">
                <span class="total-label" flex="100">
                  {{ 'CART.CART_SUBTOTAL' | translate }} 
                </span>
                <span class="total-amount" flex="nogrow">
                  {{ quoteEditService.subTotal | async | currency:'USD':true:'1.2-2' }}
                </span>
              </div>
              <div *ngIf="showDiscount()" flex="100" layout="row" layout-align="end center" class="discount md-headline">
                <span class="total-label" flex="100">
                  {{ 'CART.CART_DISCOUNT' | translate }} 
                </span>
                <span class="total-amount" flex="nogrow">{{ quoteEditService.hasProperty('discount') | async }}</span>
              </div>
              <div *ngIf="quoteType !== 'ProvisionalOrder'" flex="100" layout="row" layout-align="end center" class="total md-headline">
                <span class="total-label" flex="100">
                  {{ 'CART.CART_TOTAL' | translate }} 
                </span>
                <span class="total-amount" flex="nogrow">
                  {{ quoteEditService.total | async | currency:'USD':true:'1.2-2' }}
                </span>
              </div>
              <div flex="100" layout="row" layout-align="center center">
                <administer-quote-component
                  flex="100"
                  [cart]="cart | async"
                  [userCanProceed]="userCanProceed"
                  (openQuoteDialog)="onNotification({type: 'OPEN_QUOTE_DIALOG'})">
                </administer-quote-component>
              </div>
              <div flex="100" layout="row" layout-align="end center" class='select-usage-warn' *ngIf="!userCanProceed">
                {{ 'CART.SELECT_USAGE_WARN' | translate }}
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>

