.row
  h3 Register
  form.login(method='post', #f="ngForm", (ngSubmit)="onSubmit(f.value)")
    .input-field.col.s6
      input(type='text', name='name', value='', placeholder='First Name', ngControl="firstName")
    .input-field.col.s6
      input(type='text', name='name', value='', placeholder='Last Name', ngControl="lastName")
    .input-field.col.s6
      input(type='text', name='name', value='', placeholder='Street', ngControl="street")
    .input-field.col.s6
      input(type='text', name='name', value='', placeholder='State', ngControl="state")
    .input-field.col.s6
      input(type='text', name='name', value='', placeholder='City', ngControl="city")
    .input-field.col.s6
      input(type='text', name='name', value='', placeholder='Zip code', ngControl="zipCode")
    .input-field.col.s6
      input(type='password', name='name', value='', placeholder='Password', ngControl="password")
    .input-field.col.s12
      button.waves-effect.waves-light.btn(type='submit') Register

