wz-asset-list {
  width: 100%;
  display: block;
}
wz-asset-list ul.asset-list-view {
  list-style: none;
  margin: rem(1.0) 0 rem(1.8) 0;
  padding: 0;
  & > li {
    position: relative;
    background-color: rgba(md-color($background, card), .65);
    color: rgba(md-color($foreground, text), .7);
    margin-bottom: rem(1.2);
    padding: rem(.2);
    border-radius: $md-button-border-radius;
    @include transition($swift-ease-out);
    .actions {
      min-height: rem(4.5);
      position: relative;
      @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
        padding-top: rem(.4);
      }
    }
    .tools {
      text-align: right;
    }
    .asset-name {
      // position: absolute;
      // top: -12px;
      // left: 1px;
      font-size: rem(1.1);
    //   line-height: rem(1.1);
    //   @include transition($swift-ease-out);
    //   @include text-contrast(md-color($md-background, app-bar));
      opacity: .7;
    }
    span {
      // display: block;
      // position: absolute;
      // font-size: rem(1.2);
      // line-height: rem(1.55);
      &.mdata-0 {
        display: none;
      }
      &.mdata-2 {
        font-size: rem(1.2);
        line-height: rem(1.55);
        position: absolute;
        height: 30px;
        width: 40px;
        top: 3px;
        right: 3px;
        z-index: 1;
        .sd-hd {
          color: transparent;
          top: 0;
          right: 0;
          &::before {
            content: "HD";
            // border-radius: rem(.2);
            border-width: rem(.144);
            border-style: solid;
            border-color: rgba(md-color($md-grey, 100),0.5);
            color: rgba(md-color($md-grey, 100),0.7);
            position: absolute;
            top: rem(.1);
            right: rem(.1);
            font-size: 1.1em;
            font-weight: bold;
            padding: 0 2px 0 3px;
          }
        }
        .sd-hd.sd, .sd-hd.dv {
          &::before {
            display: none;
          }
        }
      }
      &.mdata-3 {
        // display: block;
        position: absolute;
        font-size: rem(1.2);
        line-height: rem(1.55);
        bottom: 0;
        right: 0;
        padding: 0 1% 1% 0;
        @include text-contrast(md-color($md-foreground, base));
        @include transition($swift-ease-out);
        z-index: 1;
        span {
          line-height: 1;
          position: relative;
        }
      }
      &.mdata-4 {
        font-size: rem(1.2);
        line-height: rem(1.55);
        position: absolute;
        height: 30px;
        width: 40px;
        top: 3px;
        right: 3px;
        z-index: 1;
        .image {
          color: transparent;
          top: 0;
          right: 0;
          &::before {
            content: "\e412";
            font-family: 'Material Icons';
            color: rgba(md-color($md-grey, 100),0.4);
            position: absolute;
            top: rem(.3);
            right: rem(-.2);
            font-size: 1.86em;
          }
        }
      }
    }
    .asset-thb {
      display: block;
      height: 0;
      width: 100%;
      position: relative;
      padding: 56.25% 0 0 0;
      position: relative;
      background: #000;
      img {
        position: absolute;
        display: block;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
}

.wz-speedview {
  padding: rem(1.2) rem(1.2) rem(1) rem(1.2);
  @include md-elevation(2);
  background-color: md-color($background, card);
  div.image-bg {
    width: 400px;
    height: 225px;
    position: relative;
    @include background-image(
      linear-gradient(rgba(md-color($md-grey, 900),1), rgba(md-color($md-grey, 900),.6)),
      linear-gradient(rgba(md-color($md-grey, 900),.5), rgba(md-color($md-grey, 900),1))
    );
    img.image-speedview {
      position: absolute;
      display: block;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
  img.tbn_missing {
    width: 100%;
  }
  .info {
    min-height: rem(5.5);
    min-width: 100%;
    padding: rem(.7) rem(.1) 0;
    position: relative;
    .metadata {
      ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
        li {
          font-size: .75em;
          line-height: 1.48;
          opacity: .75;
        }
      }
    }
    .price-info {
      opacity: .75;
      text-align: right;
      p {
        margin: 0;
      }
      .clip-rights {
        font-size: 0.875em;
      }
      .price {
        position: absolute;
        bottom: rem(-.1);
        right: rem(.1);
        font-size: 1.87em;
        font-weight: 400;
        line-height: 1;
        &::first-letter {
          font-size: .6em;
          font-weight: 200;
          vertical-align: top;
        }
      }
    }
  }
}
