register-component {
  md-card.registration-confirm {
    .email {
      color:  mat-color($mat-primary, default);
    }
  }
}

// terms agreement
.mat-dialog-container .wz-dialog.terms-dialog {
  .content {
    border: 1px solid mat-color($mat-foreground, divider); 
    color: rgba(mat-color($mat-foreground, text),.7);
  }
}
