register-component {
  md-card.registration-confirm {
    padding: rem(4.2);
    margin-top:rem(4.2);
    .email {
      display: block;
      color:  md-color($md-primary, 600);
      font-weight: 500;
      margin-top: rem(-.4);
      margin-bottom: rem(.8);
    }
  }
  // this can go away once ng2 material supports themes
  .md-accent[md-button] {
    color: md-color($md-accent, 400); 
  }
}