register-component {
  md-card.wz-form-card {
    md-card-content {
      button.terms-button {
        position: absolute;
        top: rem(38);
        right: rem(6);
      }
    }
  }
  md-card.registration-confirm {
    padding: rem(4.2);
    margin-top:rem(4.2);
    .email {
      display: block;
      color:  md-color($md-primary, default);
      font-weight: 500;
      margin-top: rem(-.4);
      margin-bottom: rem(.8);
    }
  }
}

// terms agreement
.md-dialog-container .wz-dialog.terms-dialog {
  padding: rem(.4) rem(.8) rem(.6);
  width: rem(50.0);
  height: 70vh;
  @media screen and (max-width: $layout-breakpoint-xs) and (orientation: portrait)  {
    width: 100%;
  }
  .content {
    font-size: .84em;
    padding: 0 rem(1.4);
    border: 1px solid md-color($md-foreground, divider); 
    overflow-y: scroll;
    height: calc(100% - 114px);
    margin-bottom: rem(2.2);
    color: rgba(md-color($md-foreground, text),.7);
  }
  .terms-actions button.md-primary {
    width: 66%;
  }
}
