<wz-player [window]="window" [asset]="asset" [mode]="'advanced'" (stateUpdate)="onStateUpdate($event)"></wz-player>
<ng-container *ngIf="assetIsVideo() && (playerStateService.state | async).canSupportCustomControls">
  <wz-scrubber
    layout="row"
    [window]="window"
    [playerState]="playerStateService.state | async"
    (request)="handle($event)">
  </wz-scrubber>
  <wz-player-controlbar class="tool-bar" layout="row" 
    [playerState]="playerStateService.state | async" 
    (request)="handle($event)">
  </wz-player-controlbar>
  <wz-subclip-controlbar class="tool-bar" layout="row" 
    [playerState]="playerStateService.state | async" 
    [displayAllControls]="displayAllControls"
    (request)="handle($event)">
  </wz-subclip-controlbar>
</ng-container>
