wz-advanced-player {
  color: white;
  .jwplayer:focus, video:focus {outline:0;}
  .tool-bar {
    background-color: lighten(md-color($foreground, base), 21%);
    border-top: 1px solid lighten(md-color($foreground, base), 27%);
    section {
      padding: 0 rem(.5);
    }
    nav {
      text-align: right;
    }
  }
  player-controlbar.tool-bar {
    position: relative;
    border-top-width: 0;
  }
  .timecode {
    display: inline-flex;
    background-color: rgba(md-color($foreground, base), .16);
    font-size: rem(1.25);
    padding: rem(.5);
    border: 1px solid rgba(md-color($foreground, base), .04);
    min-width: rem(6.7);
    min-height: rem(1.3);
    vertical-align: middle;
    text-align: center;
    margin-bottom: rem(.1);
    &.duration  {
      background-color: transparent;
      border-color: transparent;
      opacity: .8;
      padding-left: 0;
      min-width: rem(5.9);
    }
    &.divider  {
      background-color: transparent;
      border-color: transparent;
      opacity: .75;
      padding: rem(.5) 0;
      min-width: 0;
    }
  }
  [md-button].is-outlined {
    background-color: rgba(md-color($background, background), 0.07);
    border-color: rgba(md-color($background, background), 0.18);
    line-height: rem(2.3);
    min-width: rem(4.4);
    padding: 0 rem(.7);
    height: rem(2.5);
    vertical-align: middle;

    &[disabled] {
      color: rgba(md-color($background, background), 0.87);
    }
  }

  $md-icon-button-width: rem(3.4);
  $md-icon-button-height: $md-icon-button-width;

  [md-icon-button] {
    line-height: $md-icon-button-height;
    height: $md-icon-button-height;
    width: $md-icon-button-width;
    md-icon {
      color: rgba(md-color($background, background), 0.87);
      line-height: rem(2.1);
      height: rem(2.3);
      width: rem(2.3);
      &.material-icons {
        font-size: rem(2.3);
      }
    }
    &.seek-out md-icon {
      transform: rotate(180deg);
      line-height: rem(2.5);
    }
  }
  button[disabled] {
    opacity: .2;
  }
  .step-playback {
    margin-left: rem(.8);
    [md-icon-button] {
      line-height: rem(3.1);
      height: rem(3.1);
      width: rem(3.1);
      margin: 0 rem(.1);
      md-icon {
        color: rgba(md-color($background, background), 0.87);
        line-height: rem(1.4);
        height: rem(1.6);
        width: rem(3.6);
        margin-left: rem(.3);
        position: relative;
        &.material-icons {
          font-size: rem(1.6);
        }
        &::before {
          content: "5s";
          font-family: $md-font-family;
          font-size: rem(1.1);
          line-height: rem(1.5);
          font-weight: 100;
          position: absolute;
          margin-left: rem(-0.9);
        }
        &.one-frame::before {
          content: "1f";
        }
        &.one-second::before {
          content: "1s";
        }
      }
      &.reverse md-icon {
        transform: rotate(180deg);
        margin-left: rem(-1.4);
        line-height: rem(1.8);
        &::before {
          transform: rotate(180deg);
          line-height: rem(1.6);
        }
        &.one-frame::before {
          margin-left: rem(-0.8);
        }
      } 
    } 
  }
  $scrubber-slider-height: rem(1.0);
  $thumb-width: rem(0.3);
  $scrubber-thumb-height: $scrubber-slider-height;

  $marker-slider-height: 0;
  $marker-thumb-height: $thumb-width;
  scrub-ber {
    position: relative;
    text-align: center;
    width: 100%;
    height: $scrubber-slider-height;
    background-color: transparent;
  }

  md-slider.md-slider-horizontal {
    width: 100%;
    padding: 0;
    vertical-align: top;
    background-color: lighten(md-color($foreground, base), 38%);

    .md-slider-track {
      width: calc(100% - #{$thumb-width});
      top: 0;
      left: 0;
      right: 0;
      background-color: lighten(md-color($foreground, base), 38%);
      opacity: .9;
      cursor: pointer;
    }

    .md-slider-track-fill {
      height: $scrubber-slider-height;
      background-color: lighten(md-color($background, background), 0%);
      transition: none;
    }

    .md-slider-thumb-container {
      position: relative;
      top: 0;
      transition: none;
    }

    .md-slider-thumb {
      width: $thumb-width;
      top: 0;
      right: -$thumb-width;
      border-radius: 0;
      transform: none;
      transition: none;
    }

    .md-slider-ticks-container {
      display: none;
    }

    &.scrubber {
      height: $scrubber-slider-height;

      .md-slider-track {
        height: $scrubber-slider-height;
      }

      .md-slider-track-fill {
        height: $scrubber-slider-height;
      }

      .md-slider-thumb {
        height: $scrubber-thumb-height;
        background-color: lighten(md-color($foreground, text), 5%);
      }
    }

    &.marker {
      position: absolute;
      height: $marker-slider-height;

      .md-slider-track {
        height: $marker-slider-height;
      }

      .md-slider-track-fill {
        height: $marker-slider-height;
      }

      .md-slider-thumb {
        height: $marker-thumb-height;
        background-color: md-color($accent, darker);
      }

      &.in {
        top: 0;
      }

      &.out {
        top: $scrubber-slider-height - $marker-thumb-height;
      }
    }
  }
  .hover-frame-display {
    position: absolute;
    top: rem(-7);
    border-radius: $md-button-border-radius;
    background-color: rgba(md-color($foreground, base), .5);
    font-size: rem(1.1);
    line-height: 1;
    padding: rem(.8) rem(1.0);
  }

  $volume-control-width: $md-icon-button-width;
  $volume-control-border-width: rem(0.1);
  $volume-control-height: rem(15);
  $volume-control-slider-height: $volume-control-height - $md-icon-button-height;
  $volume-control-slider-color: rgba(md-color($background, background), 0.87);

  .volume-control {
    position: absolute;
    background-color: lighten(md-color($foreground, base), 21%);
    border: $volume-control-border-width solid lighten(md-color($foreground, base), 27%);
    border-bottom: none;
    width: $volume-control-width;
    height: $volume-control-height;
    bottom: 0;
    right: 0;

    button {
      position: absolute;
      bottom: 0;
      right: -$volume-control-border-width;
    }

    .md-slider-vertical {
      position: absolute;
      width: $volume-control-width;
      height: $volume-control-slider-height;
      min-height: $volume-control-slider-height;
      padding: rem(1) 0 rem(2) 0;
      left: 0;
      top: 0;

      .md-slider-ticks-container {
        display: none;
      }

      .md-slider-track {
        position: relative;
        height: 100%;
        left: 0;
        margin: 0 auto;
        background-color: $volume-control-slider-color;
        cursor: pointer;
      }

      .md-slider-track-fill {
        background-color: $volume-control-slider-color;
      }

      .md-slider-thumb {
        height: rem(1);
        width: rem(1);
        right: rem(-0.5);
        bottom: rem(-0.5);
        transform: none;
        background-color: $volume-control-slider-color;
      }
    }
  }
}
