wz-advanced-player {
  color: white;
  .jwplayer:focus, video:focus {outline:0;}
  .tool-bar {
    background-color: lighten(md-color($foreground, base), 21%);
    border-top: 1px solid lighten(md-color($foreground, base), 27%);
    section {
      padding: 0 rem(.5);
    }
    nav {
      text-align: right;
    }
  }
  .timecode {
    display: inline-flex;
    background-color: rgba(md-color($foreground, base), .16);
    font-size: rem(1.25);
    padding: rem(.5);
    border: 1px solid rgba(md-color($foreground, base), .04);
    min-width: rem(6.7);
    min-height: rem(1.3);
    vertical-align: middle;
    text-align: center;
    margin-bottom: rem(.1);
    &.duration  {
      background-color: transparent;
      border-color: transparent;
      opacity: .8;
      padding-left: 0;
      min-width: rem(5.9);
    }
    &.divider  {
      background-color: transparent;
      border-color: transparent;
      opacity: .75;
      padding: rem(.5) 0;
      min-width: 0;
    }
  }
  [md-button].is-outlined {
    background-color: rgba(md-color($background, background), 0.07);
    border-color: rgba(md-color($background, background), 0.18);
    line-height: rem(2.3);
    min-width: rem(4.4);
    padding: 0 rem(.7);
    height: rem(2.5);
    vertical-align: middle;

    &[disabled] {
      color: rgba(md-color($background, background), 0.87);
    }
  }

  $md-icon-button-width: rem(3.4);
  $md-icon-button-height: $md-icon-button-width;

  [md-icon-button] {
    line-height: $md-icon-button-height;
    height: $md-icon-button-height;
    width: $md-icon-button-width;
    md-icon {
      color: rgba(md-color($background, background), 0.87);
      line-height: rem(2.1);
      height: rem(2.3);
      width: rem(2.3);
      &.material-icons {
        font-size: rem(2.3);
      }
    }
    &.seek-out md-icon {
      transform: rotate(180deg);
      line-height: rem(2.5);
    }
  }
  button[disabled] {
    opacity: .2;
  }
}
@import './controlbars/player-controlbar';
@import './controls/scrubber';
