wz-advanced-player {
  .jwplayer:focus, video:focus {outline:0;}
  .tool-bar {
    background-color: lighten(md-color($foreground, base), 21%);
    border-top: 1px solid lighten(md-color($foreground, base), 27%);
    section {
      padding: 0 rem(.5);
    }
    nav {
      text-align: right;
    }
  }
  .timecode {
    display: inline-flex;
    background-color: rgba(md-color($foreground, base), .16);
    font-size: rem(1.25);
    padding: rem(.5);
    border: 1px solid rgba(md-color($foreground, base), .04);
    min-width: rem(6.7);
    min-height: rem(1.3);
    vertical-align: middle;
    text-align: center;
    margin-bottom: rem(.1);
    &.duration  {
      background-color: transparent;
      border-color: transparent;
      opacity: .8;
      padding-left: 0;
      min-width: rem(5.9);
    }
    &.divider  {
      background-color: transparent;
      border-color: transparent;
      opacity: .75;
      padding: rem(.5) 0;
      min-width: 0;
    }
  }

  [md-button].is-outlined {
    background-color: rgba(md-color($background, background), 0.07);
    border-color: rgba(md-color($background, background), 0.18);
    line-height: rem(2.3);
    min-width: rem(4.4);
    padding: 0 rem(.7);
    height: rem(2.5);
    vertical-align: middle;
  }

  [md-icon-button] {
    line-height: rem(3.4);
    height: rem(3.4);
    width: rem(3.4);
    md-icon {
      color: rgba(md-color($background, background), 0.87);
      line-height: rem(2.1);
      height: rem(2.3);
      width: rem(2.3);
      &.material-icons {
        font-size: rem(2.3);
      }
    }
    &.seek-out md-icon {
      @include transform(rotate(180deg));
      line-height: rem(2.5);
    }
  }
  button[disabled] {
    opacity: .2;
  }
  .step-playback {
    margin-left: rem(.8);
    [md-icon-button] {
      line-height: rem(3.1);
      height: rem(3.1);
      width: rem(3.1);
      margin: 0 rem(.1);
      md-icon {
        color: rgba(md-color($background, background), 0.87);
        line-height: rem(1.4);
        height: rem(1.6);
        width: rem(3.6);
        margin-left: rem(.3);
        position: relative;
        &.material-icons {
          font-size: rem(1.6);
        }
        &::before {
          content: "5s";
          font-family: $md-font-family;
          font-size: rem(1.1);
          line-height: rem(1.5);
          font-weight: 100;
          position: absolute;
          margin-left: rem(-0.9);
        }
        &.one-frame::before {
          content: "1f";
        }
        &.one-second::before {
          content: "1s";
        }
      }
      &.reverse md-icon {
        @include transform(rotate(180deg));
        margin-left: rem(-1.4);
        line-height: rem(1.8);
        &::before {
          @include transform(rotate(180deg));
          line-height: rem(1.6);
        }
        &.one-frame::before {
          margin-left: rem(-0.8);
        }
      } 
    } 
  }
}
