<wz-player [window]="window" [asset]="asset" [mode]="'advanced'" (stateUpdate)="onStateUpdate($event)"></wz-player>
<ng-container *ngIf="assetIsVideo() && (playerStateService.state | async).canSupportCustomControls">
  <player-controlbar class="tool-bar" layout="row" 
    [playerState]="playerStateService.state | async" 
    (request)="handle($event)">
  </player-controlbar>
  <subclip-controlbar class="tool-bar" layout="row" 
    [playerState]="playerStateService.state | async" 
    (request)="handle($event)"
    [displayContext]="displayContext">
  </subclip-controlbar>
  <subclip-edit-actions *ngIf="displayContext =='subClipEditDialog'" layout="row" layout-align="end center"
    [hasStoredMarkers]="asset.timeStart != undefined"
    [dialog]="dialog"
    [playerState]="playerStateService.state | async" 
    (request)="handle($event)">
  </subclip-edit-actions>
</ng-container>
