admin-edit {
  animation-name: dialog;
  animation-duration: .25s;
  animation-timing-function: linear;
  width: 100%;
  position: fixed;
  top: 100px;
  z-index: 10000;
  md-card.wz-form-card {
    -webkit-box-shadow: 5px 5px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 5px 5px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 5px 5px 24px -1px rgba(56, 56, 56, 1);
  }
}

@keyframes dialog {
  0% {
    margin-top: -600px;
  }
  100% {
    margin-top: 0px;
  }
}