order-show-component {
  section.header {
    padding-left: rem(.4);
    padding-right: rem(.4);
    header {
      padding-top: rem(.6);
      padding-bottom: rem(.5);
      position: relative;
      .md-display-1 {
        margin: 0;
        width: calc(100% - 120px);
        font-size: rem(2.6);
      }
      .tools {
        text-align: right;
      }
    }
  }
  section.project {
    padding-bottom: rem(6.0);
  }
}
order-show-component .project .assets,
order-show-component .project .fees {
  padding: 0 rem(1.2) rem(1.2) rem(1.2);
  display: flex;
}
order-show-component .project .fees {
  padding-bottom: 0;
}
order-show-component .project .fees .amount,
order-show-component .project .assets .price {
  position: absolute;
  bottom: 4px;
  right: 8px;
}
order-show-component .project li.fee-item > div > div > div  {
  padding-right: 0;
  .fee-indicator {
    margin-right: -1px;
    @media screen and (max-width: $layout-breakpoint-xs)  {
      margin-right: 8px;
    }
  }
  & + div {
    padding-left: 16px;
  }
}
order-show-component .project li.cart-asset .tools {
  @media screen and (max-width: $layout-breakpoint-xs)  {
    text-align: left;
    min-height: 72px;
  }
}
.order-summary {
  padding-left: rem(.4);
  padding-right: rem(.4);
  .details {
    opacity: .7;
    margin: rem(1.8) 0 rem(.7) 0;
  }
  .order-info {
    line-height: 1.4;
    & > span {
      display: flex;
      strong {
        padding-right: rem(.5);
      }
    }
    a.indicate-refund {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      } 
    }
  }
}
