order-show-component {
  section.header {
    padding-left: rem(.4);
    padding-right: rem(.4);
    header {
      padding-top: rem(.6);
      padding-bottom: rem(.5);
      position: relative;
      .md-display-1 {
        margin: 0;
        width: calc(100% - 120px);
        font-size: rem(2.6);
      }
      .tools {
        text-align: right;
      }
    }
  } 
}
order-show-component .project .assets {
  padding: 0 rem(1.2) rem(1.2) rem(1.2);
  display: flex;
}
.order-summary {
  padding-left: rem(.4);
  padding-right: rem(.4);
  .details {
    opacity: .7;
    margin: rem(1.8) 0 rem(.7) 0;
  }
  .order-info {
    line-height: 1.4;
    & > span {
      display: flex;
      strong {
        padding-right: rem(.5);
      }
    }
    a.indicate-refund {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      } 
    }
  }
}
