order-show-component {
  .indicate-refund {
    color: mat-color($mat-warn);
  }
  section.header {
    color: mat-color($primary, default);
    padding-left: rem(.4);
    padding-right: rem(.4);
    box-shadow: inset 0 -1px 0 0 mat-color($mat-foreground, divider), 0 1px 0 0 rgba(mat-color($mat-background, card), .6);
    header {
      padding-top: rem(.6);
      padding-bottom: rem(.5);
      position: relative;
      .md-display-1 {
        margin: 0;
        width: calc(100% - 120px);
        font-size: rem(2.6);
        &.alert {
          color: mat-color($warn, darker);
        }
      }
      .tools {
        text-align: right;
      }
    }
  } 
}
order-show-component .project .assets,
order-show-component .project .fees {
  padding: 0 rem(1.2) rem(1.2) rem(1.2);
  display: flex;
}
order-show-component .project .fees {
  padding-bottom: 0;
}
.order-summary {
  padding-left: rem(.4);
  padding-right: rem(.4);
  .details {
    opacity: .7;
    margin: rem(1.8) 0 rem(.7) 0;
  }
  .order-info {
    line-height: 1.4;
    & > span {
      display: flex;
      strong {
        padding-right: rem(.5);
      }
    }
    a.indicate-refund {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      } 
    }
  }
}
