order-show-component {
  section.header {
    padding-left: 4px;
    padding-right: 4px;
    header {
      padding-top: 6px;
      padding-bottom: 5px;
      position: relative;
      .mat-display-1 {
        margin: 0;
        width: calc(100% - 120px);
        font-size: 26px;
      }
      .tools {
        text-align: right;
      }
    }
  }
  section.project {
    padding-bottom: 60px;
  }
}
order-show-component .project .assets,
order-show-component .project .fees {
  padding: 0 12px 12px 12px;
  display: flex;
}
order-show-component .project .fees {
  padding-bottom: 0;
}
order-show-component .project .fees .amount,
order-show-component .project .assets .price {
  position: absolute;
  bottom: 4px;
  right: 8px;
}
order-show-component .project li.fee-item > div > div > div  {
  padding-right: 0;
  .fee-indicator {
    margin-right: -1px;
    @media screen and (max-width: $layout-breakpoint-xs)  {
      margin-right: 8px;
    }
  }
  & + div {
    padding-left: 16px;
  }
}
order-show-component {
  .payment-balance {
    display: block;
    margin-top: -5px;
    text-align: right;
    .payment-balance-amount {
      font-size: 12px;
      display: block;
      height: 20px;
      span {
        font-weight: bold;
        min-width: 130px;
        display: inline-block;
      }
    }
    .payment-balance-due-date {
      font-size: 12px;
      display: block;
      height: 20px;
      span {
        font-weight: bold;
        min-width: 130px;
        display: inline-block;
      }
    }
  }
}
order-show-component .project li.cart-asset .transcode-icon {
  margin-right: 6px;
  font-size: 22px;
  &.spinner {
    animation-name: rotate360;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
  }
}
order-show-component .project li.cart-asset .tools {
  @media screen and (max-width: $layout-breakpoint-xs)  {
    text-align: left;
    min-height: 72px;
  }
}
order-show-component .project .project-info div {
  padding: 8px;
}
.order-summary {
  padding-left: 4px;
  padding-right: 4px;
  .details {
    opacity: .7;
    margin: 18px 0 7px 0;
  }
  .order-info {
    line-height: 1.4;
    & > span {
      display: flex;
      strong {
        padding-right: 5px;
      }
    }
    a.indicate-refund {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      } 
    }
  }
  .cart-total .subtotal {
    margin-top: 11px;
  }
}
order-show-component .project line-item-rights-component {
  section.read-only {
    margin: 2px 0 0 0;
  }
}
