
<section class="header" layout="row" layout-align="center center">
	<header flex="100" flex-gt-sm="95" flex-gt-md="85" flex-gt-lg="80">
    <div flex="100" layout="row" layout-align="space-between end">
			<h2 flex="grow" class="md-display-1">{{ 'ORDER.SHOW.PAGE_TITLE' | translate }}</h2>
			<div class="tools" flex="auto">
				<button md-button color="primary" class="is-outlined mini">
					View/print invoice
				</button>
				<a [routerLink]="['/commerce/orders']" md-icon-button color="primary" title="{{ 'ORDER.SHOW.BACK_TO_INDEX_TITLE' | translate }}">
					<md-icon>description</md-icon>
				</a>
			</div>
		</div>
	</header>
</section>

<section class="order-summary">
	<div layout="row" flex="100" layout-align="center center">
		<div layout="column" layout-gt-xs="row" flex="100" flex-gt-sm="95" flex-gt-md="85" flex-gt-lg="80" layout-align-gt-xs="space-between end">
			<div flex-gt-xs="40" flex="100" class="details">
				<div class="md-caption order-info">
					<span class="order-number">
						<strong>{{ 'ORDER.SHOW.ORDER_NUMBER_LABEL' | translate }}</strong>
						<span class="number">{{ (order.data | async).id }}</span>
					</span>
					<span>
						<strong>{{ 'ORDER.CREATED_ON_LABEL' | translate }} </strong>{{ (order.data | async).createdOn | date:'short' }}
					</span>
					<span *ngIf="(order.data | async).bulkOrderId">
						<strong>{{ 'QUOTE.BULK_ORDER_NAME' | translate }} </strong>{{ (order.data | async).bulkOrderId }}
					</span>
					<span>
						<strong>{{ 'ORDER.PURCHASE_TYPE_LABEL' | translate }} </strong>{{ (order.data | async).orderType }}
					</span>
					<a *ngIf="isRefund | async" class="indicate-refund" [routerLink]="['/commerce/orders/', creditMemoForOrderId | async]">
						<strong>{{ 'ORDER.SHOW.REFUND_FOR_ORDER' | translate }}</strong> {{ creditMemoForOrderId | async }}
					</a>
				</div>
			</div>
			<!--<div flex="100" layout="row" layout-xs="column" class="divider"></div>-->
			<div class="cart-total" flex-gt-xs="60" flex="100" class="cart-total">
				<div class="total md-headline" flex="auto" layout="row" layout-align="end center">
					<div *ngIf="isRefund | async" class="indicate-refund">
						<span class="total-label">
								{{ 'ORDER.INDEX.INDICATE_REFUND' | translate }}
						</span>
						<span class="total-amount">
								{{ (order.data | async).total | currency:'USD':true:'1.2-2' | slice:1 }}
						</span>
					</div>
					<div *ngIf="!(isRefund | async)">
						<span class="total-label">
								{{ 'ORDER.INDEX.ORDER_TOTAL_LABEL' | translate }}
						</span>
						<span class="total-amount">
								{{ (order.data | async).total | currency:'USD':true:'1.2-2' }}
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="project">
  <div layout="row" flex="100" layout-align="center start">
		<div flex="100" flex-gt-sm="95" flex-gt-md="85" flex-gt-lg="80">
				<section class="projects">
					<div class="project" *ngFor="let project of (order.data | async).projects">
						<header class="project-info" layout-gt-xs="row" layout="column">
							<div flex="100" flex-gt-sm="70" flex-order-xs="2">
								<h5 md-display-1>
									<span class="project-label md-caption">{{ 'CART.PROJECTS.PROJECT_NAME' | translate }}</span>
									<span class="project-name">{{ project.name }}</span>
								</h5>
								<span class="project-client md-caption">
									<strong>{{ 'CART.PROJECTS.CLIENT_NAME' | translate }}</strong> 
									{{ project.clientName }}
								</span>
							</div>
							<div flex="100" flex-gt-sm="30" flex-order-xs="-1" layout-padding>
								<div class="project-subtotal md-caption">
									<strong>{{ 'CART.PROJECTS.PROJECT_SUBTOTAL' | translate }}</strong> 
									<span>{{ project.subtotal | currency:'USD':true:'1.2-2' }}</span>
								</div>
								<div class="project-asset-count">
									<span>
										{{ displayOrderAssetCount(project.lineItems.length) | translate:{count:project.lineItems.length} }}
									</span>
								</div>
							</div>
						</header>

						<section class="assets" layout="column">
							<ul class="asset-list">
								<li 
									*ngFor="let lineItem of project.lineItems"
									class="cart-asset" 
									flex="100" 
									layout="row" 
									layout-xs="column">
									<div flex="100" flex-gt-xs="60">
										<cart-asset-component [asset]="lineItem.asset"></cart-asset-component>
									</div>
									<div flex-gt-xs="40" layout-sm="100" flex="auto" class="actions" flex-order-xs="-3">
										<div class="tools" flex="100" layout-padding>
											<button [disabled]="!lineItem.asset.masterDownloadUrl" (click)="downloadMaster(lineItem.asset.masterDownloadUrl)" md-button color="primary" class="is-outlined">{{ 'ORDER.SHOW.DOWNLOAD_BTN_TITLE' | translate }}</button>
											<button 
												title="{{'COMPS.DOWNLOAD_ASPERA_BTN_TITLE' | translate }}"
												wzAsperaDownload 
												[disabled]="!lineItem.asperaSpec" 
												[asperaSpec]="lineItem.asperaSpec" 
												md-button>
												<md-icon>whatshot</md-icon>
												{{ 'ORDER.SHOW.DOWNLOAD_ASPERA_BTN_TITLE' | translate }}
											</button>
										</div>
										<div flex="100" layout="row" layout-xs="column" class="divider"></div>
										<div *ngIf="isRefundedLineItem(lineItem)" class="price indicate-refund" >
											{{ lineItem.price | currency:'USD':true:'1.2-2' | slice:1 }}
										</div>
										<div *ngIf="!isRefundedLineItem(lineItem)" class="price" >
											{{ lineItem.price | currency:'USD':true:'1.2-2' }}
										</div>
									</div>
								</li>
							</ul>
						</section>
						<section class="fees" layout="column" *ngIf="project.feeLineItems">
							<ul class="fee-list">
								<li *ngFor="let feeLineItem of project.feeLineItems" class="fee-item" flex="100" layout="row" layout-xs="column">
									<div flex="100" flex-gt-xs="75">
										<div layout-align="start stretch" layout-gt-xs="row">
											<div flex-gt-sm="30" flex-sm="40" flex="100" layout-padding>
												<div class="fee-indicator" layout="column">
													<span flex class="fee-title">{{ 'QUOTE.INDEX.PROJECTS.FEE_ITEM.HEADING' | translate }}</span>
													<span flex class="fee-type md-caption">{{feeLineItem.feeType}}</span>
												</div>
											</div>
											<div flex-gt-sm="80" flex-sm="75" flex="100" layout-padding>
												<div class="md-caption fee-type">
													{{ 'QUOTE.INDEX.PROJECTS.FEE_ITEM.TITLE' | translate:{type:feeLineItem.feeType} }}
												</div>
												<p class="fee-notes">{{ feeLineItem.notes }}</p>
											</div>
										</div>
									</div>
									<div flex="100" flex-gt-xs="25" layout-padding></div>
									<div flex-gt-xs="15" flex-sm="15" flex="auto" class="tools actions" flex-order-xs="-3">
										<div flex="100" layout="row" layout-xs="column" class="divider"></div>
										<div class="amount">
											{{ feeLineItem.amount | currency:'USD':true:'1.2-2' }}
										</div>
									</div>
								</li>
							</ul>
						</section>

					</div>
				</section>

		</div>
	</div>
</section>
