<div layout="column" ng-cloak>
  <md-toolbar class="md-warn">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Users</h2>
    </div>
  </md-toolbar>
  <md-content flex layout-padding>
    <table>
    	<tr><th>Username</th><th>Street</th><th>City</th><th>State</th><th>Country</th></tr>
    	<tr ng-repeat="user in vm.UserService.users">
    		<td>{{user.username}}</td>
    		<td>{{user.street}}</td>
    		<td>{{user.city}}</td>
    		<td>{{user.state}}</td>
    		<td>{{user.country}}</td>
    	</tr>
    </table>
  </md-content>
</div>