wz-advanced-player {  
  $scrubber-slider-height: rem(1.0);
  $thumb-width: rem(0.3);
  $scrubber-thumb-height: $scrubber-slider-height;

  $marker-slider-height: 0;
  $marker-thumb-height: $thumb-width;
  scrub-ber {
    position: relative;
    text-align: center;
    width: 100%;
    height: $scrubber-slider-height;
    background-color: transparent;
  }

  md-slider.md-slider-horizontal {
    width: 100%;
    padding: 0;
    vertical-align: top;
    background-color: lighten(md-color($foreground, base), 38%);

    .md-slider-track {
      width: calc(100% - #{$thumb-width});
      top: 0;
      left: 0;
      right: 0;
      background-color: lighten(md-color($foreground, base), 38%);
      opacity: .9;
      cursor: pointer;
    }

    .md-slider-track-fill {
      height: $scrubber-slider-height;
      background-color: lighten(md-color($background, background), 0%);
      transition: none;
    }

    .md-slider-thumb-container {
      position: relative;
      top: 0;
      transition: none;
    }

    .md-slider-thumb {
      width: $thumb-width;
      top: 0;
      right: -$thumb-width;
      border-radius: 0;
      transform: none;
      transition: none;
    }

    .md-slider-ticks-container {
      display: none;
    }

    &.scrubber {
      height: $scrubber-slider-height;

      .md-slider-track {
        height: $scrubber-slider-height;
      }

      .md-slider-track-fill {
        height: $scrubber-slider-height;
      }

      .md-slider-thumb {
        height: $scrubber-thumb-height;
        background-color: lighten(md-color($foreground, text), 5%);
      }
    }

    &.marker {
      position: absolute;
      height: $marker-slider-height;

      .md-slider-track {
        height: $marker-slider-height;
      }

      .md-slider-track-fill {
        height: $marker-slider-height;
      }

      .md-slider-thumb {
        height: $marker-thumb-height;
        background-color: md-color($accent, darker);
      }

      &.in {
        top: 0;
      }

      &.out {
        top: $scrubber-slider-height - $marker-thumb-height;
      }
    }
  }
  .hover-frame-display {
    position: absolute;
    top: rem(-7);
    border-radius: $md-button-border-radius;
    background-color: rgba(md-color($foreground, base), .5);
    font-size: rem(1.1);
    line-height: 1;
    padding: rem(.8) rem(1.0);
  }
}
