wz-step-button {    
  .mat-icon-button[md-icon-button] {
    line-height: rem(3.1);
    height: rem(3.1);
    width: rem(3.1);
    margin: 0 rem(.1);
    .mat-icon {
      line-height: rem(1.5);
      height: rem(1.6);
      width: rem(3.6);
      margin-left: rem(.3);
      position: relative;
      &.material-icons {
        font-size: rem(1.6);
      }
      &::before {
        content: "5s";
        font-family: $mat-font-family;
        font-size: rem(1.1);
        line-height: 1.5;
        font-weight: 100;
        position: absolute;
        margin-left: rem(-0.9);
      }
      &.one-frame::before {
        content: "1f";
        margin-left: rem(-0.8);
      }
      &.one-second::before {
        content: "1s";
      }
    }
    &.reverse md-icon {
      transform: rotate(180deg);
      margin-left: rem(-1.4);
      line-height: rem(1.9);
      &::before {
        transform: rotate(180deg);
        // line-height: 1.5;
      }
      &.one-frame::before {
        margin-left: rem(-0.8);
      }
      &.five-second::before {
        margin-left: rem(-1.0);
      }
    } 
  }
}
