$volume-control-width: $mat-icon-button-width;
$volume-control-height: rem(15);
$volume-control-slider-height: $volume-control-height - $mat-icon-button-height;
$volume-control-slider-color: darken(mat-color($background, background), 8%);

.volume-control {
  position: absolute;
  background-color: rgba(lighten(mat-color($foreground, base), 21%), .65);
  width: $volume-control-width;
  height: $volume-control-height;
  bottom: 0;
  right: 0;

  button {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .md-slider-vertical {
    position: absolute;
    width: $volume-control-width;
    height: $volume-control-slider-height;
    min-height: $volume-control-slider-height;
    padding: rem(1) 0 rem(2) 0;
    left: 0;
    top: 0;

    .md-slider-ticks-container {
      display: none;
    }

    .md-slider-track {
      position: relative;
      height: 100%;
      left: 0;
      margin: 0 auto;
      background-color: rgba($volume-control-slider-color, .25);
      cursor: pointer;
    }

    .md-slider-track-fill {
      background-color: $volume-control-slider-color;
    }

    .md-slider-thumb {
      height: rem(1);
      width: rem(1);
      right: rem(-0.5);
      bottom: rem(-0.5);
      transform: none;
      background-color: $volume-control-slider-color;
    }
  }
}
