section.admin-accounts
  div(layout='row' md-scroll-y='', layout-align='left start')
    div(class='account-table' flex-xl="60",flex-gt-lg="50",flex-gt-md="60",flex="70")
      wz-list([items]="currentUserAccounts | async")
           