fee-line-items-component {
  padding: 0 rem(1.2) 0 rem(1.2);
  display: flex;
}
ul.fee-list {
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 100%;
}
li.fee-item {
  margin-bottom: rem(1.2);
  position: relative;
  padding: rem(.2);
  border-radius: $mat-button-border-radius;
  transition: $swift-ease-out;
  .fee-indicator {
    height: 100%;
    position: relative;
    margin-right: 2px;
    padding: rem(.8) 0 rem(.8) rem(3.5);
    .fee-title {
      font-weight: 500;
      padding: 0 0 rem(.2) 0;
      flex: 0 0 0%;
    }
    &::after {
      content: "\e89c";
      // content: "\e8b0";
      font-family: 'Material Icons';
      font-size: rem(2.5);
      font-weight: 100;
      line-height: rem(2.5);
      height: rem(2.5);
      width: rem(2.5);
      position: absolute;
      left: rem(.6);
      top: rem(.6);
    }
  }
  & > div > div  > div + div {
    padding-left: 5px;
    @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
      padding-left: 8px;
    }
  } 

  .md-caption.fee-type {
    font-size: rem(1.1);
    opacity: .7;
  }

  .fee-notes {
    font-size: rem(1.4);
    line-height: rem(1.55);
    margin-top: rem(.3);
    margin-bottom: rem(1.1);
    min-height: rem(4.5);
  }

  .fee-line-item-amount {
    @media screen and (min-width: $layout-breakpoint-xs) {
      position: absolute;
      bottom: 7px;
      right: 7px;
      font-size: 1.1em;
    }
    @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
      padding: 10px;
    }
    .price::first-letter {
      font-size: .83em;
      vertical-align: top;
    }
  }
  .actions {
    min-height: rem(4.5);
    position: relative;
    @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
      padding-top: rem(.4);
    }
  }
  .tools {
    opacity: .85;
    text-align: right;
  }
  .tools button {
    @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
      margin-bottom: 3px;
    }
  }





  .divider {
    margin: rem(.6) rem(.8) 0 rem(.8);
    padding-bottom: rem(.6);
    display: none;
    @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
      display: flex;
      position: absolute;
      bottom: rem(3.2);
      width: calc(100% - 16px);
    }
  }
}
