fee-line-items-component {
  padding: 0 rem(1.2) rem(1.2) rem(1.2);
  display: flex;
}

ul.fee-list {
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 100%;
}

li.fee-item {
  position: relative;
  background-color: mat-color($background, card);
  color: rgba(mat-color($foreground, text), .7);
  margin: rem(1.2) 0 0 0;
  padding: rem(.2);
  border-radius: $mat-button-border-radius;
  transition: $swift-ease-out;

  .md-caption.fee-type {
    font-size: rem(1.1);
    opacity: .7;
  }

  .fee-notes {
    font-size: rem(1.4);
    line-height: rem(1.55);
    margin-top: rem(.3);
    margin-bottom: rem(1.1);
    min-height: rem(4.5);
  }

  .amount {
    position: absolute;
    bottom: rem(.7);
    right: rem(.7);
    font-size: rem(1.8);
    &::first-letter {
      font-size: .83em;
      vertical-align: top;
    }
  }

  .divider {
    margin: rem(.6) rem(.8) 0 rem(.8);
    padding-bottom: rem(.6);
    box-shadow: inset 0 1px 0 0 mat-color($foreground, divider);
    display: none;
    @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
      display: flex;
      position: absolute;
      bottom: rem(3.2);
      width: calc(100% - 16px);
    }
  }
}
