line-items-component {
  padding: 0 rem(1.2) rem(1.2) rem(1.2);
  display: flex;
}

ul.asset-list {
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 100%;
}
li.cart-asset {
  position: relative;
  margin: rem(1.2) 0 0 0;
  padding: rem(.2);
  border-radius: 2px;
  transition: $swift-ease-out;
  .actions {
    min-height: rem(4.5);
    position: relative;
    @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
      padding-top: rem(.4);
    }
  }
  .tools {
    opacity: .85;
    text-align: right;
    // @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
    //   padding-bottom: rem(3.8);
    // }
  }
  .tools button {
    @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
      margin-bottom: 3px;
    }
  }
  md-select {
    margin-top: 14px;
    width: 100%;
    padding-left: 8px;
    max-width: 290px;
    // width: 99%;
    // max-width: rem(19.0);
    // display: block;
    // margin-left: auto;
    // margin-right: auto;
    @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
      margin-top: 30px;
      margin-bottom: 30px;
      max-width: 99%;
      padding-left: 0;
    }
  }
  .asset-description {
    font-size: rem(1.4);
    line-height: rem(1.55);
    margin-top: rem(.3);
    margin-bottom: rem(1.1);
  }
  .asset-name {
    font-size: rem(1.1);
    opacity: .7;
  }
  .subclip-timeline {
    margin: rem(.5) 0 0;
    position: relative;
    height: rem(.6);
    width: 100%;
    .subclip-segment {
      height: 100%;
      position: absolute;
    }
  }
  ul.subclip-data {
    margin-top: 0;
    list-style: none;
    padding: 0;
    height: rem(2.0);
    line-height: rem(2.0);
    width: 100%;
    min-width: rem(38.0);
    font-size: rem(1.1);
    @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
      font-size: rem(1.0);
      min-width: 100%;
    }
    li {
      &:first-child {
        margin:0 0 0 rem(0.4);
      }
      &:nth-child(3n) {
        margin:0 rem(0.4) 0 0;
        text-align: right;
      }
    }
  }

  line-item-price-component {
    @media screen and (min-width: $layout-breakpoint-xs) {
      position: absolute;
      bottom: 7px;
      right: 7px;
      font-size: 18px;
    }
    .line-item-price {
      text-align: right;
      @media screen and (max-width: $layout-breakpoint-xs) {
        padding: 10px;
      }
      .price {
        padding-top: 4px;
        &::first-letter {
          font-size: .78em;
          line-height: 1.355em;
          vertical-align: top;
        }
        &.select-usage::after {
          content: " *";
        }
      }
      .multiplier, .multiplier-base {
        // min-width: 150px;
        padding-bottom: 3px;
        font-size: 13px;
        .label {
          font-weight: bold;
        }
        @media screen and (max-width: $layout-breakpoint-xs) {
          font-size: 12px;
          padding: 4px 0 0 0;
          margin-right: 14px;
        }
      }
      .multiplier-base {
        opacity: .8;
        .price {
          padding-top: 0;
          &::first-letter {
            font-size: .78em;
            line-height: 1.355em;
            vertical-align: top;
          }
        }
      }
      .multiplier .multiplier-value, .multiplier-base .price {
        padding-left: 7px;
      }
    }
  }
  .divider {
    margin: rem(.6) rem(.8) 0 rem(.8);
    padding-bottom: rem(.6);
    display: none;
    @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
      display: flex;
      position: absolute;
      bottom: rem(3.2);
      width: calc(100% - 16px);
    }
  }
}
line-item-transcode-select-component .read-only-transcode { 
  margin-top: -5px; 
  margin-left: 40px;
  @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
    margin: 0;
  }
}
line-item-rights-component {
  section {
    margin-bottom: 12px;
    margin-top: -8px;
    padding: 8px;
    position: relative;
    transition: all .2s ease-in-out;
    &::before {
      content: "\e150";
      font-family: 'Material Icons';
      position: absolute;
      top: 3px;
      right: 4px;
      font-size: 24px;
      opacity: 0;
    }
    @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
      margin-top: 0;
      padding: 0;
    }
    &:hover {
      margin-top: 0;
      cursor: pointer;
      &::before {
        opacity: .4;
      }
    }
    &.read-only:hover {
      margin-top: -8px;
    }
  }
  header {
    position: relative;
    font-size: .675em;
    margin: 0 0 4px 0;
    font-weight: 300;
    text-transform: uppercase;
    opacity: .75;
    padding-left: 18px;
    &::before {
      content: "\e85d";
      font-family: 'Material Icons';
      position: absolute;
      top: -5px;
      left: -1px;
      font-size: 1.475em;
      opacity: .85;
    }
  }
  span.cart-asset-metadata  { 
    display: block;
    line-height: 1.3em;
  }
  section.read-only:hover {
    background-color: transparent;
    cursor: default;
    &::before {
      content: "";
      opacity: 0;
    }
  }
}

button.is-outlined.mini {
  line-height: rem(2.4);
  min-width: rem(5.0);
  padding: 0 rem(1.0);
  margin-right: rem(1.2);
}
.cart-asset asset-subclip-display-component .asset-sub-clip {
  margin-top: 14px;
  ul.subclip-data {
    min-width: 307px;
  }
}
