<ul class="asset-list">
	<li *ngFor="let lineItem of items" class="cart-asset" flex="100" layout="row" layout-xs="column">
		<cart-asset-component
			[asset]="lineItem.asset"
			(assetNotify)="delegate($event)"
			flex="100" flex-gt-xs="60">
		</cart-asset-component>
		<line-item-transcode-select-component
			*ngIf="shouldShowTargets(lineItem)"
			[readOnly]="readOnly"
			[transcodeTargets]="lineItem.transcodeTargets"
			[selectedTarget]="lineItem.selectedTranscodeTarget"
			(selectTarget)="onSelectTarget($event, lineItem.selectedTranscodeTarget, lineItem)"
			flex-gt-xs="30" flex-gt-sm="25" flex="auto" class="delivery-format" layout-padding>
		</line-item-transcode-select-component>
		<div flex-gt-xs="15" flex="auto" class="actions" flex-order-xs="-3">
			<line-item-actions-component
				*ngIf="!readOnly"
				[rightsReproduction]="lineItem.rightsManaged"
				[hasAttributes]="!!lineItem.attributes"
				[otherProjects]="otherProjects"
				[userCanCreateSubclips]="userCan.createSubclips(lineItem)"
				[userCanAdministerQuotes]="userCan.administerQuotes()"
				[timeStart]="lineItem.asset.timeStart"
				[quoteType]="quoteType"
				[hasMultiplier]="lineItem.multiplier > 1"
				(showPricingDialog)="onShowPricingDialog(lineItem)"
				(clone)="onClone(lineItem)"
				(moveTo)="onMoveTo($event, lineItem)"
				(editMarkers)="onEditMarkers(lineItem)"
				(openCostMultiplierForm)="onOpenCostMultiplierForm(lineItem)"
				(remove)="onRemove(lineItem)">
			</line-item-actions-component>
			<line-item-price-component
				*ngIf="shouldDisplayPricing"
				[price]="lineItem.price"
				[multiplier]="lineItem.multiplier"
				[rightsManaged]="lineItem.rightsManaged"
				[hasAttributes]="!!lineItem.attributes"
				[userCanAdministerQuotes]="userCan.administerQuotes()">
			</line-item-price-component>
		</div>
	</li>
</ul>
