<ul class="asset-list">
	<li *ngFor="let lineItem of items" class="cart-asset" flex="100" layout="row" layout-xs="column">
		<cart-asset-component
			[asset]="lineItem.asset"
			flex="100" flex-gt-xs="60">
		</cart-asset-component>
		<div flex-gt-xs="30" flex-gt-sm="25" flex="auto" layout-padding>
			<line-item-rights-component
				[displayRmAttributes]="shouldDisplayRights(lineItem)"
				[readOnly]="readOnly"
				[rightsManaged]="lineItem.rightsManaged"
				[rights]="lineItem.attributes"
				[hasAttributes]="!!lineItem.attributes"
				(showPricingDialog)="onShowPricingDialog(lineItem)">
			</line-item-rights-component>
			<line-item-transcode-select-component
				*ngIf="shouldShowTargets(lineItem)"
				[readOnly]="readOnly"
				[transcodeTargets]="lineItem.transcodeTargets"
				[selectedTarget]="lineItem.selectedTranscodeTarget"
				(selectTarget)="onSelectTarget($event, lineItem.selectedTranscodeTarget, lineItem)">
			</line-item-transcode-select-component>
		</div>
		<div flex-gt-xs="20" flex="auto" class="actions" flex-order-xs="-3">
			<line-item-actions-component
				*ngIf="!readOnly"
				[rightsReproduction]="lineItem.rightsManaged"
				[hasAttributes]="!!lineItem.attributes"
				[otherProjects]="otherProjects"
				[userCanCreateSubclips]="userCan.createSubclips(lineItem)"
				[userCanAdministerQuotes]="userCan.administerQuotes()"
				[assetIsSubclipped]="isSubclipped(lineItem.asset)"
				[quoteType]="quoteType"
				[hasMultiplier]="lineItem.multiplier > 1"
				(showPricingDialog)="onShowPricingDialog(lineItem)"
				(clone)="onClone(lineItem)"
				(moveTo)="onMoveTo($event, lineItem)"
				(editMarkers)="onEditMarkers(lineItem)"
				(openCostMultiplierForm)="onOpenCostMultiplierForm(lineItem)"
				(removeCostMultiplier)="onRemoveCostMultiplier(lineItem)"
				(addCustomPrice)="onAddCustomPrice(lineItem)"
				(remove)="onRemove(lineItem)">
			</line-item-actions-component>
			<div *ngIf="!readOnly" flex="100" layout="row" layout-xs="column" class="divider"></div>
			<line-item-price-component
				*ngIf="shouldDisplayPricing"
				[price]="lineItem.price"
				[itemPrice]="lineItem.itemPrice"
				[grossAssetPrice]="lineItem.grossAssetPrice"
				[multiplier]="lineItem.multiplier"
				[rightsManaged]="lineItem.rightsManaged"
				[hasAttributes]="!!lineItem.attributes"
				[userCanAdministerQuotes]="userCan.administerQuotes()"
				(addCustomPrice)="onAddCustomPrice(lineItem)">
			</line-item-price-component>
		</div>
	</li>
</ul>
