line-items-component {
  padding: 0 rem(1.2) rem(1.2) rem(1.2);
  display: flex;
}

ul.asset-list {
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 100%;
}
li.cart-asset {
  position: relative;
  margin: rem(1.2) 0 0 0;
  padding: rem(.2);
  border-radius: $mat-button-border-radius;
  transition: $swift-ease-out;
  .actions {
    min-height: rem(4.5);
    position: relative;
    @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
      padding-top: rem(.4);
    }
  }
  .tools {
    opacity: .85;
    text-align: right;
    @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
      padding-bottom: rem(3.8);
    }
  }
  .tools button {
    @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
      margin-bottom: rem(1.2);
    }
  }
  md-select {
    margin-top: rem(1.4);
    width: 99%;
    max-width: rem(19.0);
    display: block;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
      margin-top: rem(3.0);
      margin-bottom: rem(3.0);
      max-width: 99%;
    }
  }
  .asset-description {
    font-size: rem(1.4);
    line-height: rem(1.55);
    margin-top: rem(.3);
    margin-bottom: rem(1.1);
  }
  .asset-name {
    font-size: rem(1.1);
    opacity: .7;
  }
  .subclip-timeline {
    margin: rem(.5) 0 0;
    position: relative;
    height: rem(.6);
    width: 100%;
    .subclip-segment {
      height: 100%;
      position: absolute;
    }
  }
  ul.subclip-data {
    margin-top: 0;
    list-style: none;
    padding: 0;
    height: rem(2.0);
    line-height: rem(2.0);
    width: 100%;
    min-width: rem(38.0);
    font-size: rem(1.1);
    @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
      font-size: rem(1.0);
      min-width: 100%;
    }
    li {
      &:first-child {
        margin:0 0 0 rem(0.4);
      }
      &:nth-child(3n) {
        margin:0 rem(0.4) 0 0;
        text-align: right;
      }
    }
  }

  line-item-price-component {
    @media screen and (min-width: $layout-breakpoint-xs) {
      position: absolute;
      bottom: rem(.7);
      right: rem(.7);
      font-size: rem(1.8);
    }
    .line-item-price {
      text-align: right;
      @media screen and (max-width: $layout-breakpoint-xs) {
        padding: rem(1);
      }
      .price {
        &::first-letter {
          font-size: .83em;
          vertical-align: top;
        }
        &.select-usage::after {
          content: " *";
        }
      }
      .multiplier {
        min-width: rem(15);
        padding-bottom: rem(.6);
        font-size: rem(1.4);
        @media screen and (max-width: $layout-breakpoint-sm) {
          padding: 0;
          margin-right: rem(1);
        }
      }
    }
  }

  .divider {
    margin: rem(.6) rem(.8) 0 rem(.8);
    padding-bottom: rem(.6);
    display: none;
    @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
      display: flex;
      position: absolute;
      bottom: rem(3.2);
      width: calc(100% - 16px);
    }
  }
}

button.is-outlined.mini {
  line-height: rem(2.4);
  min-width: rem(5.0);
  padding: 0 rem(1.0);
  margin-right: rem(1.2);
}
.cart-asset asset-subclip-display-component .asset-sub-clip {
  margin-top: rem(1.4);
  ul.subclip-data {
    min-width: rem(34.0);
  }
}
