div(layout='column', ng-cloak='')
  md-content(layout-padding='')
    form(name='login', ng-submit='vm.create()')
      md-input-container.md-block.md-input-has-messages
        label Username
        input(name='username', ng-model='vm.user.username', required)
        div(ng-messages='login.username.$error', role='alert')
          div(ng-message='required') Username is required
      md-input-container.md-block
        label Password
        input(name='password', ng-model='vm.user.password', type='password', required)
        div(ng-messages='login.password.$error')
          div(ng-message='required') Password is required
      md-button.md-raised.md-primary(type='submit') Submit