<wz-player
  [asset]="asset"
  [mode]="'advanced'"
  (stateUpdate)="onStateUpdate($event)">
</wz-player>
<br/>

<wz-player-controlbar
  [playerState] = "playerStateService.state | async"
  (playbackToggleRequested)="requestPlaybackToggle()">
</wz-player-controlbar>
<br/>

<wz-subclip-controls
  [playerState] = "playerStateService.state | async"
  (seekRequested)="requestSeekTo($event)"
  (setInMarkerRequested)="requestSetInMarker($event)"
  (setOutMarkerRequested)="requestSetOutMarker($event)"
  (seekToInMarkerRequested)="requestSeekToInMarker($event)"
  (seekToOutMarkerRequested)="requestSeekToOutMarker($event)"
  (clearMarkersRequested)="requestClearMarkers($event)"
  (playWithinMarkersRequested)="requestPlayWithinMarkers($event)">
</wz-subclip-controls>
