<wz-player [window]="window" [asset]="asset" [mode]="'advanced'" (stateUpdate)="onStateUpdate($event)"></wz-player>
<ng-container *ngIf="assetIsVideo()">
  <wz-player-controlbar class="tool-bar" layout="row" 
    [playerState]="playerStateService.state | async" 
    (request)="handle($event)" >
  </wz-player-controlbar>
  <wz-subclip-controlbar class="tool-bar" layout="row" 
    [playerState]="playerStateService.state | async" 
    (request)="handle($event)" 
    (onSubclip)="subclip($event)">
  </wz-subclip-controlbar>
</ng-container>
