search-box {
  width: 100%;
  margin: 20px 0 0 0;
  position: relative;
  overflow: hidden;
  input {
    width: calc(100% - 64px);
    padding: 0 0 0 3%;
    max-height: rem(4.6);
    min-height: rem(4.6);
    border: none;
    color: rgba(md-color($md-background, 900), .7);
    background-color:  md-color($md-background, 100, .9);
    @include transition($swift-ease-in);
    border-radius: 0;
    &:focus {
      outline: none;
      background-color: lighten(md-color($md-background, 100), 40%);
      box-shadow: $whiteframe-shadow-z1;
    }
  }
  button[type="submit"] {
    cursor: pointer;
    // height: 100%;
    // position: absolute;
    // right: 0;
    // top: 0;
    // width: rem(5);
    font-size: 0;
    border: none; 
    background-color: md-color($md-accent, 800, .95);
    @include transition($swift-ease-in);
    i.material-icons {
      font-size: rem(3.4);
      @include text-contrast(md-color($md-background, 900));
      text-shadow: md-color($md-background, 900, .2) 0 1px 2px;
    }
    &:hover {
      background-color: md-color($md-accent, 700, 1);
      // i.material-icons {
      //   text-shadow: md-color($md-grey, 900, .4) 0 1px 3px;
      // }
    }
    &[disabled] {
      cursor: default;
      background-color: md-color($md-accent, 800, .95);
      i.material-icons {
        opacity: .6;
       }
    }
  }
  button.close {
   display: none; 
  }
}