form.md-inline-form(layout='row', flex='100', layout-align='start', [ngFormModel]="searchForm", (ngSubmit)="onSubmit(searchForm.value.query)")
  input(md-input="", type='text', placeholder="{{ 'HOME.SEARCH_BOX_LABEL' | translate }}", ngControl="query")
  button(type='submit',[disabled]="!searchForm.valid") Search
    i.material-icons(md-icon='') search
    
  button.md-icon-button.close(md-button='', title='close search', type="button")
    i.material-icons(md-icon='') close
    