search-box {
  width: 100%;
  margin: 20px 0 0 0;
  position: relative;
  overflow: hidden;
  input {
    font-size: 1.2em;
    width: calc(100% - 46px);
    padding: 0 0 0 3%;
    max-height: rem(4.6);
    min-height: rem(4.6);
    border: none;
    color: rgba(md-color($md-background, 900), .7);
    background-color:  md-color($md-background, 100, .9);
    @include transition($swift-ease-in);
    border-radius: 0;
    &:focus {
      outline: none;
      background-color: lighten(md-color($md-background, 100), 40%);
    }
  }
  button[type="submit"] {
    cursor: pointer;
    font-size: 0;
    border: none; 
    background-color: md-color($md-accent, 800, .95);
    @include transition($swift-ease-in);
    i.material-icons {
      font-size: rem(3.4);
      @include text-contrast(md-color($md-background, 900));
      text-shadow: md-color($md-background, 900, .2) 0 1px 2px;
    }
    &:hover {
      background-color: md-color($md-accent, 700, 1);
    }
    &[disabled] {
      cursor: default;
      background-color: md-color($md-accent, 800, .95);
      i.material-icons {
        opacity: .6;
       }
    }
  }
  button.close {
   display: none; 
  }
}

// search box in the header
header.app-header {
  search-box {
    form {
      background-color: md-color($md-background, 100);
    }
    margin: 0;
    input {
      width: calc(100% - 78px);
      font-size: 1.24em;
    }
    button[type="submit"] {
      background-color: md-color($md-primary, 700, .45);
      i.material-icons {
        font-size: rem(3.3);
        text-shadow: none;
      }
    }
  }
  button.close {
    display: block;
    margin: 0;
    height: auto;
    width: rem(3.4);
    min-width: rem(3.4);
    padding: 0;
    border-radius: 0;
    font-size: 0;
    line-height: 0;
    border: none;
    .material-icons[md-icon] {
      font-size: rem(2.3);
      line-height: .5;
      @include text-contrast(md-color($md-background, 50));
      opacity: .5;
    }
  }
  button:focus {
    outline: none;
  }
  @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
    search-box {
      input {
        width: calc(100% - 70px);
        max-height: rem(4);
        min-height: rem(4);
        font-size: 1em;
      }
      button[type="submit"] {
        i.material-icons {
          font-size: rem(2.8);
        }
      }
    }
  }
}
header.app-header.fixed {
  search-box {
    form {
      box-shadow: inset 0 1px 0 0 md-color($md-background, 800, .1);
      background-color: transparent;
    }
    input {
      background-color: transparent;
    }
    button[type="submit"] i.material-icons {
      @include text-contrast(md-color($md-primary, 700), md-color($md-background, 700), md-color($md-background, 100));
    }
  }
}
header.app-header.search-closed search-box {
  input {
    max-height: 0;
    min-height: 0;
    font-size: 0; 
  }
  button, button.close {
    display: none;
  }
}
