header.app-header {
  position: relative;
  width: 100%;
  z-index: 3;
  background-color:rgba(mat-color($primary, 900), .3);
  // border-bottom: solid 1px rgba(contrast-color(mat-color($primary, 900)), .25);
  @include mat-elevation(1);
  position: absolute;
  top: 0;
  left: 0;
  transition: $swift-ease-out;
  a.home-link > .logo-wrapper {
    transition: all .4s ease-in-out;
    opacity: .7;
    top: 0;
    margin: 0;
    overflow: hidden;
    width: rem(9.5);
    height: rem(6.4);
    position: absolute;
    line-height: 0;
    &:hover {
      opacity: 1;
    }
    .logo img {
      background-image: url($logo-header);
      background-position: 0 rem(.9);
      background-repeat: no-repeat;
      background-size: rem(27.2);
      width: rem(9.5);
      height: rem(5.7);
    }
    @media (max-width: $layout-breakpoint-sm) and (orientation: landscape)  {
      .logo img {
        background-position: rem(-.5) rem(.6);
        background-repeat: no-repeat;
        background-size: rem(20.5);
        height: rem(4.2);
        width: rem(6.5);
      }
    }
    @media (max-width: $layout-breakpoint-xs) and (orientation: portrait) {
      .logo img {
        background-position: rem(-.3) rem(1.0);
        background-repeat: no-repeat;
        background-size: rem(21);
        height: rem(4.5);
        width: rem(6.6);
      }
    }
  }
  &.fixed {
    background-color:rgba(mat-color($background, app-bar), .95);
    @include text-contrast(mat-color($background, app-bar), mat-color($foreground, secondary-text), mat-color($background, app-bar));
    position: fixed;
    top: 0;
    animation: slideDownHeader .75s ease-in-out;
    border-bottom: none;
    @include mat-elevation(3);
    // width: calc(100% - 16px);
    a.home-link > .logo-wrapper {
      opacity: .95;
    }
  }
}
header.app-header md-toolbar {
  background-color: transparent;
}
header.app-header [md-button],
header.app-header [md-icon-button] {
  @include text-contrast(mat-color($mat-grey, 900), mat-color($foreground, secondary-text), mat-color($background, app-bar));
  margin-left: rem(.6);
  transition: $swift-ease-out;
  &:first-child{
    margin-left: 0;
  }
}
header.app-header md-toolbar:not(.mat-menu-toolbar) .mat-button {
  &.mat-accent {
    color: rgba(mat-color($accent, 500), .8);
  }
}
button[md-icon-button].cart {
  .asset-count {
    position: absolute;
    top:0;
    right: rem(-.2);
    border-radius: $mat-button-border-radius;
    background-color: rgba(mat-color($warn, 700), .9);
    min-width: rem(1.4);
    font-size: .8em;
    line-height: 1;
    margin-right: 0;
    margin-left: 0;
    padding: 2px 3px;
    .count {
      @include text-contrast(mat-color($warn, 900));
    }
  }
}

header.app-header.fixed [md-button],
header.app-header.fixed [md-icon-button] {
  @include text-contrast(mat-color($background, app-bar), mat-color($foreground, secondary-text), mat-color($background, app-bar));
  transition: $swift-ease-out;
  &:hover {
    background-color: rgba(mat-color($background, hover), .08);
  }
  &:hover::after {
    background-color: transparent;
  }
  &:first-child{
    margin-left: 0;
  }
}

header.app-header.collection-tray-closed app-nav button.open-collection-tray,
header.app-header.search-closed app-nav button.open-search {
  display: initial;
}

@keyframes slideDownHeader {
  0% {
    opacity: .8;
    transform: translateY(-200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// These are used for spacing the top of the page to allow for a absolute and fixed header.
// The spacing may change when search or the bin tray is open in the header.
// there are a few different styles of pages.
// Also the current mdToolbar does not change height for mobile. This could change, that is what the media queries are for.
header.app-header + div.main-content gallery-view-component,
header.app-header + div.main-content not-found-component,
header.app-header + div.main-content commerce-component,
header.app-header + div.main-content profile-component,
header.app-header + div.main-content collection-show,
header.app-header + div.main-content collections-component,
header.app-header + div.main-content cms-component,
header.app-header + div.main-content search-component,
header.app-header + div.main-content asset-component {
  display: block;
  transition: border-top-width 0.35s, $swift-ease-in-out-timing-function;
  border-top: rem(16.6) solid mat-color($mat-grey, 900, .7);
  @media (max-width: $layout-breakpoint-sm) and (orientation: landscape) {
    border-top-width: rem(14.4);
  }
  @media screen and (max-width: $layout-breakpoint-xs) and (orientation: portrait)  {
    border-top-width: rem(15.2);
  }
  wz-asset-list {
    min-height: calc(100vh - 518px);
    @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0)  {
      min-height: calc(100vh - 799px);
    }
  }
}

header.app-header.collection-tray-closed + div.main-content gallery-view-component,
header.app-header.collection-tray-closed + div.main-content not-found-component,
header.app-header.collection-tray-closed + div.main-content commerce-component,
header.app-header.collection-tray-closed + div.main-content profile-component,
header.app-header.collection-tray-closed + div.main-content collection-show,
header.app-header.collection-tray-closed + div.main-content collections-component,
header.app-header.collection-tray-closed + div.main-content cms-component,
header.app-header.collection-tray-closed + div.main-content search-component,
header.app-header.collection-tray-closed + div.main-content asset-component {
  border-top-width: rem(11.0);
  @media (max-width: $layout-breakpoint-sm) and (orientation: landscape) {
    border-top-width: rem(8.8);
  }
  @media (max-width: $layout-breakpoint-xs) and (orientation: portrait)  {
    border-top-width: rem(9.6);
  }
  wz-asset-list {
    min-height: calc(100vh - 462px);
    @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0)  {
      min-height: calc(100vh - 791px);
    }
  }
}

header.app-header.collection-tray-closed.search-closed + div.main-content gallery-view-component,
header.app-header.collection-tray-closed.search-closed + div.main-content not-found-component,
header.app-header.collection-tray-closed.search-closed + div.main-content commerce-component,
header.app-header.collection-tray-closed.search-closed + div.main-content profile-component,
header.app-header.collection-tray-closed.search-closed + div.main-content collection-show,
header.app-header.collection-tray-closed.search-closed + div.main-content collections-component,
header.app-header.collection-tray-closed.search-closed + div.main-content cms-component,
header.app-header.collection-tray-closed.search-closed + div.main-content search-component,
header.app-header.collection-tray-closed.search-closed + div.main-content asset-component {
  border-top-width: rem(6.4);
  @media (max-width: $layout-breakpoint-sm) and (orientation: landscape) {
    border-top-width: rem(4.8);
  }
  @media screen and (max-width: $layout-breakpoint-xs) and (orientation: portrait)  {
    border-top-width: rem(5.6);
  }
  wz-asset-list {
    min-height: calc(100vh - 416px);
    @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0)  {
      min-height: calc(100vh - 751px);
    }
  }
}

header.app-header.search-closed + div.main-content gallery-view-component,
header.app-header.search-closed + div.main-content not-found-component,
header.app-header.search-closed + div.main-content commerce-component,
header.app-header.search-closed + div.main-content profile-component,
header.app-header.search-closed + div.main-content collection-show,
header.app-header.search-closed + div.main-content collections-component,
header.app-header.search-closed + div.main-content cms-component,
header.app-header.search-closed + div.main-content search-component,
header.app-header.search-closed + div.main-content asset-component {
  border-top-width: rem(12.0);
  @media (max-width: $layout-breakpoint-sm) and (orientation: landscape) {
    border-top-width: rem(10.4);
  }
  @media screen and (max-width: $layout-breakpoint-xs) and (orientation: portrait)  {
    border-top-width: rem(11.2);
  }
  wz-asset-list {
    min-height: calc(100vh - 472px);
    @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0)  {
      min-height: calc(100vh - 807px);
    }
  }
}

// pages that do not have options to open and close search and bins, but don't have a bk hero image or video (admin)
header.app-header + div.main-content admin-component {
  display: flex;
  transition: border-top-width 0.35s, $swift-ease-in-out-timing-function;
  border-top: rem(16.6) solid mat-color($mat-grey, 900, .7);
  @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
    border-top-width: rem(15.2);
  }
}

header.app-header + div.main-content admin-component {
  border-top-width: rem(6.4);
  @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
    border-top-width: rem(5.6);
  }
}

// pages that do not have options to open and close search and bins with a bk hero image or video (user, home)
// currently the latest material header toolbar does not change sizes for mobile. If it does, then used the media query
header.app-header + div.main-content user-component .hero,
header.app-header + div.main-content home-component .hero {
  padding-top: rem(6.4);
  @media (max-width: $layout-breakpoint-sm) and (orientation: landscape) {
    border-top-width: rem(4.8);
  }
  @media screen and (max-width: $layout-breakpoint-xs) and (orientation: portrait)  {
    padding-top: rem(5.6);
  }
}
