header.app-header {
  position: relative;
  width: 100%;
  z-index: 3;
  background-color:rgba(md-color($md-primary, 900), .3);
  // border-bottom: solid 1px rgba(contrast-color(md-color($md-primary, 900)), .25);
  @include md-elevation(1);
  position: absolute;
  top: 0;
  left: 0;
  @include transition($swift-ease-out);
  a.home-link > .logo-wrapper {
    @include transition(all .4s ease-in-out);
    opacity: .7;
    top: 0;
    margin: 0;
    overflow: hidden;
    width: rem(9.5);
    height: rem(6.4);
    position: absolute;
    line-height: 0;
    &:hover {
      opacity: 1;
    }
    .logo img {
      @include background-image(url($logo-header));
      background-position: 0 rem(.9);
      background-repeat: no-repeat;
      background-size: rem(27.2);
      width: rem(9.5);
      height: rem(5.7);
    }
    @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
      .logo img {
        background-position: 0 rem(1.5);
        background-repeat: no-repeat;
        background-size: rem(20);
        height: rem(5.0);
      }
    }
  }
  &.fixed {
    background-color:rgba(md-color($md-background, app-bar), .95);
    @include text-contrast(md-color($md-background, app-bar), md-color($md-foreground, secondary-text), md-color($md-background, app-bar));
    position: fixed;
    top: 0;
    @include animation(slideDownHeader .75s ease-in-out);
    border-bottom: none;
    @include md-elevation(3);
    a.home-link > .logo-wrapper {
      opacity: .95;
    }
  }
  .badge {
    position: absolute;
    right: .75rem;
    top: .75rem;
    width: 1.25rem;
    height: 1.25rem;
    background-color: md-color($md-accent, 700);
    border-radius: .675rem;
    color: #fff;
  }
}
header.app-header md-toolbar {
  background-color: transparent;
}
header.app-header [md-button],
header.app-header [md-icon-button] {
  @include text-contrast(md-color($md-grey, 900), md-color($md-foreground, secondary-text), md-color($md-background, app-bar));
  text-transform: uppercase;
  margin-left: rem(.6);
  @include transition($swift-ease-out);
  &:hover {
    background-color: rgba(md-color($md-background, background), .075);
  }
  &:hover::after {
    background-color: transparent;
  }
  &:first-child{
    margin-left: 0;
  }
}
header.app-header md-toolbar:not(.md-menu-toolbar) [md-button] {
  &.md-accent {
    color: rgba(md-color($md-accent, 500), .8);
  }
}
button[md-icon-button].cart {
  .asset-count {
    position: absolute;
    top:0;
    right: rem(-.2);
    border-radius: $md-button-border-radius;
    background-color: rgba(md-color($md-warn, 700), .9);
    min-width: rem(1.4);
    font-size: .8em;
    line-height: 1;
    margin-right: 0;
    margin-left: 0;
    padding: 2px 3px;
    .count {
      @include text-contrast(md-color($md-warn, 900));
    }
  }
}



header.app-header.fixed [md-button],
header.app-header.fixed [md-icon-button] {
  @include text-contrast(md-color($md-background, app-bar), md-color($md-foreground, secondary-text), md-color($md-background, app-bar));
  @include transition($swift-ease-out);
  &:hover {
    background-color: rgba(md-color($md-background, hover), .08);
  }
  &:hover::after {
    background-color: transparent;
  }
  &:first-child{
    margin-left: 0;
  }
}

// header.app-header app-nav button.open-collection-tray,
// header.app-header app-nav button.open-search {
//   // display: none;
// }

header.app-header.collection-tray-closed app-nav button.open-collection-tray,
header.app-header.search-closed app-nav button.open-search {
  display: initial;
}



@include keyframes(slideDownHeader) {
  0% {
    opacity: .8;
    @include transform(translateY(-200px));
  }

  100% {
    opacity: 1;
    @include transform(translateY(0));
  }
}





// These are used for spacing the top of the page to allow for a absolute and fixed header.
// The spacing may change when search or the bin tray is open in the header.
// there are a few different styles of pages.
// Also the current mdToolbar does not change height for mobile. This could change, that is what the media queries are for.
header.app-header + div.main-content cart-component,
header.app-header + div.main-content collection-show,
header.app-header + div.main-content collections-component,
header.app-header + div.main-content cms-component,
header.app-header + div.main-content search-component,
header.app-header + div.main-content asset-component {
  display: block;
  @include transition(border-top-width 0.35s, $swift-ease-in-out-timing-function);
  border-top: rem(16.6) solid md-color($md-grey, 900, .7);
  @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
    border-top-width: rem(15.2);
  }
}
header.app-header.collection-tray-closed + div.main-content cart-component,
header.app-header.collection-tray-closed + div.main-content collection-show,
header.app-header.collection-tray-closed + div.main-content collections-component,
header.app-header.collection-tray-closed + div.main-content cms-component,
header.app-header.collection-tray-closed + div.main-content search-component,
header.app-header.collection-tray-closed + div.main-content asset-component {
  border-top-width: rem(11.0);
  @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
    border-top-width: rem(9.6);
  }
}
header.app-header.collection-tray-closed.search-closed + div.main-content cart-component,
header.app-header.collection-tray-closed.search-closed + div.main-content collection-show,
header.app-header.collection-tray-closed.search-closed + div.main-content collections-component,
header.app-header.collection-tray-closed.search-closed + div.main-content cms-component,
header.app-header.collection-tray-closed.search-closed + div.main-content search-component,
header.app-header.collection-tray-closed.search-closed + div.main-content asset-component {
  border-top-width: rem(6.4);
  // @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
  //   border-top-width: rem(5.6);
  // }
}
header.app-header.search-closed + div.main-content cart-component,
header.app-header.search-closed + div.main-content collection-show,
header.app-header.search-closed + div.main-content collections-component,
header.app-header.search-closed + div.main-content cms-component,
header.app-header.search-closed + div.main-content search-component,
header.app-header.search-closed + div.main-content asset-component {
  border-top-width: rem(12.0);
  // @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
  //   border-top-width: rem(11.2);
  // }
}

// pages that do not have options to open and close search and bins, but don't have a bk hero image or video (admin)
header.app-header + div.main-content admin-component {
  display: flex;
  @include transition(border-top-width 0.35s, $swift-ease-in-out-timing-function);
  border-top: rem(16.6) solid md-color($md-grey, 900, .7);
  // @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
  //   border-top-width: rem(15.2);
  // }
}

header.app-header + div.main-content admin-component {
  border-top-width: rem(6.4);
  // @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
  //   border-top-width: rem(5.6);
  // }
}

// pages that do not have options to open and close search and bins with a bk hero image or video (user, home)
// currently the latest material header toolbar does not change sizes for mobile. If it does, then used the media query
header.app-header + div.main-content user-component .hero,
header.app-header + div.main-content home-component .hero {
  padding-top: rem(6.4);
  // @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
  //   padding-top: rem(5.6);
  // }
}

// .md-menu {
//   margin-top: 36px;
// }

// .navigation-menu {
//   @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
//     width: rem(10);
//     button[md-menu-item] {
//       color: md-color($md-primary, 500);
//     }
//   }
//   @media screen and (min-width: $layout-breakpoint-sm) {
//     width: rem(20);
//     button[md-menu-item] {
//       color: md-color($md-primary, 500);
//       md-icon {
//         position: absolute;
//         right: rem(2);
//       }
//     }
//   }
// }