gallery-view-component .gallery-header {
  padding-left: rem(.8);
  padding-right: rem(.8);
    header.wz-gallery-breadcrumb {
    padding-top: rem(.6);
    padding-bottom: rem(.5);
    position: relative;
  }
}
