@import './components/one-level-view';
@import './components/two-level-view';

gallery-view-component .gallery-header {
  color: rgba(md-color($md-foreground, text), .5);
  padding-left: rem(1.6);
  padding-right: rem(1.6);
  box-shadow: inset 0 -1px 0 0 md-color($md-foreground, divider), 0 1px 0 0 rgba(md-color($md-background, card), .6);
}
