<!--<div class="gallery-view" layout="row" layout-align="center center">
  <div flex="95">
    <ng-container *ngIf="(data | async).breadcrumbs.length > 1">
      <br/><br/>
      <ng-container *ngFor="let breadcrumb of (data | async).breadcrumbs; let isLast = last; let index = index"> 
        <button *ngIf="!isLast" (click)="onClickBreadcrumb(index)">{{ labelFor(breadcrumb) }}</button>
        <span *ngIf="!isLast">&gt;</span>
        <span *ngIf="isLast">{{ labelFor(breadcrumb) }}</span>
      </ng-container>
    </ng-container>
    <br/><br/>
    
    <one-level-view
      *ngIf="(data | async).numberOfLevels === 1"
      [data]="data | async"
      (navigate)="onNavigate($event)">
    </one-level-view>
    
    <two-level-view
      *ngIf="(data | async).numberOfLevels === 2"
      [data]="data | async"
      (navigate)="onNavigate($event)">
    </two-level-view>
    <br/><br/>
  </div>
</div>-->





<section class="asset-results-header" layout="row" layout-align="center center">
	<header flex-xl="90" flex-gt-lg="95" flex="100">
		<div layout="row" layout-align="space-between end">
			<!--<h2 *ngIf="collection.assetsCount == 0" flex="100" class="md-display-1 alert">
				{{ 'COLLECTION.SHOW.EMPTY_PG_HEADING' | translate }}
			</h2>-->
			<div class="bread-crumb" flex="100" layout-align="center start">
        <a (click)="loadViewZero()">Load Top View (temporary cheat)</a>
			</div>
		</div>
	</header>
</section>
<section class="x">
	<div layout="row" md-scroll-y="" layout-align="center start">
		<div flex-xl="90" flex-gt-lg="95" flex="100">
      <one-level-view *ngIf="numberOfLevels === 1" [data]="data | async" (navigate)="onNavigate($event)"></one-level-view>
      <two-level-view *ngIf="numberOfLevels === 2" [data]="data | async" (navigate)="onNavigate($event)"></two-level-view>
		</div>
	</div>
</section>
