@import './components/one-level-view';
@import '../shared/components/wz-gallery-two-level/wz.gallery-two-level';
@import '../shared/components/wz-gallery-breadcrumb/wz.gallery-breadcrumb';

gallery-view-component .gallery-header {
  padding-left: rem(.8);
  padding-right: rem(.8);
    header.wz-gallery-breadcrumb {
    padding-top: rem(.6);
    padding-bottom: rem(.5);
    position: relative;
  }
}
