gallery-view-component .gallery-header {
  color: rgba(md-color($md-foreground, text), .5);
  padding-left: rem(1.6);
  padding-right: rem(1.6);
  box-shadow: inset 0 -1px 0 0 md-color($md-foreground, divider), 0 1px 0 0 rgba(md-color($md-background, card), .6);
  header {
    padding-top: rem(.6);
    padding-bottom: rem(.5);
    position: relative;
    // .md-display-1 {
    //   margin: 0;
    //   width: calc(100% - 120px);
    //   font-size: rem(2.6);
    //   &.alert {
    //     color: md-color($warn, darker);
    //   }
    // }
    .bread-crumb button[md-button] {
      min-width: 0;
    }
    .breadcrumb-separator {
      position: relative;
      width: rem(1.0);
      &::before {
        content: "\e5cc";
        font-family: 'Material Icons';
        position: absolute;
        top: rem(.5);
        left: rem(-.7);
        font-size: rem(2.4);
        opacity: .4;
      }
    }
    .breadcrumb-current {
      text-transform: uppercase;
      padding: 0 rem(1.6);
      text-transform: uppercase;
      white-space: nowrap;
      text-decoration: none;
      vertical-align: baseline;
      font-size: rem(1.4);
      text-align: center;
      padding: 0 rem(1.6);
      line-height: rem(3.6);
    }
  }
}

one-level-view {
  width: 100%;
  display: block;
}
one-level-view ul {
  list-style: none;
  font-size: 0;
  line-height: 0;
  padding: 0;
  margin: 0 0 0 -1%;
  min-height: 100%;
  & > li {
    font-size: 1em;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    margin: 1% 0 3.75% 1%;
    width: 32.333%;
    transition: $swift-ease-out;

    @media screen and (max-width: $layout-breakpoint-md) {
      width: 32.3333%
    }
    @media screen and (max-width: $layout-breakpoint-sm) {
      width: 49%;      
    }
    @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
      width: 99%;
      margin-bottom: 7%;          
    }
    a.item {
      display: block;
      height: 0;
      width: 100%;
      position: relative;
      padding: 56.25% 0 0 0;
      background-image:
        linear-gradient(rgba(md-color($md-grey, 900),1), rgba(md-color($md-grey, 900),.6)),
        linear-gradient(rgba(md-color($md-grey, 900),.5), rgba(md-color($md-grey, 900),1))
      ;
      &:hover, &:active {
        cursor: pointer;
      }
      &::before {
        content: " ";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        background-image:
          linear-gradient(-7deg, rgba(md-color($md-grey, 900),0.9), rgba(md-color($md-grey, 900),0) 24%),
          linear-gradient(7deg, rgba(md-color($md-grey, 900),0) 75%, rgba(md-color($md-grey, 900),.9))
        ;
        opacity: 0.5;
        transition: opacity 1.5s cubic-bezier(0.55, 0, 0.55, 0.2);
        z-index: 1;
      }
      img {
        position: absolute;
        display: block;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        // width: 100%;
        // if you want to stretch 4:3 SD thumbs
      }
      section {
        position: absolute;
        bottom: 0;
        left:0;
        width: calc(100% - 20px);
        padding: rem(.5) rem(1.0);
        background-color: rgba(md-color($md-grey, 900),.6);
        min-height: 23.333%;
        @include text-contrast(md-color($md-grey, 900));
        .item-label {
          font-size: rem(2.3);
          line-height: 1;
        }
      }
    }
  }
}
