.wz-confirmation-dialog md-card {
  margin-top: 40%;
  z-index: 20;
  width: 33vw;
  &:hover {
    @include md-elevation(20);
  }
  .md-card {
    width: 100%;
  }
  md-card-title, md-card-subtitle, md-card-actions {
    padding: 12px 0;
  }
  span.md-button-wrapper {
    color: #2196F3;
  }
}