.wz-sort  {
  min-width: rem(27.5);
  .group {
    justify-content: space-between;
    button[md-menu-item]{
      flex: 1 0 100%;
      height: rem(3.5);
      box-shadow: none;
      position: relative;
      md-icon.material-icons {
        opacity: 0;
        font-size: 26px;
        margin-top: rem(-.8);
      }
    }
  }
  .group button[md-menu-item].active {
    background-color: transparent;
    color: md-color($md-primary);
    md-icon.material-icons {
      color: md-color($md-primary);
      opacity: 1;
    }
  }
}