div.mat-menu-panel div.mat-menu-content wz-sort-component div.dense,
.mat-menu.dd-menu-wrapper.dense {
  min-width: rem(27.5);
  .select-dd {
    // height: rem(3.2);
    // flex-direction: column;
    // justify-content: space-between;
    button[mat-menu-item]{
      font-size: .9em;
      height: rem(3.2);
      line-height: rem(3.2);
      .mat-icon.material-icons {
        opacity: 0;
        margin-top: rem(-.8);
      }
    }
  }
  .select-dd.active button[mat-menu-item] {
    background-color: transparent;
    .mat-icon.material-icons {
      opacity: 1;
    }
  }
  mat-divider {
    margin-top: rem(.6);
    margin-bottom: rem(.6);
    border-top-width: 1px;
    border-top-style: solid;
  }
}
