<div class="cart-payment" layout="row" layout-align="center center">
  <div flex="100" flex-gt-lg="85" class="payment-select">
    <!--Hold-->
    <section *ngIf="showHoldMessage | async"
      layout="column"
      layout-align="center center"
      md-scroll-y=""
      flex="100">

      <header flex="100" layout="column" layout-align="start center" class="account-on-hold">
        <h2 class="commerce-heading">{{ (paymentOptions | async).explanation | translate }}</h2>
        <p class="instructions">{{ 'CHECKOUT.PAYMENT.HOLD_MSG' | translate:{email_link:'sales-support@wazeedigital.com'} }}</p>
        <a md-button color="primary" href="{{'mailto:'+('CHECKOUT.PAYMENT.SALES_SUPPORT_EMAIL' | translate)}}">{{ 'CHECKOUT.PAYMENT.SALES_SUPPORT_EMAIL' | translate }}</a>
      </header>
    </section>

    <!--Offline Agreement-->
    <div *ngIf="showOfflineAgreementMessage | async"
      layout-align-gt-sm="space-between center"
      layout-align="center center"
      layout="column"
      layout-padding
      layout-gt-sm="row">
      <section flex-gt-lg="60" flex-gt-md="55" flex-md="50">
        <h2 class="md-headline">{{ (paymentOptions | async).explanation }}</h2>
        <button
          md-raised-button
          color="primary"
          (click)="selectInvoiceLater()">
            Pay Later
        </button>
      </section>
      <section md-scroll-y="" flex-gt-lg="30" flex-gt-md="35" flex-md="40" flex="100">
        <md-card class="wz-form-card cc-form">
          <md-card-content>
            <wz-cc-form 
              [items]="formItems | async" 
              [serverErrors]="serverErrors"
              [successfullyVerified]="successfullyVerified | async"
              submitLabel="{{'CART.PAYMENT.VERIFY' | translate}}"
              (onEdit)="editCreditCard()"
              (formSubmit)="preAuthorize($event)"></wz-cc-form>
          </md-card-content>
        </md-card>
      </section>
    </div>

    <!--Provisional Order-->
    <section *ngIf="showProvisionalOrderMessage | async"
      layout="column"
      layout-align="center center"
      md-scroll-y=""
      flex="100">

      <header flex="100" layout="column" layout-align="center center">
        <h2 class="commerce-heading">{{ (paymentOptions | async).explanation | translate }}</h2>
        <p class="instructions">{{ 'CHECKOUT.PAYMENT.PROVISIONAL_MSG' | translate }}</p>
      </header>

      <div class="proceed" flex="100" layout="row" layout-align="end end">
        <div>
          <button
            md-raised-button
            color="primary"
            (click)="goToNextTab()">
              {{ 'CART.PAYMENT.FORWARD_BTN' | translate}}
          </button>
        </div>
      </div>
    </section>

    <!--Credit card only-->
    <section *ngIf="showCreditCardForm | async"
      layout="column"
      layout-align="center start"
      md-scroll-y=""
      flex-gt-lg="30"
      flex="100">

      <header flex="100" layout="column" layout-align="start">
        <h2 class="commerce-heading test">{{ (paymentOptions | async).explanation | translate }}</h2>
        <p class="instructions">{{ 'CHECKOUT.PAYMENT.CREDIT_CARD_MSG' | translate}}</p>
      </header>

      <md-card class="wz-form-card cc-form">
        <md-card-content>
          <wz-cc-form 
            [items]="formItems | async" 
            [serverErrors]="serverErrors"
            [successfullyVerified]="successfullyVerified | async"
            submitLabel="{{'CART.PAYMENT.VERIFY' | translate}}"
            (onEdit)="editCreditCard()"
            (formSubmit)="preAuthorize($event)"></wz-cc-form>
        </md-card-content>
      </md-card>
      <div flex="100" layout="column" layout-align="start center">
        <span class="md-caption">{{ ((paymentOptions | async).explanation)+'_MSG' | translate }}</span>
      </div>
    </section>

    <!--Credit Card AND Purchase on Credit-->
    <div *ngIf="showCreditCardAndPurchaseOnCredit | async" layout="column" layout-gt-xs="row" layout-padding>
      <section flex-gt-lg="30" flex-gt-md="35" flex-md="40" flex="100">
        <header layout="column" layout-align="start">
          <h2 class="md-headline">{{ (paymentOptions | async).explanation }}</h2>
        </header>
        <md-radio-group layout="column" class="example-radio-group" (click)="disableTab(3)" [(ngModel)]="selectedPaymentOption">
          <md-radio-button *ngFor="let method of (paymentOptions | async).paymentOptions"
            [value]="method" class="example-radio-button">
            {{method}}
          </md-radio-button>
        </md-radio-group>
      </section>
      <section *ngIf="selectedPaymentOption === 'CreditCard'"
        md-scroll-y=""
        flex-gt-lg="30"
        flex-gt-md="35"
        flex-md="40"
        flex="100">
        <md-card class="wz-form-card cc-form">
          <md-card-content>
            <wz-cc-form 
              [items]="formItems | async" 
              [serverErrors]="serverErrors"
              [successfullyVerified]="successfullyVerified | async"
              submitLabel="{{'CART.PAYMENT.VERIFY' | translate}}"
              (onEdit)="editCreditCard()"
              (formSubmit)="preAuthorize($event)"></wz-cc-form>
          </md-card-content>
        </md-card>
      </section>

      <!--Purchase on Credit only-->
      <section *ngIf="selectedPaymentOption === 'PurchaseOnCredit'" flex-gt-lg="30" flex-gt-md="35" flex-md="40" flex="100">
        <div>
          <h5 class="md-title">{{ 'CART.PAYMENT.PURCHASE_ON_CREDIT' | translate }}</h5>
          <p class="instructions">{{ 'CART.PAYMENT.PURCHASE_ON_CREDIT_INSTRUCTIONS' | translate }}</p>
          <md-checkbox
            (change)="selectPurchaseOnCredit($event)"
            color="primary">
            {{ 'CART.PAYMENT.PURCHASE_ON_CREDIT' | translate }}
          </md-checkbox>
        </div>
      </section>
    </div>

  </div>
</div>
