<div class="cart-payment" layout="row" layout-align="center center">
  <div flex="100" flex-gt-lg="85" class="payment-select">
    <!--Hold-->
    <section *ngIf="showHoldMessage | async"
      layout="column"
      layout-align="center center"
      md-scroll-y=""
      flex="100">

      <header flex="100" layout="column" layout-align="start center" class="account-on-hold">
        <h2 class="commerce-heading">{{ (paymentOptions | async).explanation | translate }}</h2>
        <p class="instructions">{{ 'CHECKOUT.PAYMENT.HOLD_MSG' | translate:{email_link:'sales-support@wazeedigital.com'} }}</p>
        <a md-button color="primary" href="{{'mailto:'+('CHECKOUT.PAYMENT.SALES_SUPPORT_EMAIL' | translate)}}">{{ 'CHECKOUT.PAYMENT.SALES_SUPPORT_EMAIL' | translate }}</a>
      </header>
    </section>

    <!--Offline Agreement-->
    <div *ngIf="showOfflineAgreementMessage | async"
      layout-align="center start"
      layout="column"
      layout-gt-xs="row">
      <section flex-gt-md="30" flex-md="40" flex="100">
        <header layout="column" layout-align="start">
          <h2 class="commerce-heading">{{ (paymentOptions | async).explanation | translate }}</h2>
          <p class="instructions">{{ ((paymentOptions | async).explanation)+'_MSG' | translate }}</p>
        </header>
        <button
          md-raised-button
          color="primary"
          (click)="selectInvoiceLater()">
            Pay Later
        </button>
      </section>
      <section        
        md-scroll-y=""
        flex-gt-lg="35"
        flex-gt-md="35"
        flex-md="40"
        flex="100">
        <md-card class="wz-form-card cc-form">
          <md-card-content>
            <wz-cc-form 
              [items]="formItems | async" 
              [serverErrors]="serverErrors"
              [successfullyVerified]="successfullyVerified | async"
              submitLabel="{{'CART.PAYMENT.VERIFY' | translate}}"
              (onEdit)="editCreditCard()"
              (formSubmit)="preAuthorize($event)"></wz-cc-form>
          </md-card-content>
        </md-card>
      </section>
      <section flex-lg="35" flex="30" hide-sm hide-xs></section>
    </div>

    <!--Provisional Order-->
    <section *ngIf="showProvisionalOrderMessage | async"
      layout="column"
      layout-align="center center"
      md-scroll-y=""
      flex="100">

      <header flex="100" layout="column" layout-align="center center">
        <h2 class="commerce-heading">{{ (paymentOptions | async).explanation | translate }}</h2>
        <p class="instructions">{{ 'CHECKOUT.PAYMENT.PROVISIONAL_MSG' | translate }}</p>
      </header>

      <div class="proceed" flex="100" layout="row" layout-align="end end">
        <div>
          <button
            md-raised-button
            color="primary"
            (click)="goToNextTab()">
              {{ 'CART.PAYMENT.FORWARD_BTN' | translate}}
          </button>
        </div>
      </div>
    </section>

    <!--Credit card only-->
    <section *ngIf="showCreditCardForm | async"
      layout="column"
      layout-align="center start"
      md-scroll-y=""
      flex-gt-lg="30"
      flex="100">

      <header flex="100" layout="column" layout-align="start">
        <h2 class="commerce-heading">{{ (paymentOptions | async).explanation | translate }}</h2>
        <p class="instructions">{{ 'CHECKOUT.PAYMENT.CREDIT_CARD_MSG' | translate}}</p>
      </header>

      <md-card class="wz-form-card cc-form">
        <md-card-content>
          <wz-cc-form 
            [items]="formItems | async" 
            [serverErrors]="serverErrors"
            [successfullyVerified]="successfullyVerified | async"
            submitLabel="{{'CART.PAYMENT.VERIFY' | translate}}"
            (onEdit)="editCreditCard()"
            (formSubmit)="preAuthorize($event)"></wz-cc-form>
        </md-card-content>
      </md-card>
      <div flex="100" layout="column" layout-align="start center">
        <span class="md-caption">{{ ((paymentOptions | async).explanation)+'_MSG' | translate }}</span>
      </div>
    </section>

    <!--Credit Card AND Purchase on Credit-->
    <div *ngIf="showCreditCardAndPurchaseOnCredit | async"
      layout="column" layout-gt-xs="row" class="credit-card-and-account-credit">
      <section flex-gt-md="30" flex-md="40" flex="100">
        <header layout="column" layout-align="start">
          <h2 class="commerce-heading">{{ (paymentOptions | async).explanation | translate }}</h2>
          <p class="instructions">{{ ((paymentOptions | async).explanation)+'_MSG' | translate }}</p>
        </header>
        <md-radio-group layout="column" class="example-radio-group" (click)="disableTab(3)" [(ngModel)]="selectedPaymentOption">
          <md-radio-button *ngFor="let option of (paymentOptions | async).paymentOptions"
            class="example-radio-button"
            [value]="option">
            {{ ('CHECKOUT.PAYMENT.OPTION'+'_'+option) | uppercase | translate }}
          </md-radio-button>
        </md-radio-group>
      </section>
      <section *ngIf="selectedPaymentOption === 'CreditCard'"
        md-scroll-y=""
        flex-gt-lg="35"
        flex-gt-md="35"
        flex-md="40"
        flex="100">
        <md-card class="wz-form-card cc-form">
          <md-card-content>
            <wz-cc-form 
              [items]="formItems | async" 
              [serverErrors]="serverErrors"
              [successfullyVerified]="successfullyVerified | async"
              submitLabel="{{'CART.PAYMENT.VERIFY' | translate}}"
              (onEdit)="editCreditCard()"
              (formSubmit)="preAuthorize($event)">
            </wz-cc-form>
          </md-card-content>
        </md-card>
      </section>
      <section *ngIf="selectedPaymentOption === 'PurchaseOnCredit'" flex-gt-lg="30" flex-gt-md="35" flex-md="40" flex="100">
        <md-card class="poc-details">
          <md-card-title>{{ 'CART.PAYMENT.PURCHASE_ON_CREDIT' | translate }}</md-card-title>
          <md-card-content>
            <md-card-subtitle class="poc instructions">
              {{ 'CART.PAYMENT.PURCHASE_ON_CREDIT_INSTRUCTIONS' | translate:{total:(data | async).total | currency:'USD':true:'1.2-2'} }}
            </md-card-subtitle>
          </md-card-content>
          <md-card-actions align="end">
            <button md-button color="primary" (click)="selectPurchaseOnCredit()">
              {{ 'CART.PAYMENT.PURCHASE_ON_CREDIT_BTN' | translate }}
            </button>
          </md-card-actions>
        </md-card>
      </section>
      <section flex-lg="35" flex="30" hide-sm hide-xs></section>
    </div>

  </div>
</div>
