<projects-component
	[readOnly]="true"
  [quoteType]="(quote | async).purchaseType"
  [projects]="projects" 
  [userCan]="userCan">
</projects-component>

<div *ngIf="userCan.administerQuotes()">
  <div layout="column" layout-align="center end">
    <div flex="100" layout-padding>
      <button
          *ngIf="shouldShowCloneButton | async"
          md-button
          class="large-text is-outlined"
          (click)="onCloneQuote()">
          {{ 'QUOTE.CLONE_QUOTE' | translate }}
        </button>
      <button
        *ngIf="shouldShowExpireQuoteButton"
        md-button
        color="warn"
        class="is-outlined large-text"
        (click)="showExpireConfirmationDialog()">
        {{ 'QUOTE.EXPIRE_BTN' | translate }}
      </button>
      <button
        *ngIf="shouldShowResendButton"
        (click)="openResendDialog()"
        md-button
        class="is-outlined large-text"
        color="primary">
        {{ 'QUOTE.EXTEND_EXPIRATION' | translate }}
      </button>
    </div>
  </div>
</div>

<section
	*ngIf="shouldShowCheckoutOptions"
  class="cart-total" layout="row" layout-align="center center">
	<div flex="100">
    <div *ngIf="hasDiscount" flex="100" layout="row" layout-align="end center" class="subtotal md-headline">
      <span class="total-label" flex="100">
        {{ 'CART.CART_SUBTOTAL' | translate }} 
      </span>
      <span class="total-amount" flex="nogrow">
        {{ (quote | async).subTotal | currency:'USD':true:'1.2-2' }}
      </span>
    </div>
    <div *ngIf="hasDiscount" flex="100" layout="row" layout-align="end center" class="discount md-headline">
      <span class="total-label" flex="100">
        {{ 'CART.CART_DISCOUNT' | translate }} 
      </span>
      <span class="total-amount" flex="nogrow">{{ (quote | async).discount }}</span>
    </div> 
    <div flex="100" layout="row" layout-align="end center" class="total md-headline">
      <span class="total-label">
        {{ 'CART.CART_TOTAL' | translate }} 
      </span>
      <span class="total-amount">
        {{ quoteService.total | async | currency:'USD':true:'1.2-2' }}
      </span>
		</div>
    <div flex="100" layout="row" layout-align="end center">
      <button
        md-button
        *ngIf="shouldShowLicenseDetailsBtn"
        color="primary"
        class="is-outlined large-text"
        (click)="showLicenseAgreements()">
          {{ 'CART.SHOW_LICENSES_BTN_LABEL' | translate }}
      </button>
      <button
        *ngIf="shouldShowRejectQuoteButton"
        (click)="openRejectQuoteDialog()"
        md-button
        class="is-outlined large-text"
        color="warn">
        {{ 'QUOTE.REJECT_BTN' | translate }}
      </button>
      <button
        md-raised-button class="checkout"
        (click)="checkout()">
          {{ 'CART.PROCEED_BTN_LABEL' | translate }}
      </button>
    </div>
	</div>
</section>
