wz-form([items]="fields", submitLabel="Filter", (formSubmit)="onSubmit($event)")
div
div(layout='row', layout-align='end center')
  button.md-raised.md-primary.conversion(md-raised-button='', type='button', (click)="clearFilters()") clear