section.login.hero
  div(layout='row', md-scroll-y='', layout-align='start center')
    div(flex='')
    div(flex-xl="25", flex-gt-lg="30",flex-gt-md="40", flex-gt-sm="50", flex="100")
      md-card.md-whiteframe-z2
        md-card-header
          .logo-wrapper
            .logo
        md-card-title
          md-card-title-text(layout='column', layout-align='center center')
            span.md-headline Get Started With Wazee
        md-card-content
          form.md-inline-form(layout='column', [ngFormModel]="registerForm", (ngSubmit)="onSubmit(registerForm.value)")
            md-content( layout-sm="row", layout-padding='')
              md-input-container.md-block
                label First Name
                input.md-input(autofocus, type='text', [ngFormControl]="registerForm.controls['firstName']")
              md-input-container.md-block
                label Last Name
                input.md-input(type='text', [ngFormControl]="registerForm.controls['lastName']")
              md-input-container.md-block
                label Email
                input.md-input(type='text', [ngFormControl]="registerForm.controls['emailAddress']")
              md-input-container.md-block
                label Password
                input.md-input(type='password', [ngFormControl]="registerForm.controls['password']")
    
            md-card-actions(layout='column', layout-align='center center', layout-wrap='')  
              button.md-raised.md-primary.conversion(md-raised-button='', type='submit') Sign Up
      
      div(md-theme="docs-dark", layout='column', layout-align='center center', layout-wrap='')
        span.md-title Already have an account? #[a.md-accent(md-button="", [routerLink]="['Login']") Login]
        
    div(flex="")