section.login.hero
  div(layout='row', md-scroll-y='', layout-align='center start')
    div(flex-gt-lg="30",flex-gt-md="40", flex-gt-sm="55", flex="100")
      md-card.md-whiteframe-z2
        md-card-header
          .logo-wrapper
            .logo
        md-card-title
          md-card-title-text(layout='column', layout-align='center center')
            span.md-headline Get Started With Wazee
        md-card-content
          wz-form([items]="fields", (submit)="onSubmit($event)")
      
      div(md-theme="docs-dark", layout='column', layout-align='center center', layout-wrap='')
        span.md-title Already have an account? #[a.md-accent(md-button="", [routerLink]="['Login']") Login]