
<section layout="row" flex="100" layout-align="start" class="header-tray">
  <div flex="80" class="asset-carousel grid">
    <ul class="asset-list" *ngIf="collection.assets">
      <li *ngFor="let asset of collection.assets">
        <div class="asset">
          <a flex="" [routerLink]="['asset/',asset]" class="asset-thb">
            <img *ngIf="asset.thumbnail" src="{{asset.thumbnail.urls.https}}"/>
            <span class="asset-id">{{asset}}</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <div layout="row" flex="auto" layout-align="end center" class="focused-collection">
    <button md-icon-button flex="none" title="create new" type="button" (click)="showNewCollection()"><md-icon>add</md-icon></button>
    <nav class="focused" *ngIf="collection.name" (click)="goToCollections()">
      <button md-button class="is-dd">{{collection.name}}</button>
      <button md-button class="asset-count">
        <span class="count" *ngIf="collection.assets">{{collection.assets.length}}</span>
        <span class="count" *ngIf="!collection.assets">0</span>
      </button>
    </nav>
    <button md-icon-button flex="none" title="more collection options" type="button" (click)="showNewCollection()"><md-icon>more_vert</md-icon></button>
  </div>
  <button md-icon-button title="close collections" type="button" (click)="closeBinTray()" class="close"><md-icon>close</md-icon></button>
</section>