
<section layout="row" flex="100" layout-align="start" class="header-tray">
  <div flex="80" class="asset-carousel"></div>
  <div layout="row" flex="auto" layout-align="end center" class="focused-collection">
    <nav class="focused">
      <button md-button="" class="is-dd"> {{collection.name}} {{collection.id}}</button>
      <div class="asset-count"><span class="count"></span></div>
    </nav>
    <button md-icon-button flex="none" title="more collection options" type="button"><md-icon>more_vert</md-icon></button>
  </div>
  <button md-icon-button title="close collections" type="button" (click)="closeBinTray()" class="close"><md-icon>close</md-icon></button>
</section>