bin-tray {
  width: 100%;
  margin: 0;
  & > section {
    overflow: hidden;
    background-color: darken(md-color($md-background, app-bar), 1%);
    height: auto;
    box-shadow: inset 0 1px 0 0 md-color($md-grey, 800, .1);
    width: 100%;
    .asset-carousel {
      width: calc(100% - 306px);
      padding: 0 0 0 3%;
      max-height: 100%;
      min-height: 100%;
      border: none;
      color: md-color($md-foreground, secondary-text);
      background-color: rgba(darken(md-color($md-background, app-bar), 50%), .06);
      border-radius: 0;
    }
    .focused-collection {
      @include transition(max-height 0.45s, min-height 0.35s, $swift-ease-in-out-timing-function);
      min-height: rem(5.6);
      max-height: rem(5.6);
      background-color:  md-color($md-primary, 800, .15);
      .focused {
        min-height: 100%;
        width: auto;
        button[md-button] {
          color: rgba(md-color($md-foreground, secondary-text), .6);
        }
        & + button[md-icon-button] {
          margin-top: - rem(.5);
          max-width: rem(4.0);
          min-width: rem(4.0);
          color: rgba(md-color($md-foreground, secondary-text), .6);
        } 
      }
    }
  }
}

header.app-header.bin-tray-closed bin-tray section {
  .focused-collection {
    max-height: 0;
    min-height: 0;
  }
  button.close {
    max-height: 0;
    min-height: 0;
    overflow: hidden;
  }
}
