header.hero 
    div(layout='row',layout-xs='column',md-scroll-y='',layout-align='center start',layout-padding='')
      div(flex-xl="35",flex-gt-lg="50",flex-gt-md="55",flex-gt-sm="70",flex="100")
        div(layout='column', layout-align='center', layout-wrap='')
          .logo-wrapper
            .logo
          search-box([config]="components.searchBox", (searchContext)="newSearchContext($event)")
          h4.md-headline
            | {{ 'HOME.SEARCH_HEADING' | translate }}

section.mrkt-collections(layout='row', layout-align='center start')
  div(flex-xl="70",flex-gt-lg="80",flex-gt-md="90",flex="100", layout='row', layout-wrap='')
    .mrkt-collections__highlight(flex-gt-sm='33',flex="100")
      a([routerLink]="['UserManagement', 'Register']")
        .mrkt-collections__highlight_img
        .mrkt-collections__highlight_content
          h5.md-title {{ 'HOME.HIGHLIGHT.ONE' | translate }}
    .mrkt-collections__highlight(flex-gt-sm='33',flex="100")
      a([routerLink]="['UserManagement', 'Register']")
        .mrkt-collections__highlight_img
        .mrkt-collections__highlight_content
          h5.md-title {{ 'HOME.HIGHLIGHT.TWO' | translate }}
    .mrkt-collections__highlight(flex-gt-sm='33',flex="100")
      a([routerLink]="['UserManagement', 'Register']")
        .mrkt-collections__highlight_img
        .mrkt-collections__highlight_content
          h5.md-title {{ 'HOME.HIGHLIGHT.THREE' | translate }}
    .mrkt-collections__highlight(flex-gt-sm='33',flex="100")
      a([routerLink]="['UserManagement', 'Register']")
        .mrkt-collections__highlight_img
        .mrkt-collections__highlight_content
          h5.md-title {{ 'HOME.HIGHLIGHT.FOUR' | translate }}
    .mrkt-collections__highlight(flex-gt-sm='33',flex="100")
      a([routerLink]="['UserManagement', 'Register']")
        .mrkt-collections__highlight_img
        .mrkt-collections__highlight_content
          h5.md-title {{ 'HOME.HIGHLIGHT.FIVE' | translate }}
    .mrkt-collections__highlight(flex-gt-sm='33',flex="100")
      a([routerLink]="['UserManagement', 'Register']")
        .mrkt-collections__highlight_img
        .mrkt-collections__highlight_content
          h5.md-title {{ 'HOME.HIGHLIGHT.SIX' | translate }}

section.mrkt-call-to-action
  div(layout='row', layout-align='center start', layout-padding='')
    div(flex-gt-lg="60",flex-gt-md="70",flex="95",layout-align='center start')
      h2.md-display-1
        | {{ 'HOME.DESCRIPTION' | translate}}
      md-button.md-block.conversion(*ngIf="!currentUser.loggedIn()", md-button='', [routerLink]="['UserManagement', 'Register']") {{'HOME.START_PROJECT' | translate }} 
      md-button.md-block.conversion(*ngIf="currentUser.loggedIn()", md-button='', [routerLink]="['UserManagement', 'Profile']") {{'HOME.START_PROJECT' | translate }} 
    
      
section.vendor-marquee(hide-xs='', layout="column")
  ul
    li
      img(src='resources/img/client-marquee/client_dimoc.png')
      img(src='resources/img/client-marquee/client_usta.png')
      img(src='resources/img/client-marquee/client_AFV.png')
      img(src='resources/img/client-marquee/client_discovery.png')
      img(src='resources/img/client-marquee/client_ncaa.png')
      // img(src='resources/img/client-marquee/client_fox.png')
      img(src='resources/img/client-marquee/client_paramount.png')
    li
      img(src='resources/img/client-marquee/client_natgeo.png')
      img(src='resources/img/client-marquee/client_pac12.png')
      img(src='resources/img/client-marquee/client_usga.png')
      img(src='resources/img/client-marquee/client_sony.png')
      img(src='resources/img/client-marquee/client_big10.png')
      img(src='resources/img/client-marquee/client_wpt.png')
    li
      img(src='resources/img/client-marquee/client_dimoc.png')
      img(src='resources/img/client-marquee/client_usta.png')
      img(src='resources/img/client-marquee/client_AFV.png')
      img(src='resources/img/client-marquee/client_discovery.png')
      img(src='resources/img/client-marquee/client_ncaa.png')
      // img(src='resources/client-marquee/img/client_fox.png')
      img(src='resources/img/client-marquee/client_paramount.png')

