<ng-container *ngIf="showLoadingSpinner | async">
  <div layout="row" layout-align="center center">
    <mat-progress-spinner [diameter]="40" [strokeWidth]="4" color="accent" mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-container>
<mat-list class="aspera-download-options">
  <div layout="row" layout-align="center center">
    <ng-container *ngIf="!(hasDeliveryOptions | async)">
      <h3 class="mat-body">{{ 'ASSET.DELIVERY_OPTIONS.MISSING' | translate }}</h3>
    </ng-container>
  </div>
  <ng-container *ngIf="deliveryOptions | async as groups">
    <mat-list-item *ngFor="let group of groups">
      <span mat-menu-item disabled flex>{{ trStringFor(group) | translate }}</span>
      <div class="actions" flex>
        <button
          *ngFor="let option of group"
          (click)="onDownloadBtnClick(option)"
          mat-icon-button>
          <mat-icon>{{ iconStringFor(option) | translate }}</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </ng-container>
</mat-list>
