<div class="collections-dd-menu md-elevation-z12">
  <div class="dd-menu-wrapper">
    <header layout="row">
      <h4 class="md-headline" flex="100" layout-align="start center">
        {{ 'COLLECTION.DD_MENU.HEADING' | translate }}
      </h4>
      <div class="tools" flex="auto" layout-align="end center">
        <button md-icon-button title="{{ 'COLLECTION.DD_MENU.SEARCH_BTN_TITLE' | translate }}" (click)="showCollectionSearch($event)"><md-icon>search</md-icon></button>
        <button md-icon-button title="{{ 'COLLECTION.DD_MENU.FILTER_BTN_TITLE' | translate }}" (click)="showCollectionFilter($event)"><md-icon>filter_list</md-icon></button>
        <button md-icon-button title="{{ 'COLLECTION.DD_MENU.SORT_BTN_TITLE' | translate }}" (click)="showCollectionSort($event)"><md-icon>sort</md-icon></button>
      </div>
    </header>
    <collections-search-form
      [ngClass]="{ 'revealed' : collectionSearchIsShowing }"
      [hidden]="!collectionSearchIsShowing"
      (query)="search($event)">
    </collections-search-form>
    <collections-filter-dd
      [hidden]="!collectionFilterIsShowing"
      [UiState]="UiState"
      (filter)="applyFilter($event)">
    </collections-filter-dd>
    <collections-sort-dd
      [hidden]="!collectionSortIsShowing"
      [UiState]="UiState"
      (sort)="applySort($event)">
    </collections-sort-dd>
    <div>
      <p class="md-caption">{{'COLLECTION.INDEX.FILTER_DD_MENU.' + currentFilter | uppercase | translate}}, {{'COLLECTION.INDEX.SORT_DD_MENU.' + currentSort | uppercase | translate }}</p>
    </div>
    <md-list dense>
      <md-list-item *ngFor="let collection of (collections | async).items" [ngClass]="{active: focusedCollection.id === collection.id}">
        <button (click)="selectFocusedCollection(collection)">
          <md-icon *ngIf="focusedCollection.id === collection.id">check_circle</md-icon>
          <md-icon *ngIf="focusedCollection.id !== collection.id">radio_button_unchecked</md-icon>
          {{collection.name}}
          <md-icon class="right-align" title="{{ 'COLLECTION.DD_MENU.SHARED_TITLE' | translate:{role:collection.userRole} }}" *ngIf="collection.userRole !== 'owner'">folder_shared</md-icon>
        </button>
      </md-list-item>
    </md-list>
    <footer layout="row" layout-align="center center">
      <div class="actions" flex="90" layout="row" layout-align="center center">
        <div flex="33" layout-align="center start">
          <button md-button type="button" (click)="createCollection.show();UiState.closeCollectionsList();"><md-icon>add_circle_outline</md-icon><span class="label">{{ 'COLLECTION.DD_MENU.CREATE_BTN_LABEL' | translate }}</span></button>
        </div>
        <div flex="33" layout-align="center center">
          <a md-button (click)="navigateToCollectionsIndex()" disableRipple>
            <md-icon>folder_open</md-icon><span class="label">{{ 'COLLECTION.DD_MENU.VIEW_BTN_LABEL' | translate }}</span>
          </a>
        </div>
        <div flex="33" layout-align="center end">
          <a md-button (click)="navigateToCollectionShow(focusedCollection.id)" disableRipple>
            <md-icon>open_in_browser</md-icon><span class="label">{{ 'COLLECTION.DD_MENU.OPEN_BTN_LABEL' | translate }}</span>
          </a>
        </div>
      </div>
    </footer>
  </div>
</div>
<!--<div [ngClass]="{'fade-out': !(UiState.data | async).newCollectionFormIsOpen, 'fade-in': (UiState.data | async).newCollectionFormIsOpen}" class="bk-for-dd" (click)="closeCollectionsList()"></div>-->

<wz-dialog #createCollection>
  <collection-form
    [UiState]="uiState"
    [collection]="activeCollection.data | async"
    [config]="config"
    [dialog]="createCollection"
    [ngClass]="{'revealed': (UiState.data | async).newCollectionFormIsOpen}"
    layout="row" layout-align="center start">
  </collection-form>
</wz-dialog>