div.bk-for-dialog, div.bk-for-dd {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: -1;
}
collection-form div.bk-for-dialog.fade-in {
  @include background-image(
    url("../assets/img/bk/tex/bktx_dgl_lines_light.png"),
    linear-gradient(md-color($md-grey, 900, .7), md-color($md-grey, 900, .7)));
  @include transition(opacity, 1200ms, $md-fast-out-slow-in-timing-function);
  opacity: 1;
}  
collection-form div.bk-for-dialog.fade-out {
  opacity: 0;
}  
collection-form {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
  margin-top: -200%;
  md-card.wz-form-card {
    margin-top:-250%;
    @include transition(margin-top, 600ms, $md-fast-out-slow-in-timing-function);
  }
  &.revealed {
    margin-top: 0;
    position: fixed;
    md-card.wz-form-card {
      margin-top: 9%;
      & > .md-card md-card-content {
        position: relative;
      }
    }
  }
}


.suggestions-menu {
  width: 100%;
  height: auto;
  max-height: rem(30);
  overflow-y: auto;
  position: absolute;
  z-index: 20;
  top: rem(5.1);
  display: none;
  border: 1px solid md-color($md-foreground, divider);
  .heading {
    margin: 0;
    padding-top: rem(1.1); 
    padding-right: 0; 
    padding-bottom: rem(.9); 
    padding-left: rem(1.0);
    border-bottom: 1px solid md-color($md-foreground, divider);
    opacity: .5;
    font-size: 1.1em;
  }
  &.revealed {
    display: block;
    @include md-elevation(1);
    @include animation-name(open-menu);
    @include animation-duration(300ms);
    @include animation-timing-function($swift-ease-in-timing-function);
    @include animation-iteration-count(1);
    @include animation-fill-mode(backwards);
  }
  @include transition($swift-ease-out);
  background-color: md-color($md-background, card);
  color: rgba(md-color($md-foreground, text), .7);
    // @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
    //   position: static;
    //   min-width: 100%;
    //   max-width: 100%;
    // }
  md-list {
    padding-top: 0;
    overflow-x: hidden;
    md-list-item .md-list-item {
      padding: 0;
      height: rem(4.2);
      button {
        height: rem(4.2);
        color: rgba(md-color($md-foreground, text), .7);
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
        border: none;
        text-align: left;
        background: none;
        background-color: transparent;
        font-size: 1.1em;
        line-height: inherit;
        @include transition($swift-ease-out);
        padding-left: rem(1.6);
        padding-right: rem(1.6);
        // box-shadow: inset 0 1px 0 0 md-color($md-foreground, divider);
        &:hover, &:focus, &.active {
          cursor: pointer;
          color: md-color($md-primary);
          background-color: rgba(md-color($md-foreground, base), .1);
          outline: none;
        }
      }
    }
    md-list-item.focused .md-list-item button {
      color: md-color($md-primary);
      background-color: rgba(md-color($md-foreground, base), .07);
      box-shadow: inset 0 1px 0 0 md-color($md-foreground, base), .05;
      md-icon {
        opacity: 1;
      }
      &:hover {
        cursor: default;
      }
    }
    md-list-item:first-child .md-list-item button {
      box-shadow: none;
    }



  }

}



@include keyframes(open-menu) {
  0% {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
  }
  100% {
    max-height: 100%;
    opacity: 1;
  }
}