<div flex-gt-lg="30" flex-gt-md="40" flex-gt-sm="55" flex="100">
  <md-card class="wz-form-card md-elevation-z20">
    <button md-icon-button title="close collection" type="button" (click)="cancelCollectionCreation($event)" class="close"><md-icon>close</md-icon></button>
    <md-card-header>
      <div class="logo-wrapper">
        <div class="logo"></div>
      </div>
    </md-card-header>
    <md-card-title>
      {{ 'COLLECTION.NEW_TITLE' | translate }}
    </md-card-title>
    <md-card-content *ngIf="config">
      <wz-form [items]="config.form.items" submitLabel="COLLECTION.FORM.SUBMIT_LABEL" (formSubmit)="createCollection($event)"></wz-form>
    </md-card-content>
  </md-card>
</div>
<div 
  [ngClass]="{'fade-out': !(UiState.data | async).newCollectionFormIsOpen, 'fade-in': (UiState.data | async).newCollectionFormIsOpen}" 
  class="bk-for-dialog" 
  (click)="cancelCollectionCreation()"></div>