<md-card>
  <md-card-title>Copy Legacy Link</md-card-title>
  <md-card-subtitle>This link will automatically search our legacy site for the assets in this collection</md-card-subtitle>
  <md-card-actions>
    <div layout-align="center center" layout="row" class="link-wrapper">
      <input 
        id="legacyLink"
        class="link-input"
        flex="100"
        layout-align="start center"
        value="{{ legacyLink }}"
        (click)="selectInputForCopy($event)" />
      <button 
        flex="auto"
        layout-align="end center"
        class="clipboard-copy"
        md-icon-button
        data-clipboard-target="#legacyLink"
        title="Copy Link"
        (click)="copiedConfirmedToast.show()">
        <md-icon>content_copy</md-icon>
      </button>
    </div>
  </md-card-actions>
</md-card>

<wz-toast #copiedConfirmedToast>
  <div class="toast" layout="row" layout-align="center center">
    <div flex-xs="100" md-elevation-z2>Link copied to clipboard</div>
  </div>
</wz-toast>