<div flex-gt-lg="30" flex-gt-md="40" flex-gt-sm="55" flex="100">
  <md-card class="wz-form-card md-elevation-z20" (click)="closeSuggestionMenu($event)">
    <button md-icon-button title="close collection" type="button" (click)="cancelCollectionCreation($event)" class="close"><md-icon>close</md-icon></button>
    <md-card-header>
      <div class="logo-wrapper">
        <div class="logo"></div>
      </div>
    </md-card-header>
    <md-card-title>
      {{ 'COLLECTION.NEW_TITLE' | translate }}
    </md-card-title>
    <md-card-content *ngIf="config">
      <wz-form 
        [items]="formItems"
        submitLabel="COLLECTION.FORM.SUBMIT_LABEL" 
        (keyup)="inputKeyUp($event)"
        (keydown)="inputKeyDown($event)"
        (formSubmit)="createCollection($event)"
        autocomplete="off">
      </wz-form>

      <div class="suggestions-menu" [ngClass]="{'revealed': areSuggestionsVisible}">
        <md-list dense>
          <md-list-item *ngFor="let suggestion of suggestions">
            <button (click)="selectSuggestion(suggestion)" [ngClass]="{'active': activeSuggestion == suggestion}">
              {{suggestion}}
            </button>
          </md-list-item>
        </md-list>
      </div>
      
    </md-card-content>
  </md-card>
</div>

<div [ngClass]="{'fade-out': !(UiState.data | async).newCollectionFormIsOpen, 'fade-in': (UiState.data | async).newCollectionFormIsOpen}"
  class="bk-for-dialog" (click)="cancelCollectionCreation()">
</div>
