<div class="wz-dialog wz-legacy-link">
    <button md-icon-button md-dialog-close title="close" type="button" class="close">
      <md-icon>close</md-icon>
    </button>
  <md-dialog-content>
    <h1 md-dialog-title class="dialog-title">{{ 'COLLECTION.COPY_LEGACY_LINK' | translate }}</h1>
    <p class="dialog-summary">{{ 'COLLECTION.COPY_LEGACY_LINK_DESCRIPTION' | translate }}</p>
    <section class="dd-menu-wrapper">
      <div class="link-wrapper" flex="100" layout="row">
        <input 
          id="legacyLink"
          class="link-input"
          flex="100"
          layout-align="end center"
          value="{{ legacyLink }}"
          (click)="selectInputForCopy($event)" />
        <button 
          flex="auto"
          layout-align="end center"
          wzClipboard
          class="clipboard-copy"
          md-icon-button
          data-clipboard-target="#legacyLink"
          title="{{ 'COLLECTION.COPY_LEGACY_LINK' | translate }}"
          (click)="onOpenSnackbar.emit({key: 'COLLECTION.LINK_COPIED_TOAST'})">
          <md-icon>content_copy</md-icon>
        </button>
      </div>
    </section>
  </md-dialog-content>
</div>
