$glb-color: rgba(#fff, .7);

.note {
  color: $glb-color;
}
header.hero {
  color: #fff;
  overflow: hidden;
  width: 100%;
  position: relative;
  margin: 0 auto;
  @include background-image(
    linear-gradient(rgba(darken(#37474F, 30%), 0.3), rgba(#000, 0.5)),
    url("resources/img/hero_masters_js3.jpg")
  );
  background-position: 0 0, center center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  padding-top: 140px;
  margin-bottom: 0;
  min-height: 802px;
  .logo-wrapper {
    height: 300px;
    width: 100%;
    margin-top: 20px;
    .logo {
      @include background-image(url("resources/img/logo_rev.svg"));
      background-position: bottom center;
      background-repeat:no-repeat;
      background-size: 300px;
      height: 300px;
      opacity: .7;
    }
  }
}
