$glb-color: #ccc;

.note {
  color: $glb-color;
}
section.showhero {
  overflow: hidden;
  width: 100%;
  position: relative;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  @include background-image(url("resources/img/hero_bronc.jpg"), linear-gradient(#000 20%, #000 50%));
  margin-bottom: 0;
  min-height: 700px;
  md-content {
    background-color: transparent;
  }
}

header.hero {
  // background-color: transparent;
  @include background-image(url("resources/img/bktx_contour_lines_light.png"), linear-gradient(tranparent 0%, #0273d4 0%));
  color: #fff;
  // min-height: 300px;
  overflow: hidden;
  width: 100%;
  position: relative;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  @include background-image(url("resources/img/hero_masters_js.jpg"), linear-gradient(#000 20%, #000 50%));
  padding-top: 140px;
  margin-bottom: 0;
  min-height: 802px;
  
  
  
}