header.hero 
    div(layout='row', layout-xs="column", layout-margin='', md-scroll-y='', layout-align='start center', layout-padding='')
      div(flex="")
      div(flex-gt-lg="50",flex-gt-md="60", flex-gt-sm="70", flex-gt-xs="90", flex="100")
        div(layout='row', layout-sm='column', layout-align='center center', layout-wrap='')
          .logo-wrapper
            .logo
          p.note
            | Documentarians, film &amp; television producers, sports broadcasters, top brand marketers, and agencies all look to us for incredible footage, killer research and unmatched clearance expertise that saves time and minimizes risk.
          md-button.md-block.conversion(*ngIf="!currentUser.loggedIn()", md-button='', [routerLink]="['User', 'Register']") Get Started! 
      div(flex="")
      
section.vendor-marquee
  ul
    li
      img(src='resources/img/client_dimoc.png')
      img(src='resources/img/client_usta.png')
      img(src='resources/img/client_AFV.png')
      img(src='resources/img/client_discovery.png')
      img(src='resources/img/client_ncaa.png')
      // img(src='resources/img/client_fox.png')
      img(src='resources/img/client_paramount.png')
    li
      img(src='resources/img/client_natgeo.png')
      img(src='resources/img/client_pac12.png')
      img(src='resources/img/client_usga.png')
      img(src='resources/img/client_sony.png')
      img(src='resources/img/client_big10.png')
      img(src='resources/img/client_wpt.png')
    li
      img(src='resources/img/client_dimoc.png')
      img(src='resources/img/client_usta.png')
      img(src='resources/img/client_AFV.png')
      img(src='resources/img/client_discovery.png')
      img(src='resources/img/client_ncaa.png')
      // img(src='resources/img/client_fox.png')
      img(src='resources/img/client_paramount.png')

section.collection-highlights
section.mrkt-call-to-action
