header.hero 
    div(layout='row', layout-xs="column", layout-margin='', md-scroll-y='', layout-align='start center', layout-padding='')
      div(flex="")
      div(flex-xl="35",flex-gt-lg="50",flex-gt-md="55",flex-gt-sm="70",flex-gt-xs="90",flex="100")
        div(layout='column', layout-align='start center', layout-wrap='')
          .logo-wrapper
            .logo
          .search
            form.md-inline-form(layout='column')
              input(md-input="", type='text', placeholder='Search For Videos and Photos...')
              button(type='submit') Search
                i.material-icons(md-icon='') search
          h4.md-headline
            | Incredible footage, killer research and unmatched clearance expertise
      div(flex="")
      
section.vendor-marquee(hide-xs='')
  ul
    li
      img(src='resources/img/client_dimoc.png')
      img(src='resources/img/client_usta.png')
      img(src='resources/img/client_AFV.png')
      img(src='resources/img/client_discovery.png')
      img(src='resources/img/client_ncaa.png')
      // img(src='resources/img/client_fox.png')
      img(src='resources/img/client_paramount.png')
    li
      img(src='resources/img/client_natgeo.png')
      img(src='resources/img/client_pac12.png')
      img(src='resources/img/client_usga.png')
      img(src='resources/img/client_sony.png')
      img(src='resources/img/client_big10.png')
      img(src='resources/img/client_wpt.png')
    li
      img(src='resources/img/client_dimoc.png')
      img(src='resources/img/client_usta.png')
      img(src='resources/img/client_AFV.png')
      img(src='resources/img/client_discovery.png')
      img(src='resources/img/client_ncaa.png')
      // img(src='resources/img/client_fox.png')
      img(src='resources/img/client_paramount.png')

section.collection-highlights
  div(layout='row', layout-xs="column", layout-align='start center', layout-padding='')
    div(flex="")
    div(flex-xl="50",flex-gt-lg="55",flex-gt-md="60",flex-gt-sm="75",flex-gt-xs="95",flex="100")
      div( flex='33')
      div( flex='33')
      div( flex='33')
    div( flex='')

section.mrkt-call-to-action
  div(layout='row', layout-xs="column", layout-align='start center', layout-padding='')
    div(flex="")
    div(flex-xl="50",flex-gt-lg="55",flex-gt-md="60",flex-gt-sm="75",flex-gt-xs="95",flex="100")
      div(layout='column', layout-align='center center', layout-wrap='')
        h2.md-display-1
          | Experience what more than 67,000 customers know. Access #[strong 4 million+ assets] &amp; expert research support.
        md-button.md-block.conversion(*ngIf="!currentUser.loggedIn()", md-button='', [routerLink]="['User', 'Register']") Start Your Project! 
        md-button.md-block.conversion(*ngIf="currentUser.loggedIn()", md-button='', [routerLink]="['User', 'Profile']") Start Your Project! 
    div(flex="")
    

