search {
  display: block;
  background-color:  md-color($md-background, 300);
  // border-top: rem(11.6) solid md-color($md-primary, 900, .7);
  // border-top: rem(10.2) solid md-color($md-primary, 900, .7);
  // border-top: rem(16.6) solid md-color($md-primary, 900, .7);
  @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
    // border-top-width: rem(9);
    // border-top-width: rem(9);
    // border-top-width: rem(9);
    border-top-width: rem(15.4);
  }
}
header.app-header + div.main-content search {
  @include transition(border-top-width 0.35s, $swift-ease-in-out-timing-function);
  border-top: rem(16.6) solid md-color($md-primary, 900, .7);
}
header.app-header.bin-tray-closed + div.main-content search {
  border-top: rem(11.0) solid md-color($md-primary, 900, .7);
}
header.app-header.bin-tray-closed.search-closed + div.main-content search {
  border-top: rem(6.4) solid md-color($md-primary, 900, .7);
}
