@mixin wz-comment-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  wz-comment .wz-comments {
    .new-comment {
      background-color: mat-color($background, card);
    }
    .comments {
      color: mat-color($mat-grey, 700);
      .comment {
        .comment-head {
          border-bottom: 1px solid mat-color($foreground, divider);
          .avatar {
            background-color: mat-color($mat-grey, 300);
            p {
              background-color: rgba(0, 0, 0, 0);
              color: mat-color($background, card);
            }
          }
        }
        &.odd {
          background-color: mat-color($mat-grey, 100);
        }
        &.even {
          background-color: mat-color($background, card);
        }
      }
    }
  }
}
