<section class="wz-comments">
  <header class="comments-header" layout-gt-xs="row" layout="column" layout-align="space-between">
    <h2 flex="grow" class="md-display-1">{{ 'COMMENTS.SECTION_TITLE' | translate }}</h2>
    <div class="actions close" flex="auto"></div>
  </header>
  <div layout-gt-xs="row" layout="column" layout-align="space-between">
    <div flex="33" flex-sm="40"> 
      <div *ngIf="!userCanAddComments" layout="column" class="empty-comment-container">
        <div layout="row" layout-align="center">
          <div flex="90">
            <h2 class="md-display-1">You cannot add comments to this collection</h2>  
            <p>Please contact the collection owner</p>
          </div>
        </div> 
      </div>
      <div *ngIf="userCanAddComments" layout="column" layout-align="start" class="new-comment">
        <md-card class="wz-form-card">
          <md-card-content>
            <wz-form
              [items]="formFields"
              [submitLabel]="formSubmitLabel | async"
              [includeCancel]="true"
              (formCancel)="onFormCancel()"
              (formSubmit)="onFormSubmit($event)">
            </wz-form>
          </md-card-content>
        </md-card>
      </div> 
    </div>
    <div flex="nogrow" class="space-between"></div>
    <div flex="66" flex-sm="60">
      <div *ngIf="!(commentsExist | async)" layout="column" class="comments empty-comment-container">
        <div layout="row" layout-align="center">
          <div flex-gt-lg="35" flex-gt-md="40" flex-gt-sm=55 flex="80">
            <h2 class="md-display-1">{{ 'COMMENTS.EMPTY_COMMENTS_HEADING' | translate }}</h2>  
            <p>{{ 'COMMENTS.EMPTY_COMMENTS_MSG' | translate }}</p>
          </div>
        </div> 
      </div>
      <div *ngIf="commentsExist | async" layout="column" class="comments">
        <div
          class="md-display comment"
          *ngFor="let comment of (comments | async).items; let even = even; let odd = odd"
          [ngClass]="{ odd: odd, even: even }">
          <header class="comment-head" layout="row" layout-align="space-between end">
            <div flex="grow" layout="row" layout-align="center center">
              <div class="avatar" flex="none"><strong>{{initials(comment.userName)}}</strong></div>  
              <div flex="initial">
                <strong>{{comment.userName}} </strong>{{comment.createdOn | date:'short' }}
              </div>
            </div> 
            <div flex="auto" class="actions" layout="row" layout-align="end center">
              <button
                title="{{ 'COMMENTS.EDIT_HOVER_TITLE' | translate }}"
                *ngIf="showEditCommentButton(comment.userId)"
                (click)="onEditCommentButtonClick(comment)"
                md-icon-button>
                  <md-icon>mode_edit</md-icon>
              </button>
              <button
                title="{{ 'COMMENTS.DELETE_HOVER_TITLE' | translate }}"
                *ngIf="showDeleteCommentButton(comment.userId)"
                (click)="onDeleteCommentButtonClick(comment)"
                md-icon-button>
                  <md-icon>delete</md-icon>
              </button>
            </div>
          </header>
          <div class="comment-body">{{comment.comment}}</div>
        </div>
      </div>
    </div>
  </div>
</section>
