cart-component .tabs-section, 
quote-show-component .tabs-section,
quote-edit-component .tabs-section {
  md-tab-group > div {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: rem(2.6);
    margin-right: rem(2.6);
    &:last-child {
      margin-bottom: rem(6.0);
    }
    @media screen and (max-width: $layout-breakpoint-sm)  {
      margin-left: rem(1.2);
      margin-right: rem(1.2);
    }
  }
}
quote-show-component .tabs-section md-tab-group > div .project:first-child {
  margin-top: rem(2.2);
}
cart-component section.header, quote-edit-component section.header {
  padding-left: rem(.6);
  padding-right: rem(.6);
  header {
    padding-top: rem(.6);
    padding-bottom: rem(.5);
    position: relative;
    .md-display-1 {
      margin: 0;
      width: calc(100% - 120px);
      max-width: rem(19.8);
      font-size: rem(2.6);
    }
    .tools  {
      text-align: right;
    }
  }
}

.commerce-total,
.cart-total {
  .select-usage-warn {
    margin-top: rem(.2);
    font-size: rem(1.5);
    &::after {
      content: " *";
    }
  }

  .total {
    text-align: right;
    letter-spacing: -.02em;
    line-height: rem(4.8);
    .total-label {
      line-height: rem(4.0);
      font-weight: 300;
      letter-spacing: 0;
      // padding-right: rem(1.4);
      opacity: .7;
    }
    .total-amount {
      display: inline-block;
      min-width: rem(13.0);
      &::first-letter {
        font-size: .68em;
        line-height: 2.8;
        vertical-align: top;
        letter-spacing: 0;
      }
    }
  }
  .subtotal,
  .discount, {
    text-align: right;
    letter-spacing: -.02em;
    line-height: rem(2.6);
    font-size: rem(1.8);
    .total-label {
      line-height: rem(2.6);
      font-weight: 300;
      letter-spacing: 0;
      opacity: .7;
    }
    .total-amount {
      font-weight: 300;
      display: inline-block;
      min-width: rem(13.0);
      &::first-letter {
        font-size: .7em;
        line-height: 1.69;
        vertical-align: top;
        letter-spacing: 0;
      }
    }
  }
  .discount .total-amount {
    position: relative;
    &::first-letter {
      font-size: inherit;
      line-height: inherit;
      vertical-align: none;
      letter-spacing: 0;
    }
    &::after {
      font-size: .9em;
      content: "%";
    }
  }
}
button.checkout {
  font-size: 1.1em;
  line-height: rem(4.8);
  margin: 0 0 0 rem(1.0);
}
button.checkout-back {
  margin: 0;
  padding: 0 rem(1.4) 0 rem(1.0);
  md-icon {
    padding: 0 0 rem(.2) 0;
  }
}
button.checkout-forward {
  margin: 0;
  padding: 0 rem(1.4) 0 rem(1.0);
  &:disabled {
    background-color: transparent;
  }
  md-icon {
    padding: 0;
    transform: rotate(180deg);
  }
}
.mat-tab-body-content header {
  .commerce-heading {
    font-size: rem(2.6);
    font-weight: 300;
    line-height: 1;
    margin: .6em 0 .3em 0;
    padding: 0;
  }
  .sub-head {
    font-weight: 300;
    opacity: .7;
    font-size: rem(1.7);
  }
}

quote-edit-component .quote-section {
  & > div > div {
    background: transparent;
  }
  quote-purchase-type-component {
    @media screen and (max-width: $layout-breakpoint-xs)  {
      margin-bottom: 0;
    }
  }
  .cart-total {
    padding: 0 rem(.4) rem(6.0) 0;
  }
}
.bulk-order {
  font-size: .85em;
  line-height: rem(3.3);
  & > span {
    font-weight: bold;
    padding-right: rem(.4);
  }
}
