cart-component .tabs-section, quote-edit-component .tabs-section {
  & > div > div {
    // background: rgba(mat-color($background, background),0);
    background: rgba(mat-color($background, background),.35);
  }
  md-tab-group > div {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: rem(2.6);
    margin-right: rem(2.6);
    &:last-child {
      margin-bottom: rem(3.0);
    }
    @media screen and (max-width: $layout-breakpoint-sm)  {
      margin-left: rem(1.2);
      margin-right: rem(1.2);
    }
  }
}
cart-component section.header, quote-edit-component section.header {
  color: mat-color($primary, default);
  padding-left: rem(.8);
  padding-right: rem(.8);
  box-shadow: inset 0 -1px 0 0 mat-color($mat-foreground, divider), 0 1px 0 0 rgba(mat-color($mat-background, card), .6);
  header {
    padding-top: rem(.6);
    padding-bottom: rem(.5);
    position: relative;
    .md-display-1 {
      margin: 0;
      width: calc(100% - 120px);
      font-size: rem(2.6);
      // &.alert {
      //   color: mat-color($warn, darker);
      // }
    }
  }
}

.commerce-total,
.cart-total {
  .select-usage-warn {
    margin-top: rem(.2);
    color: mat-color($mat-warn, darker);
    font-size: rem(1.5);
    &::after {
      content: " *";
      color: mat-color($mat-warn, darker);
    }
  }

  .total {
    text-align: right;
    letter-spacing: -.02em;
    line-height: rem(4.8);
    .total-label {
      line-height: rem(4.0);
      font-weight: 300;
      letter-spacing: 0;
      // padding-right: rem(1.4);
      opacity: .7;
    }
    .total-amount {
      display: inline-block;
      min-width: rem(13.0);
      &::first-letter {
        font-size: .68em;
        line-height: 2.8;
        vertical-align: top;
        letter-spacing: 0;
      }
    }
  }
  .subtotal,
  .discount, {
    text-align: right;
    letter-spacing: -.02em;
    line-height: rem(2.6);
    font-size: rem(1.8);
    .total-label {
      line-height: rem(2.6);
      font-weight: 300;
      letter-spacing: 0;
      // padding-right: rem(3.9);
      opacity: .7;
    }
    .total-amount {
      font-weight: 300;
      display: inline-block;
      min-width: rem(13.0);
      &::first-letter {
        font-size: .7em;
        line-height: 1.69;
        vertical-align: top;
        letter-spacing: 0;
      }
    }
  }
}
button.checkout {
  font-size: 1.1em;
  line-height: rem(4.8);
  margin: 0 0 0 rem(1.0);
  background-color: #558b2f;
  @include text-contrast(#558b2f);
}
button.checkout-back {
  margin: 0;
  padding: 0 rem(1.4) 0 rem(1.0);
  md-icon {
    padding: 0 0 rem(.2) 0;
  }
}
.mat-tab-body-content header {
  margin-bottom: rem(1.2);
  .commerce-heading {
    font-size: rem(2.6);
    font-weight: 300;
    line-height: rem(3.0);
    margin: .7em 0 .3em 0;
    padding: 0;
    color: rgba(mat-color($foreground, text), .8);
  }
  .sub-head {
    font-weight: 300;
    opacity: .7;
    font-size: rem(1.7);
  }
}

quote-edit-component .quote-section {
  & > div > div {
    background: transparent;
  }
  quote-purchase-type-component {
    @media screen and (max-width: $layout-breakpoint-xs)  {
      margin-bottom: 0;
    }
  }
}
.quote-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  margin: rem(.2) rem(.6) rem(3.6) rem(.6);
}
