<section class="header" layout="row" layout-align="center center">
	<header flex="100" flex-gt-sm="95" flex-gt-md="85" flex-gt-lg="80">
    <div flex="100" layout="row" layout-align="space-between end">
			<h2 flex="grow" class="md-display-1">{{ 'CART.PAGE_TITLE' | translate }}</h2>
		</div>
	</header>
</section>

<section class="tabs-section">
  <div layout="row" flex="100" layout-align="center start">
     <div flex="100" flex-gt-sm="95" flex-gt-md="85" flex-gt-lg="80">
      <md-tab-group [(selectedIndex)]="selectedTabIndex">
        <md-tab *ngFor="let tabLabelKey of tabLabelKeys; let i = index" disabled>
          <ng-template md-tab-label>{{ tabLabelKey | uppercase }}</ng-template>
          <cart-tab-component 
            *ngIf="tabLabelKey === 'cart'" 
            (notify)="onNotification($event)">
          </cart-tab-component>
          <cart-billing-tab-component 
            *ngIf="tabLabelKey === 'billing'" 
            (notify)="onNotification($event)">
          </cart-billing-tab-component>
          <cart-payment-tab-component 
            *ngIf="tabLabelKey === 'payment'" 
            (notify)="onNotification($event)">
          </cart-payment-tab-component>
          <cart-confirm-tab-component 
            *ngIf="tabLabelKey === 'confirm'" 
            (notify)="onNotification($event)">
          </cart-confirm-tab-component>
        </md-tab>
      </md-tab-group>
    </div>
  </div>
</section>
