@import './components/tabs/billing-tab';
@import './components/tabs/confirm-tab';

cart-component .tabs-section {
  & > div > div {
    // background: rgba(md-color($background, background),0);
    background: rgba(md-color($background, background),.35);
  }
  md-tab-group > div {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: rem(2.6);
    margin-right: rem(2.6);
    &:last-child {
      margin-bottom: rem(3.0);
    }
    @media screen and (max-width: $layout-breakpoint-sm)  {
      margin-left: rem(1.2);
      margin-right: rem(1.2);
    }
  }
}
cart-component section.header {
  color: md-color($primary, default);
  padding-left: rem(.8);
  padding-right: rem(.8);
  box-shadow: inset 0 -1px 0 0 md-color($md-foreground, divider), 0 1px 0 0 rgba(md-color($md-background, card), .6);
  header {
    padding-top: rem(.6);
    padding-bottom: rem(.5);
    position: relative;
    .md-display-1 {
      margin: 0;
      width: calc(100% - 120px);
      font-size: rem(2.6);
      // &.alert {
      //   color: md-color($warn, darker);
      // }
    }
  }
}


section.cart-total {
  .select-usage-warn {
    margin-top: rem(.2);
    color: md-color($md-warn, darker);
    font-size: rem(1.5);
    &::after {
      content: " *";
      color: md-color($md-warn, darker);
    }
  }
  .total {
    text-align: right;
    letter-spacing: -.02em;
    line-height: rem(4.8);
    .total-label {
      line-height: rem(4.0);
      font-weight: 300;
      letter-spacing: 0;
      padding-right: rem(1.4);
      opacity: .7;
    }
    .total-amount {
      display: inline-block;
      &::first-letter {
        font-size: .68em;
        line-height: 2.8;
        vertical-align: top;
        letter-spacing: 0;
      }
    }
  }
}
button.checkout {
  font-size: 1.1em;
  line-height: rem(4.8);
  margin: 0 0 0 rem(1.0);
  background-color: #558b2f;
  @include text-contrast(#558b2f);
}
button.checkout-back {
  margin: 0;
  padding: 0 rem(1.4) 0 rem(1.0);
  md-icon {
    padding: 0 0 rem(.2) 0;
  }
}
header .cart-heading {
  font-size: rem(2.8);
  font-weight: 300;
  line-height: rem(3.0);
  margin: .65em 0;
  padding: 0;
  color: rgba(md-color($foreground, text), .75);
}
