.glb(layout='row', layout-xs="column", layout-align='start center', layout-padding='')
  div(flex="")
  div(flex-gt-lg="50", flex-gt-md="60", flex-gt-sm="70", flex-gt-xs="90", flex="100")
    div(layout='row', layout-sm='column', layout-align='start center', layout-wrap='')
      .logo-wrapper
        .logo
  div(flex="")
