header.hero 
    div(layout='row',layout-xs='column',md-scroll-y='',layout-align='center start',layout-padding='')
      div(flex-xl="35",flex-gt-lg="50",flex-gt-md="55",flex-gt-sm="70",flex="100")
        div(layout='column', layout-align='center start', layout-wrap='')
          .logo-wrapper
            .logo
          search-box([config]="config.search")
          h4.md-headline
            | Incredible footage, killer research and unmatched clearance expertise

section.mrkt-collections(layout='row', layout-align='center start')
  div(flex-xl="70",flex-gt-lg="80",flex-gt-md="90",flex="100", layout='row', layout-wrap='')
    .mrkt-collections__highlight(flex-gt-sm='33',flex="100")
      a([routerLink]="['UserManagement', 'Register']")
        .mrkt-collections__highlight_img
        .mrkt-collections__highlight_content
          h5.md-title highlight one highlight one
    .mrkt-collections__highlight(flex-gt-sm='33',flex="100")
      a([routerLink]="['UserManagement', 'Register']")
        .mrkt-collections__highlight_img
        .mrkt-collections__highlight_content
          h5.md-title highlight two highlight two
    .mrkt-collections__highlight(flex-gt-sm='33',flex="100")
      a([routerLink]="['UserManagement', 'Register']")
        .mrkt-collections__highlight_img
        .mrkt-collections__highlight_content
          h5.md-title highlight three highlight three
    .mrkt-collections__highlight(flex-gt-sm='33',flex="100")
      a([routerLink]="['UserManagement', 'Register']")
        .mrkt-collections__highlight_img
        .mrkt-collections__highlight_content
          h5.md-title highlight four highlight four
    .mrkt-collections__highlight(flex-gt-sm='33',flex="100")
      a([routerLink]="['UserManagement', 'Register']")
        .mrkt-collections__highlight_img
        .mrkt-collections__highlight_content
          h5.md-title highlight five highlight five
    .mrkt-collections__highlight(flex-gt-sm='33',flex="100")
      a([routerLink]="['UserManagement', 'Register']")
        .mrkt-collections__highlight_img
        .mrkt-collections__highlight_content
          h5.md-title highlight six highlight six

section.mrkt-call-to-action
  div(layout='row', layout-align='center start', layout-padding='')
    div(flex-xl="50",flex-gt-lg="60",flex-gt-md="70",flex="95",layout-align='center start')
      h2.md-display-1
        | Experience what more than 67,000 customers know. Access #[strong 4 million+ assets] &amp; expert research support.
      md-button.md-block.conversion(*ngIf="!currentUser.loggedIn()", md-button='', [routerLink]="['UserManagement', 'Register']") Start Your Project! 
      md-button.md-block.conversion(*ngIf="currentUser.loggedIn()", md-button='', [routerLink]="['UserManagement', 'Profile']") Start Your Project! 
    
      
section.vendor-marquee(hide-xs='', layout="column")
  ul
    li
      img(src='resources/img/client_dimoc.png')
      img(src='resources/img/client_usta.png')
      img(src='resources/img/client_AFV.png')
      img(src='resources/img/client_discovery.png')
      img(src='resources/img/client_ncaa.png')
      // img(src='resources/img/client_fox.png')
      img(src='resources/img/client_paramount.png')
    li
      img(src='resources/img/client_natgeo.png')
      img(src='resources/img/client_pac12.png')
      img(src='resources/img/client_usga.png')
      img(src='resources/img/client_sony.png')
      img(src='resources/img/client_big10.png')
      img(src='resources/img/client_wpt.png')
    li
      img(src='resources/img/client_dimoc.png')
      img(src='resources/img/client_usta.png')
      img(src='resources/img/client_AFV.png')
      img(src='resources/img/client_discovery.png')
      img(src='resources/img/client_ncaa.png')
      // img(src='resources/img/client_fox.png')
      img(src='resources/img/client_paramount.png')

