section.login.hero
  div(layout='row', md-scroll-y='', layout-align='center start')
    div(flex-gt-lg="30",flex-gt-md="40", flex-gt-sm="55", flex="100")
      md-card.md-whiteframe-z2
        md-card-header
          .logo-wrapper
            .logo
        md-card-title
          md-card-title-text(layout='column', layout-align='center center')
            span.md-headline {{ 'REGISTER.TITLE' | translate }}
        md-card-content
          wz-form([items]="fields", submitLabel="REGISTER.FORM.SUBMIT_LABEL", (formSubmit)="onSubmit($event)")
      
      div(md-theme="docs-dark", layout='column', layout-align='center center', layout-wrap='')
        span.md-title {{'REGISTER.ALREADY_HAVE_ACCOUNT' | translate }} #[a.md-accent(md-button="", [routerLink]="['Login']") {{'REGISTER.LOGIN' | translate }}]