form.md-inline-form(layout='column', [ngFormModel]="searchForm", (submit)="$event.preventDefault(); runSearch.next(searchForm.value.query)")
  input(md-input="", type='text', placeholder='Search For Videos and Photos...', ngControl="query")
  button(type='submit',[disabled]="!searchForm.valid") Search
    i.material-icons(md-icon='') search
    