
one-level-view {
  width: 100%;
  display: block;
  padding: rem(1.6);
}
one-level-view ul {
  list-style: none;
  font-size: 0;
  line-height: 0;
  padding: 0;
  margin: 0 0 0 -1%;
  min-height: 100%;
  & > li {
    font-size: 1em;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    margin: 1% 0 3.75% 1%;
    width: 32.333%;
    transition: $swift-ease-out;
    @media screen and (max-width: $layout-breakpoint-md) {
      width: 32.3333%
    }
    @media screen and (max-width: $layout-breakpoint-sm) {
      width: 49%;      
    }
    @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
      width: 99%;
      margin-bottom: 7%;          
    }
    a.item {
      display: block;
      height: 0;
      width: 100%;
      position: relative;
      padding: 56.25% 0 0 0;
      background-image:
        linear-gradient(rgba(md-color($md-grey, 900),1), rgba(md-color($md-grey, 900),.6)),
        linear-gradient(rgba(md-color($md-grey, 900),.5), rgba(md-color($md-grey, 900),1))
      ;
      transition: $swift-ease-out;
      &:hover, &:active {
        cursor: pointer;
        // box-shadow: 0 rem(.8) 0 0 md-color($background, card);
        section.item-hover-effect {
          border-color: md-color($background, card);
          box-shadow: 0 1px 3px 0 rgba(md-color($md-grey, 900), .4);
        }
      }
      img {
        position: absolute;
        display: block;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        // width: 100%;
        // if you want to stretch 4:3 SD thumbs
      }
      section.item-info {
        position: absolute;
        box-sizing: border-box;
        bottom: 0;
        left:0;
        width: 100%;
        padding: rem(.5) rem(1.0);
        background-color: rgba(md-color($md-grey, 900),.6);
        min-height: 23.333%;
        @include text-contrast(md-color($md-grey, 900));
        .item-label {
          font-size: rem(2.3);
          line-height: 1;
        }
      }
      section.item-hover-effect {
        position: absolute;
        box-sizing: border-box;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: rem(.4) solid transparent;
        transition: $swift-ease-out;
        transition: 300ms all;
        transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
      }
    }
  }
}


one-level-view ul li.disabled {
  a {
    opacity: .6;
    img {
      display: none;
    }
    &:hover, &:active {
      cursor: default;
      section.item-hover-effect {
        border-color: transparent;
        box-shadow: none;
      }
    }
    .item-label {
      opacity: .4;
    }
  }
}
