
two-level-view {
  width: 100%;
  display: block;
  & > section > h3 {
    font-weight: 500;
    font-size: 1.16em;
    margin: 0;
  }
}

two-level-view .outer-carousel {
  overflow: scroll;
  width: 100%;
  transition: 450ms all;
  padding-bottom: rem(.8);
  &:hover {
    // transform: translate3d(-1.033325%, 0, 0);
    // .item {
    opacity: 3;
    // }
  }
}  

two-level-view ul {
  white-space: nowrap;
  list-style: none;
  font-size: 0;
  line-height: 0;
  padding: rem(.5) 0  rem(1.0) 0;
  margin: 0 0 0 -.4%;
  min-height: 100%;
    font-size: 1em;
  & > li {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 0 0 .4%;
    width: 16.26666%;
    @media screen and (max-width: $layout-breakpoint-md) {
      width: 19.6%
    }
    @media screen and (max-width: $layout-breakpoint-sm) {
      width: 24.6%;      
    }
    @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
      width: 32.93333%;
      margin-bottom: 7%;          
    }
    &.disabled {
      opacity: .6;
      img {
        display: none;
      }
    }
    .item {
      display: block;
      height: 0;
      width: 100%;
      position: relative;
      padding: 56.25% 0 0 0;
      background-image:
        linear-gradient(rgba(md-color($md-grey, 900),1), rgba(md-color($md-grey, 900),.6)),
        linear-gradient(rgba(md-color($md-grey, 900),.5), rgba(md-color($md-grey, 900),1))
      ;
      transform-origin: center left;
      transition: 450ms all;
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        opacity: 1;
      }
      &:active {
        cursor: pointer;
      }
      &::before {
        content: " ";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        background-image:
          linear-gradient(-7deg, rgba(md-color($md-grey, 900),0.9), rgba(md-color($md-grey, 900),0) 24%),
          linear-gradient(7deg, rgba(md-color($md-grey, 900),0) 75%, rgba(md-color($md-grey, 900),.9))
        ;
        opacity: 0.5;
        transition: opacity 1.5s cubic-bezier(0.55, 0, 0.55, 0.2);
        z-index: 1;
      }
      }
      img {
        position: absolute;
        display: block;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        object-fit: cover;
        // width: 100%;
        // if you want to stretch 4:3 SD thumbs
      }
      section {
        position: absolute;
        bottom: 0;
        left:0;
        width: calc(100% - 20px);
        height: calc(100% - 10px);
        padding: rem(.5) rem(1.0);
        background-color: rgba(md-color($md-grey, 900), .14);
        min-height: 23.333%;
        @include text-contrast(md-color($md-grey, 900));
        .item-label {
          position: absolute;
          width: calc(100% - 20px);
          bottom: 25%;
          text-align: center;
          text-transform: uppercase;
          font-weight: 500;
          font-size: rem(3.4);
          line-height: 1;
          white-space: normal;
          text-shadow: md-color($md-grey, 900, .66) 0 1px 4px;
          &.promotional {
            font-weight: 400;
            font-size: rem(2.8);
          }
        }
      }
    }
  }
