header.app-header {
  position: relative;
  width: 100%;
  z-index: 3;
  background-color:rgba(md-color($md-primary, 900), .3);
  border-bottom: solid 1px rgba(contrast-color(md-color($md-primary, 900)), .25);
  position: absolute;
  top: 0;
  left: 0;
  @include transition($swift-ease-out);
  a.home-link > .logo-wrapper {
    @include transition(all .4s ease-in-out);
    opacity: .7;
    &:hover {
      opacity: 1;
    }
    overflow: hidden;
    width: rem(10);
    height: rem(5);
    position: absolute;
    top: rem(.8);
    margin-left: rem(.7);
    .logo img {
      @include background-image(url($logo-header));
      background-position: top left;
      background-repeat:no-repeat;
      background-size: rem(27.2);
      width: 95px;
      height: 50px;
    }
    @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
      width: 72px;
      height: 37px;
      top: 10px;
      .logo img {
        background-size: 200px;
        height: 37px;
      }
    }
  }
  &.fixed {
    background-color:rgba(md-color($md-background, 100), .95);
    @include text-contrast(md-color($md-background, 100), md-color($md-background, 700), md-color($md-background, 100));
    position: fixed;
    top: 0;
    @include animation(slideDownHeader .75s ease-in-out);
    border-bottom: none;
    box-shadow: $whiteframe-shadow-z1;
    a.home-link > .logo-wrapper {
      opacity: .95;
    }
  }
}
header.app-header md-toolbar {
  background-color: transparent;
}
header.app-header md-toolbar:not(.md-menu-toolbar) [md-button] {
  &.md-accent {
    color: rgba(md-color($md-accent, 500), .8);
  }
}

header.app-header.fixed md-toolbar:not(.md-menu-toolbar) [md-button],
header.app-header.fixed md-toolbar:not(.md-menu-toolbar) [md-icon] {
  @include text-contrast(md-color($md-background, 100), md-color($md-background, 700), md-color($md-background, 100));
}


@include keyframes(slideDownHeader) {
  0% {
    opacity: .8;
    @include transform(translateY(-200px));
  }

  100% {
    opacity: 1;
    @include transform(translateY(0));
  }
}