
app-header md-toolbar.glb {
  position: relative;
  z-index: 3;
  background-color:rgba(md-color($md-primary, 900), .3);
  border-bottom: solid 1px rgba(contrast-color(md-color($md-primary, 900)), .25);
  position: absolute;
  top: 100px;
  left: 0;
  margin-top:-100px;
  a.home-link > .logo-wrapper {
    @include transition(all .4s ease-in-out);
    opacity: .7;
    &:hover {
      opacity: 1;
    }
    overflow: hidden;
    width: 100px;
    height: 50px;
    position: absolute;
    top: 8px;
    margin-left: 7px;
    .logo img {
      @include background-image(url($logo-header));
      background-position: top left;
      background-repeat:no-repeat;
      background-size: 272px;
      width: 95px;
      height: 50px;
    }
    @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
      width: 72px;
      height: 37px;
      top: 10px;
      .logo img {
        background-size: 200px;
        height: 37px;
      }
    }
  }
  &.fixed {
    background-color:rgba(md-color($md-background, 100), .95);
    @include text-contrast(md-color($md-background, 100), md-color($md-background, 700), md-color($md-background, 100));
    position: fixed;
    top: 0;
    margin-top: 0;
    @include transition(margin .4s ease-in-out);
    border-bottom: none;
    box-shadow: $whiteframe-shadow-z1;
    a.home-link > .logo-wrapper {
      opacity: .95;
    }
  }
}

app-header md-toolbar.glb:not(.md-menu-toolbar) [md-button] {
  &.md-accent {
    color: rgba(md-color($md-accent, 500), .8);
  }
}

app-header md-toolbar.glb.fixed :not(.md-menu-toolbar) [md-button],
app-header md-toolbar.glb.fixed :not(.md-menu-toolbar) [md-icon] {
  @include text-contrast(md-color($md-background, 100), md-color($md-background, 700), md-color($md-background, 100));
}
