
md-toolbar.glb {
  position: relative;
  // @include animation(slideDownHeader .75s ease-in-out);
  z-index: 3;
  background-color:rgba(md-color($md-primary, 900), .3);
  border-bottom: solid 1px rgba(contrast-color(md-color($md-primary, 900)), .25);
  position: absolute;
  top: 0;
  left: 0;
  a.home-link > .logo-wrapper {
    @include transition(all .4s ease-in-out);
    opacity: .7;
    &:hover {
      opacity: 1;
    }
    overflow: hidden;
    width: 100px;
    height: 50px;
    position: absolute;
    top: 8px;
    margin-left: 7px;
    .logo img {
      @include background-image(url($logo-header));
      background-position: top left;
      background-repeat:no-repeat;
      background-size: 272px;
      width: 95px;
      height: 50px;
    }
    @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
      width: 72px;
      height: 37px;
      top: 10px;
      .logo img {
        background-size: 200px;
        height: 37px;
      }
    }
  }
  &.fixed {
    background-color:rgba(md-color($md-background, 100), .95);
    @include text-contrast(md-color($md-background, 100), md-color($md-background, 700), md-color($md-background, 100));
    position: fixed;
    top: 0;
    // margin-top: 0;
    @include animation(slideDownHeader .75s ease-in-out);
    // @include transition(margin .4s ease-in-out);
    border-bottom: none;
    box-shadow: $whiteframe-shadow-z1;
    a.home-link > .logo-wrapper {
      opacity: .95;
    }
  }
}

md-toolbar.glb:not(.md-menu-toolbar) [md-button] {
  &.md-accent {
    color: rgba(md-color($md-accent, 500), .8);
  }
}

md-toolbar.glb.fixed :not(.md-menu-toolbar) [md-button],
md-toolbar.glb.fixed :not(.md-menu-toolbar) [md-icon] {
  @include text-contrast(md-color($md-background, 100), md-color($md-background, 700), md-color($md-background, 100));
}



// search box in the header
md-toolbar.glb .search-tools {
  background-color: md-color($md-background, 100);
  .md-toolbar-tools {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    padding: 0;
    search-box {
      margin: 0;
      input {
        width: calc(100% - 78px);
        font-size: 1.1em;
      }
      button[type="submit"] {
        background-color: md-color($md-primary, 500);
        i.material-icons {
          font-size: rem(3.3);
          text-shadow: none;
        }
      }
      button.close {
        display: block;
        margin: 0;
        height: auto;
        width: rem(3.4);
        padding: 0;
        border-radius: 0;
        font-size: 0;
        line-height: 0;
        border: none;
        .material-icons[md-icon] {
          font-size: rem(2.3);
          line-height: 0;
          @include text-contrast(md-color($md-background, 50));
          opacity: .5;
        }
      }
      button:focus {
        outline: none;
      }
    }
    @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
      search-box {
        input {
          width: calc(100% - 70px);
          max-height: rem(4);
          min-height: rem(4);
          font-size: .8em;
        }
        button[type="submit"] {
          i.material-icons {
            font-size: rem(2.8);
          }
        }
      }
    }
  }
}
md-toolbar.glb.fixed .search-tools {
  background-color: transparent;
  .md-toolbar-tools {
    background-color: transparent;
    search-box {
      border-width: 1px 0 0 0;
      border-style: solid;
      border-color: rgba(md-color($md-background, 500), .25);
      background-color: transparent;
      input {
        background-color: transparent;
      }
      button[type="submit"] i.material-icons {
        @include text-contrast(md-color($md-primary, 700), md-color($md-background, 700), md-color($md-background, 100));
      }
    }
  }
}
md-toolbar.glb.search-closed .search-tools search-box {
  input {
    max-height: 0;
    min-height: 0;
    font-size: 0; 
  }
  button, button.close {
    display: none;
  }
}

@include keyframes(slideDownHeader) {
  0% {
    opacity: .8;
    @include transform(translateY(-200px));
  }

  100% {
    opacity: 1;
    @include transform(translateY(0));
  }
}