section.login.hero
  div(layout='row' md-scroll-y='', layout-align='center start')
    div(flex-gt-lg="30",flex-gt-md="40", flex-gt-sm="55",flex="100")
      md-card.md-whiteframe-z2
        md-card-header
          .logo-wrapper
            .logo
        md-card-title
          md-card-title-text(layout='column', layout-align='center center')
            span.md-headline {{ 'LOGIN.TITLE' | translate }}
        md-card-content
          wz-form([items]="fields", submitLabel="LOGIN.FORM.SUBMIT_LABEL", (formSubmit)="onSubmit($event)")
            
          div.md-body-2( layout="column", layout-align='center center')  
            a.md-primary(layout='row', flex='', md-button="", [routerLink]="['Register']") {{ 'LOGIN.FORGOT_PASSWORD' | translate }}
              
      div(md-theme="docs-dark", layout='column', layout-align='start center', layout-wrap='')
        span.md-title {{'LOGIN.GET_ACCOUNT' | translate }} #[a.md-accent(md-button="", [routerLink]="['Register']") {{'LOGIN.SIGN_UP' | translate }}]

