section.login.hero {
  overflow: hidden;
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding-top: 74px;
  @include text-contrast(md-color($md-background, 900));
  @include background-image(
    url("resources/img/bk/tex/bktx_dgl_lines_light.png"),
    linear-gradient(md-color($md-primary, 900, .7), md-color($md-background, 900, .94)),
    url($bk-img-user-management)
  );
  background-position: 0 0, 0 0, center center;
  background-repeat: repeat, no-repeat, no-repeat;
  background-size: auto, cover, cover;
  margin-bottom: 0;
  min-height: 1000px;
  // md-card {
    // 
  // }
  md-card {
    padding: 20px 26px 0 26px;
    color: md-color($md-foreground, secondary-text);
  }
  
  md-card-header .logo-wrapper {
    height: 60px;
    width: 100%;
    .logo {
      @include background-image(url($logo-simple-form));
      background-position: top center;
      background-repeat:no-repeat;
      background-size: 170px;
      height: 70px;
      opacity: .5;
    }
  }
}
form button {
  &.conversion {
    // font-size: 18px;
    min-width: 100%;
    padding: 2px 40px;
    // opacity: .8;
    // background-color: md-color($md-orange, 900, .9);
  }
}
