app-footer {
  display: block;
  background-color: md-color($md-primary, 900, .9);
  .glb {
    @include text-contrast(md-color($md-primary, 900), md-color($md-grey, 700), md-color($md-grey, 400, .8));
    .logo-wrapper {
      height: 170px;
      width: 100%;
      .logo {
        margin: rem(.3) 0 0 0;
        background-image: url($logo-footer);
        background-position: center center;
        background-repeat:no-repeat;
        background-size: 133px;
        height: 133px;
        width: 300px;
        opacity: .25;
      }
    }
    ul.social {
      margin: 0 0 rem(-1.0) 0;
      padding:0;
      li {
        list-style: none;
        display: block;
        float: left;
        // margin-left: 3px;
        a {
          @include text-contrast(md-color($md-grey, 200), md-color($md-foreground, text), $white-87-opacity);
          opacity: .25;
           transition: $swift-ease-in;
          &:hover {
            color: md-color($md-primary, default, .9);
            opacity: 1;
          } 
        }
      }
    }
    .language-selector {
      position: relative;
      padding-left: rem(3.8);
      &::before {
        content: "\e80b";
        font-family: 'Material Icons';
        color: rgba(md-color($md-grey, 100),0.18);
        position: absolute;
        top: rem(2.0);
        left: rem(.4);
        font-size: 1.7em;
      }
      .md-select-value {
        color: rgba(md-color($background, background), .55);
      }
      .md-select-arrow {
        color: rgba(md-color($background, background), .38);
      }
      .md-select-trigger {
        border-bottom-color:rgba(md-color($md-grey, 100),0.07);
      }
    }
    h3.md-title {
      margin-bottom: .5em;
    }
    h3.md-title + .md-body-1 {
      margin: 8px 0 0 0;
    }
    .help-link {
      font-size: rem(1.6);
      color: md-color($md-grey, 500);
    }
    .sales {
      md-list {
        padding: 0;
      }
      md-list-item, .md-list-item-inner {
        padding: 0;
        min-height: 0;
      }
      md-list md-list-item .md-list-item {
        height: rem(4.0);
        padding: 0;
      }
      h5.md-subhead {
        margin: 0 0 0 rem(2.6);
        font-weight: 500;
        opacity: .8;
      }
      *[md-button] {
        margin: 0;
        padding: 9px 6px;
        @include text-contrast(md-color($md-primary, 900), md-color($md-foreground, secondary-text), md-color($md-grey, 400, .8));
        &:hover {
          background: md-color($md-background, hover);
          color: md-color($md-primary, 300);
        }
        &.phone:hover {
          cursor: default;
          background: transparent;
          @include text-contrast(md-color($md-primary, 900), md-color($md-foreground, secondary-text), md-color($md-grey, 400, .8));
        }
        &.phone:hover .md-body-1 md-icon {
          opacity: .25;
        }
        &:hover .md-body-1 md-icon {
          opacity: .8;
        }
        .md-body-1 {
          text-transform: initial;
          margin: 0;
          padding: 0 0 0 30px;
          position: relative;
          md-icon {
            position: absolute;
            top: -3px;
            left: -1px;
            opacity: .25;
             transition: $swift-ease-in;
          }
        }
      }
    }
  }
}
