app-footer {
  display: block;
  .glb {
    .logo-wrapper {
      height: 170px;
      width: 100%;
      .logo {
        margin: 3px 0 0 0;
        background-position: left center;
        background-repeat:no-repeat;
        background-size: 133px;
        height: 133px;
        opacity: .25;
      }
    }
    ul.social {
      margin: 0 0 -10px 0;
      padding:0;
      li {
        list-style: none;
        display: block;
        float: left;
        a {
          opacity: .25;
           transition: $swift-ease-in;
          &:hover {
            opacity: 1;
          } 
        }
      }
    }
    h3.mat-title {
      margin-bottom: .2em;
      margin-top: .2em;
    }
    h3.mat-title + .mat-body-1 {
      margin: 14px 0 0 0;
      font-size: .9em;
    }
    .footer-link {
      text-decoration: none;
      transition: $swift-ease-in;
    }
    .contact {
      margin-bottom: 6px;
      p, h3, a {
        margin-top: 2px;
        margin-bottom: 2px;
      }
    }
    .sales {
      mat-list {
        padding: 0;
      }
      mat-list-item, .mat-list-item-content {
        padding: 0;
        min-height: 0;
      }
      mat-list mat-list-item .mat-list-item {
        height: 40px;
        padding: 0;
      }
      h5.mat-subheading-1 {
        margin: 0 0 0 26px;
        font-weight: 500;
        opacity: .8;
      }
      *[mat-button] {
        margin: 0;
        padding: 9px 6px;
        &.phone:hover {
          cursor: default;
          background: transparent;
        }
        &.phone:hover .mat-body-1 mat-icon {
          opacity: .25;
        }
        &:hover .mat-body-1 mat-icon {
          opacity: .8;
        }
        .mat-body-1 {
          text-transform: initial;
          margin: 0;
          padding: 0 0 0 30px;
          position: relative;
          mat-icon {
            position: absolute;
            top: -3px;
            left: -1px;
            opacity: .25;
             transition: $swift-ease-in;
          }
        }
      }
    }
  }
}
