app-footer {
  display: block;
  .glb {
    .logo-wrapper {
      height: 170px;
      width: 100%;
      .logo {
        margin: rem(.3) 0 0 0;
        background-position: center center;
        background-repeat:no-repeat;
        background-size: 133px;
        height: 133px;
        width: 300px;
        opacity: .25;
      }
    }
    ul.social {
      margin: 0 0 rem(-1.0) 0;
      padding:0;
      li {
        list-style: none;
        display: block;
        float: left;
        a {
          opacity: .25;
           transition: $swift-ease-in;
          &:hover {
            opacity: 1;
          } 
        }
      }
    }
    .language-selector {
      position: relative;
      padding-left: rem(3.8);
      padding-top: rem(2.2);
      &::before {
        content: "\e80b";
        font-family: 'Material Icons';
        color: rgba(mat-color($mat-grey, 100),0.18);
        position: absolute;
        top: rem(2.0);
        left: rem(.4);
        font-size: 1.7em;
      }
      .mat-select {
        min-width: rem(16.7);
      }  
    }
    h3.md-title {
      margin-bottom: .5em;
    }
    h3.md-title + .md-body-1 {
      margin: rem(1.4) 0 0 0;
      font-size: .9em;
    }
    .help-link {
      font-size: .9em;
      color: mat-color($mat-grey, 500);
      text-decoration: none;
      transition: $swift-ease-in;
      &:hover {
        color: mat-color($mat-grey, 200);
      }
    }
    .sales {
      md-list {
        padding: 0;
      }
      md-list-item, .mat-list-item-content {
        padding: 0;
        min-height: 0;
      }
      md-list md-list-item .mat-list-item {
        height: rem(4.0);
        padding: 0;
      }
      h5.md-subhead {
        margin: 0 0 0 rem(2.6);
        font-weight: 500;
        opacity: .8;
      }
      *[md-button] {
        margin: 0;
        padding: 9px 6px;
        &.phone:hover {
          cursor: default;
          background: transparent;
        }
        &.phone:hover .md-body-1 md-icon {
          opacity: .25;
        }
        &:hover .md-body-1 md-icon {
          opacity: .8;
        }
        .md-body-1 {
          text-transform: initial;
          margin: 0;
          padding: 0 0 0 30px;
          position: relative;
          md-icon {
            position: absolute;
            top: -3px;
            left: -1px;
            opacity: .25;
             transition: $swift-ease-in;
          }
        }
      }
    }
  }
}
