
// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$primary: mat-palette($mat-blue-grey, 600, 400, 700);
$accent:  mat-palette($mat-orange, 600, 400, 800);

// The warn palette is optional (defaults to red).
$warn:    mat-palette($mat-red, A700, 600, 900);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

// temp variables until we get theming figured out, and import all the components.
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);
$warn: map-get($theme, warn);
$background: map-get($theme, background);
$foreground: map-get($theme, foreground);

$mat-foreground: $foreground;
$mat-background: $background;
$mat-primary: $primary;
$mat-accent: $accent;
$mat-warn: $warn;

$mat-button-border-radius: 2px;

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);
