<div class="cart-payment" layout="row" layout-align="center start">
  <div flex="100" flex-gt-lg="85" class="payment-select">
    
    <div *ngIf="userCanPurchaseOnCredit | async" layout="column" layout-gt-xs="row" layout-padding>
      <section flex-gt-lg="30" flex-gt-md="35" flex-md="40" flex="100">
        <header layout="column" layout-align="start">
          <h2 class="commerce-heading">{{ 'CART.PAYMENT.SELECT_PAYMENT' | translate }}</h2>
          <span class="sub-head">{{ 'CART.PAYMENT.ORDER_REVIEW_EXPLAINED' | translate }}</span>
        </header>
        <md-radio-group layout="column" class="example-radio-group" (click)="disableTab(3)" [(ngModel)]="paymentMethod">
          <md-radio-button class="example-radio-button" *ngFor="let method of paymentMethods" [value]="method">
            {{method}}
          </md-radio-button>
        </md-radio-group>
      </section>
      <section *ngIf="paymentMethod === 'Credit Card'" md-scroll-y="" flex-gt-lg="30" flex-gt-md="35" flex-md="40" flex="100">
        <md-card class="wz-form-card cc-form">
          <md-card-content>
            <wz-cc-form 
              [items]="formItems | async" 
              [serverErrors]="serverErrors"
              [successfullyVerified]="successfullyVerified | async"
              (onEdit)="editCreditCard()"
              (formSubmit)="preAuthorize($event)"></wz-cc-form>
          </md-card-content>
        </md-card>
      </section>
      <section *ngIf="paymentMethod === 'Purchase on Credit'" flex-gt-lg="30" flex-gt-md="35" flex-md="40" flex="100">
        <div>
          <h5 class="md-title">{{ 'CART.PAYMENT.PURCHASE_ON_CREDIT' | translate }}</h5>
          <p class="instructions">{{ 'CART.PAYMENT.PURCHASE_ON_CREDIT_INSTRUCTIONS' | translate }}</p>
          <md-checkbox
            (change)="selectPurchaseOnCredit($event)"
            color="primary">
            {{ 'CART.PAYMENT.PURCHASE_ON_CREDIT' | translate }}
          </md-checkbox>
        </div>
      </section>
    </div>

    <div *ngIf="!(userCanPurchaseOnCredit | async)" layout="column" flex="100" flex-gt-lg="30" flex-gt-md="35" flex-md="40" flex-sm="60" class="payment-select" layout-padding>        
        <header>
          <span class="sub-head">{{ 'CART.PAYMENT.ORDER_REVIEW_EXPLAINED' | translate }}</span>
        </header>
        <md-card class="wz-form-card cc-form">
          <md-card-content>
            <wz-cc-form 
              [items]="formItems | async" 
              [serverErrors]="serverErrors"
              [successfullyVerified]="successfullyVerified | async"
              (onEdit)="editCreditCard()"
              (formSubmit)="preAuthorize($event)"></wz-cc-form>
          </md-card-content>
        </md-card>
    </div>
  </div>
</div>

