
cart-confirm-tab-component, quote-confirm-tab {
  .md-title {
    opacity: .6;
    margin: .3em 0;
    &.order-summary {
      display: inline-block;
      margin-top: rem(4.4);
    }
  }
  .billing-payment {
    margin: rem(1.2) 0 0 rem(-1.2);
    @media screen and (max-width: $layout-breakpoint-xs)  {
      margin: 0 0 rem(1.2) 0;
    }
  }
  .payment,
  .billing {
    background-color: rgba(mat-color($background, card), .65);
    color: rgba(mat-color($foreground, text), .7);
    padding: rem(1.4);
    margin-left: rem(1.2);
    border-radius: $mat-button-border-radius;
    max-width: calc(100% - 12px);
    min-width: calc(100% - 12px);
    @media screen and (min-width: $layout-breakpoint-lg)  {
      max-width: calc(25% - 12px);
      min-width: calc(25% - 12px);
    }
    @media screen and (min-width: $layout-breakpoint-sm) and (max-width: $layout-breakpoint-lg)  {
      max-width: calc(33.333% - 12px);
      min-width: calc(33.333% - 12px);
    }

    @media screen and (max-width: $layout-breakpoint-sm)  {
      max-width: calc(50% - 12px);
      min-width: calc(50% - 12px);
    }
    @media screen and (max-width: $layout-breakpoint-xs)  {
      min-width: 100%;
      max-width: 100%;
      margin: rem(1.0) 0 0 0;
    }
    button.is-outlined.mini {
      margin-right: 0;
    }
    .md-title {
      margin-top: 0;
    }
    .payment-info,
    address {
      font-size: rem(1.4);
      line-height: 1.55;
      span {
        display: flex;
      }
      .phone {
        font-style: normal;
        line-height: 2.4;
      }
      .purchase-on-credit,
      .offline-agreement,
      .credit-card {
        font-size: rem(1.3);
        .indicate-credit,
        .indicate-offline,
        .indicate-cc {
          display: flex;
          strong {
            position: relative;
            padding: 0 rem(.4) 0 rem(2.7);
            text-transform: uppercase;
            &::before {
              content: "\e870";
              font-family: 'Material Icons';
              font-weight: normal;
              color: rgba(mat-color($foreground, text),0.45);
              position: absolute;
              top: rem(-1.0);
              left: 0;
              font-size: rem(2.4);
            }
          }
        }
        .expires {
          padding-left: rem(.2);
          strong {
            padding-right: rem(.4);
          }
        }
      }
      .purchase-on-credit .indicate-credit strong::before {
        content: "\e84f";
      }
      .offline-agreement .indicate-offline strong::before {
        content: "\e8e8";
      }
    }
  }
  .cart-total, .quote-total span {
    display: flex;
    &.mat-button-wrapper md-icon{
      padding: rem(.6) rem(.3) 0 0
    }
  }
}
cart-component .tabs-section md-tab-group > div cart-confirm-tab-component .project:first-child,
quote-show-component .tabs-section md-tab-group > div quote-confirm-tab .project:first-child {
  margin-top: rem(.2);
}
