<div flex="100" flex-gt-lg="85" class="place-order">
  <header layout="column" layout-align="start">
    <h2 class="commerce-heading">{{ 'CART.CONFIRM.PAGE_TITLE' | translate }}</h2>
  </header>

  <div layout="column" layout-gt-xs="row" class="billing-payment">
    <section class="billing" flex="auto">
      <div layout="row" layout-align="space-between">
        <h5 class="md-title">{{ 'CART.CONFIRM.BILLING_TITLE' | translate }}</h5>
        <button md-button class="mini is-outlined" color="primary" (click)="goToTab(1)">{{ 'CART.CONFIRM.EDIT' | translate }}</button>
      </div>
      <address *ngIf="(orderInProgress | async).selectedAddress.address">
        <span class="line-1">{{ (orderInProgress | async).selectedAddress.address.address }}</span>
        <span class="line-2">{{ (orderInProgress | async).selectedAddress.address.city }},
          {{ (orderInProgress | async).selectedAddress.address.state }} {{ (orderInProgress | async).selectedAddress.address.zipcode }},
          {{ (orderInProgress | async).selectedAddress.address.country }}</span>
        <span class="phone">{{ (orderInProgress | async).selectedAddress.address.phone }}</span>
      </address>
    </section>
    <section *ngIf="(paymentType | async) !== 'ProvisionalOrder'" class="payment" flex="auto">
      <div layout="row" layout-align="space-between">
        <h5 class="md-title">{{ 'CART.CONFIRM.PAYMENT_TITLE' | translate }}</h5>
        <button md-button class="mini is-outlined" color="primary" (click)="goToTab(2)">{{ 'CART.CONFIRM.EDIT' | translate }}</button>
      </div>
      <div class="payment-info">
        <div 
          class="credit-card"
          *ngIf="(orderInProgress | async).authorization.card.last4 && (paymentType | async) === 'CreditCard'">
          <span class="indicate-cc">
            <strong>{{ (orderInProgress | async).authorization.card.brand }}:</strong>
            ending in {{ (orderInProgress | async).authorization.card.last4 }}
          </span>
          <span class="expires">
            <strong>Expires:</strong>
            {{ (orderInProgress | async).authorization.card.exp_month }}/{{ (orderInProgress | async).authorization.card.exp_year }}
          </span>
        </div>
        <div class="purchase-on-credit" *ngIf="(paymentType | async) === 'PurchaseOnCredit'">
          <span class="indicate-credit">
            <strong>Purchase on credit</strong>
          </span>
        </div>
        <div class="offline-agreement" *ngIf="(paymentType | async) === 'OfflineAgreement'">
          <span class="indicate-offline">
            <strong>Offline Agreement</strong>
          </span>
        </div>
      </div>
    </section>
  </div>
</div>

<h5 class="md-title order-summary">{{ 'CART.CONFIRM.ORDER_TITLE' | translate }}</h5>
<button *ngIf="!(data | async).expirationDate" md-button class="mini is-outlined" color="primary" (click)="goToTab(0)">
  {{ 'CART.CONFIRM.EDIT' | translate }}
</button>
<projects-component
  flex="100"
  [readOnly]="true"
  [projects]="(data | async).projects"
  [quoteType]="(paymentType | async)"
  [userCan]="userCan">
</projects-component>

<section class="commerce-total" layout="column" layout-align="end end">
  <div *ngIf="hasDiscount" flex="100" layout="row" layout-align="end center" class="subtotal md-headline">
    <span class="total-label" flex="100">
      {{ 'CART.CART_SUBTOTAL' | translate }} 
    </span>
    <span class="total-amount" flex="nogrow">
      {{ (data | async).subTotal | currency:'USD':true:'1.2-2' }}
    </span>
  </div>
  <div *ngIf="hasDiscount" flex="100" layout="row" layout-align="end center" class="discount md-headline">
    <span class="total-label" flex="100">
      {{ 'CART.CART_DISCOUNT' | translate }} 
    </span>
    <span class="total-amount" flex="nogrow">{{ (data | async).discount }}</span>
  </div> 
  <div class="total md-headline" layout="row" flex="100" layout-align="end center">
    <span class="total-label" flex="100">
      {{ 'CART.CONFIRM.TOTAL' | translate }} 
    </span>
    <span class="total-amount" flex="nogrow">
      {{ (data | async).total | currency:'USD':true:'1.2-2' }}
    </span>
  </div>
  <div *ngIf="shouldShowLicenseDetailsBtn()" flex="100" class="license-agreement-ckbox">
    <md-checkbox [(ngModel)]="licenseAgreement" color="primary">
      {{'CART.CONFIRM.AGREE_TO_LIC_PLEDGE_TXT' | translate}}
    </md-checkbox>
  </div>
  <div flex="100">
    <button
      md-button
      color="primary"
      class="is-outlined large-text"
      *ngIf="shouldShowLicenseDetailsBtn()"
      (click)="showLicenseAgreements()">
      {{ 'CART.SHOW_LICENSES_BTN_LABEL' | translate }}
    </button>
    <button
      md-raised-button
      class="checkout"
      (click)="purchase()"
      [disabled]='!licenseAgreement && shouldShowLicenseDetailsBtn()'>
      {{ 'CART.CONFIRM.PURCHASE_BTN' | translate }}
    </button>
  </div>
</section>
