.commerce-billing div.addresses ul li section {
  background-color: rgba(mat-color($background, card), .65);
  color: rgba(mat-color($foreground, text), .7);
  border: 1px solid rgba(mat-color($background, card), .01);
  &.active {
    background-color: rgba(mat-color($background, card), 1);
    border: 1px solid rgba(mat-color($primary, default), .6);
  }
  .divider {
    box-shadow: inset 0 1px 0 0 mat-color($foreground, divider);
  }
}
