<div flex="100" flex-gt-lg="85" class="place-order">
  <header layout="column" layout-align="start">
    <h2 class="commerce-heading">{{ 'CART.CONFIRM.PAGE_TITLE' | translate }}</h2>
  </header>

  <div layout="column" layout-gt-xs="row" class="billing-payment">
    <section class="billing" flex="auto">
      <div layout="row" layout-align="space-between">
        <h5 class="md-title">{{ 'CART.CONFIRM.BILLING_TITLE' | translate }}</h5>
        <button md-button (click)="goToTab(1)">{{ 'CART.CONFIRM.EDIT' | translate }}</button>
      </div>
      <address *ngIf="(orderInProgress | async).selectedAddress.address">
        <span class="line-1">{{ (orderInProgress | async).selectedAddress.address.address }}</span>
        <span class="line-2">{{ (orderInProgress | async).selectedAddress.address.city }},
          {{ (orderInProgress | async).selectedAddress.address.state }} {{ (orderInProgress | async).selectedAddress.address.zipcode }},
          {{ (orderInProgress | async).selectedAddress.address.country }}</span>
        <span class="phone">{{ (orderInProgress | async).selectedAddress.address.phone }}</span>
      </address>
    </section>
    <section *ngIf="(purchaseType | async) !== 'ProvisionalOrder'" class="payment" flex="auto">
      <div layout="row" layout-align="space-between">
        <h5 class="md-title">{{ 'CART.CONFIRM.PAYMENT_TITLE' | translate }}</h5>
        <button md-button (click)="goToTab(2)">{{ 'CART.CONFIRM.EDIT' | translate }}</button>
      </div>
      <div class="payment-info">
        <div 
          class="credit-card"
          *ngIf="(orderInProgress | async).authorization.card.last4 && (purchaseType | async) === 'CreditCard'">
          <span class="indicate-cc">
            <strong>{{ (orderInProgress | async).authorization.card.brand }}:</strong>
            ending in {{ (orderInProgress | async).authorization.card.last4 }}
          </span>
          <span class="expires">
            <strong>Expires:</strong>
            {{ (orderInProgress | async).authorization.card.exp_month }}/{{ (orderInProgress | async).authorization.card.exp_year }}
          </span>
        </div>
        <div class="purchase-on-credit" *ngIf="(purchaseType | async) === 'PurchaseOnCredit'">
          <span class="indicate-credit">
            <strong>Purchase on credit</strong>
          </span>
        </div>
        <div class="offline-agreement" *ngIf="(purchaseType | async) === 'OfflineAgreement'">
          <span class="indicate-offline">
            <strong>Offline Agreement</strong>
          </span>
        </div>
      </div>
    </section>
  </div>
</div>

<h5 class="md-title order-summary">{{ 'CART.CONFIRM.ORDER_TITLE' | translate }}</h5>
<button md-button (click)="goToTab(0)">{{ 'CART.CONFIRM.EDIT' | translate }}</button>
<projects-component
  flex="100"
  [readOnly]="true"
  [projects]="(data | async).projects"
  [quoteType]="(purchaseType | async)"
  [userCan]="userCan">
</projects-component>

<section class="commerce-total" layout="column" layout-gt-xs="row" layout-align="space-between">
  <span flex="100" class="total md-headline" layout-align="end center">
    <span class="total-label">
      {{ 'CART.CONFIRM.TOTAL' | translate }} 
    </span>
    <span class="total-amount">
      {{ (data | async).total | currency:'USD':true:'1.2-2' }}
    </span>
  </span>
  <span flex="" flex-order-xs="2" layout-align="end center">
    <button md-raised-button class="checkout" (click)="purchase()">
      {{ 'CART.CONFIRM.PURCHASE_BTN' | translate }}
    </button>
  </span>
</section>
