<div class="cart-billing" layout="row" layout-align="center start">
  <div *ngIf="addressesAreEmpty | async" flex-gt-lg="30" flex-gt-md="35" flex-md="40" flex-gt-sm="55" flex-gt-xs="60" flex="100">
    <md-card class="billing-card wz-form-card">
      <md-card-title>
        {{ 'CART.BILLING.ENTER_BILLING_ADDRESS' | translate }}
      </md-card-title>
      <md-card-content>
        <wz-form
          [items]="items"
          [submitLabel]="'CART.BILLING.SAVE_ADDRESS_BTN_LABEL'"
          (formSubmit)="addUserAddress($event)">
        </wz-form>
      </md-card-content>
    </md-card>
  </div>


  <div *ngIf="!(addressesAreEmpty | async)" flex="100" flex-gt-lg="85" class="addresses">
    <header layout="column" layout-align="start">
      <h2 class="cart-heading">{{ 'CART.BILLING.SELECT_BILLING_ADDRESS' | translate }}</h2>
    </header>
    
    <ul layout="column" layout-align="start" layout-gt-xs="row">
      <li *ngFor="let address of (orderInProgress | async).addresses" class="billing-address">
        <section [ngClass]="{'active': address === (orderInProgress | async).selectedAddress}" layout="column">
          <header>
            <span class="{{address.type}}">{{address.type}}</span>
            <span>{{address.name}}</span>
          </header>
          <address *ngIf="address.address">
            <span class="line-1">{{address.address.address}}</span>
            <span class="line-2">{{address.address.city}}, {{address.address.state}} {{address.address.zipcode}}, {{address.address.country}}</span>
            <span class="phone">{{address.address.phone}}</span>
          </address>
          <address *ngIf="!address.address">
            <span>{{ 'CART.BILLING.EMPTY_ADDRESS' | translate:{type: address.type} }}</span>
          </address>
          <nav layout="column" class="actions">
            <div class="divider"></div>
            <div layout="row" layout-align="end">
              <button
                *ngIf="userCan.editAddress(address)"
                (click)="openFormFor('user', 'edit', address)"
                title="{{ 'CART.BILLING.EDIT_USER_ADDRESS' | translate }}"
                md-button class="is-outlined" color="primary" >
                  {{ 'CART.BILLING.EDIT_USER_ADDRESS' | translate }}
              </button>        
              <button
                *ngIf="userCan.addAddress(address)"
                (click)="openFormFor('user', 'create')"
                title="{{ 'CART.BILLING.ADD_USER_ADDRESS' | translate }}"
                md-button class="is-outlined" color="primary" >
                  {{ 'CART.BILLING.ADD_USER_ADDRESS' | translate }}
              </button>        
              <button
                *ngIf="userCan.editAccountAddress(address)"
                (click)="openFormFor('account', 'edit', address)"
                title="{{ 'CART.BILLING.EDIT_ACCOUNT_ADDRESS' | translate }}"
                md-button class="is-outlined" color="primary" >
                  {{ 'CART.BILLING.EDIT_ACCOUNT_ADDRESS' | translate }}
              </button>        
              <button
                *ngIf="userCan.addAccountAddress(address)"
                (click)="openFormFor('account', 'create', address)"
                title="{{ 'CART.BILLING.ADD_ACCOUNT_ADDRESS' | translate }}"
                md-button class="is-outlined" color="primary" >
                  {{ 'CART.BILLING.ADD_ACCOUNT_ADDRESS' | translate }}
              </button>        
              <button md-raised-button color="primary" (click)="selectAddress(address)" [disabled]="!address.address">
                {{ 'CART.BILLING.SELECT_ADDRESS_BTN' | translate }}
              </button>
            </div>
          </nav>
        </section>
      </li>
    </ul>
  </div>
</div>

<nav flex="100" layout="row" layout-align="space-between">
  <button md-button color="primary" (click)="goToPreviousTab()" class="checkout-back">
    <md-icon>keyboard_backspace</md-icon>
    {{ 'CART.BILLING.BACK_BTN' | translate }}
  </button>
  <button md-raised-button class="checkout" (click)="goToNextTab()" [disabled]="!(userCanProceed | async)">
    {{ 'CART.BILLING.FORWARD_BTN' | translate }}
  </button>
</nav>
