asset-list {
  width: 100%;
}
ul.grid-asset-list {
  list-style: none;
  font-size: 0;
  line-height: 0;
  margin: 40px 0 30px -1%;
  padding: 0;
  & > li {
    font-size: 1em;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    margin: 2% 0 1% 1%;
    width: 19%;
    @include transition($swift-ease-out);
    .asset {
     padding: 1px 1px 17% 1px;
     background-color: md-color($md-background, 100);
     box-shadow: 0 1px 1px 0 md-color($md-background, 700, .2);
    }
    @media screen and (max-width: $layout-breakpoint-lg) {
      width: 24%  
    }
    @media screen and (max-width: $layout-breakpoint-md) {
      width: 32.3333%
    }
    @media screen and (max-width: $layout-breakpoint-sm) {
      width: 49%;      
    }
    @media screen and (max-width: 400px) {
      width: 99%;      
    }
    .asset-name {
      position: absolute;
      top: -12px;
      left: 1px;
      font-size: rem(1.1);
      line-height: rem(1.1);
      @include transition($swift-ease-out);
      @include text-contrast(md-color($md-background, 100));
      opacity: 0;
    }
    a {
      display: block;
      height: 100%;
      width: 100%;
      position: relative;
      &::before {
        content: " ";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        @include background-image(linear-gradient(2deg, rgba(md-color($md-background, 900),0.9), rgba(md-color($md-background, 900),0) 30%));
        opacity: 0.6;
        @include transition(opacity 1.5s cubic-bezier(0.55, 0, 0.55, 0.2));
        z-index: 1;
      }
    }
    span {
      display: block;
      position: absolute;
      font-size: rem(1.2);
      line-height: rem(1.55);
      &.mdata-1 {
        bottom: 0;
        left:0;
        width: 100%;
        height: 23%;
        span {
          opacity: .65;
          padding: 8px;
          overflow: hidden;
          height: 51%;
        }
      }
      &.mdata-0, &.mdata-3 {
        display: none;
      }
      &.mdata-2 {
        height: 25px;
        width: 25px;
        top: 3px;
        right: 3px;
        background-color: rgba(md-color($md-background, 100),0.2);
        z-index: 1;
        span {
          text-indent: -99999px;
          position: relative;
        }
      }
    }
    img {
      width: 100%;
      height: auto;
      position: relative;
    }
    &:hover .asset-name {
      opacity: .7;
    }
  }
}