ul.asset-list
  li(*ngFor="#asset of assets")
    .asset
      .asset-name {{asset.name}}
      a(flex='', [routerLink]="['Home']")
        img(*ngIf="asset.thumbnail", src='{{asset.thumbnail.urls.https}}')
        img(*ngIf="!asset.thumbnail", src="/resources/img/highlights/dimoc.jpg")
        
        span(*ngFor="#mdata of asset.metaData; #i = index", class="mdata-{{i}}") 
          span(*ngIf="i != 2") {{mdata.value}}
          span(*ngIf="i == 2", 
            [ngClass]="{hd: mdata.value == 'High Definition', sd: mdata.value == 'Standard Definition'}") {{mdata.value}}

      // div(*ngFor="#mdata of asset.metaData; #i = index", class="mdata-{{i}}") 
      //   span( *ngIf="i == 1") {{mdata.value}}
 