ul.grid-asset-list
  li(*ngFor="#asset of assets")
    .asset
      .asset-name {{asset.name}}
      span(*ngFor="#mdata of asset.metaData; #i = index", class="mdata-{{i}}") 
        span {{mdata.value}}
      a(flex='', [routerLink]="['Home']")
        img(src='{{asset?.thumbnail?.urls?.https}}')
