div(layout="column" ng-cloak)
  md-toolbar(class="md-warn")
    div(class="md-toolbar-tools")
      h2(class="md-flex") Users
   
  md-content(flex layout-padding)
    table
      tr
        th Username
        th Street
        th City
        th State
        th Country
      tr(ng-repeat="user in vm.UserService.users")
        td {{user.username}}
        td{{user.street}}
        td{{user.city}}
        td{{user.state}}
        td{{user.country}}
    