div.cart-billing {
  md-card.billing-card {
    min-height: 50vh;
    margin-top: rem(2);
    md-select {
      width: 100%;
    }
    wz-form {
      md-input, md-select {
        font-size: 1em;
        margin: rem(.5);
      }
    }
  }

  div.addresses {
    ul {
      list-style: none;
      padding: 0;
      li {
        margin: rem(2);
        md-card.address {
          min-width: rem(36);
          min-height: rem(12);
          md-card-content {
            min-height: rem(6);
          }
          &.active {
            color: green;
          }
        }
      }
    }
  }
}

address-form-component {
  wz-form {
    md-input, md-select {
      font-size: 1em;
      margin: rem(.5);
      width: 100%;
    }
  }
}
