<div layout="row" layout-align="center center">
  <div class="cart-billing" flex="95">
    <div layout="row" layout-align="center center">
      <div flex="40">
        <md-card class="billing-card wz-form-card" *ngIf="addressesAreEmpty">
            <md-card-title>
              {{ 'CART.BILLING.ENTER_BILLING_ADDRESS' | translate }}
            </md-card-title>
            <md-card-content>
              <wz-form
                [items]="items"
                [submitLabel]="'CART.BILLING.SAVE_ADDRESS_BTN_LABEL'"
                (formSubmit)="addUserAddress($event)">
              </wz-form>
            </md-card-content>
        </md-card>
        <div flex="95" *ngIf="addresses.length > 0" class="addresses">
          <div layout="column" layout-align="center center">
            <h3>{{ 'CART.BILLING.SELECT_BILLING_ADDRESS' | translate }}</h3>
          </div>
          <ul layout="column" layout-align="center center" layout-gt-md="row">
            <li *ngFor="let address of this.addresses">
              <md-card class="address" [ngClass]="{'active': address.addressEntityId === selectedAddress.addressEntityId}">
                <md-card-title>{{address.type + ': ' + address.name}}</md-card-title>
                <md-card-content [innerHTML]="format(address)"></md-card-content>
                <md-card-actions class="billing-actions">
                  <div layout="row" layout-align="space-around center">
                    <div *ngIf="userCan.editAddress(address)">
                      <button
                        (click)="openFormFor('user', 'edit', address)"
                        title="{{ 'CART.BILLING.EDIT_USER_ADDRESS' | translate }}"
                        md-button class="md-primary">
                          {{ 'CART.BILLING.EDIT_USER_ADDRESS' | translate }}
                      </button>        
                    </div>
                    <div *ngIf="userCan.addAddress(address)">
                      <button
                        (click)="openFormFor('user', 'create')"
                        title="{{ 'CART.BILLING.ADD_USER_ADDRESS' | translate }}"
                        md-button class="md-primary">
                          {{ 'CART.BILLING.ADD_USER_ADDRESS' | translate }}
                      </button>        
                    </div>
                    <div *ngIf="userCan.editAccountAddress(address)">
                      <button
                        (click)="openFormFor('account', 'edit', address)"
                        title="{{ 'CART.BILLING.EDIT_ACCOUNT_ADDRESS' | translate }}"
                        md-button class="md-primary">
                          {{ 'CART.BILLING.EDIT_ACCOUNT_ADDRESS' | translate }}
                      </button>        
                    </div>
                    <div *ngIf="userCan.addAccountAddress(address)">
                      <button
                        (click)="openFormFor('account', 'create', address)"
                        title="{{ 'CART.BILLING.ADD_ACCOUNT_ADDRESS' | translate }}"
                        md-button class="md-primary">
                          {{ 'CART.BILLING.ADD_ACCOUNT_ADDRESS' | translate }}
                      </button>        
                    </div>
                    <div>
                      <button md-button class="md-primary" (click)="selectAddress(address)" [disabled]="!address.address">
                        {{ 'CART.BILLING.SELECT_ADDRESS_BTN' | translate }}
                      </button>
                    </div>
                  </div>
                </md-card-actions>
              </md-card>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<nav flex="100" layout="row" layout-align="space-between">
  <button md-raised-button class="md-block" (click)="goToPreviousTab()">{{ 'CART.BILLING.BACK_BTN' | translate }}</button>
  <button md-raised-button class="md-block" (click)="goToNextTab()" [disabled]="!userCanProceed">{{ 'CART.BILLING.FORWARD_BTN' | translate }}</button>
</nav>
