<div layout="row" layout-align="center center">
  <div class="cart-billing" flex="95">
    <div layout="row" layout-align="center center">
      <div flex="40">
        <md-card class="billing-card wz-form-card">
          <div *ngIf="addresses.length === 0">
            <md-card-title>
              {{ 'CART.BILLING.ENTER_BILLING_ADDRESS' | translate }}
            </md-card-title>
            <md-card-content>
              <wz-form
                [items]="items"
                [submitLabel]="'CART.BILLING.SAVE_ADDRESS_BTN_LABEL'"
                (formSubmit)="addUserAddress($event, 'add')">
              </wz-form>
            </md-card-content>
          </div>
          <div *ngIf="addresses.length > 0">
            <md-select [(ngModel)]="selectedAddress.address" placeholder="{{ 'CART.BILLING.SELECT_BILLING_ADDRESS' | translate }}" required>
              <md-option *ngFor="let address of addresses" [value]="address.address" (onSelect)="selectAddress(address)">{{ address.type + ': ' + address.name }}</md-option>
            </md-select>
            <div layout="column" layout-align="center start" class="selected-address">
              <div *ngFor="let item of selectedAddress.address | values">
                <p><strong>{{item.key}}:</strong> {{item.value}}</p>
              </div>
            </div>
          </div>
          <div layout="row" layout-align="space-around center" class="billing-actions">
            <div *ngIf="selectedAddress.type === 'user'">
              <button (click)="openAddressFormFor('user', 'edit')" title="{{ 'CART.BILLING.EDIT_USER_ADDRESS_TITLE' | translate }}" md-button class="md-primary">
                {{ 'CART.BILLING.EDIT_USER_ADDRESS_BTN' | translate }}
              </button>        
            </div>
            <div *ngIf="onlyAccountAddressesExist">
              <button (click)="openAddressFormFor('user', 'add')" title="{{ 'CART.BILLING.ADD_USER_ADDRESS_TITLE' | translate }}" md-button class="md-primary">
                {{ 'CART.BILLING.ADD_USER_ADDRESS_BTN' | translate }}
              </button>        
            </div>
            <div *ngIf="userCanEditAccountAddress">
              <button (click)="openAddressFormFor('account', 'edit')" title="{{ 'CART.BILLING.EDIT_ACCOUNT_ADDRESS_TITLE' | translate }}" md-button class="md-primary">
                {{ 'CART.BILLING.EDIT_ACCOUNT_ADDRESS_BTN' | translate }}
              </button>        
            </div>
          </div>
        </md-card>
      </div>
    </div>
  </div>
</div>
<nav flex="100" layout="row" layout-align="space-between">
  <button md-raised-button class="md-block" (click)="goToPreviousTab()">{{ 'CART.BILLING.BACK_BTN' | translate }}</button>
  <button md-raised-button class="md-block" (click)="goToNextTab()" [disabled]="!userCanProceed">{{ 'CART.BILLING.FORWARD_BTN' | translate }}</button>
</nav>
