.cart-billing {
  div.addresses {
    ul {
      list-style: none;
      padding: 0;
      margin: rem(.6) 0 0 rem(-1.2);
      @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0)  {
        margin-left: 0;
      }
      li {
        margin: rem(.2) 0 0 rem(1.2);
        display: inline-block;
        max-width: calc(100% - 12px);
        min-width: calc(100% - 12px);
        @media screen and (min-width: $layout-breakpoint-lg)  {
          max-width: calc(25% - 12px);
          min-width: calc(25% - 12px);
        }
        @media screen and (min-width: $layout-breakpoint-md) and (max-width: $layout-breakpoint-lg)  {
          max-width: calc(33.333% - 12px);
          min-width: calc(33.333% - 12px);
        }
        @media screen and (min-width: $layout-breakpoint-sm) and (max-width: $layout-breakpoint-md)  {
          max-width: calc(50% - 12px);
          min-width: calc(50% - 12px);
        }
        @media screen and (max-width: $layout-breakpoint-sm)  {
          max-width: calc(50% - 12px);
          min-width: calc(50% - 12px);
        }
        @media screen and (max-width: $layout-breakpoint-xs)  {
          min-width: 100%;
          max-width: 100%;
          margin: rem(1.0) 0 0 0;
        }
        section {
          background-color: rgba(md-color($background, card), .65);
          color: rgba(md-color($foreground, text), .7);
          position: relative;
          padding: rem(1.4);
          border-radius: $md-button-border-radius;
          border: 1px solid rgba(md-color($background, card), .01);
          transition: $swift-ease-out;
          min-height: rem(21.5);
          margin-bottom: rem(1.0);
          &.active {
            @include md-elevation(2);
            background-color: rgba(md-color($background, card), 1);
            border: 1px solid rgba(md-color($primary, default), .9);
          }
          header > span:last-child {
            font-size: rem(2.0);
            font-weight: 600;
          }
          header > span:first-child {
            font-size: rem(1.05);
            font-weight: 300;
            display: block;
            text-transform: capitalize;
            margin-top: rem(-.6);
            &.user {
              display: none;
            }
          }
          address {
            font-size: rem(1.4);
            line-height: 1.55;
            padding-top: rem(.8);
            margin-bottom: rem(2.4);
            span {
              display: flex;
            }
            .phone {
              font-style: normal;
              line-height: 2.4;
            }
          }
          nav.actions {
            position: absolute;
            bottom: 0;
            right: 0;
            min-width: 100%;
            padding: rem(1.6);
            button {
              margin-left: rem(.5);
              &:first-child {
                margin-left: 0;
              }
            }
          }
          .divider {
            box-shadow: inset 0 1px 0 0 md-color($foreground, divider);
            margin: rem(.8) 0 rem(.7) 0;
            padding-bottom: rem(.7);
          }
        }
      }
    }
  }
}
