<projects-component 
  [projects]="(cart | async).projects" 
  [config]="config" 
  [userCan]="userCan" 
  (projectsNotify)="onNotification($event)">
</projects-component>

<section class="cart-total" layout="row" layout-align="center center">
	<div flex="100">
    <div flex="100" layout="row" layout-align="end center" class="total md-headline">
      <span class="total-label">
        {{ 'CART.CART_TOTAL' | translate }} 
      </span>
      <span class="total-amount">
        {{ (cart | async).total | currency:'USD':true:'1.2-2' }}
      </span>
		</div>
    <div flex="100" layout="row" layout-align="end center">
      <button
        *ngIf="(assetsInCart | async) && !userCan.createQuotes()"
        [disabled]="!rmAssetsHaveAttributes"
        md-raised-button class="checkout"
        (click)="goToNextTab()">
          {{ 'CART.PROCEED_BTN_LABEL' | translate }}
      </button>
      <div *ngIf="userCan.createQuotes()">
        <button
          [disabled]="!rmAssetsHaveAttributes"
          md-raised-button class="checkout"
          (click)="saveAsDraft()">
          {{ 'CART.SAVE_AS_DRAFT_BTN' | translate }}
        </button>
        <button
          [disabled]="!rmAssetsHaveAttributes"
          md-raised-button class="checkout"
          (click)="openQuoteDialog()">
          {{ 'CART.CREATE_QUOTE_BTN' | translate }}
        </button>
      </div>
    </div>
    <div flex="100" layout="row" layout-align="end center" class='select-usage-warn' *ngIf="!rmAssetsHaveAttributes">
      {{ 'CART.SELECT_USAGE_WARN' | translate }}
    </div>
	</div>
</section>
