<div class="cart-payment" layout="row" layout-align="center center">
  <div flex="100" flex-gt-lg="85" class="payment-select">
    
     <!--Hold-->
    <section *ngIf="showHoldMessage | async"
      layout="column"
      layout-align="center center"
      md-scroll-y=""
      flex-gt-lg="30">
      <h2 class="md-headline">{{ (paymentOptions | async).explanation }}</h2>
    </section>

    <!--Credit Card-->
    <section *ngIf="showCreditCardForm | async"
      layout="column"
      layout-align="center center"
      md-scroll-y=""
      flex-gt-lg="30"
      flex="100">
      <h2 class="md-headline">{{ (paymentOptions | async).explanation }}</h2>
      <md-card class="wz-form-card cc-form">
        <md-card-content>
          <wz-cc-form 
            [items]="formItems | async" 
            [serverErrors]="serverErrors"
            [successfullyVerified]="successfullyVerified | async"
            submitLabel="{{'CART.PAYMENT.VERIFY' | translate}}"
            (onEdit)="editCreditCard()"
            (formSubmit)="preAuthorize($event)"></wz-cc-form>
        </md-card-content>
      </md-card>
    </section>

    <!--Credit Card AND Purchase on Credit-->
    <div *ngIf="showCreditCardAndPurchaseOnCredit | async"
      layout="column" layout-gt-xs="row" layout-padding>
      <section flex-gt-lg="30" flex-gt-md="35" flex-md="40" flex="100">
        <header layout="column" layout-align="start">
          <h2 class="md-headline">{{ (paymentOptions | async).explanation }}</h2>
        </header>
        <md-radio-group layout="column" class="example-radio-group" (click)="disableTab(3)" [(ngModel)]="selectedPaymentOption">
          <md-radio-button *ngFor="let option of (paymentOptions | async).paymentOptions"
            class="example-radio-button"
            [value]="option">
            {{option}}
          </md-radio-button>
        </md-radio-group>
      </section>
      <section *ngIf="selectedPaymentOption === 'CreditCard'"
        md-scroll-y=""
        flex-gt-lg="30"
        flex-gt-md="35"
        flex-md="40"
        flex="100">
        <md-card class="wz-form-card cc-form">
          <md-card-content>
            <wz-cc-form 
              [items]="formItems | async" 
              [serverErrors]="serverErrors"
              [successfullyVerified]="successfullyVerified | async"
              submitLabel="{{'CART.PAYMENT.VERIFY' | translate}}"
              (onEdit)="editCreditCard()"
              (formSubmit)="preAuthorize($event)"></wz-cc-form>
          </md-card-content>
        </md-card>
      </section>
      <section *ngIf="selectedPaymentOption === 'PurchaseOnCredit'" flex-gt-lg="30" flex-gt-md="35" flex-md="40" flex="100">
        <div>
          <h5 class="md-title">{{ 'CART.PAYMENT.PURCHASE_ON_CREDIT' | translate }}</h5>
          <p class="instructions">{{ 'CART.PAYMENT.PURCHASE_ON_CREDIT_INSTRUCTIONS' | translate }}</p>
          <md-checkbox
            (change)="selectPurchaseOnCredit($event)"
            color="primary">
            {{ 'CART.PAYMENT.PURCHASE_ON_CREDIT' | translate }}
          </md-checkbox>
        </div>
      </section>
      </div>

  </div>
</div>

