<projects-component
  [quoteType]="quoteType"
  [projects]="(cart | async).projects" 
  [config]="config" 
  [userCan]="userCan" 
  (projectsNotify)="onNotification($event)">
</projects-component>

<section class="cart-total" layout="row" layout-align="center center">
	<div flex="100">
    <div *ngIf="quoteType !== 'provisionalOrder'" flex="100" layout="row" layout-align="end center" class="total md-headline">
      <span class="total-label">
        {{ 'CART.CART_TOTAL' | translate }} 
      </span>
      <span class="total-amount">
        {{ (cart | async).total | currency:'USD':true:'1.2-2' }}
      </span>
		</div>
    <div *ngIf="userCan.createQuotes()" flex="100" layout="row" layout-align="center center">
      <administer-quote-component
        flex="100"
        [cart]="cart | async"
        (openQuoteDialog)="onOpenQuoteDialog()"
        (saveAsDraft)="onSaveAsDraft()"
        (selectQuoteType)="onSelectQuoteType($event)">
      </administer-quote-component>
    </div>


    <div *ngIf="!userCan.createQuotes()" flex="100" layout="row" layout-align="end center">
      <button
        *ngIf="(assetsInCart | async)"
        [disabled]="!rmAssetsHaveAttributes"
        md-raised-button class="checkout"
        (click)="goToNextTab()">
          {{ 'CART.PROCEED_BTN_LABEL' | translate }}
      </button>
    </div>
    <div flex="100" layout="row" layout-align="end center" class='select-usage-warn' *ngIf="!rmAssetsHaveAttributes">
      {{ 'CART.SELECT_USAGE_WARN' | translate }}
    </div>
	</div>
</section>
