<div flex="100" flex-gt-lg="85" class="place-order">
  <header layout="column" layout-align="start">
    <h2 class="cart-heading">{{ 'CART.CONFIRM.PAGE_TITLE' | translate }}</h2>
  </header>

  <div layout="column" layout-gt-xs="row" class="billing-payment">
    <section class="billing" flex="auto">
      <h5 class="md-title">{{ 'CART.CONFIRM.BILLING_TITLE' | translate }}</h5>
      <address *ngIf="cartStore.orderInProgress.selectedAddress.address">
        <span class="line-1">{{cartStore.orderInProgress.selectedAddress.address.address}}</span>
        <span class="line-2">{{cartStore.orderInProgress.selectedAddress.address.city}}, {{cartStore.orderInProgress.selectedAddress.address.state}} {{cartStore.orderInProgress.selectedAddress.address.zipcode}}, {{cartStore.orderInProgress.selectedAddress.address.country}}</span>
        <span class="phone">{{cartStore.orderInProgress.selectedAddress.address.phone}}</span>
      </address>
    </section>
    <section class="payment" flex="auto">
      <h5 class="md-title">{{ 'CART.CONFIRM.PAYMENT_TITLE' | translate }}</h5>
      <div class="payment-info">
        <div class="credit-card" *ngIf="cartStore.orderInProgress.authorization.card.last4 && cartStore.orderInProgress.selectedPurchaseType === 'card'">
          <span class="indicate-cc">
            <strong>{{cartStore.orderInProgress.authorization.card.brand}}:</strong> ending in {{cartStore.orderInProgress.authorization.card.last4}}
          </span>
          <span class="expires">
            <strong>Expires:</strong>
            {{cartStore.orderInProgress.authorization.card.exp_month}}/{{cartStore.orderInProgress.authorization.card.exp_year}}
          </span>
        </div>
        <div class="purchase-on-credit" *ngIf="cartStore.orderInProgress.selectedPurchaseType === 'credit'">
          <span class="indicate-credit">
            <strong>Purchase on credit</strong>
          </span>
        </div>
      </div>
    </section>
  </div>
</div>

<h5 class="md-title order-summary">{{ 'CART.CONFIRM.ORDER_TITLE' | translate }}</h5>
<projects-component flex="100" [readOnly]="true" [projects]="(cartService.data | async).cart.projects"></projects-component>

<section class="cart-total" layout="column" layout-gt-xs="row" layout-align="space-between">
  <button md-button color="primary" (click)="goToPreviousTab()" class="checkout-back" flex-order-xs="4" flex="0" layout-align="start center">
    <md-icon>keyboard_backspace</md-icon>
    {{ 'CART.CONFIRM.BACK_BTN' | translate }}
  </button>
  <span flex="100" class="total md-headline" layout-align="end center">
    <span class="total-label">
      {{ 'CART.CONFIRM.TOTAL' | translate }} 
    </span>
    <span class="total-amount">
      {{ cartStore.cart.total | currency:'USD':true:'1.2-2' }}
    </span>
  </span>
  <span flex="" flex-order-xs="2" layout-align="end center">
    <button md-raised-button class="checkout" (click)="purchaseOnCredit()" *ngIf="cartStore.orderInProgress.selectedPurchaseType === 'credit'">
      {{ 'CART.CONFIRM.PURCHASE_BTN' | translate }}
    </button>
    <button md-raised-button class="checkout" (click)="purchase()" *ngIf="cartStore.orderInProgress.selectedPurchaseType === 'card'">
      {{ 'CART.CONFIRM.PURCHASE_BTN' | translate }}
    </button>
  </span>
</section>
