<div class="cart-payment" layout="row" layout-align="center start">
  <div flex="100" flex-gt-lg="85" class="payment-select">
    <header layout="column" layout-align="start">
      <h2 class="cart-heading">{{ 'CART.PAYMENT.SELECT_PAYMENT' | translate }}</h2>
      <span class="sub-head">You can review this order before it's final</span>
    </header>
      
    <div layout="column" layout-gt-xs="row" layout-padding>
      <section md-scroll-y="" flex-gt-lg="30" flex-gt-md="35" flex-md="40" flex="100">
        <h5 class="md-title">{{ 'CART.PAYMENT.CREDIT_CARD_HEADING' | translate }}</h5>
        <md-card class="wz-form-card cc-form">
          <md-card-title>
            {{ 'CART.PAYMENT.FORM_TITLE' | translate }}
          </md-card-title>
          <md-card-content>
            <wz-cc-form 
              [items]="config.items" 
              [serverErrors]="serverErrors"
              (formSubmit)="preAuthorize($event)"></wz-cc-form>
          </md-card-content>
        </md-card>
      </section>
      <section flex-gt-lg="70" flex-gt-md="65" flex-md="60" flex="100">
        <div *ngIf="userCanPurchaseOnCredit | async">
          <h5 class="md-title">{{ 'CART.PAYMENT.PURCHASE_ON_CREDIT' | translate }}</h5>
          <p class="instructions">Your account can purchase on credit. To use that option, click the button below.</p>
          <button md-button
            (click)="selectPurchaseOnCredit()"
            color="primary" 
            class="is-outlined">
            {{ 'CART.PAYMENT.PURCHASE_ON_CREDIT' | translate }}
          </button>
        </div>
      </section>
    </div>

  <nav flex="100" layout="row" layout-align="space-between">
    <button md-button color="primary" (click)="goToPreviousTab()" class="checkout-back">
      <md-icon>keyboard_backspace</md-icon>
      {{ 'CART.PAYMENT.BACK_BTN' | translate }}
    </button>
    <button md-raised-button class="checkout" (click)="goToNextTab()" [disabled]="!(userCanProceed | async)">
      {{ 'CART.BILLING.FORWARD_BTN' | translate }}
    </button>
  </nav>
</div>
