<button (click)="purchaseOnCredit()" *ngIf="userCanPurchaseOnCredit | async" color="primary" md-button>
  {{ 'CART.PAYMENT.PURCHASE_ON_CREDIT' | translate }}
</button>


<section layout="row" md-scroll-y="" layout-align="center start" flex-gt-lg="40" flex-gt-md="45" flex-md="55" flex-gt-sm="70" flex-gt-xs="80" flex="100" >
  <md-card class="wz-form-card cc-form">
    <md-card-title>
       {{ 'CART.PAYMENT.FORM_TITLE' | translate }}
    </md-card-title>
    <md-card-content>
      <wz-form 
        [items]="config.items" 
        [serverErrors]="serverErrors"
        (formSubmit)="preAuthorize($event)"></wz-form>
    </md-card-content>
    <span>You can review this order before it's final</span>
  </md-card>
</section>

<nav flex="100" layout="row" layout-align="space-between">
  <button md-button color="primary" (click)="goToPreviousTab()" class="checkout-back">
    <md-icon>keyboard_backspace</md-icon>
    {{ 'CART.PAYMENT.BACK_BTN' | translate }}
  </button>
</nav>
