section.login.hero {
  div.first-time-user {
    text-align: center;
    p {
      font-size: $headline-font-size-base;
      font-weight: 400;
      line-height: rem(3.2);
      @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) {
        @include md-body-1();
      }
    }
  }
  overflow: hidden;
  width: 100%;
  position: relative;
  margin: 0 auto;
  @include text-contrast(md-color($md-grey, 900));
  background-image:
    linear-gradient(md-color($md-grey, 900, .75), md-color($md-grey, 900, .5)),
    url($bk-img-user-management)
  ;
  background-position: 0 0, 0 0, center center;
  background-repeat: repeat, no-repeat, no-repeat;
  background-size: auto, cover, cover;
  margin-bottom: 0;
  min-height: 1000px;
  & > div {
    margin-top: rem(1.1);
  }
}
md-card.wz-form-card {
  @include md-elevation(0);
  padding: rem(3.6) rem(4.6) rem(2.6) rem(4.6);
  @media screen and (max-width: $layout-breakpoint-xs) {
    padding: rem(2.4) rem(2.2) rem(2.4) rem(2.2);
  }
  color: md-color($md-foreground, secondary-text);
  margin: rem(.8);
  md-card-header {
    height: rem(3.4);
    .md-card-header-text {
      height: 0;
      margin: 0;
    }
  }
  md-card-title {
    text-align: center;
  }
  button[md-icon-button].close {
    position: absolute;
    right: rem(.5);
    top: rem(.5);
    font-size: rem(3.6);
    opacity: .5;
    md-icon {
      font-size: rem(3.6);
      height: rem(3.6);
      width: rem(3.6);
      line-height: .835
    }
  }
}

md-card-header .logo-wrapper {
  height: 60px;
  width: 100%;
  .logo {
    background-image: url($logo-simple-form);
    background-position: top center;
    background-repeat:no-repeat;
    background-size: 170px;
    height: 70px;
    opacity: .5;
  }
}
