section.login.hero {
  overflow: hidden;
  width: 100%;
  position: relative;
  margin: 0 auto;
  @include text-contrast(md-color($md-grey, 900));
  @include background-image(
    url("../assets/img/bk/tex/bktx_dgl_lines_light.png"),
    linear-gradient(md-color($md-grey, 900, .7), md-color($md-grey, 900, .94)),
    url($bk-img-user-management)
  );
  background-position: 0 0, 0 0, center center;
  background-repeat: repeat, no-repeat, no-repeat;
  background-size: auto, cover, cover;
  margin-bottom: 0;
  min-height: 1000px;
  & > div {
    margin-top: rem(1.1);
  }
}
md-card.wz-form-card {
  padding: 36px 56px 26px 56px;
  color: md-color($md-foreground, secondary-text);
  margin: rem(.8);
  md-card-header {
    height: rem(9);
    .md-card-header-text {
      height: 0;
      margin: 0;
    }
  }
  md-card-title {
    text-align: center;
  }
  button[md-icon-button].close {
    position: absolute;
    right: rem(.5);
    top: rem(.5);
    font-size: 36px;
    opacity: .5;
    md-icon {
      font-size: 1em;
      height: 1em;
      width: 1em;
    }
  }
}

md-card-header .logo-wrapper {
  height: 60px;
  width: 100%;
  .logo {
    @include background-image(url($logo-simple-form));
    background-position: top center;
    background-repeat:no-repeat;
    background-size: 170px;
    height: 70px;
    opacity: .5;
  }
}
form button {
  &.conversion {
    // font-size: 18px;
    min-width: 94%;
    padding: 2px 40px;
    // opacity: .8;
    // background-color: md-color($md-orange, 900, .9);
  }
}

wz-form form {
  margin-top: rem(2.6);
  md-input {
    width: 100%;
    margin-top: rem(1.2);
    margin-bottom: rem(1.4);
    font-size: 1.1em;
    // cannot override injected css
    // .md-input-underline {
    //   border-top-color: md-color($md-foreground, secondary-text);
    // }
  }
  md-card-actions {
    margin-left: 0;
    margin-right: 0;
    margin-top: rem(1.6);
  }
  
  .md-primary[md-raised-button], 
  .md-primary[md-fab], 
  .md-primary[md-mini-fab] {
    background-color: md-color($md-primary, 700, .85);
  }
}
md-card {
  .md-primary[md-button] {
    color: md-color($md-primary, 600);
  }
}
 
*[md-button] {
  text-transform: uppercase;
}