<form layout="column" [formGroup]="form" (ngSubmit)="onSubmit()" class="md-inline-form">
  <!--<md-content layout-sm="row" layout-padding="">-->
    <div *ngFor="let field of items">
      <md-input
        class="md-block"
        *ngIf="field.type == 'text' || field.type == 'password' || field.type == 'email' || field.type == 'date'"
        placeholder="{{field.label | translate}}"
        autofocus="autofocus"
        type="{{field.type}}"
        formControlName="{{field.name}}"
        id="{{field.name}}"
      >
        <!--<div md-messages="{{field.name}}" role="alert">-->
          <div *ngIf="field.validation == 'REQUIRED'">
            <!--<div md-message="required">You must supply a {{field.label | translate}}</div>-->
          </div>
          <div *ngIf="field.validation == 'EMAIL'">
            <!--<div md-message="">Your email must be between 8 and 50 characters long and look like an e-mail address.</div>-->
          </div>
          <div *ngIf="field.validation == 'PASSWORD'">
            <!--<div md-message="required">You must supply a Password</div>-->
            <!--<div md-message="minlength">Password must be at least 8 characters</div>-->
          </div>
        <!--</div>-->
      </md-input>
      <div *ngIf="field.type == 'select'">
        <md-input-group class="md-group">
          <select formControlName="{{field.name}}">
            <option *ngFor="let option of parseOptions(field.options)">{{option}}</option>
          </select>
        </md-input-group>
      </div>
      <md-radio-group *ngIf="field.type == 'radio'" layout="row">
        <md-radio-button
          style="margin-right: 1rem;"
          *ngFor="let option of parseOptions(field.options)"
          [checked]="parseOptions(field.options)[0]==option"
          [value]="option" class="md-primary"
          (click)="radioSelect(field.name, option)">
            {{option}}
        </md-radio-button>
      </md-radio-group>
    </div>
    <md-card-actions layout="row" layout-align="center center">
      <button md-raised-button type="submit" color="primary" class="conversion">{{submitLabel | translate}}</button>
    </md-card-actions>
  <!--</md-content>-->
</form>
