form button {
  &.conversion {
    min-width: 94%;
    padding: 2px 40px;
  }
}

wz-form form {
  margin-top: rem(2.6);
  md-input {
    width: 100%;
    margin-top: rem(1.2);
    margin-bottom: rem(1.2);
    font-size: 1.1em;
    overflow: initial !important;
    // overflow here can be removed with material alpha 7
  }
  md-card-actions {
    margin-left: 0;
    margin-right: 0;
    margin-top: rem(1.6);
  }
  .indicate-required {
    font-size: 84%;
    margin-top: rem(3.8);
    margin-bottom: rem(.8);
    opacity: .8;
    > span {
      display: block;
      position: relative;
      padding-left: rem(1.1);
      &::before {
        content: "*";
        font-size: 130%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  .md-primary[md-raised-button], 
  .md-primary[md-fab], 
  .md-primary[md-mini-fab] {
    background-color: md-color($md-primary, 700, .85);
  }
}
md-card {
  .md-primary[md-button] {
    color: md-color($md-primary, 600);
  }
}
 
*[md-button] {
  text-transform: uppercase;
}


// testing error display in form.
// currently using md-hint this may change with ng2 material recommendation
md-input.show-errors[ng-reflect-required='true'],
md-input.ng-touched.ng-dirty.ng-invalid[ng-reflect-required='true'] {
  .md-input-placeholder {
    color: md-color($md-warn, 600);
    &.md-float.md-focused .md-placeholder-required {
      color: md-color($md-warn, 600);
    }
  }
  .md-input-wrapper {
    .md-input-underline {
      border-top-color: md-color($md-warn, 600);
      .md-input-ripple {
        background-color: md-color($md-warn, 600);
      }
    }
  } 
  md-hint.error {
    color: md-color($md-warn, 600);
  }
}
