<ul class="asset-grid-view" *ngIf="assets">
  <li *ngFor="let asset of assets">
    <div class="asset">
      <a
        flex=""
        [routerLink]="routerLinkFor(asset)"
        class="asset-thb"
        wzSpeedview
        (showPreview)="onShowSpeedview.emit({position: $event, asset: asset})"
        (hidePreview)="onHideSpeedview.emit()">
        <div class="asset-name">{{ nameOf(asset) }}</div>
        <img *ngIf="hasThumbnail(asset)" src="{{ thumbnailUrlFor(asset) }}"/>
        <span *ngIf="hasTitle(asset)" class="mdata-0">
          <span>{{ titleOf(asset) }}</span>
        </span>
        <span *ngIf="hasFormatType(asset)" class="mdata-2">
          <span [ngClass]="formatClassNameFor(asset)" class="sd-hd">{{ formatTypeOf(asset) }}</span>
        </span>
        <span *ngIf="hasFullDuration(asset)" class="mdata-3">
          <span>{{ fullDurationOf(asset) }}</span>
        </span>
        <span  *ngIf="hasSubclipDuration(asset)" class="mdata-3">
          <span>{{ subclipDurationFrameFor(asset) | timecode }}</span>
        </span>
        <span *ngIf="isImage(asset)" class="mdata-4">
          <span class="image"></span>
        </span>
        <span *ngIf="isSubclipped(asset)" class="subclip-timeline">
          <span class="subclip-segment" [ngStyle]="calcSubClipSegments(asset)"></span>
        </span>
      </a>
      <section class="actions">
        <nav class="asset-options" flex layout-align="end center">
          <!-- ADD TO CART -->
          <button
            *ngIf="userCan.addToCart()"
            md-icon-button
            title="{{ (userCan.administerQuotes() ? 'COLLECTION.SHOW.ADD_TO_QUOTE_BTN_TITLE' : 'COLLECTION.SHOW.ADD_TO_CART_BTN_TITLE') | translate}}"
            (click)="addAssetToCart(asset);">
              <md-icon>{{userCan.administerQuotes() ? 'work': 'shopping_cart'}}</md-icon>
          </button>
          <!-- DOWNLOAD COMPS-->
          <button
            md-icon-button
            [disabled]="!userCan.viewDownloadCompOptions(asset.hasDownloadableComp)"
            title="{{ (userCan.viewDownloadCompOptions(asset.hasDownloadableComp) ? 'COLLECTION.SHOW.DOWNLOAD_BTN_TITLE_ENABLED' : 'COLLECTION.SHOW.DOWNLOAD_BTN_TITLE_DISABLED') | translate }}"
            (click)="setAssetActiveId(asset)"
            [md-menu-trigger-for]="downloadCompMenu">
              <md-icon>file_download</md-icon>
          </button>

          <!-- ADD / REMOVE FROM COLLECTION -->
          <ng-container *ngIf="userCan.haveCollections()">
            <button [disabled]="!userCan.editCollections()" md-icon-button *ngIf="inCollection(asset)"
              title="{{ 'COLLECTION.REMOVE_FROM_COLLECTION_HOVER_TITLE' | translate:{collectionName:currentCollection.name} }}"
              (click)="removeFromCollection(currentCollection, asset)">
              <md-icon>remove_circle</md-icon>
            </button>
            <button class="add-to-collection-btn" [disabled]="!userCan.editCollections()" md-icon-button 
              *ngIf="!inCollection(asset)"
              title="{{ 'COLLECTION.ADD_TO_COLLECTION_HOVER_TITLE' | translate:{collectionName:currentCollection.name} }}"
              (click)="addToCollection(currentCollection, asset)">
              <md-icon>library_add</md-icon>
            </button>
          </ng-container>

          <button md-icon-button 
            *ngIf="assetType === 'collection' && userCan.createSubclips(asset)"
            title="{{'COLLECTION.SHOW.ASSET_MORE_BTN_TITLE' | translate}}"
            [md-menu-trigger-for]="moreCollectionAssetMenu">
            <md-icon>more_vert</md-icon>
          </button>
          <md-menu x-position="before" y-position="below" #moreCollectionAssetMenu="mdMenu">
            <button md-menu-item (click)="editAsset(asset)">
              <md-icon>theaters</md-icon>
              <span>
                {{ (asset.timeStart !== '' ? 'COLLECTION.SHOW.ASSET_MORE_MENU.EDIT_SUBCLIPPING' : 'COLLECTION.SHOW.ASSET_MORE_MENU.ADD_SUBCLIPPING') | translate }}
              </span>
            </button>
            <button [disabled]="true" md-menu-item>
              <md-icon>mode_comment</md-icon>
              <span>
                {{ 'COLLECTION.SHOW.ASSET_MORE_MENU.OPEN_COMMENTS' | translate }}
              </span>
            </button>
            <button [disabled]="true" md-menu-item>
              <md-icon>share</md-icon>
              <span>
              {{ 'COLLECTION.SHOW.ASSET_MORE_MENU.ASSET_SHARING' | translate }}
              </span>
            </button>
            <a md-menu-item [routerLink]="routerLinkFor(asset)">
              <md-icon>details</md-icon>
              <span>
                {{ 'COLLECTION.SHOW.ASSET_MORE_MENU.OPEN_DETAILS' | translate }}
              </span>
            </a>
          </md-menu>
        </nav>
      </section>
      <a [routerLink]="[]" class="asset-desc">
        <span *ngIf="hasDescription(asset)" class="mdata-1">
          {{ descriptionOf(asset) }}
        </span>
      </a>
    </div>
  </li>
</ul>

<md-menu x-position="after" #downloadCompMenu="mdMenu">
  <md-list class="aspera-download-options">
    <md-list-item>
      <span md-menu-item disabled flex>{{"COMPS.DOWNLOAD_WM_COMP" | translate }}</span>
      <div class="actions" flex>
        <button 
          md-icon-button 
          title="{{'COMPS.DOWNLOAD_BTN_TITLE' | translate }}"
          (click)="downloadComp('wm');" 
          [disabled]="!userCan.downloadWatermarkComps(hasComp)">
            <md-icon>file_download</md-icon>
          </button>
        <button 
          md-icon-button 
          title="{{'COMPS.DOWNLOAD_ASPERA_BTN_TITLE' | translate }}"
          [disabled]="!userCan.downloadWatermarkComps(hasComp)"
          wzAsperaDownload 
          [asperaPreloaded]="'false'" 
          [renditionType]="'wm'" 
          [assetId]="assetId">
            <md-icon>whatshot</md-icon>
          </button>
        </div>
    </md-list-item>
    <md-list-item>
      <span md-menu-item disabled flex>{{"COMPS.DOWNLOAD_CLEAN_COMP" | translate }}</span>
      <div class="actions" flex>
        <button 
          md-icon-button 
          title="{{'COMPS.DOWNLOAD_BTN_TITLE' | translate }}"
          (click)="downloadComp('clean');" 
          [disabled]="!userCan.downloadCleanComps(hasComp)">
            <md-icon>file_download</md-icon>
        </button>
        <button 
          md-icon-button 
          title="{{'COMPS.DOWNLOAD_ASPERA_BTN_TITLE' | translate }}"
          [disabled]="!userCan.downloadCleanComps(hasComp)"
          wzAsperaDownload 
          [asperaPreloaded]="'false'" 
          [renditionType]="'clean'" 
          [assetId]="assetId">
          <md-icon>whatshot</md-icon>
        </button>
      </div>
    </md-list-item>
    <md-list-item>
      <span md-menu-item disabled flex>{{"COMPS.DOWNLOAD_FULL_COMP" | translate }}</span>
      <div class="actions" flex>
        <button 
          md-icon-button 
          title="{{'COMPS.DOWNLOAD_BTN_TITLE' | translate }}"
          [disabled]="!userCan.downloadFullComps(hasComp)"
          (click)="downloadComp('full');">
          <md-icon>file_download</md-icon>
        </button>
        <button 
          md-icon-button 
          title="{{'COMPS.DOWNLOAD_ASPERA_BTN_TITLE' | translate }}"
          [disabled]="!userCan.downloadFullComps(hasComp)"
          wzAsperaDownload 
          [asperaPreloaded]="'false'" 
          [renditionType]="'full'" 
          [assetId]="assetId">
            <md-icon>whatshot</md-icon>
        </button>
      </div>
    </md-list-item>
  </md-list>
</md-menu>
