section.search-results
  div(layout='row', layout-xs="column", md-scroll-y='', layout-align='start center', layout-padding='')
    div(flex='')
    div(flex-xl="85", flex-gt-lg="95", flex="100")
      div(layout='row')
        // img(width="465", NgIf='clipRendition(result.rendition).url != ""', *ngFor='#result of results' src="{{clipRendition(result.rendition).url}}")
    
        asset-list([assets]="assets")
        
        .alert.warning([hidden]="!errorMessage && (!assets || assets.length > 0)")
          No items can be found with that search

    div(flex='')
