section.search-results
  div(layout='row', md-scroll-y='', layout-align='start center', layout-padding='')
    div(flex='')

    div(flex-xl="85", flex-gt-lg="95", flex="100", *ngIf="ui.search.viewType.value == 'grid'")
      .pagination.md-body-2(layout='row' layout-align='end center') 
        .results-count{{results.totalCount}} results
      div(layout='row')
        asset-list([assets]="results.items", class="{{ui.search.viewType.value}}")
        
        .alert.warning([hidden]="!errorMessage && (!assets || assets.length > 0)")
          | No items can be found for that search


    div(flex-xl="70", flex-gt-lg="80", flex="100", *ngIf="ui.search.viewType.value == 'list'")
      .pagination.md-body-2(layout='row' layout-align='end center') 
        .results-count{{results.totalCount}} results
      div(layout='row')
        asset-list([assets]="results.items", class="{{ui.search.viewType.value}}")
        
        .alert.warning([hidden]="!errorMessage && (!assets || assets.length > 0)")
          | No items can be found for that search
          
    div(flex='')


