<section class="collection-head">
  <div layout="row" layout-align="center start">
    <header flex="100" flex-gt-md="95" flex-gt-lg="85">
      <collections-search-form
        [ngClass]="{ 'revealed' : collectionSearchIsShowing }"
        [hidden]="!collectionSearchIsShowing"
        [currentSearchQuery]="options.currentSearchQuery"
        (query)="search($event)"
        (closeSearch)="showCollectionSearch()">
      </collections-search-form>
      <div flex="100" layout="row" layout-xs="column">
        <h2 flex="100" layout-align="end center" class="md-display-1">{{ 'COLLECTION.INDEX.PAGE_TITLE' | translate }}</h2>
        <div class="tools" flex="auto" layout-align="end center">
          <button md-icon-button
            *ngIf="!collectionSearchIsShowing"
            title="{{ 'COLLECTION.DD_MENU.SEARCH_BTN_TITLE' | translate }}"
            type="button" 
            (click)="toggleCollectionSearch()">
            <md-icon *ngIf="!collectionSearchIsShowing">search</md-icon>
          </button>
          <button md-icon-button
            *ngIf="collectionSearchIsShowing"
            class="collapse-search"
            title="{{ 'COLLECTION.DD_MENU.COLLAPSE_SEARCH_HOVER_TITLE' | translate }}"
            type="button"
            (click)="toggleCollectionSearch()">
            <md-icon>arrow_drop_up</md-icon>
          </button>
          <button md-icon-button title="{{ 'COLLECTION.DD_MENU.FILTER_BTN_TITLE' | translate }}" [md-menu-trigger-for]="filterCollectionOptions"><md-icon>filter_list</md-icon></button>
          <button md-icon-button title="{{ 'COLLECTION.DD_MENU.SORT_BTN_TITLE' | translate }}" [md-menu-trigger-for]="sortCollectionOptions"><md-icon>sort</md-icon></button>
        </div>
      </div>
    </header>
  </div>
</section>

<div layout="row" layout-align="center start">
  <div class="md-caption query-details"  flex="100" flex-gt-md="95" flex-gt-lg="85">
    <span *ngIf="options.currentSearchQuery.q" flex="auto" class="search">
      <strong>{{ 'COLLECTION.DD_MENU.SEARCH_QUERY_TITLE' | translate }}</strong>{{options.currentSearchQuery.q}}
    </span>
    <span *ngIf="options && options.currentFilter.label !== 'ALL'" flex="auto" class="filter">
      <strong>{{ 'COLLECTION.DD_MENU.FILTER_BY_TITLE' | translate }}</strong>{{'COLLECTION.INDEX.FILTER_DD_MENU.' +  options.currentFilter.label | uppercase | translate}}
    </span> 
    <span flex="100" class="sort" *ngIf="options">
      <strong>{{ 'COLLECTION.DD_MENU.SORTED_ON_TITLE' | translate }}</strong>{{ options.currentSort.name | translate }}
    </span> 
  </div>
</div>

<section class="hero">
  <div layout="row" flex="100" layout-margin layout-align="center start">
    <section class="collections-list" flex="100" flex-gt-md="95" flex-gt-lg="85">
      <wz-pagination [pagination]="(collectionsService.data | async).pagination" (getPage)="changePage($event)">
      </wz-pagination>
      <!-- COLLECTION LIST -->
      <wz-collection-item-list [collections]="(collectionsService.data | async).items" (editCollection)="setCollectionForEdit($event); editCollection.show();" [activeCollection]="(activeCollection.data | async).id"
        (setActiveCollection)="selectActiveCollection($event)" (deleteCollection)="setCollectionForDelete($event); deleteCollectionDialog.show();">
      </wz-collection-item-list>
      <wz-pagination [pagination]="(collectionsService.data | async).pagination" (getPage)="changePage($event)">
      </wz-pagination>
    </section>
  </div>
</section>

<wz-dialog #editCollection>
  <collection-form
    [collection]="collectionForEdit"
    [config]="(uiConfig.get('collection') | async).config"
    [dialog]="editCollection"
    [isEdit]="true"
    [ngClass]="{'revealed': (uiState.data | async).newCollectionFormIsOpen}"
    layout="row" layout-align="center start">
  </collection-form>
</wz-dialog>

<md-menu class="collections-dd-menu dense" x-position="before" #filterCollectionOptions="mdMenu">
  <div class="md-list-item select-dd" *ngFor="let option of filterOptions" [ngClass]="{'active': options.currentFilter.label === option.label}">
    <button md-menu-item (click)="filter(option);" [disabled]="option.value ==='researcher'">
      <md-icon>check</md-icon>{{ 'COLLECTION.INDEX.FILTER_DD_MENU.'+option.label | translate }}
    </button>
    <div class="divider" *ngIf="option.id == 0 || option.id == 3"></div>
  </div>
</md-menu>

<md-menu class="collections-dd-menu dense" x-position="before" #sortCollectionOptions="mdMenu">
  <wz-sort-component [currentSort]="options.currentSort" [items]="sortOptions" (sort)="onSortCollections($event)"></wz-sort-component>
</md-menu>

<wz-dialog #deleteCollectionDialog [clickCatcher]="false">
  <div *ngIf="collectionForDelete">
    <md-card>
      <md-card-title>{{ 'COLLECTION.INDEX.CONFIRMATION_TITLE' | translate:{collectionName: collectionForDelete.name} }}</md-card-title>
      <md-card-subtitle>{{ 'COLLECTION.INDEX.CONFIRMATION_SUBTITLE' | translate }}</md-card-subtitle>
      <md-card-actions align="end" class="confirmation-buttons">
        <button md-button color="primary" (click)="deleteCollectionDialog.close()">{{ 'COLLECTION.INDEX.CONFIRMATION_CANCEL_BTN_TITLE' | translate }}</button>
        <button md-button color="primary" (click)="deleteCollectionDialog.close(); deleteCollection(collectionForDelete.id)">{{ 'COLLECTION.INDEX.CONFIRMATION_DELETE_BTN_TITLE' | translate }}</button>
      </md-card-actions>
    </md-card>
  </div>
</wz-dialog>
