<section class="collection-head">
  <div layout="row" layout-align="center start">
    <header flex="100" flex-gt-md="85" flex-gt-lg="75">
      <div flex="100" layout="row" layout-xs="column">
        <h2 class="md-display-1">Your Collections</h2>
      </div>
      <div flex="100" layout="row" layout-align="end end">
        <!--TODO rework search,sort,filter for mobile-->
        
        <!-- SEARCH COLLECTIONS -->
        <collections-search-form
          [ngClass]="{ 'revealed' : isCollectionSearchOpen }" 
          [hidden]="!isCollectionSearchOpen" 
          (query)="search($event)">
        </collections-search-form>
        <button md-icon-button 
          title="{{ 'COLLECTION.DD_MENU.SEARCH_BTN_TITLE' | translate }}" 
          type="button" 
          (click)="toggleCollectionSearch()">
          <md-icon *ngIf="isCollectionSearchOpen">close</md-icon>
          <md-icon *ngIf="!isCollectionSearchOpen">search</md-icon>
        </button>

        <!-- FILTER COLLECTIONS -->
        <button md-button class="is-dd filter-selector" (click)="filterCollections.show($event)">
          Filter: 
          <span class="selected">
            {{'COLLECTION.INDEX.FILTER_DD_MENU.'+getActiveFilter() | uppercase | translate}}
          </span>
        </button>
        <wz-dropdown #filterCollections>
          <collections-filter-dd 
            [UiState]="UiState" 
            (filter)="filter($event); filterCollections.close()" 
            (close)="filterCollections.close()"
            layout="row" 
            layout-align="end start" 
            class="revealed">
          </collections-filter-dd>
        </wz-dropdown>
        
        <!-- SORT COLLECTIONS -->
        <button md-button class="is-dd filter-selector" (click)="sortCollections.show($event)">
          Sort: 
          <span class="selected">
            {{'COLLECTION.INDEX.SORT_DD_MENU.'+getActiveSort() | uppercase | translate }}
          </span>
        </button>
        <wz-dropdown #sortCollections>
          <collections-sort-dd 
            [UiState]="UiState" 
            (sort)="sortBy($event); sortCollections.close()" 
            (close)="sortCollections.close()"
            layout="row" layout-align="end start" class="revealed">
          </collections-sort-dd>
        </wz-dropdown>
      </div>
    </header>
  </div>
</section>

<section class="hero">
  <div layout="row" flex="100" layout-margin layout-align="center start">
    <section class="collections-list" flex="100" flex-gt-md="85" flex-gt-lg="75">
      <wz-pagination [pagination]="(collectionsService.data | async).pagination" (getPage)="changePage($event)">
      </wz-pagination>
      <!-- COLLECTION LIST -->
      <wz-collection-item-list [collections]="(collectionsService.data | async).items" [activeCollection]="(activeCollection.data | async).id"
        (setActiveCollection)="selectActiveCollection($event)">
      </wz-collection-item-list>
      <wz-pagination [pagination]="(collectionsService.data | async).pagination" (getPage)="changePage($event)">
      </wz-pagination>
    </section>
  </div>
</section>