collections-component .collection-head {
  color: md-color($md-primary, 600);
  padding-left: rem(.8);
  padding-right: rem(.8);
  box-shadow: inset 0 -1px 0 0 md-color($md-foreground, divider), 0 1px 0 0 rgba(md-color($md-background, card), .6);
  header {
    padding-top: rem(1.6);
    padding-bottom: rem(.6);
    position: relative;
    .md-display-1 {
      margin: 0;
      // opacity: .7;
      width: calc(100% - 120px);
      font-size: rem(2.6);
    }
  } 
  .tools {
    text-align: right;
    white-space: nowrap;
    button.collapse-search[md-icon-button] {
      @include transform(rotate(90deg));
    }
  }
  header div[flex="100"] > button[md-icon-button] {
    margin-right: rem(1.6);
  }
  collections-filter-dd.revealed {
    padding-right: rem(4.0);
  }
}
collections-component .query-details {
  padding-top: rem(.4);
  padding-left: rem(.8);
  font-size: .77em;
  color: md-color($md-primary, 700);
  span {
    display: inline-block;
    position: relative;
    padding-left: rem(2.5);
    padding-right: rem(3.0);
    line-height: rem(2.2);
    opacity: .7;
    &:before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      height: rem(2);
      width: rem(2);
    }
    &:after {
      content: "\e152";
      font-family: 'Material Icons';
      font-size: rem(1.8);
      font-weight: 100;
      line-height: rem(2.2);
      height: rem(2.2);
      width: rem(2.2);
      position: absolute;
      left: 0;
      top: 48%;
      @include transform(translateY(-50%));
      text-align: center;
    }
    &.search:after {
      content: "\e8b6";
    }
    &.sort:after {
      content: "\e164";
    }
    strong {
      display: inline-block;
      padding-right: rem(.5);
      font-weight: 600;
    }
  }
}

.collections-list {
  ul {
    margin: 0;
    margin-top: rem(1.5);
    padding: 0;
    list-style: none;
  }
  li.collection {
    position: relative;
    background-color: rgba(md-color($md-background, card), .65);
    color: rgba(md-color($md-foreground, text), .7);
    margin-bottom: rem(1.2);
    padding: rem(.2);
    border-radius: $md-button-border-radius;
    border: 1px solid rgba(md-color($md-background, card), .01);
    @include transition($swift-ease-out);
    .actions {
      text-align: right;
    }
    h3 {
      margin-top: rem(-.6);
      margin-bottom: rem(.6);
    }
    .collection-info {
      line-height: 1.5em;
    }
    .asset-count {
      display: inline-block;
      border-radius: $md-button-border-radius - 1;
      background-color: rgba(md-color($md-foreground, secondary-text), .4);
      min-width: rem(2.1);
      font-size: .7em;
      line-height: 1em;
      padding: 4px 4px;
      display: inline-block;
      text-align: center;
      .count {
        @include text-contrast(md-color($md-foreground, secondary-text));
      }
    }
    .md-caption span {
      display: block;
    }
    &.focused {
      background-color: rgba(md-color($md-background, card), 1);
      @include md-elevation(2);
      // @include background-image(
      //   linear-gradient(rgba(md-color($md-grey, 900),0.06), rgba(md-color($md-primary, 900),0.06)),
      //   linear-gradient(rgba(md-color($md-primary, 900),0.06), rgba(md-color($md-grey, 900),0.06))
      // );
      border: 1px solid rgba(md-color($md-primary, 400), 1);
    }
    .divider {
      margin-top: rem(.6);
      padding-bottom: rem(.6);
      box-shadow: inset 0 1px 0 0 md-color($md-grey, 800, .14);
    }
    .collection-tags {
      margin-top: rem(.5);
      margin-bottom: rem(.5);
    }
    ul.meta-data-tags {
        display: inline-block;
      li.tag {
        display: inline;
        padding: rem(.5);
        padding-right: rem(.9);
        padding-left: rem(.9);
        margin-left: rem(.7);
        background-color: rgba(md-color($md-foreground, secondary-text), .12);
        color: md-color($md-foreground, secondary-text);
      }
    }
    .actions div:last-child {
      text-align: right;
    }
  }
  .asset .asset-thb {
    display: block;
    height: 0;
    width: 100%;
    position: relative;
    padding: 56.25% 0 0 0;
    position: relative;
    background: #000;
    img {
      position: absolute;
      display: block;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    .asset-id {
      position: absolute;
      bottom: 3px;
      right: 3px;
      z-index: 2;
      background-color: rgba(md-color($md-foreground, base), .1);
      .id {
        padding: rem(.3);
        @include text-contrast(md-color($md-foreground, base));
        opacity: .7;
      }
    }
    .selected {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      line-height: 0;
      md-icon {
        font-size: rem(3.2);
        @include text-contrast(md-color($md-foreground, base));
        opacity: .9;
      }
    }
  }
}

// slide out collection search form
collections-search-form {
  @include transition($swift-ease-out);
  flex: 1 1 auto;
  position: absolute;
  top: rem(1.1);
  right: rem(13);
  min-width: 375px;
  z-index: 2;
  overflow: hidden;
  .tools {
    display: none;
  }
  form {
    @include transition($swift-ease-out);
    display: flex;
    border: 1px solid rgba(md-color($md-foreground, base),.17);
  }
  &.revealed > div {
    @include animation-name(slide);
    @include animation-duration(400ms);
    @include animation-timing-function($swift-ease-in-timing-function);
    @include animation-iteration-count(1);
    // @include animation-delay(1ms);
    @include animation-fill-mode(backwards);
  }
  input {
    border: none;
    font-size: 1.15em;
    width: 100%;
    padding: 0 0 0 3%;
    max-height: rem(4.5);
    min-height: rem(4.5);
    color: md-color($md-foreground, secondary-text);
    background-color:  rgba(md-color($md-background, app-bar), .9);
    border-radius: 0;
    margin-right:rem(-8.4);
    @include transition(max-height 0.45s, min-height 0.35s, $swift-ease-in-out-timing-function);
    @include placeholder {
      color: md-color($md-foreground, hint-text);
    }
    &:focus {
      outline: none;
      background-color: lighten(md-color($md-background, app-bar), 40%);
    }
  }
  button[type="submit"], button[type="reset"] {
    cursor: pointer;
    opacity: .4;
    margin: auto 0;
    &:focus{
      outline: none;
    }
    &:hover {
      opacity: 1;
      &::after {
        background-color: transparent;
      }
    }

  }
  button[type="reset"]:hover {
    opacity: .4;
    &::after {
      background-color: transparent;
    }
  }
  .vertical-divider {
    position:relative;
    width: rem(.7);
    &:after {
      content:"";
      position: absolute;
      height: rem(3.0);
      width: rem(.1);
      top: rem(.7);
      left: rem(.4);
      box-shadow: inset 1px 0 0 0 md-color($md-grey, 800, .14);
    }
  }
}

.wz-dialog md-card {
  .link-wrapper {
    padding: rem(.2);
    white-space: nowrap;
    text-align: right;
    .link-input {
      overflow: hidden;
      margin-right: rem(.4);
      width: calc(100% - 44px);
      max-width: calc(100% - 44px);
      border: 1px solid rgba(md-color($md-grey, 800),.4);
      padding-top: rem(1.2);
      padding-right: rem(.5);
      padding-bottom: rem(1.3);
      padding-left: rem(.5);
      font-size: .9em;
      color: rgba(md-color($md-primary, 500),.75);
      &:focus, &:active {
        outline: none;
        border-color: rgba(md-color($md-primary, 500),.9);
      }
      &::selection {
        background: rgba(md-color($md-accent, 600),.25);
        color: md-color($md-primary, 600);
      }
    }
    button {
      color: md-color($md-foreground, base, .7);
      @include transition($swift-ease-out);
      &:hover {
        @include text-contrast(md-color($md-primary, 500));
        color: md-color($md-primary);
        background-color: md-color($md-foreground, base, .1);
      }
      // once they put a transition into the ::after pseudo class this can go away
      &[md-icon-button]:hover::after {
        background-color: transparent;
      }
    }
  }
}
// .wz-dialog collection-link-component md-card {
//   min-width: rem(5.0);
// }


@include keyframes(slide) {
  0% {
    margin-left:125%;
  }
  100% {
    margin-left:0%;
  }
}
