collections-component .collection-head {
  padding-left: rem(.4);
  padding-right: rem(.4);
  header {
    padding-top: rem(.6);
    padding-bottom: rem(.5);
    position: relative;
    .md-display-1 {
      margin: 0;
      width: calc(100% - 120px);
      font-size: rem(2.6);
    }
  } 
  .tools {
    text-align: right;
    white-space: nowrap;
    button.collapse-search[md-icon-button] {
      transform: rotate(90deg);
    }
  }
  header div[flex="100"] > button[md-icon-button] {
    margin-right: rem(1.6);
  }
  collections-filter-dd.revealed {
    padding-right: rem(4.0);
  }
}
collections-component .query-details {
  padding-top: rem(.4);
  padding-left: rem(.8);
  font-size: .77em;
  span {
    display: inline-block;
    position: relative;
    padding-left: rem(2.5);
    padding-right: rem(3.0);
    line-height: rem(2.2);
    opacity: .7;
    &:before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      height: rem(2);
      width: rem(2);
    }
    &:after {
      content: "\e152";
      font-family: 'Material Icons';
      font-size: rem(1.8);
      font-weight: 100;
      line-height: rem(2.2);
      height: rem(2.2);
      width: rem(2.2);
      position: absolute;
      left: 0;
      top: 48%;
      transform: translateY(-50%);
      text-align: center;
    }
    &.search:after {
      content: "\e8b6";
    }
    &.sort:after {
      content: "\e164";
    }
    strong {
      display: inline-block;
      padding-right: rem(.5);
      font-weight: 600;
    }
  }
}

.collections-list {
  ul {
    margin: 0;
    margin-top: rem(1.5);
    padding: 0;
    list-style: none;
  }
  li.collection {
    position: relative;
    margin-bottom: rem(1.2);
    padding: rem(.2);
    border-radius: 2px;
    transition: $swift-ease-out;
    .actions {
      min-height: 45px;
      position: relative;
      @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
        min-height: 50px;
      }
    }
    .tools {
      text-align: right;
    }
    .premiere-actions {
      position: absolute;
      bottom: rem(.7);
      right: rem(.7);
    }
    a.collection-name {
      color: inherit;
      text-decoration: none;
    }
    h3 {
      margin-top: rem(-.6);
      margin-bottom: rem(.6);
    }
    .collection-info {
      line-height: 1.5em;
    }
    .asset-count {
      display: inline-block;
      border-radius: 2px - 1;
      min-width: rem(2.1);
      font-size: .7em;
      line-height: 1em;
      padding: 4px 4px;
      display: inline-block;
      text-align: center;
    }
    .md-caption span {
      display: block;
    }
    &.focused {
      @include mat-elevation(2);
    }
    .divider {
      margin: rem(.6) rem(.8) 0 rem(.8);
      padding-bottom: rem(.6);
      display: none;
      @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
        display: flex;
      }
    }
    .collection-tags {
      margin-top: rem(.5);
      margin-bottom: rem(.5);
    }
    ul.meta-data-tags {
        margin-top: 0;
        display: inline-block;
      li.tag {
        display: inline-block;
        padding-right: rem(.9);
        padding-left: rem(.9);
        margin-top: rem(.6);
        margin-left: rem(.6);
        line-height: rem(2.3);
        &:first-child {
          margin-left: rem(0.2);
        }
      }
    }
    .actions div:last-child {
      text-align: right;
    }
  }
  .asset .asset-thb {
    display: block;
    height: 0;
    width: 100%;
    position: relative;
    padding: 56.25% 0 0 0;
    position: relative;
    img {
      position: absolute;
      display: block;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    // the asset id display is more for troubleshooting and can probably go away when we are ready for public consumption
    .asset-id {
      position: absolute;
      bottom: 3px;
      right: 3px;
      z-index: 2;
      .id {
        padding: rem(.3);
        opacity: .7;
      }
    }
    .selected {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      line-height: 0;
      md-icon {
        font-size: rem(3.2);
        opacity: .9;
      }
    }
  }
}

// slide out collection search form
wz-item-search-form {
  transition: $swift-ease-out;
  flex: 1 1 auto;
  position: absolute;
  top: rem(.4);
  right: rem(13);
  min-width: 375px;
  z-index: 2;
  overflow: hidden;
  .tools {
    display: none;
  }
  form {
    padding-top: 0;
    transition: $swift-ease-out;
    display: flex;
  }
  &.revealed > div {
    animation-name: slide;
    animation-duration: 400ms;
    animation-timing-function: $swift-ease-in-timing-function;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
  }
  input {
    border: none;
    font-size: 1.15em;
    width: 100%;
    padding: 0 0 0 3%;
    max-height: rem(4.1);
    min-height: rem(4.1);
    border-radius: 0;
    margin-right:rem(-8.7);
    transition: max-height 0.45s, min-height 0.35s, $swift-ease-in-out-timing-function;
    &:focus {
      outline: none;
    }
  }
  button[type="submit"], button[type="reset"] {
    cursor: pointer;
    opacity: .4;
    margin: auto 0;
    &:focus{
      outline: none;
    }
    &:hover {
      opacity: 1;
    }
  }
  .vertical-divider {
    position:relative;
    width: rem(.7);
    &:after {
      content:"";
      position: absolute;
      height: rem(3.0);
      width: rem(.1);
      top: rem(.7);
      left: rem(.4);
    }
  }
}
// Copy legacy link.This may change into copy share link
.mat-dialog-container collection-delete-component .wz-dialog,
.mat-dialog-container .wz-dialog.wz-legacy-link {
  padding: rem(.2) rem(.2) rem(.6);
  width: rem(42.0);
  @media screen and (max-width: $layout-breakpoint-xs) and (orientation: portrait)  {
    width: 100%;
  }
  [md-dialog-title] {
    text-align: left;
    margin-bottom: rem(1.0);
  }
  p.dialog-summary {
    margin: 0 0 rem(1.2);
    font-size: rem(1.4);
  }
}
.wz-legacy-link {
  .link-wrapper {
    padding: rem(.2);
    white-space: nowrap;
    text-align: right;
    .link-input {
      overflow: hidden;
      margin-right: rem(.4);
      width: calc(100% - 44px);
      max-width: calc(100% - 44px);
      padding-top: rem(1.2);
      padding-right: rem(.5);
      padding-bottom: rem(1.3);
      padding-left: rem(.5);
      font-size: .9em;
      &:focus, &:active {
        outline: none;
      }
    }
    button {
      transition: $swift-ease-out;
      // once they put a transition into the ::after pseudo class this can go away
      &[md-icon-button]:hover::after {
        background-color: transparent;
      }
    }
  }
}

@keyframes slide {
  0% {
    margin-left:125%;
  }
  100% {
    margin-left:0%;
  }
}
