.commerce-list {
  position: relative;
  .new-quote {
    position: absolute;
    top: rem(.6);
    left: 0;
    z-index: 2;
  }
  ul {
    margin: 0;
    margin-top: rem(1.5);
    padding: 0;
    list-style: none;
  }
  li.item {
    position: relative;
    margin-bottom: rem(1.2);
    padding: rem(.2);
    border-radius: $mat-button-border-radius;
    transition: $swift-ease-out;
    &.focused {
      @include mat-elevation(2);
    }
    .details {
      padding: rem(.7) rem(1.0);
      margin: rem(.7) rem(.2) rem(.7) rem(.7);
      @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
        margin-right: rem(.7);
      }
      .item-number {
        position: relative;
        padding: 0 0 rem(.6) rem(4.0);
        &::after {
          content: "\e873";
          font-family: 'Material Icons';
          font-size: rem(4.5);
          font-weight: 100;
          line-height: rem(4.0);
          height: rem(4.0);
          width: rem(4.0);
          position: absolute;
          left: rem(-.7);
          top: rem(.2);
          opacity:.3;
        }
        span {
          display: block;
          &.number {
            font-size: rem(2.4);
            font-weight: 500;
          }
        }
      }
    }
    .total {
      text-align: right;
      letter-spacing: -.05em;
      padding-right: rem(.8);
      padding-left: rem(.8);
      padding-top: rem(.2);
      position: relative;
      min-height: 100%;
      .total-label {
        font-weight: 100;
        letter-spacing: 0;
      }
      .total-amount {
        display: inline-block;
        &::first-letter {
          // display: inline-block;
          font-size: .68em;
          line-height: 1.7;
          vertical-align: top;
          letter-spacing: 0;
        }
      }
      button {
        margin-bottom: rem(1);
        &:last-child {
          margin-left: rem(1);
        }
      }
      @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
        padding-bottom: rem(.4);
        & > div {
          padding-bottom: rem(1.2);
        }
      }
    }
    .projects {
      margin-top: rem(1.8);
      position: relative;
      &:first-child {
        margin-top: 0;
      }
    }
    h3 {
      margin-top: rem(-.6);
      margin-bottom: rem(.6);
      .project-label {
        font-weight: 300;
      }
      @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
        padding-right: rem(3.4);
      }
    }
    .item-info {
      line-height: 1.5em;
    }
    .asset-count {
      display: inline-block;
      border-radius: $mat-button-border-radius - 1;
      min-width: rem(2.1);
      font-size: .7em;
      line-height: 1em;
      padding: rem(.4)  rem(.4);
      text-align: center;
      vertical-align: text-top;
      margin-top: rem(.2);
      @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
        position: absolute;
        right: 0;
        top: rem(.4);
      }
    }
    .md-caption span {
      display: block;
    }
    .divider {
      margin: rem(.6) rem(.8) 0 rem(.8);
      padding-bottom: rem(.6);
      display: none;
      @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
        display: flex;
      }
    }
  }
}
.status {
  margin: 0;
  letter-spacing: .04em;
  font-weight: 600;
  text-align: right;
}
