<header flex="100" layout="row">
  <h2 class="commerce-heading">{{'QUOTE.EDIT.RECIPIENT_TAB_PG_TITLE' | translate}}</h2>
</header>
<div layout="column" layout-gt-xs="row">
  <section class="recipient-options-select" layout="column" flex="40" flex-lg="35" flex-gt-lg="30">
    <wz-form-autocomplete-view *ngIf="user | async" flex="100" 
      class="recipient"
      [ngClass]="{ 'is-empty' : !(!!(user | async).id) }"
      [items]="(user | async).field"
      [title]="'QUOTE.EDIT.RECIPIENT_TITLE'"
      [matchOnProperty]="'emailAddress'"
      [displayProperties]="user | async"
      includeCancel="true"
      autocomplete="off"
      (formSubmit)="userSelect($event)">
    </wz-form-autocomplete-view>
    
    <wz-form-autocomplete-view flex="100"
      class="billing-account"
      [ngClass]="{ 'is-empty' : !(!!(billingAccount | async).id) }"
      [items]="(billingAccount | async).field"
      [title]="'QUOTE.EDIT.BILLING_ACCOUNT_TITLE'"
      [matchOnProperty]="'name'"
      [displayProperties]="billingAccount | async"
      includeCancel="true"
      autocomplete="off"
      (formSubmit)="accountSelect($event)">
    </wz-form-autocomplete-view>

    <wz-form-picklist-component *ngIf="(invoiceContact | async)" flex="100"
      #invoiceContactform
      class="invoice-contact"
      [items]="(invoiceContact | async).field"
      [title]="'QUOTE.EDIT.INVOICE_CONTACT_TITLE'"
      [displayProperties]="invoiceContact | async"
      autocomplete="off"
      (selectContact)="invoiceContactSelect($event)">
    </wz-form-picklist-component>

  </section>
  <section class="creator-options-select" layout="column" flex="40" flex-lg="35" flex-gt-lg="30">
    <wz-form *ngIf="(invoiceContact | async)"
      [items]="(salesManager | async).field" 
      [disableUntilValid]="true"
      [outSidePropertiesValid]="allBillingSelectionComplete | async"
      submitLabel="{{'QUOTE.EDIT.TO_CONFIRM_TAB_BTN' | translate}}" 
      (formSubmit)="onSubmitSendQuote($event)"
      (blur)=onBlur($event)>
    </wz-form>
  </section>
  <section class="col-spacer" flex="none" flex-md="10" flex-lg="30" flex-gt-lg="40" show-gt-sm></section>
</div>
