<div 
  flex-gt-lg="20" 
  flex-gt-md="30" 
  flex-md="35" 
  flex-gt-sm="40" 
  flex-gt-xs="45" 
  flex="85" 
  layout="row" 
  layout-align="start">
  <quote-purchase-type-component
    flex="100"
    (selectQuoteType)="onSelectQuoteType($event)">
  </quote-purchase-type-component>
</div>

<projects-component
  [quoteType]="quoteType"
  [projects]="quoteService.projects | async"
  [config]="config" 
  [userCan]="userCan" 
  (projectsNotify)="onNotification($event)">
</projects-component>

<section class="cart-total" layout="row" layout-align="center center">
	<div flex="100">
    <div *ngIf="quoteType !== 'ProvisionalOrder'" flex="100" layout="row" layout-align="end center" class="total md-headline">
      <span class="total-label">
        {{ 'CART.CART_TOTAL' | translate }} 
      </span>
      <span class="total-amount">
        {{ quoteService.total | async | currency:'USD':true:'1.2-2' }}
      </span>
		</div>
    <div flex="100" layout="row" layout-align="center center">
      <administer-quote-component
        flex="100"
        [cart]="quoteService.cart | async"
        [userCanProceed]="userCanProceed"
        (openQuoteDialog)="onOpenQuoteDialog()"
        (saveAsDraft)="onSaveAsDraft()">
      </administer-quote-component>
    </div>
    <div flex="100" layout="row" layout-align="end center" class='select-usage-warn' *ngIf="!rmAssetsHaveAttributes">
      {{ 'CART.SELECT_USAGE_WARN' | translate }}
    </div>
	</div>
</section>
