<header flex="100" layout="column" layout-align="start">
  <h2 class="commerce-heading">{{'QUOTE.EDIT.CONFIRM_TAB_PG_TITLE' | translate}}</h2>
</header>
<div *ngIf="sendDetails | async as sendDetails">
<section class="contact-data overview" flex="100" layout="row">
  <div class="contact-data" flex="33" flex-xs="100" layout="row" layout-align="space-between start">
    <ul class="mat-caption">
      <li>
        <strong>{{'QUOTE.EDIT.EXPIRATION_DATE_KEY' | translate}}</strong>{{ sendDetails.salesManager.expirationDate}}
      </li>
      <li>
        <strong>{{'QUOTE.EDIT.SALES_MANAGER_KEY' | translate}}</strong>{{ sendDetails.salesManager.salesManager}}
      </li>
      <li *ngIf="sendDetails.salesManager.offlineAgreement">
        <strong class="offline-agreement-label">{{'QUOTE.EDIT.OFFLINE_AGREEMENT_KEY' | translate}}</strong>
        <div class="offline-agreement">{{ sendDetails.salesManager.offlineAgreement}}</div>
      </li>
    </ul>
    <button mat-button class="mini is-outlined" color="primary" (click)="goToTab(1)">
      {{ 'CART.CONFIRM.EDIT' | translate }}
    </button>
  </div>
</section>
<section class="recipient" flex="100" layout="column" layout-gt-xs="row" layout-align="space-between">
  <div flex="33" class="contact-data card">
    <h5 class="mat-title">{{ 'QUOTE.EDIT.RECIPIENT_TITLE' | translate }}</h5>
    <ul class="mat-caption">
      <li>
        <strong>{{'QUOTE.EDIT.CUSTOMER_NAME_KEY' | translate}}</strong>{{ sendDetails.user.customerName}}
      </li>
      <li>
        <strong>{{'QUOTE.EDIT.CUSTOMER_EMAIL_KEY' | translate}}</strong>{{ sendDetails.user.email}}
      </li>
      <li>
        <strong>{{'QUOTE.EDIT.ACCOUNT_KEY' | translate}}</strong>{{ sendDetails.user.accountName}}
      </li>
    </ul>
  </div>
  <div flex="33" class="contact-data card">
    <h5 class="mat-title">{{ 'QUOTE.EDIT.BILLING_ACCOUNT_TITLE' | translate }}</h5>
    <ul class="mat-caption">
      <li>
        <strong>{{'QUOTE.EDIT.ACCOUNT_NAME_KEY' | translate}}</strong>{{ sendDetails.billingAccount.name}}
      </li>
      <li>
        <strong>{{'QUOTE.EDIT.SALES_OWNER_KEY' | translate}}</strong>{{ sendDetails.billingAccount.salesOwner}}
      </li>
      <li>
        <strong>{{'QUOTE.EDIT.PURCHASE_ON_CREDIT_KEY' | translate}}</strong>{{ sendDetails.billingAccount.purchaseOnCredit}}
      </li>
      <li>
        <strong>{{'QUOTE.EDIT.CREDIT_EXEMPTION_KEY' | translate}}</strong>{{ sendDetails.billingAccount.creditExemption}}
      </li>
      <li>
        <strong>{{'QUOTE.EDIT.PAYMENT_TERMS_DAYS_KEY' | translate}}</strong>{{ sendDetails.billingAccount.paymentTermsDays}}
      </li>
    </ul>
  </div>
  <div flex="33" class="contact-data card">
    <h5 class="mat-title">{{ 'QUOTE.EDIT.INVOICE_CONTACT_TITLE' | translate }}</h5>
    <ul class="mat-caption">
      <li>
        <strong>{{'QUOTE.EDIT.CONTACT_NAME_KEY' | translate}}</strong>{{ sendDetails.invoiceContact.name}}
      </li>
      <li>
        <strong>{{'QUOTE.EDIT.CONTACT_EMAIL_KEY' | translate}}</strong>{{ sendDetails.invoiceContact.contactEmail}}
      </li>
    </ul>
  </div>
</section>
</div>
<section class="contact-data summary-heading" flex="100" layout="row">
  <div flex="33"  flex-xs="100" layout="row" layout-align="space-between start">
    <ul class="mat-caption">
      <h5 class="mat-title">{{ 'QUOTE.EDIT.QUOTE_SUMMARY_TITLE' | translate }}</h5>
      <li>
        <strong>{{'QUOTE.PURCHASE_TYPE_LABEL' | translate}}</strong>{{ ( quoteTypeTranslationKey | async) | translate }}
      </li>
    </ul>
    <button mat-button class="mini is-outlined" color="primary" (click)="goToTab(0)">
      {{ 'CART.CONFIRM.EDIT' | translate }}
    </button>
  </div>
</section>
<projects-component
  flex="100"
  [readOnly]="true"
  [projects]="projects"
  [quoteType]="quoteType | async"
  [userCan]="userCan">
</projects-component>

<section class="cart-total" layout="row" layout-align="center center">
  <div flex="100">
    <div *ngIf="showDiscount" flex="100" layout="row" layout-align="end center" class="subtotal mat-headline">
      <span class="total-label" flex="100">
        {{ 'CART.CART_SUBTOTAL' | translate }} 
      </span>
      <span class="total-amount" flex="nogrow">
        {{ subTotal | async | currency:'USD':true:'1.2-2' }}
      </span>
    </div>
    <div *ngIf="showDiscount" flex="100" layout="row" layout-align="end center" class="discount mat-headline">
      <span class="total-label" flex="100">
        {{ 'CART.CART_DISCOUNT' | translate }} 
      </span>
      <span class="total-amount" flex="nogrow">{{ discount | async }}</span>
    </div>
    <div *ngIf="showTotal" flex="100" layout="row" layout-align="end center" class="total mat-headline">
      <span class="total-label" flex="100">
        {{ 'CART.CART_TOTAL' | translate }} 
      </span>
      <span class="total-amount" flex="nogrow">
        {{ total | async | currency:'USD':true:'1.2-2' }}
      </span>
    </div>
  </div>
</section>

<div layout="column" layout-align="end end">
  <section class="action-items">
    <button
      color="primary"
      mat-raised-button
      (click)="sendQuote()">
      {{ 'QUOTE.EDIT.SEND' | translate }}
    </button>
  </section>
</div>
