<header flex="100" layout="row">
  <h2 class="commerce-heading">Please select recipient options</h2>
</header>
<div layout="column" layout-gt-xs="row" layout-padding>

  <section layout="column" flex="40" class="recipient-options-select">

    <wz-form-autocomplete-view *ngIf="user | async" flex="100" 
      class="recipient"
      [ngClass]="{ 'is-empty' : !(!!(user | async).id) }"
      [items]="(user | async).field" 
      [matchOnProperty]="'emailAddress'"
      [displayProperties]="user | async"
      includeCancel="true"
      autocomplete="off"
      cancelLabel="COMMENTS.CANCEL_BTN_LABEL"
      submitLabel="COMMENTS.SUBMIT_BTN_LABEL"
      (formSubmit)="userSelect($event)">
    </wz-form-autocomplete-view>
    
    <wz-form-autocomplete-view *ngIf="(billingAccount | async)" flex="100"
      class="billing-account"
      [ngClass]="{ 'is-empty' : !(!!(billingAccount | async).id) }"
      [items]="(billingAccount | async).field" 
      [matchOnProperty]="'name'"
      [displayProperties]="billingAccount | async"
      includeCancel="true"
      autocomplete="off"
      cancelLabel="COMMENTS.CANCEL_BTN_LABEL"
      submitLabel="COMMENTS.SUBMIT_BTN_LABEL"
      (formSubmit)="accountSelect($event)">
    </wz-form-autocomplete-view>

    <wz-form-picklist-component *ngIf="(invoiceContact | async)" flex="100"
      class="invoice-contact"
      [items]="(invoiceContact | async).field" 
      autocomplete="off"
      (formSubmit)="invoiceContactSelect($event)">
    </wz-form-picklist-component>
    
  </section>
  <section class="creator-options-select" layout="column" flex="60">
    other form here
  </section>
</div>
