// asset-detail {
//   display: block;
//   background-color:  md-color($md-background, 300);
//   border-top: rem(6.4) solid md-color($md-primary, 900, .9);
//   @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
//     border-top-width: rem(5.6);    
//   }
// }
    
section.preview-bk {
  
  md-toolbar {
    background-color: transparent;
  }
  overflow: hidden;
  width: 100%;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  padding-top: rem(6.5);
  &.theater {
    height: rem(70.08123);
    // height: rem(70.8234);
    // @include calc(height, "100% + 236px");
    padding-top: rem(14.6);
    padding-bottom: rem(9);
    box-shadow: $whiteframe-shadow-3dp;
    @include text-contrast(md-color($md-background, 900));
    @include background-image(
      linear-gradient(md-color($md-background, 900, .5), md-color($md-background, 900, .4)),
      linear-gradient(md-color($md-primary, 900, .8), md-color($md-primary, 900, .7))
    );
    position: relative;
    &::before {
      content: " ";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height:100%;
      @include background-image(
        url("resources/img/bk/tex/bktx_dgl_lines_light.png")
      );
      opacity: .5;
      // @include filter(blur(3px));
      z-index: 1;
    }
  }
  margin-bottom: 0;
  // min-height: 500px;
  .preview {
    position: relative;
    height: 100%;
    width: 100%;
    // height: rem(46);
    
    &::before {
      content: " ";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba(md-color($md-background, 50), 1);
      // @include background-image(linear-gradient(rgba(md-color($md-background, 100),0.5), rgba(md-color($md-background, 100),0.3) 80%));
      // opacity: 0.5;
      @include transition(opacity 1.5s cubic-bezier(0.55, 0, 0.55, 0.2));
      z-index: 1;
    }
  }
  // .primary-info-wrapper {
  //   padding-left: rem(2);
  // }
  md-card.primary-info {
    box-shadow: none;
    position: relative;
    // height: rem(46);
    height: 100%;
    min-height: 100%;
    // margin: 0 0 0 20px;
    background-color: transparent;
    z-index: 2;
    &::before {
      content: " ";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      // background-color: rgba(md-color($md-background, 100),0.3);
      // @include background-image(linear-gradient(rgba(md-color($md-background, 100),0.5), rgba(md-color($md-background, 100),0.3) 80%));
      // opacity: 0.1;
      @include transition(opacity 1.5s cubic-bezier(0.55, 0, 0.55, 0.2));
      z-index: 1;
    }
    & > md-toolbar {
      background-color: rgba(md-color($md-background, 900),.3);
    }
    & > md-card-content {
      padding: rem(2.5);
      background-color: rgba(md-color($md-background, 900),.2);
      position: relative;
      z-index: 1;
      @include calc(height, "100% - 96px");
      .md-subhead {
        margin-bottom: 15%;
      }
      md-card-actions {
        @include calc(width, "100% - 68px");
        position: absolute;
        bottom: rem(3.2);
        md-button {
          width: 95%;
          &.md-primary.md-hue-7 {
            background-color: scale-color(md-color($md-primary, 500), $lightness: -15%, $alpha: -50%);
            &:hover {
              background-color: scale-color(md-color($md-primary, 500), $lightness: 0%, $alpha: -40%);
            }
          }
          &.is-outlined {
            color: scale-color(md-color($md-background, 50), $lightness: 0%, $alpha: -15%);
            border-color: scale-color(md-color($md-background, 50), $lightness: 0%, $alpha: -40%);
          }
        }
      }
      .asset-name {
        margin-bottom: rem(1.5);
      }
      .sd-hd {
        height: rem(2);
        width: rem(2.8);
        border-radius: rem(.3);
        border-width: 1px;
        border-style: solid;
        border-color: rgba(md-color($md-background, 100),0.4);
        background-color: rgba(md-color($md-background, 900),.8);
        position: relative;
        &::before {
          content: "HD";
          position: absolute;
          top: rem(.1);
          left: rem(.4);
          bottom: 0;
          opacity: 0.8;
          font-size: .94em;
          font-weight: bold;
        }
      }
      .sd-hd.sd {
        width: rem(2.7);
        border-radius: rem(.2);
        border-color: rgba(md-color($md-background, 900),1);
        background-color: rgba(md-color($md-background, 100),.8);
        &::before {
          content: "SD";
          color:rgba(md-color($md-background, 900),1);
          opacity: 0.9;
        }
      }
      .rights {
        padding-left: rem(1);
        padding-top: rem(.4);
        text-transform: uppercase;
        font-size: .75em;
      }
    }
  }
}

.data-bk {
  background-color: transparent !important;
  md-tabs {
    width: 100%;
    background: rgba(md-color($md-background, 100),.9);
    border-bottom: 1px solid rgba(md-color($md-background, 200),.9);
    md-tabs-canvas, md-pagination-wrapper {
      height: rem(6.4);
    }
    .md-tab {
      color: rgba(md-color($md-background, 900), .75);
      padding: rem(2.4);
      padding-bottom: rem(1.2);
      &.md-active {
        color: rgba(md-color($md-primary, 500), 1);
        border-bottom: rgba(md-color($md-primary, 500), 1) 4px solid;
      }
    }
    md-tabs-wrapper {
      background: rgba(md-color($md-background, 50), .9);
    }
    md-content {
      background-color: transparent;  
      &.md-padding {
        padding: rem(4.5);
      }
    }
  }
  h1:first-child {
    margin-top: 0;
  }
}
.m-data {
  text-align: left;
  overflow: hidden;
  padding: 0;
  background-color: rgba(md-color($md-background, 100), 1);
  border-top: 1px solid rgba(md-color($md-background, 400),.5);
  display: table;
  min-width: 100%;
  margin-top: rem(1.2);
  &:first-child {
    margin-top: 0;
  }
  & > .row {
    display: table-row;
    .cell {
      border-right: 1px solid rgba(md-color($md-background, 400),.5);
      border-bottom: 1px solid rgba(md-color($md-background, 400),.5);
      display: table-cell;
      padding: 10px 20px 10px 12px;
      vertical-align: top;
      p {
        margin: 0;
        line-height: 24px;
        opacity: .9;
      }
    }
    .cell:first-child {
      border-left: 1px solid rgba(md-color($md-background, 400),.5);
      background: rgba(md-color($md-background, 300),.6);
      text-align: right;
      white-space: nowrap;
      padding: 10px 12px 10px 40px;
      width: 33%;
      h5 {
        margin: 0;
      }
    }
  }
  & > .row.divider {
    background-color: md-color($md-background, 100);
    .cell {
      padding: 18px 0;
      border-right-width: 0;
      &:first-child {
        border-left-width: 0;
        background: transparent;
      }
    }
  }
}

.responsive-video {
  z-index: 1;
  background: black;
  iframe {
    border: transparent;
  }
}