
<!-- there probably should be some kind of toggle for theater mode (dark background where preview is VS light)-->
<section layout="row" flex="" layout-align="center stretch" class="preview-bk theater">
  <div flex-xl="70" flex-gt-lg="80" flex-gt-md="90" flex="100" layout="row" layout-wrap="" layout-align="center stretch" layout-fill="">
    <player [clip]="assetDetail.common[5]?.value" flex-gt-sm="66" flex="100" layout="column" layout-fill="" class="responsive-video"></player>
    <div flex-gt-sm="33" flex="100" layout="column" layout-fill="">
      <!-- .some-class(style="background-color: red", flex='', layout='column',layout-fill='')-->
      <!--   h5 Parent layout is set to fill available space.-->
      <!-- asset-primary-info component-->
      <!-- div.primary-info-wrapper(flex='', layout='column',layout-fill='')-->
      <md-card flex="" layout="column" layout-fill="" class="primary-info">
        <!--<div *ngFor='#data of assetDetail.primary; #i=index'>
          <span>{{data.name}} : </span><span> {{data.value}}</span>
        </div>-->
        <md-toolbar layout-align="center end">
          <span flex="">
            <nav class="md-toolbar-tools">
              <button md-button="" title="Sharing Options" [routerLink]="['Home']" class="md-icon-button"><i md-icon="md-icon" class="material-icons">share</i></button>
              <button md-button="" title="Download Comp" [routerLink]="['Home']" class="md-icon-button"><i md-icon="md-icon" class="material-icons">file_download</i></button>
              <button md-button="" title="Add to Collection" [routerLink]="['Home']" class="md-icon-button"><i md-icon="md-icon" class="material-icons">library_add</i></button>
              <button md-button="" title="More" [routerLink]="['Home']" class="md-icon-button"><i md-icon="md-icon" class="material-icons">more_vert</i></button>
            </nav>
          </span>
        </md-toolbar>
        <md-card-content>
          <div flex="" layout="column" class="asset-name md-caption">{{assetDetail.primary[1]?.value}}</div>
          <div layout="row" layout-wrap="">
            <div 
              [ngClass]="{hd: assetDetail.primary[2]?.value == 'High Definition', sd: assetDetail.primary[2]?.value == 'Standard Definition'}" 
              class="sd-hd" *ngIf='assetDetail.primary[2]?.value != null'>
            </div>
            <div flex="" class="rights md-caption">{{assetDetail.primary[3]?.value}}</div>
          </div>
          <div layout="row" layout-wrap="" *ngIf='assetDetail.primary[4]?.value != null'>
            <div flex="" class="restriction-banner">{{assetDetail.primary[4]?.value}}</div>
          </div>
          <h4 class="title-txt" *ngIf="assetDetail.primary[5]?.value != null">{{assetDetail.primary[5]?.value}}</h4>
          <h5 class="description-txt md-subhead">{{assetDetail.primary[6]?.value}}</h5>
          <md-card-actions layout="column" layout-align="center center" layout-wrap="">
            <md-button md-raised-button="" (click)="someFunction()" class="md-raised md-primary md-hue-7">Add to Cart</md-button>
            <md-button md-button="" (click)="someFunction()" class="is-outlined">Calculate Price</md-button>
          </md-card-actions>
        </md-card-content>
      </md-card>
    </div>
  </div>
</section>

<section class="data-bk">
  <div layout="row" md-scroll-y="" layout-align="center start">
    <div flex-xl="70" flex-gt-lg="80" flex-gt-md="90" flex="100" layout="row" layout-wrap="" layout-align="center start">
      <md-tabs md-dynamic-height="" md-border-bottom="">

        <template md-tab="" label="meta data">
          <md-content class="md-padding">
            <div class="m-data">
              <div class="row" *ngFor= '#mdata of assetDetail.secondary[0]?.metaData.data[0]?.event; #i=index'>
                <div class="cell">
                  <h5 class="md-subhead">{{translationReady(mdata.name) | uppercase | translate}}</h5>
                </div>
                <div class="cell">
                  <p class="md-body-1">{{mdata.value}}</p>
                </div>
              </div>
              <div class="row divider">
                <div class="cell"></div>
                <div class="cell"></div>
              </div>
              <div class="row" *ngFor= '#mdata of assetDetail.secondary[0]?.metaData.data[1]?.format; #i=index'>
                <div class="cell">
                  <h5 class="md-subhead">{{translationReady(mdata.name) | uppercase | translate}}</h5>
                </div>
                <div class="cell">
                  <p class="md-body-1">{{mdata.value}}</p>
                </div>
              </div>
              <div class="row divider">
                <div class="cell"></div>
                <div class="cell"></div>
              </div>
              <div class="row" *ngFor= '#mdata of assetDetail.secondary[0]?.metaData.data[2]?.audio; #i=index'>
                <div class="cell">
                  <h5 class="md-subhead">{{translationReady(mdata.name) | uppercase | translate}}</h5>
                </div>
                <div class="cell">
                  <p class="md-body-1">{{mdata.value}}</p>
                </div>
              </div>
              <div class="row divider">
                <div class="cell"></div>
                <div class="cell"></div>
              </div>
            </div>
          </md-content>
        </template>
        <template md-tab="" label="Related">
          <md-content class="md-padding">
            <div class="m-data">
              <div class="row" *ngFor='#mdata of assetDetail.secondary[0]?.related.data[0]?.keywords; #i=index'>
                <div class="cell">
                  <h5 class="md-subhead">{{translationReady(mdata.name) | uppercase | translate}}</h5>
                </div>
                <div class="cell">
                  <p class="md-body-1">{{mdata.value}}</p>
                </div>
              </div>
              <div class="row divider">
                <div class="cell"></div>
                <div class="cell"></div>
              </div>
            </div>
          </md-content>
        </template>
        <template md-tab="" label="Rights and Clearances">
          <md-content class="md-padding">
            <div class="m-data">
              <div class="row" *ngFor='#mdata of assetDetail.secondary[0]?.licensing.data[0]?.rights; #i=index'>
                <div class="cell">
                  <h5 class="md-subhead">{{translationReady(mdata.name) | uppercase | translate}}</h5>
                </div>
                <div class="cell">
                  <p class="md-body-1">{{mdata.value}}</p>
                </div>
              </div>
              
              <div class="row divider">
                <div class="cell"></div>
                <div class="cell"></div>
              </div>
              
              <div class="row" *ngFor= '#mdata of assetDetail.secondary[0]?.licensing.data[1]?.clearance; #i=index'>
                <div class="cell">
                  <h5 class="md-subhead">{{translationReady(mdata.name) | uppercase | translate}}</h5>
                </div>
                <div class="cell">
                  <p class="md-body-1">{{mdata.value}}</p>
                </div>
              </div>
              <div class="row divider">
                <div class="cell"></div>
                <div class="cell"></div>
              </div>
            </div>
          </md-content>
        </template>
        <template md-tab="" label="Storyboards">
          <md-content class="md-padding">
            <h3 class="md-headline">Storyboards</h3>
            <p>
              Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum.
              Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum
              nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus
              commodo lectus.
            </p>
          </md-content>
        </template>
      </md-tabs>
    </div>
  </div>
</section>