// there probably should be some kind of toggle for theater mode (dark background where preview is VS light)
section.preview-bk.theater(layout='row',flex='', layout-align='center stretch')
  div(flex-xl="70",flex-gt-lg="80",flex-gt-md="90",flex="100", layout='row', layout-wrap='', layout-align='center stretch', layout-fill='')
    div.responsive-video(id="player", flex-gt-sm='66',flex="100", layout='column',layout-fill='')
    
    div(flex-gt-sm='33',flex="100" layout='column',layout-fill='')
      // .some-class(style="background-color: red", flex='', layout='column',layout-fill='')
      //   h5 Parent layout is set to fill available space.
      // asset-primary-info component
      // div.primary-info-wrapper(flex='', layout='column',layout-fill='')
      md-card.primary-info(flex='', layout='column',layout-fill='')
        md-toolbar( layout-align='center end')
          span(flex='')
            nav.md-toolbar-tools
              button.md-icon-button(md-button='', title='Sharing Options',[routerLink]="['Home']")
                i.material-icons(md-icon) share
              button.md-icon-button(md-button='', title='Download Comp',[routerLink]="['Home']")
                i.material-icons(md-icon) file_download
              button.md-icon-button(md-button='', title='Add to Collection',[routerLink]="['Home']")
                i.material-icons(md-icon) library_add
              button.md-icon-button(md-button='', title='More',[routerLink]="['Home']")
                i.material-icons(md-icon) more_vert
        md-card-content
        
          .asset-name.md-caption(flex='', layout='column') {{assetDetail.name}}
          div(layout='row', layout-wrap='')
            .sd-hd([ngClass]="{hd: assetDetail.clipData[2]?.value == 'High Definition', sd: assetDetail.clipData[2]?.value == 'Standard Definition'}")
            .rights.md-caption(flex='') rights managed 
          
          h5.md-subhead {{assetDetail.clipData[1]?.value}}
          
          md-card-actions(layout='column', layout-align='center center', layout-wrap='')
            md-button.md-raised.md-primary.md-hue-7(md-raised-button='', (click)="someFunction()") Add to Cart
            md-button.is-outlined(md-button='', (click)="someFunction()") Calculate Price
        
section.data-bk
  div(layout='row' md-scroll-y='', layout-align='center start')
    div(flex-xl="70",flex-gt-lg="80",flex-gt-md="90",flex="100", layout='row', layout-wrap='', layout-align='center start')

      md-tabs(md-dynamic-height='', md-border-bottom='')
        template(md-tab='', label='Meta Data')
          md-content.md-padding

            .m-data
              .row
                .cell
                  h5.md-subhead Event
                .cell
                  p.md-body-1
                    | Up to 1 gigabit (1,000 Mbps) upload and download speeds.
              .row
                .cell
                  h5.md-subhead Date
                .cell
                  p.md-body-1 4/11/2010
              .row
                .cell
                  h5.md-subhead Location
                .cell
                  p.md-body-1 Augusta National Golf Course Augusta, GA  
              .row
                .cell
                  h5.md-subhead Year
                .cell
                  p.md-body-1 2012
              .row
                .cell
                  h5.md-subhead Owner
                .cell
                  p.md-body-1 Supplier: Augusta National Golf Club [Augusta National Golf Club]



              .row.divider
                .cell
                .cell
                  
                  
                  
              .row
                .cell
                  h5.md-subhead Aspect
                .cell
                  p.md-body-1 16:9
              .row
                .cell
                  h5.md-subhead Frame Rate
                .cell
                  p.md-body-1 29.97 fps
              .row
                .cell
                  h5.md-subhead Frame Size
                .cell
                  p.md-body-1  1920 x 1080  
              .row
                .cell
                  h5.md-subhead Broadcast Standard
                .cell
                  p.md-body-1 1080i
              .row
                .cell
                  h5.md-subhead Shot On
                .cell
                  p.md-body-1 Other HD
              .row
                .cell
                  h5.md-subhead Length
                .cell
                  p.md-body-1 00:01:25;24
              .row
                .cell
                  h5.md-subhead Stored Online
                .cell
                  p.md-body-1 QuickTime / AVdn
              .row
                .cell
                  h5.md-subhead Speed
                .cell
                  p.md-body-1 Slow Motion
              .row
                .cell
                  h5.md-subhead Color
                .cell
                  p.md-body-1 Color








        template(md-tab='', label='Related')
          md-content.md-padding
            h3.md-headline Related
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque
              | ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est,
              | sollicitudin consectetur felis nec, feugiat ultricies mi.
        template(md-tab='', label='Rights and Clearances')
          md-content.md-padding
            h3.md-headline Rights and Clearances
            p
              | Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum.
              | Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum
              | nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus
              | commodo lectus.
        template(md-tab='', label='Storyboards')
          md-content.md-padding
            h3.md-headline Storyboards
            p
              | Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum.
              | Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum
              | nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus
              | commodo lectus.
