section.preview-bk.theater
  div(layout='row' md-scroll-y='', layout-align='center start')
    div(flex-xl="70",flex-gt-lg="80",flex-gt-md="90",flex="100", layout='row', layout-wrap='', layout-align='center start')
      div(flex-gt-sm='66',flex="100")
        // preview component
        img.preview(src='{{assetDetail.thumbnail.urls.http}}')
      div(flex-gt-sm='33',flex="100")
        // asset-primary-info component
        md-card.primary-info
          md-toolbar( layout-align='center end')
            span(flex='')
              nav.md-toolbar-tools
                button.md-icon-button(md-button='', title='More',[routerLink]="['Home']")
                  i.material-icons(md-icon) share
                button.md-icon-button(md-button='', title='More',[routerLink]="['Home']")
                  i.material-icons(md-icon) file_download
                button.md-icon-button(md-button='', title='More',[routerLink]="['Home']")
                  i.material-icons(md-icon) library_add
                button.md-icon-button(md-button='', title='More',[routerLink]="['Home']")
                  i.material-icons(md-icon) more_vert
          md-card-content
            .asset-name.md-caption {{assetDetail.name}}
            .sd-hd([ngClass]="{hd: assetDetail.metaData[2].value == 'High Definition', sd: assetDetail.metaData[2].value == 'Standard Definition'}")
            // ROYALTY FREE / RIGHTS MANAGED
            h5.md-subhead {{assetDetail.metaData[1].value}}
            
            md-card-actions(layout='column', layout-align='center center', layout-wrap='')
              button.md-raised.md-primary.md-hue-7(md-raised-button='', type='button') Add to Cart
              button.is-outlined(md-button='', type='button') Calculate Price
        
section.data-bk
  div(layout='row' md-scroll-y='', layout-align='center start')
    div(flex-xl="70",flex-gt-lg="80",flex-gt-md="90",flex="100", layout='row', layout-wrap='', layout-align='center start')

      md-tabs(md-dynamic-height='', md-border-bottom='')
        template(md-tab='', label='Meta Data')
          md-content.md-padding

            .m-data
              .row
                .cell
                  h5.md-subhead Event
                .cell
                  p.md-body-1
                    | Up to 1 gigabit (1,000 Mbps) upload and download speeds.
              .row
                .cell
                  h5.md-subhead Date
                .cell
                  p.md-body-1 4/11/2010
              .row
                .cell
                  h5.md-subhead Location
                .cell
                  p.md-body-1 Augusta National Golf Course Augusta, GA  
              .row
                .cell
                  h5.md-subhead Year
                .cell
                  p.md-body-1 2012
              .row
                .cell
                  h5.md-subhead Owner
                .cell
                  p.md-body-1 Supplier: Augusta National Golf Club [Augusta National Golf Club]



              .row.divider
                .cell
                .cell
                  
                  
                  
              .row
                .cell
                  h5.md-subhead Aspect
                .cell
                  p.md-body-1 16:9
              .row
                .cell
                  h5.md-subhead Frame Rate
                .cell
                  p.md-body-1 29.97 fps
              .row
                .cell
                  h5.md-subhead Frame Size
                .cell
                  p.md-body-1  1920 x 1080  
              .row
                .cell
                  h5.md-subhead Broadcast Standard
                .cell
                  p.md-body-1 1080i
              .row
                .cell
                  h5.md-subhead Shot On
                .cell
                  p.md-body-1 Other HD
              .row
                .cell
                  h5.md-subhead Length
                .cell
                  p.md-body-1 00:01:25;24
              .row
                .cell
                  h5.md-subhead Stored Online
                .cell
                  p.md-body-1 QuickTime / AVdn
              .row
                .cell
                  h5.md-subhead Speed
                .cell
                  p.md-body-1 Slow Motion
              .row
                .cell
                  h5.md-subhead Color
                .cell
                  p.md-body-1 Color








        template(md-tab='', label='Related')
          md-content.md-padding
            h3.md-headline Related
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque
              | ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est,
              | sollicitudin consectetur felis nec, feugiat ultricies mi.
        template(md-tab='', label='Rights and Clearances')
          md-content.md-padding
            h3.md-headline Rights and Clearances
            p
              | Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum.
              | Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum
              | nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus
              | commodo lectus.
        template(md-tab='', label='Storyboards')
          md-content.md-padding
            h3.md-headline Storyboards
            p
              | Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum.
              | Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum
              | nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus
              | commodo lectus.
