<ul>
    <!--<li *ngFor="let collection of collections" class="collection" [ngClass]="{'focused': activeCollection === collection.id, 'md-elevation-z2': activeCollection !== collection.id }">
        <div flex="100" layout="row" layout-xs="column">
            <div flex-gt-sm="40" flex-gt-lg="20" flex-gt-md="30" flex="100" layout-padding layout-fill>
                <div class="asset">
                    <div class="asset-thb">
                        <div class="selected" *ngIf="activeCollection === collection.id">
                            <md-icon>star</md-icon>
                        </div>
                        <span class="asset-id"><span class="id">{{collection.id}}</span></span>
                        <img src="{{thumbnail(collection.collectionThumbnail)}}" />
                    </div>
                </div>
            </div>
            <div flex-gt-sm="60" flex-gt-lg="80" flex-gt-md="70" flex="100" (click)="selectActiveCollection(collection.id)" layout-padding
                layout-fill>
                <h3 class="md-headline">{{collection.name}}
                    <span class="asset-count">
                <span class="count">{{collection.assetsCount || 0}}</span>
                    </span>
                </h3>
                <div class="md-caption collection-info">
                    <span><strong>{{ 'COLLECTION.SHOW.OWNER_LABEL' | translate }} </strong>{{collection.email}}</span>
                    <span><strong>{{ 'COLLECTION.SHOW.ROLE_LABEL' | translate }} </strong>{{collection.userRole}}</span>
                    <span><strong>{{ 'COLLECTION.SHOW.CREATED_LABEL' | translate }} </strong>{{ date(collection.createdOn) | date:'short' }}</span>
                    <span><strong>{{ 'COLLECTION.SHOW.UPDATED_LABEL' | translate }} </strong>{{ date(collection.lastUpdated) | date:'short' }}</span>
                </div>
                <div *ngIf="collection.tags" class="md-caption collection-tags">
                    <strong>{{ 'COLLECTION.SHOW.TAGS_LABEL' | translate }} </strong>
                    <ul class="meta-data-tags">
                        <li class="tag md-elevation-z0" *ngFor="let tag of collection.tags">{{tag}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div flex="100" layout="row" layout-xs="column" layout-margin class="divider"></div>
        <div flex="100" layout="row" class="actions">
            <div flex="80">
                <button md-icon-button title="{{ 'COLLECTION.INDEX.FOCUS_BTN_TITLE' | translate }}" (click)="selectActiveCollection(collection.id)"><md-icon>star</md-icon></button>
                <a md-icon-button title="{{ 'COLLECTION.INDEX.DETAIL_BTN_TITLE' | translate }}" [routerLink]="['/collection/', collection.id, {i:1, n:50}]">
                    <md-icon>details</md-icon>
                </a>
                <button md-icon-button title="{{ 'COLLECTION.INDEX.EDIT_BTN_TITLE' | translate }}" (click)="showEdit(collection)"><md-icon>edit</md-icon></button>
                <button md-icon-button title="{{ 'COLLECTION.INDEX.SHARE_BTN_TITLE' | translate }}" (click)="showShare(collection)"><md-icon>share</md-icon></button>
                <button md-icon-button title="{{ 'COLLECTION.INDEX.COMMENT_BTN_TITLE' | translate }}" (click)="showComments($event)"><md-icon>mode_comment</md-icon></button>
            </div>
            <div flex="20" layout-align="end center">
                <button class="delete" md-icon-button title="{{ 'COLLECTION.INDEX.DELETE_BTN_TITLE' | translate }}" (click)="deleteCollection(collection.id)"><md-icon>cancel</md-icon></button>
            </div>
        </div>
    </li>-->




    <li *ngFor="let collection of collections; let i = index" class="collection" 
        [ngClass]="{'focused': activeCollection === collection.id}"
        flex="100" 
        layout="row" 
        layout-xs="column">
        <div flex="100" flex-gt-sm="66">
            <div flex="100" layout="row" layout-xs="column">
                <div flex-gt-sm="40" flex-xl="30" flex="100" layout-padding layout-fill>
                    <div class="asset">
                        <div class="asset-thb">
                            <div class="selected" *ngIf="activeCollection === collection.id" title="Selected collection">
                                <md-icon>star</md-icon>
                            </div>
                            <span class="asset-id"><span class="id">{{collection.id}}</span></span>
                            <img src="{{thumbnail(collection.collectionThumbnail)}}" />
                        </div>
                    </div>
                </div>
                <div flex-gt-sm="60" flex-gt-lg="80" flex-gt-md="70" flex="100" 
                    (click)="selectActiveCollection(collection.id)" 
                    layout-padding
                    layout-fill>
                    <h3 class="md-headline">{{collection.name}}
                        <span class="asset-count">
                            <span class="count">{{collection.assetsCount || 0}}</span>
                        </span>
                    </h3>
                    <div class="md-caption collection-info">
                        <span><strong>{{ 'COLLECTION.SHOW.OWNER_LABEL' | translate }} </strong>{{collection.email}}</span>
                        <span><strong>{{ 'COLLECTION.SHOW.ROLE_LABEL' | translate }} </strong>{{collection.userRole}}</span>
                        <span><strong>{{ 'COLLECTION.SHOW.CREATED_LABEL' | translate }} </strong>{{ date(collection.createdOn) | date:'short' }}</span>
                        <span><strong>{{ 'COLLECTION.SHOW.UPDATED_LABEL' | translate }} </strong>{{ date(collection.lastUpdated) | date:'short' }}</span>
                    </div>
                    <div *ngIf="collection.tags" class="md-caption collection-tags">
                        <strong>{{ 'COLLECTION.SHOW.TAGS_LABEL' | translate }} </strong>
                        <ul class="meta-data-tags">
                            <li class="tag md-elevation-z0" *ngFor="let tag of collection.tags">{{tag}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div flex="100" layout="row" layout-xs="column" class="divider" hide="" show-xs=""></div>
        <div flex-gt-sm="33" layout-sm="100" flex="auto" class="actions tools">
            <!--<div flex="80">-->
            <button md-icon-button title="{{ 'COLLECTION.SHOW.EDIT_BTN_TITLE' | translate }}" (click)="showEdit(collection)"><md-icon>edit</md-icon></button>
            <!--<button md-icon-button title="{{ 'COLLECTION.SHOW.HISTORY_BTN_TITLE' | translate }}" (click)="showHistory(collection)"><md-icon>history</md-icon></button>-->
            <button md-icon-button title="{{ 'COLLECTION.SHOW.SHARE_BTN_TITLE' | translate }}" (click)="showShare(collection)"><md-icon>share</md-icon></button>
            <button md-icon-button title="{{ 'COLLECTION.SHOW.COMMENT_BTN_TITLE' | translate }}" (click)="showComments($event)"><md-icon>mode_comment</md-icon></button>
            <!--<button md-icon-button title="{{ 'COLLECTION.SHOW.MORE_BTN_TITLE' | translate }}" [md-menu-trigger-for]="moreMenu"><md-icon>more_vert</md-icon></button>-->
            <!--</div>-->
            <!--<div flex="20" layout-align="end center">
            <button md-icon-button title="{{ 'COLLECTION.INDEX.DELETE_BTN_TITLE' | translate }}" (click)="deleteCollection(collection)"><md-icon>cancel</md-icon></button>
        </div>-->
        </div>

        <!--<div flex="100" layout="row" class="actions">
            <div flex="80">
                <button md-icon-button title="{{ 'COLLECTION.INDEX.FOCUS_BTN_TITLE' | translate }}" (click)="selectActiveCollection(collection.id)"><md-icon>star</md-icon></button>
                <a md-icon-button title="{{ 'COLLECTION.INDEX.DETAIL_BTN_TITLE' | translate }}" [routerLink]="['/collection/', collection.id, {i:1, n:50}]">
                    <md-icon>details</md-icon>
                </a>
                <button md-icon-button title="{{ 'COLLECTION.INDEX.EDIT_BTN_TITLE' | translate }}" (click)="showEdit(collection)"><md-icon>edit</md-icon></button>
                <button md-icon-button title="{{ 'COLLECTION.INDEX.SHARE_BTN_TITLE' | translate }}" (click)="showShare(collection)"><md-icon>share</md-icon></button>
                <button md-icon-button title="{{ 'COLLECTION.INDEX.COMMENT_BTN_TITLE' | translate }}" (click)="showComments($event)"><md-icon>mode_comment</md-icon></button>
            </div>
            <div flex="20" layout-align="end center">
                <button class="delete" md-icon-button title="{{ 'COLLECTION.INDEX.DELETE_BTN_TITLE' | translate }}" (click)="deleteCollection(collection.id)"><md-icon>cancel</md-icon></button>
            </div>
        </div>-->



        



    </li>
</ul>
<!--<md-menu class="more-collections-menu" x-position="before" #moreMenu="mdMenu">
    <button md-menu-item>Create a new collection</button>

    <a md-menu-item md-button [routerLink]="['/collection/', collection.id, {i: 1, n: 100}]" disableRipple="true">
        <md-icon>details</md-icon><span class="label">Open this collection</span>
    </a>
    <a md-menu-item md-button [routerLink]="['/collection/', collection.id, {i: 1, n: 100}]" disableRipple="true">
        <md-icon>folder_open</md-icon>Open this collection
    </a>
    <button md-menu-item  class="delete" md-icon-button title="{{ 'COLLECTION.INDEX.DELETE_BTN_TITLE' | translate }}" (click)="deleteCollection(collection.id)"><md-icon>cancel</md-icon>Delete this collection</button>
    <a title="{{ 'COLLECTION.INDEX.DETAIL_BTN_TITLE' | translate }}" [routerLink]="['/collection/', collection.id, {i: 1, n: 100}]" md-menu-item>Open this collection</a>
    <button md-menu-item disabled>copy link for selected collection</button>
    <a [routerLink]="['/collection/']" md-menu-item>View all collections</a>
    <button md-menu-item (click)="selectActiveCollection(collection.id)">Make this collection active</button>
    <button md-menu-item (click)="showHistory(collection)">Show collection history</button>
    <button md-menu-item  class="delete" md-icon-button title="{{ 'COLLECTION.INDEX.DELETE_BTN_TITLE' | translate }}" (click)="deleteCollection(collection.id)"><md-icon>cancel</md-icon></button>
</md-menu>-->