.glb(layout='row', layout-align='start center')
  div(flex='')
  div(flex-xl='70',flex-gt-lg='80',flex-gt-md='90',flex='95', layout='row', layout-wrap='')
    div(flex-gt-sm='33',flex='100')
      .logo-wrapper
        .logo
    div(flex-gt-sm='33',flex='100')
 
    div(flex-gt-sm='33',flex='100', no-wrap)
      div(flex='100', layout='row', layout-align='end end')
        h3.md-subhead Community
        ul.social
          li
            a.facebook(href="https://www.facebook.com/WazeeDigital", target="_blank")
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-facebook.fa-stack-1x.fa-inverse
          li
            a.twitter(href="https://twitter.com/wazee_digital", target="_blank")
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-twitter.fa-stack-1x.fa-inverse
          li
            a.google-plus(href="https://plus.google.com/114252139629653219287/about", target="_blank")
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-google-plus.fa-stack-1x.fa-inverse
          li
            a.linkedin(href="https://www.linkedin.com/company/wazeedigital?trk=top_nav_home", target="_blank")
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-linkedin.fa-stack-1x.fa-inverse
          li
            a.youtube(href="https://www.youtube.com/user/thoughtequity", target="_blank")
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-youtube-play.fa-stack-1x.fa-inverse

  div(flex="")
