app-footer {
  display: block;
  background-color: md-color($md-background, 200);
  .glb {
    // @include background-image(
    //   url("resources/img/bktx_maze_light.png"),
    //   linear-gradient(md-color($md-grey, 200, .8), md-color($md-grey, 200, .8))
    // );

    // background-position: 0 0, 0 0;
    // background-repeat: repeat, no-repeat;
    // background-size: auto, cover;
    padding-top: rem(2.4);
    @include text-contrast(md-color($md-background, 200), md-color($md-background, 700), md-color($md-background, 100));
    .logo-wrapper {
      height: 150px;
      width: 100%;
      .logo {
        margin: rem(.7) 0 0 rem(-.9);
        @include background-image(url("resources/img/logo.svg"));
        background-position: top left;
        background-repeat:no-repeat;
        background-size: 100px;
        height: 100px;
        opacity: .35;
      }
    }
    ul.social {
      margin: 0;
      padding:0;
      li {
        list-style: none;
        display: block;
        float: left;
        margin-right: 3px;
        a {
          @include text-contrast(md-color($md-background, 200), md-color($md-background, 700), md-color($md-background, 100));
          opacity: .35;
        }
      }
    }
  }
}