.glb(layout='row', layout-align='start center')
  div(flex="")
  div(flex-xl="50",flex-gt-lg="55",flex-gt-md="60",flex-gt-sm="75",flex="95")
    div(layout='row', layout-sm='column', layout-align='start center', layout-wrap='')
       div(flex="auto")
        .logo-wrapper
          .logo
       div(flex-gt-md="25",flex-gt-xs="35",flex="33")
       div(flex-gt-md="25",flex-gt-xs="35",flex="33")
      //  div(flex-gt-md="25",flex-gt-xs="35",flex="50")
      //  div(flex-gt-md="25",flex-gt-xs="35",flex="50")
      //  div(flex-gt-md="25",flex-gt-xs="35",flex="50")
  div(flex="")
