.glb(layout='row', layout-align='start center')
  div(flex="")
  div(flex-xl="70",flex-gt-lg="80",flex-gt-md="90",flex="95", layout='row', layout-wrap='')
    div(flex-gt-sm='33',flex="100")
      .logo-wrapper
        .logo
    div(flex-gt-sm='33',flex="100")
      // h4 Contact Us
    div(flex-gt-sm='33',flex="100")
      // h4 Media
  //  div(flex-gt-md="25",flex-gt-xs="35",flex="50")
  //  div(flex-gt-md="25",flex-gt-xs="35",flex="50")
  //  div(flex-gt-md="25",flex-gt-xs="35",flex="50")
  div(flex="")
