wz-list {
  background-color: #fff;
  display: block;
  margin-bottom: 20px;
  table {
    border-collapse: collapse;
  }
  table, td {
    border-bottom: 1px solid #ccc;
  }
  thead {
    border-bottom: 1px solid #ccc;
    th {
      padding: .5rem 1rem;
    }
  }
  tbody {
    text-align: center;
    tr {
      td {
        padding: .8rem 1rem;
      }
    }
  }
}
