div(*ngIf="header")
  app-header([showFixed]="showFixed", [currentUser]="currentUser", [config]="(header | async)", (onLogOut)="logout()")

  .main-content
    router-outlet
  app-footer([currentUser]="currentUser", [config]="(footer | async)", [supportedLanguages]="supportedLanguages", (onChangeLang)="changeLang($event)")
