div(*ngIf="header")
  app-header([currentUser]="currentUser", 
  [config]="(header | async)", 
  [supportedLanguages]="supportedLanguages", 
  [showFixed]="showFixed",
  (onLogOut)="logout()", 
  (onChangeLang)="changeLang($event)")

  .main-content
    router-outlet
  app-footer([currentUser]="currentUser", [config]="(footer | async)")
