
div.app(*ngIf="header")
  header.app-header([ngClass]="{'fixed': showFixed, 'search-closed': false}")
    app-nav([showFixed]="showFixed", [currentUser]="currentUser", [state]="state", [config]="(header | async)", (onLogOut)="logout()")
    search-box(*ngIf="searchBarIsActive", [config]="searchBox | async", (searchContext)="newSearchContext($event)")

  notification([state]="state")
  .main-content
    router-outlet
  app-footer([currentUser]="currentUser", [config]="(footer | async)", [supportedLanguages]="supportedLanguages", (onChangeLang)="changeLang($event)")
