md-data-table(layout-fill='')
  thead
    tr
      th.md-text-cell Name
      th.md-text-cell Status
      th.md-text-cell Creation Date
      th.md-text-cell Contact Name
  tbody
    tr(*ngFor="#item of items")
      td.md-text-cell {{ item.name }}
      td.md-text-cell {{ item.status }}
      td.md-text-cell {{ item.createdOn }}
      td.md-text-cell {{ item.contact }}
