md-toolbar.md-whiteframe-z1
   md-toolbar.md-whiteframe-z1
    nav.md-toolbar-tools
      md-button.md-icon-button(arial-label='Settings')
      i.material-icons(md-icon) menu
      a.md-icon-button(alt='Home', md-button='', href='#/home')
        span.md-button-wrapper
          i.material-icons(md-icon) home
      h1(flex='') Wazee Digital
      a.md-button(alt='Login', md-button='', [routerLink]="['Login']")
        span.md-button-wrapper Login
      a.md-button(alt='Register', md-button='', [routerLink]="['Register']")
        span.md-button-wrapper Register
      button.md-icon-button(md-button='', aria-label='More')
        i.material-icons(md-icon='') more_vert