@mixin wz-invoice-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);

  invoice-component {
    .email > a.mailto {
      color: mat-color($primary, darker);
    }
    section.header {
      color: mat-color($foreground, text, .7);
      box-shadow: inset 0 -1px 0 0 mat-color($foreground, divider), 0 1px 0 0 rgba(mat-color($background, card), .6);
      header .mat-display-1.alert {
        color: mat-color($warn, darker);
      }
    } 
    .invoice-divider {
      border-bottom-color: mat-color($foreground, base, .15);
    }
    .contact-container {
      border-color: mat-color($foreground, base, .15);
    }
    div.project {
      background-color: transparent;
      header.project-info {
        background-color: mat-color($background, card);
        color: mat-color($foreground, text);
      }
      .assets {
        .asset-list {
          li.project-asset-heading .heading {
            background-color: mat-color($primary);
            color: mat-color($background, card);
          }
          li.cart-asset, li.fee-item {
            border-color: mat-color($foreground, base, .15);
            &:nth-child(odd) {
              background-color:  transparent;
              // background-color:  mat-color($foreground, base, .1);
              @media screen and (max-width: $layout-breakpoint-xs)  {
                background-color:  transparent;
              }
            }
            &:nth-child(even) {
              background-color:  transparent;
              // background-color: mat-color($foreground, base, .02);
              @media screen and (max-width: $layout-breakpoint-xs)  {
                background-color:  transparent;
              }
            }
          }
        }
      }
    }
  }
}
