@mixin wz-invoice-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);

 invoice-component {
    section.header {
      color: mat-color($foreground, text, .7);
      box-shadow: inset 0 -1px 0 0 mat-color($foreground, divider), 0 1px 0 0 rgba(mat-color($background, card), .6);
      header .mat-display-1.alert {
        color: mat-color($warn, darker);
      }
    } 
  }
}
