<ng-template cdk-portal #wzSpeedviewTemplate="cdkPortal">
  <div class="wz-speedview">
    <div layout="column" flex="none" *ngIf="speedviewAssetInfo.imageQuickView">
      <div class="image-bg">
        <img class="image-speedview" [src]="previewUrl">
      </div>
    </div>
    <div layout="column" flex="none" *ngIf="!speedviewAssetInfo.imageQuickView">
      <video [src]="previewUrl" width="400" height="100%" poster=""
        autoplay name="media" type="video/mp4"></video>
    </div>
    <section div class="info" layout="row" layout-align="space-between none">
      <ul flex="65" class="metadata">
        <li *ngFor="let meta of speedviewAssetInfo.values">
          <span *ngIf="meta.value"><strong>{{ translationReady(meta.name) | uppercase | translate }}: </strong>{{ meta.value | slice:0:36 }}</span>
        </li>
      </ul>
      <div *ngIf="speedviewAssetInfo.price && speedviewAssetInfo.price > 0" flex="35" class="price-info">
        <span class="clip-rights" *ngIf="speedviewAssetInfo.pricingType">{{ speedviewAssetInfo.pricingType | uppercase }}</span>
        <span class="price">{{ speedviewAssetInfo.price | currency:'USD':true:'1.2-2' }} </span>
      </div>
    </section>
  </div>
</ng-template>
