.row
  h3 {{register}}
  form.login(method='post')
    .input-field.col.s6
      input(type='text', name='name', value='', placeholder='First Name')
    .input-field.col.s6
      input(type='text', name='name', value='', placeholder='Last Name')
    .input-field.col.s6
      input(type='text', name='name', value='', placeholder='Street')
    .input-field.col.s6
      input(type='text', name='name', value='', placeholder='State')
    .input-field.col.s6
      input(type='text', name='name', value='', placeholder='City')
    .input-field.col.s6
      input(type='text', name='name', value='', placeholder='Zip code')
    .input-field.col.s6
      input(type='password', name='name', value='', placeholder='Password')
    .input-field.col.s12
      a.waves-effect.waves-light.btn Register
