collections-list-dd, collections-filter-dd, collections-sort-dd, asset-share, asset-share-link { 
  .collections-dd-menu {   
    background-color: mat-color($mat-background, background);
    color: rgba(mat-color($mat-foreground, text), .7);  
    header {   
      box-shadow: inset 0 -1px 0 0 mat-color($mat-foreground, divider), 0 1px 0 0 mat-color($mat-background, card);
      background-color: mat-color($mat-primary, default);
      @include text-contrast(mat-color($mat-primary, default));
      .tools {
        button {
          &:hover {
            @include text-contrast(mat-color($mat-primary, default));
            background-color: mat-color($mat-foreground, base, .1);
          }         
        }
      }
    }
    .query-details {
      background-color: rgba(mat-color($mat-primary, default), .12); 
      color: mat-color($mat-foreground, secondary-text);
    }
    .mat-list[dense] {
      border: 1px solid mat-color($mat-foreground, divider);
      .mat-list-item .mat-list-item-content {
        button {
          color: rgba(mat-color($mat-foreground, text), .7);
          box-shadow: inset 0 1px 0 0 mat-color($mat-foreground, divider);
          &:hover, &:focus {
            color: mat-color($mat-primary);
            background-color: rgba(mat-color($mat-foreground, base), .1);
          }
          &[disabled] {
            color: rgba(mat-color($mat-foreground, text), .3);
          }
        }
      }
      md-list-item.active .mat-list-item-content button {
        color: mat-color($mat-primary);
        background-color: rgba(mat-color($mat-foreground, base), .07);
        box-shadow: inset 0 1px 0 0 mat-color($mat-foreground, base), .05;
      }
    }
    footer .actions {
      [md-button], button {
        &:hover {
          color: mat-color($mat-primary);
        }
      }
    }
  }
}


.dd-menu-wrapper asset-share-link .collections-dd-menu,
.dd-menu-wrapper collections-filter-dd .collections-dd-menu,
.dd-menu-wrapper collections-sort-dd .collections-dd-menu {
  header {
    background-color: rgba(mat-color($mat-foreground, base), .05);
    @include text-contrast(mat-color($mat-background, card), rgba(mat-color($mat-foreground, base), .75), mat-color($mat-background, card));
    .tools button:hover {
      color: mat-color($mat-primary);
    }
  }
  .sub-menu {
    &.dd-menu-wrapper wz-sort-component div.dense {
      .select-dd.active button[md-menu-item] {
        color: mat-color($primary);
        md-icon.material-icons {
          color: mat-color($primary);
        }
      }
    }
  }
}

collections-list-dd .collections-dd-menu .dd-menu-wrapper wz-item-search-form {
  & > div[layout] {
    background-color: rgba(mat-color($mat-background, card), 1);
    box-shadow: inset 0 -1px 0 0 mat-color($mat-foreground, divider);
  }
  .tools {  
    button {
      @include text-contrast(mat-color($mat-background, card), rgba(mat-color($mat-foreground, base), .75), mat-color($mat-background, card));
      &:hover {
        color: mat-color($mat-primary);
      }
    }
  }
  form {
    button[type="submit"],button[type="reset"] {
      md-icon.material-icons {
        color: mat-color($mat-primary);
      }
    }
    input {
      background-color: rgba(mat-color($mat-background, card), 1);
    }
  }
}
