<div flex-gt-lg="100" flex-gt-md="100" flex-gt-sm="100" flex="100">
  <md-card class="wz-form-card md-elevation-z20">
    <button md-icon-button title="{{ 'COLLECTION.FORM.CLOSE_HOVER_TITLE' | translate }}" type="button" (click)="cancelCollectionCreation();dialog.close()" class="close"><md-icon>close</md-icon></button>
    <md-card-header>
      <!--<div class="logo-wrapper">
        <div class="logo"></div>
      </div>-->
    </md-card-header>
    <md-card-title>
      {{ 'COLLECTION.NEW_TITLE' | translate }}
    </md-card-title>
    <md-card-content *ngIf="config">
      <wz-form 
        [items]="formItems"
        [serverErrors]= "serverErrors"
        submitLabel="COLLECTION.FORM.SUBMIT_LABEL" 
        (formSubmit)="createCollection($event)"
        autocomplete="off">
      </wz-form>

      <!--<div class="suggestions-menu" [ngClass]="{'revealed': areSuggestionsVisible}">
        <div md-line class="heading">{{ 'COLLECTION.FORM.TYPE_AHEAD_SUGGESTIONS_HEADING' | translate}}</div>
        <md-list>
          <md-list-item *ngFor="let suggestion of suggestions">
            <button (click)="selectSuggestion(suggestion)" [ngClass]="{'active': activeSuggestion == suggestion}">
              {{suggestion}}
            </button>
          </md-list-item>
        </md-list>
      </div>-->
      
    </md-card-content>
  </md-card>
</div>

<!--<div [ngClass]="{'fade-out': !(UiState.data | async).newCollectionFormIsOpen, 'fade-in': (UiState.data | async).newCollectionFormIsOpen}"
  class="bk-for-dialog" (click)="cancelCollectionCreation()">
</div>-->
