<div class="wz-dialog">
  <button md-icon-button md-dialog-close title="{{ tr.close | translate }}" type="button" class="close">
    <md-icon>close</md-icon>
  </button>
  <h1 md-dialog-title>
    {{ tr.title | translate }}
  </h1>
  <md-dialog-content *ngIf="fields">
    <wz-form 
      [items]="formItems"
      [serverErrors]= "serverErrors"
      [submitLabel]="tr.submitLabel" 
      (formSubmit)="collectionAction($event)"
      autocomplete="off">
    </wz-form>
  </md-dialog-content>
</div>


