collections-list-dd, collections-filter-dd, collections-sort-dd, asset-share, asset-share-link {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
  &:parent {
    z-index: 100;
  }
  &.revealed {
    margin-top: 0;
  }
  &.revealed .collections-dd-menu {
    animation-name: dd-open;
    animation-duration: 200ms;
    animation-timing-function: $swift-ease-in-timing-function;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
  }
  &.revealed .dd-menu-wrapper {
    animation-name: fadeIn;
    animation-duration: 200ms;
    animation-timing-function: $swift-ease-in-timing-function;
    animation-iteration-count: 1;
    animation-delay: 250ms;
    animation-fill-mode: backwards;
  }
  .collections-dd-menu {
    @include mat-elevation(6);
    transition: $swift-ease-out;
    min-width: rem(40.0);
    background-color: mat-color($mat-background, background);
    color: rgba(mat-color($mat-foreground, text), .7);
    @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
      position: static;
      min-width: 100%;
      max-width: 100%;
    }
    header {
      padding-top: rem(.9);
      padding-right: rem(1.4);
      padding-bottom: rem(.9);
      padding-left: rem(1.4);
      box-shadow: inset 0 -1px 0 0 mat-color($mat-foreground, divider), 0 1px 0 0 mat-color($mat-background, card);
      background-color: mat-color($mat-primary, default);
      @include text-contrast(mat-color($mat-primary, default));
      .md-headline {
        font-size: rem(2.0);
        margin: 0;
        margin-top: rem(.5);
        width: calc(100% - 120px);
      }
      .tools {
        white-space: nowrap;
        text-align: right;
        button {
          transition: $swift-ease-out;
          &:hover {
            @include text-contrast(mat-color($mat-primary, default));
            // color: mat-color($mat-primary);
            background-color: mat-color($mat-foreground, base, .1);
          }
          // once they put a transition into the ::after pseudo class this can go away
          &[md-icon-button]:hover::after {
            background-color: transparent;
          }
        }
      }
    }
    .query-details {
      background-color: rgba(mat-color($mat-primary, default), .12); 
      color: mat-color($mat-foreground, secondary-text);
      span {
        margin-left: rem(1.3);
        margin-right: rem(1.3);
        margin-top: 0;
        display: inline-block;
        position: relative;
        padding-left: rem(2.3);
        line-height: rem(1.9);
        &:before {
          content: " ";
          position: absolute;
          top: 0;
          left: 0;
          height: rem(2);
          width: rem(2);
          border-radius: 50%;
        }
        &:after {
          content: "\e152";
          font-family: 'Material Icons';
          font-weight: 100;
          font-size: rem(1.5);
          line-height: rem(1.7);
          height: rem(2);
          width: rem(2);
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          text-align: center;
        }
        &.search:after {
          content: "\e8b6";
        }
        &.sort:after {
          content: "\e164";
        }
        &:first-child {
          margin-top: rem(1.2);
        }
        &:last-child {
          margin-bottom: rem(1.2);
        }
        strong {
          display: inline-block;
          padding-right: rem(.5);
          font-weight: 600;
        }
      }
    }
    md-list {
      margin-top: rem(1.6);
      margin-bottom: rem(1.6);
      margin-left: rem(1.6);
      margin-right: rem(1.6);
      padding-top: 0;
      border: 1px solid mat-color($mat-foreground, divider);
      max-height: rem(34.2);
      min-height: rem(31.2);
      overflow-x: hidden;
      // margin-bottom: rem(1.1);
      md-list-item .md-list-item {
        height: rem(3.8);
        padding: 0;
        button {
          height: rem(3.8);
          color: rgba(mat-color($mat-foreground, text), .7);
          display: flex;
          align-items: center;
          width: 100%;
          padding: 0;
          margin: 0;
          border: none;
          text-align: left;
          background: none;
          background-color: transparent;
          font-size: inherit;
          line-height: inherit;
          transition: $swift-ease-out;
          padding-left: rem(1.6);
          padding-right: rem(1.6);
          box-shadow: inset 0 1px 0 0 mat-color($mat-foreground, divider);
          &:hover, &:focus {
            cursor: pointer;
            color: mat-color($mat-primary);
            background-color: rgba(mat-color($mat-foreground, base), .1);
            outline: none;
          }
          &[disabled] {
            color: rgba(mat-color($mat-foreground, text), .3);
            &:hover {
              background: none;
              background-color: transparent;
              cursor: default;
            }
          }
        }
        md-icon {
          transition: $swift-ease-out;
          opacity: .15;
          margin-right: rem(1.4);
          &.right-align.material-icons {
            margin-left: auto;
            margin-right: rem(-.3);
            opacity: .3;
          }
        }
      }
      md-list-item.active .md-list-item button {
        color: mat-color($mat-primary);
        background-color: rgba(mat-color($mat-foreground, base), .07);
        box-shadow: inset 0 1px 0 0 mat-color($mat-foreground, base), .05;
        md-icon {
          opacity: 1;
        }
        &:hover {
          cursor: default;
        }
      }
      md-list-item:first-child .md-list-item button {
        box-shadow: none;
      }
    }
    footer .actions {
      margin-bottom: rem(1.6);
      [md-button], button {
        transition: $swift-ease-out;
        line-height: 1;
        white-space: normal;
        min-width: rem(9.2);
        padding-top: rem(.4);
        padding-bottom: rem(.4);
        padding-left: rem(.8);
        padding-right: rem(.8);
        margin-left: rem(.4);
        margin-right: rem(.4);
        &:hover {
          color: mat-color($mat-primary);
          md-icon {
            opacity: 1;
          }
        }
      }
      md-icon {
        font-size: 32px;
        width: 32px;
        height: 32px;
        opacity: .8;
      }
      .label {
        display: block;
        text-align: center;
        font-size: .76em;
        text-transform: none;
        opacity: .8;
      }
    }
  }
}

.dd-menu-wrapper {
  position: relative;
}
.dd-menu-wrapper asset-share-link,
.dd-menu-wrapper collections-filter-dd,
.dd-menu-wrapper collections-sort-dd {
  right: 0;
  top: 0;
}  
.dd-menu-wrapper asset-share-link .collections-dd-menu,
.dd-menu-wrapper collections-filter-dd .collections-dd-menu,
.dd-menu-wrapper collections-sort-dd .collections-dd-menu {
  position: absolute;
  right: 0;
  min-width: 100%;
  @include mat-elevation(2);
  header {
    display: flex;
    padding-left: rem(.3);
    padding-right: rem(.3);
    background-color: rgba(mat-color($mat-foreground, base), .05);
    @include text-contrast(mat-color($mat-background, card), rgba(mat-color($mat-foreground, base), .75), mat-color($mat-background, card));
    .md-headline {
      margin-left: rem(2.1);
    }
    .tools button.back {
      transform: rotate(90deg);
    }
    .tools button:hover {
      color: mat-color($mat-primary);
    }
  }
  .md-menu {
    min-width: 100%;
    box-shadow: none;
    &.dd-menu-wrapper wz-sort-component div.dense {
      .select-dd md-icon.material-icons {
        opacity: 0;
      }
      .select-dd md-icon.material-icons {
        opacity: 0;
      }
      .select-dd.active button[md-menu-item] {
        background-color: transparent;
        color: mat-color($primary);
        md-icon.material-icons {
          color: mat-color($primary);
          opacity: 1;
        }
      }
    }
  }
}

collections-list-dd .collections-dd-menu .dd-menu-wrapper wz-item-search-form {
  z-index: 3;
  position: absolute;
  overflow: hidden;
  margin-right: 0;
  top: 0;
  right: 0;
  min-width: 100%;
  background-color: transparent;
  & > div[layout] {
    background-color: rgba(mat-color($mat-background, card), 1);
    min-height: rem(5.8);
    box-shadow: inset 0 -1px 0 0 mat-color($mat-foreground, divider);
  }
  .tools {
    display: flex;
    padding-right: rem(0.3);
    button {
      transform: rotate(90deg);
      @include text-contrast(mat-color($mat-background, card), rgba(mat-color($mat-foreground, base), .75), mat-color($mat-background, card));
      &:hover {
        color: mat-color($mat-primary);
      }
    }
  }
  form {
    min-height: rem(5.8);
    padding-top: rem(.8);
    padding-bottom: rem(.8);
    padding-left: rem(.3);
    padding-right: rem(.1);
    border: none;
    button[type="submit"],button[type="reset"] {
      md-icon.material-icons {
        color: mat-color($mat-primary);
      }
    }
    input {
      border-width: 0;
      max-height: 100%;
      min-height: 100%;
      padding-left: rem(1.8);
      background-color: rgba(mat-color($mat-background, card), 1);
    }
  }
}

@keyframes dd-open {
  0% {
    max-height: 0;
    max-width: 0;
    min-width: 0;
    overflow: hidden;
  }
  100% {
    max-height: rem(44.1);
    max-width: rem(40.0);
    min-width: rem(32.0);
  }
}
