@import 'platform/styles/vendor';

// change theme colors and any other global variables
$md-is-dark-theme: false !default;
$md-button-border-radius: 2px !default;

$md-primary: md-palette($md-blue-grey, 500, 100, 700, $md-contrast-palettes) !default;
$md-accent: md-palette($md-orange, 500, 300, 800, $md-contrast-palettes) !default;
$md-background: md-palette($md-grey, 500, 0, 600, $md-contrast-palettes) !default;
$md-warn: md-palette($md-red, A700, 600, 900, $md-contrast-palettes) !default;
$md-foreground: if($md-is-dark-theme, $md-dark-theme-foreground, $md-light-theme-foreground) !default;

@import '../assets/styles/config';
@import 'platform/styles/wazee';

@import 'shared/components/app-nav/app-nav';
@import 'shared/components/footer/footer';
@import 'shared/components/search-box/search-box';
@import 'shared/components/bin-tray/bin-tray';
@import 'shared/components/asset-list/asset-list';
@import 'shared/components/wz-list/wz.list';
@import 'shared/components/pagination/pagination';
@import 'shared/components/asset-detail/asset-detail';

@import '+home/home';
@import '+user-management/+login/login';

@import '+admin/+index/index';
@import '+admin/+config/config';
@import '+admin/+dashboard/dashboard';
@import '+admin/+new/new';