
<collection-form
  [UiState]="uiState"
  [collection]="activeCollection.data | async"
  [config]="(uiConfig.get('collection') | async).config"
  [ngClass]="{'revealed': (uiState.data | async).newCollectionFormIsOpen}"
  layout="row" layout-align="center start">
</collection-form>

<div class="app" #target>
  <header [ngClass]="{
    'fixed': (uiState.data | async).showFixed,
    'bin-tray-closed': !(uiState.data | async).binTrayIsOpen,
    'search-closed': !(uiState.data | async).searchIsOpen
    }" class="app-header">
    <app-nav
      [UiState]="uiState"
      [currentUser]="currentUser"
      [permission]="permission"
      [state]="state"
      [config]="(uiConfig.get('header') | async).config"
      [collection]="activeCollection.data | async"
      (onLogOut)="logout()">
    </app-nav>
    <bin-tray
      *ngIf="(uiState.data | async).searchBarIsActive && currentUser.loggedIn()"
      [UiState]="uiState"
      [collection]="activeCollection.data | async"
      >
    </bin-tray>
    <wz-search-box
      *ngIf="(uiState.data | async).searchBarIsActive"
      [currentUser]="currentUser"
      [state]="state"
      [UiState]="uiState"
      [apiConfig]="apiConfig"
      [config]="(uiConfig.get('searchBox') | async).config"
      (searchContext)="newSearchContext($event)">
    </wz-search-box>
    <bin-tray
      *ngIf="(uiState.uiState | async).searchBarIsActive && currentUser.loggedIn()"
      [UiState]="uiState"
      [collection]="activeCollection.data | async"
      >
    </bin-tray>
  </header>
  <div [ngClass]="{
    'bin-tray-closed': !(uiState.data | async).binTrayIsOpen,
    'search-closed': !(uiState.data | async).searchIsOpen
    }" class="main-content">
    <router-outlet></router-outlet>
  </div>
  <app-footer
    [currentUser]="currentUser"
    [supportedLanguages]="supportedLanguages"
    (onChangeLang)="changeLang($event)">
  </app-footer>
</div>
