<div class="app">
  <app-loading-indicator></app-loading-indicator>
  <header [ngClass]="{
    'fixed': (uiState.data | async).showFixedHeader,
    'collection-tray-closed': !(userPreference.data | async).collectionTrayIsOpen,
    'search-closed': !(userPreference.data | async).searchIsOpen
    }" class="app-header">
    <app-nav
      [uiState]="uiState"
      [currentUser]="currentUser"
      [userPreference]="userPreference"
      [config]="(uiConfig.get('header') | async).config"
      [userCan]="userCan"
      [cartSize]="cartCount | async"
      (onLogOut)="logout()">
    </app-nav>
    <collection-tray
      *ngIf="userCan.viewCollectionTray() | async"
      [uiState]="uiState"
      [uiConfig]="uiConfig"
      [userPreference]="userPreference">
    </collection-tray>
     <wz-autocomplete-search
      *ngIf="uiState.headerIsExpanded()| async"
      [currentUser]="currentUser"
      [userPreference]="userPreference"
      [uiState]="uiState"
      [state]="state"
      [config]="(uiConfig.get('searchBox') | async).config"
      (searchContext)="newSearchContext($event)"
      (toggleFilterTree)="toggleFilterTreePreference()">
    </wz-autocomplete-search>
  </header>
  <div [ngClass]="{
    'collection-tray-closed': !(userPreference.data | async).collectionTrayIsOpen,
    'search-closed': !(userPreference.data | async).searchIsOpen
    }" class="main-content">
    <router-outlet></router-outlet>
  </div>
  <app-footer
    [currentUser]="currentUser"
    [supportedLanguages]="supportedLanguages"
    (onChangeLang)="changeLang($event)">
  </app-footer>
</div>
