<notification [state]="state"></notification>
<!--<md-sidenav-layout fullscreen>
  <md-sidenav #sidenav>
    <md-nav-list>
      <a md-list-item>
        <md-icon md-list-icon>event_seat</md-icon>
        <span md-line>Take a Tour does this just get wider?</span>
      </a>
      <a md-list-item>
        <md-icon md-list-icon>fingerprint</md-icon>
        <span md-line>security</span>
      </a>
    </md-nav-list>
  </md-sidenav>-->
  
  <div class="app">
    <header [ngClass]="{'fixed': showFixed, 'bin-tray-closed': !binTrayIsOpen, 'search-closed': !searchIsOpen}" class="app-header">
      <app-nav 
        [showFixed]="showFixed" 
        [searchBarIsActive]="searchBarIsActive" 
        [currentUser]="currentUser" 
        [state]="state" 
        [config]="header" 
        (onLogOut)="logout()" 
        (onOpenSearch)="openSearch()" 
        (onOpenBinTray)="openBinTray()" 
        (onOpenSidenav)="sidenav.open()">
      </app-nav>
      <search-box 
        *ngIf="searchBarIsActive" 
        [state]="state" 
        [loggedIn]="currentUser.loggedIn()" 
        [apiConfig]="apiConfig" 
        [config]="searchBox" 
        (onCloseSearch)="closeSearch()" 
        (searchContext)="newSearchContext($event)">
      </search-box>
      <bin-tray 
        *ngIf="searchBarIsActive" 
        [showFixed]="showFixed" 
        (onCloseBinTray)="closeBinTray()">
      </bin-tray>
    </header>
    <div [ngClass]="{'bin-tray-closed': !binTrayIsOpen, 'search-closed': !searchIsOpen}" class="main-content">
      <router-outlet></router-outlet>
    </div>
    <app-footer 
      [currentUser]="currentUser" 
      [supportedLanguages]="supportedLanguages" 
      (onChangeLang)="changeLang($event)">
    </app-footer>
  </div>
<!--</md-sidenav-layout>-->
