@import 'platform/styles/vendor';

// change theme colors and any other global variables
$md-is-dark-theme: false;
$md-button-border-radius: 2px;

// $md-primary: md-palette($md-teal, 500, 100, 700, $md-contrast-palettes);
// $md-accent: md-palette($md-purple, 500, 300,800, $md-contrast-palettes);
// $md-warn: md-palette($md-red, 500, 300, 900, $md-contrast-palettes);

$md-primary: md-palette($md-blue-grey, 600, 300, 800, $md-contrast-palettes);
$md-accent: md-palette($md-orange, 500, 300, 800, $md-contrast-palettes);
$md-warn: md-palette($md-red, A700, 600, 900, $md-contrast-palettes);

$md-foreground: if($md-is-dark-theme, $md-dark-theme-foreground, $md-light-theme-foreground);
$md-background: if($md-is-dark-theme, $md-dark-theme-background, $md-light-theme-background);



@import '../assets/styles/config';
@import 'platform/styles/wazee';

@import 'shared/components/app-nav/app-nav';
@import 'shared/components/footer/footer';
@import 'shared/components/search-box/search-box';
@import 'shared/components/bin-tray/bin-tray';
@import 'shared/components/asset-list/asset-list';
@import 'shared/components/wz-list/wz.list';
@import 'shared/components/pagination/pagination';
@import 'shared/components/asset-detail/asset-detail';

@import '+home/home';
@import '+user-management/+login/login';

@import '+admin/+index/index';
@import '+admin/+config/config';
@import '+admin/+dashboard/dashboard';
@import '+admin/+new/new';
