div(layout='row', layout-padding='', layout-wrap='', layout-fill='', style='padding-bottom: 32px;', ng-cloak='')
    img(width="465", NgIf='clipRendition(result.rendition).url != ""', *ngFor='#result of results' src="{{clipRendition(result.rendition).url}}")
    
    