section.search-results
  div(layout='row', layout-xs="column", md-scroll-y='', layout-align='start center', layout-padding='')
    div(flex='')
    div(flex-xl="70", flex-gt-lg="80",flex-gt-md="90", flex="100")
      div(layout='row')
        // img(width="465", NgIf='clipRendition(result.rendition).url != ""', *ngFor='#result of results' src="{{clipRendition(result.rendition).url}}")
    div(flex='')

    
    