<section class="profile-head" layout="row" layout-align="center center">
  <header flex-gt-lg="80" flex-lg="80" flex-gt-sm="95" flex="100">
    <div layout="row"  layout-align="space-between end">
      <h2 flex="100" class="md-display-1">{{ 'PROFILE.PAGE_TITLE' | translate }}</h2>
      <div class="tools" flex="auto">
          <button md-button title="{{ 'PROFILE.SETTING_BTN_HOVER_TITLE' | translate }}" [md-menu-trigger-for]="profileSettings" class="icon-dd-button is-dd" color="primary"><md-icon>settings</md-icon></button>
          <md-menu x-position="before" #profileSettings="mdMenu">
            <button md-menu-item disabled>
              <md-icon>settings_applications</md-icon>
              {{ 'PROFILE.SETTINGS_DD_MENU.USER_PREFS_LINK' | translate }}
            </button>
            <button md-menu-item disabled>
              <md-icon>business</md-icon>
              {{ 'PROFILE.SETTINGS_DD_MENU.ACCOUNT_SETTINGS_LINK' | translate }}
            </button>
            <div class="divider"></div>
            <button md-menu-item [routerLink]="['/user/reset-password']">
              <md-icon>lock</md-icon>
              {{ 'PROFILE.SETTINGS_DD_MENU.CHANGE_PASSWORD_LINK' | translate }}
            </button>
          </md-menu>
        </div>
    </div>
  </header>
</section>

<section class="data-bk">
  <div layout="row" md-scroll-y="" layout-align="center start">
    <div flex-gt-lg="80" flex-lg="80" flex-gt-sm="95" flex="100" layout="row" layout-wrap="" layout-align="center start">
      <md-tab-group>
        <md-tab label="'PROFILE.BASIC_INFO_TAB_LABEL' | uppercase | translate">
          <ng-template md-tab-label>{{'PROFILE.BASIC_INFO_TAB_LABEL' | translate }}</ng-template>
          <!--<div layout="row" layout-align="end center">
            <button md-button md-raised-button [md-menu-trigger-for]="profileSettings" color="primary">Edit basic info</button>
          </div>-->
          <div class="m-data">
            <div class="row">
              <div class="cell">
                <h5 class="md-subhead">{{'PROFILE.BASIC_INFO.FIRST_NAME_LABEL' | translate }}</h5>
              </div>
              <div class="cell">
                <p class="md-body-1">{{user.firstName}}</p>
              </div>
            </div>
            <div class="row">
              <div class="cell">
                <h5 class="md-subhead">{{'PROFILE.BASIC_INFO.LAST_NAME_LABEL' | translate }}</h5>
              </div>
              <div class="cell">
                <p class="md-body-1">{{user.lastName}}</p>
              </div>
            </div>
            <div class="row">
              <div class="cell">
                <h5 class="md-subhead">{{'PROFILE.BASIC_INFO.EMAIL_LABEL' | translate }}</h5>
              </div>
              <div class="cell">
                <p class="md-body-1">{{user.emailAddress}}</p>
              </div>
            </div>
            <div class="row">
              <div class="cell">
                <h5 class="md-subhead">{{'PROFILE.BASIC_INFO.ACCOUNT_LABEL' | translate }}</h5>
              </div>
              <div class="cell">
                <p class="md-body-1">{{user.accountId}}</p>
              </div>
            </div>
            <div class="row">
              <div class="cell">
                <h5 class="md-subhead">{{'PROFILE.BASIC_INFO.PASSWORD_LABEL' | translate }}</h5>
              </div>
              <div class="cell">
                <p class="md-body-1">
                  <button md-button class="is-outlined" color="primary" [routerLink]="['/user/reset-password']">{{'PROFILE.BASIC_INFO.CHANGE_PASSWORD_BTN_LABEL' | translate }}</button>
                </p>
              </div>
            </div>
          </div>
          <div layout="row" layout-align="end center">
            <button md-button (click)="comingSoonDialog()" color="primary" class="edit-basic">
              <md-icon class="md-24">edit</md-icon>
              {{'PROFILE.BASIC_INFO.EDIT_BTN_LABEL' | translate }}
            </button>
          </div>
          <div class="m-data">
            <div class="row">
              <div class="cell">
                <h5 class="md-subhead">{{'PROFILE.BASIC_INFO.BILLING_ADDRESS_LABEL' | translate }}</h5>
              </div>
              <div class="cell">
                <p class="md-body-1">{{user.billingInfo.address.address}}</p>
              </div>
            </div>
            <div class="row">
              <div class="cell">
                <h5 class="md-subhead">{{'PROFILE.BASIC_INFO.BILLING_ADDRESS_CITY_LABEL' | translate }}</h5>
              </div>
              <div class="cell">
                <p class="md-body-1">{{user.billingInfo.address.city}}</p>
              </div>
            </div>
            <div class="row">
              <div class="cell">
                <h5 class="md-subhead">{{'PROFILE.BASIC_INFO.BILLING_ADDRESS_STATE_LABEL' | translate }}</h5>
              </div>
              <div class="cell">
                <p class="md-body-1">{{user.billingInfo.address.state}}</p>
              </div>
            </div>
            <div class="row">
              <div class="cell">
                <h5 class="md-subhead">{{'PROFILE.BASIC_INFO.BILLING_ADDRESS_ZIPCODE_LABEL' | translate }}</h5>
              </div>
              <div class="cell">
                <p class="md-body-1">{{user.billingInfo.address.zipcode}}</p>
              </div>
            </div>
            <div class="row">
              <div class="cell">
                <h5 class="md-subhead">{{'PROFILE.BASIC_INFO.BILLING_ADDRESS_COUNTRY_LABEL' | translate }}</h5>
              </div>
              <div class="cell">
                <p class="md-body-1">{{user.billingInfo.address.country}}</p>
              </div>
            </div>
            <div class="row">
              <div class="cell">
                <h5 class="md-subhead">{{'PROFILE.BASIC_INFO.BILLING_ADDRESS_PHONE_LABEL' | translate }}</h5>
              </div>
              <div class="cell">
                <p class="md-body-1">{{user.billingInfo.address.phone}}</p>
              </div>
            </div>
          </div>
          <div layout="row" layout-align="end center">
            <button md-button (click)="comingSoonDialog()" color="primary" class="edit-basic">
              <md-icon class="md-24">edit</md-icon>
              {{'PROFILE.BASIC_INFO.BILLING_ADDRESS_EDIT_BTN_LABEL' | translate }}
            </button>
          </div>
        </md-tab>

        <md-tab label="'PROFILE.PERMISSION_TAB_LABEL' | uppercase | translate">
          <ng-template md-tab-label>{{'PROFILE.PERMISSION_TAB_LABEL' | translate }}</ng-template>
          <div class="m-data">
            <div class="row" *ngIf="user.allUserPermissions">
              <div class="cell">
                <h5 class="md-subhead">{{'PROFILE.PERMISSION_TAB_LABEL' | translate }}</h5>
              </div>
              <div class="cell">
                <p class="md-body-1" *ngFor='let perm of user.allUserPermissions; let i=index'>{{perm}}</p>
              </div>
            </div>
            <div class="row" *ngIf="user.roles">
              <div class="cell">
                <h5 class="md-subhead">{{'PROFILE.PERMISSIONS.ROLE_LABEL' | translate }}</h5>
              </div>
              <div class="cell">
                <p class="md-body-1">{{user.roles[0].description}}</p>
              </div>
            </div>
          </div>
        </md-tab>
      </md-tab-group>
    </div>
  </div>
</section>
