profile-component .profile-head {
  padding-left: rem(.4);
  padding-right: rem(.4);
  header {
    padding-top: rem(.6);
    padding-bottom: rem(.5);
    .md-display-1 {
      margin: 0;
      width: calc(100% - 120px);
      font-size: rem(2.6);
    }
  } 
  .tools {
    text-align: right;
    white-space: nowrap;
  }
  header div[flex="100"] > button[md-icon-button] {
    margin-right: rem(1.6);
  }
}

profile-component .mat-primary.edit-basic {
  margin-top: rem(.6);
  margin-bottom: rem(-3.0);
  padding-left: rem(4.0);
  .material-icons {
    position: absolute;
    left:rem(1.0);
    top:rem(.3);
  }
}

profile-component md-tab-body {
  min-height: 560px;
}
