profile-component .profile-head {
  color: md-color($md-primary, 600);
  padding-left: rem(.8);
  padding-right: rem(.8);
  box-shadow: inset 0 -1px 0 0 md-color($md-foreground, divider), 0 1px 0 0 rgba(md-color($md-background, card), .6);
  header {
    padding-top: rem(1.6);
    padding-bottom: rem(.6);
    .md-display-1 {
      margin: 0;
      width: calc(100% - 120px);
      font-size: rem(2.6);
    }
  } 
  .tools {
    text-align: right;
    white-space: nowrap;
    button.is-dd.md-icon-button.md-primary {
      @include transition($swift-ease-out);
      color: md-color($md-primary, 500);
      .md-button-wrapper::after {
        color: md-color($md-primary, 500);
      }
      &:hover {
        background-color: md-color($md-background, hover);
      }
      &[md-button]:hover.md-primary::after, [md-icon-button]:hover.md-primary::after {
        background-color: rgba(md-color($md-primary, 500), .12)
      }
    }
  }
  header div[flex="100"] > button[md-icon-button] {
    margin-right: rem(1.6);
  }
}

// stupid theming not yet implemented. When it is this can be removed
profile-component .md-primary[md-button] {
  @include transition($swift-ease-out);
  color: md-color($md-primary, 500);
  &[md-button]:hover.md-primary::after, [md-icon-button]:hover.md-primary::after {
    background-color: rgba(md-color($md-primary, 500), .12);
  }
}
profile-component .md-primary[md-raised-button], 
profile-component .md-primary[md-fab], 
profile-component .md-primary[md-mini-fab] {
  background-color: md-color($md-primary, 500);
  @include text-contrast(md-color($md-primary, 700));
}

profile-component .md-primary.edit-basic {
  margin-top: rem(.6);
  margin-bottom: rem(-3.0);
  padding-left: rem(4.0);
  .material-icons {
    position: absolute;
    left:rem(1.0);
    top:rem(.3);
  }
}

// profile-component .md-primary[md-mini-fab] {
//   margin-top: rem(-1.4);
//   margin-right: rem(2.4);
//   margin-bottom: rem(-2.4);
// }
