@mixin wz-collection-show-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);


  collection-show .collection-head {
    background-color: rgba(mat-color($background, card), .5);
  }
  collection-show .asset-results-header {
    color: mat-color($primary, default);
    box-shadow: inset 0 -1px 0 0 mat-color($foreground, divider), 0 1px 0 0 rgba(mat-color($background, card), .6);
    header .md-display-1.alert {
      color: mat-color($warn, darker);
    }
    .tools button.is-dd.mat-icon-button.mat-primary .mat-button-wrapper::after {
      color: mat-color($primary, default);
    }
  }

  wz-subclip-editor > section [md-button].is-outlined[disabled] {
    color: mat-color($foreground, text);
  }
  .subclipping-edit-open .cdk-overlay-pane md-dialog-container.mat-dialog-container 
  wz-subclip-edit-actions [md-button].is-outlined[disabled] {
    color: mat-color($foreground, text);
  }
}
