collection-show .collection-head {
  background-color: rgba(mat-color($background, card), .5);
  @include mat-elevation(2);
  padding-left: rem(.8);
  padding-top: rem(1.1);
  padding-bottom: rem(1.1);
  padding-right: rem(.8);
}
collection-show .asset-results-header {
  color: mat-color($primary, default);
  padding-left: rem(1.6);
  padding-right: rem(1.6);
  box-shadow: inset 0 -1px 0 0 mat-color($mat-foreground, divider), 0 1px 0 0 rgba(mat-color($mat-background, card), .6);
  header {
    padding-top: rem(.6);
    padding-bottom: rem(.5);
    position: relative;
    .md-display-1 {
      margin: 0;
      width: calc(100% - 120px);
      font-size: rem(2.6);
      &.alert {
        color: mat-color($warn, darker);
      }
    }
  }
  .tools {
    text-align: right;
    white-space: nowrap;
    button.is-dd.md-icon-button.md-primary {
      .md-button-wrapper::after {
        color: mat-color($mat-primary, default);
      }
    }
  }
}
collection-show .search-results > div > div {
  padding-left: rem(1.6);
  padding-right: rem(1.6);
}
collection-show .collections-list {
  ul {
    margin-top: 0;
  }
  li.collection {
    background-color: transparent;
    margin-bottom: 0;
    padding: 0;
    border-radius: 0;
    border-width: 0;
    transition: $swift-ease-out;
    & > div[layout="row"] > div[layout-padding]:first-child {
      padding-left: 0;
      padding-top: rem(.4);
      padding-right: rem(1.6);
      padding-bottom: 0;
      @media screen and (max-width: $layout-breakpoint-xs) and (min-width: 0) and (orientation: portrait)  {
        padding-right: 0;
      }
    }
    & > div[layout="row"] > div[layout-padding]:last-child {
      padding: 0;
    }
    .actions {
      text-align: right;
    }
  }
}

// When the edit sub-clipping dialog is opened
// override dialog container padding as well as specific styles for the editing dialog

wz-subclip-editor > section {
  padding: rem(1.4) rem(1.2) rem(1.1) 0;
  [md-button].is-outlined {
    line-height: rem(3.5);
    padding: 0 rem(1.6);
    height: rem(3.5);
    margin-left: rem(.5);
    &[disabled] {
      color: mat-color($mat-foreground, text);
      opacity: .35;
    }
  }
}
.subclipping-edit-open .cdk-overlay-pane md-dialog-container.md-dialog-container {
  padding: rem(.2);
  min-height: rem(33.0);
  wz-subclip-edit-actions {
    text-align: right;
    padding: rem(1.6) rem(1.6) rem(1.6) 0;
    [md-button].is-outlined {
      line-height: rem(3.5);
      padding: 0 rem(1.6);
      height: rem(3.5);
      margin-left: rem(.5);
      &[disabled] {
        color: mat-color($mat-foreground, text);
        opacity: .35;
      }
    }
  }
  subclip-controlbar {
    position: relative;
    markers-clear-button {
      position: absolute;
      right: rem(0.1);
    }
  }
}
