.breadcrumbs {
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
    display: inline-block;
    margin-bottom: rem(.4);
  }
  .breadcrumb {
    font-size: 0.8em;
    font-weight: 400;
    line-height: rem(3.1);
    padding: 0 rem(3.6) 0 rem(1.6);
    margin-right: rem(.4);
  }
  .breadcrumb-clear-all {
    line-height: rem(2.9);
  }
}

.breadcrumb[md-button] {
  text-transform: none;
  md-icon {
    position: absolute;
    top: rem(.4);
    right: rem(.8);
    opacity: .3;
  }
}
