// breadcrumb.root {
//   > ul.breadcrumbs {
//      > li {
//       float: left;;
//     }
//   }
//   ul {
//     padding-left:5px;
//   }
//   li {
//     list-style-type: none;
//     margin-top:5px;
//   }
// }

breadcrumb-component.root {
  md-progress-circle {
    height: 20px;
    width: 20px;
    float: left;
  }
  div.show {
    display: inline-block;
    padding: 0px 10px 0px 20px;
  }
  ul {
    padding:0;
    float: left;
    
  }
  li {
    list-style-type: none;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    //  margin-top:5px;
  }
}