
<ul class="breadcrumbs">
  <!--<li *ngIf="loading"><md-progress-circle mode="indeterminate"></md-progress-circle></li>-->
  <li *ngFor="let filter of activeFilters">
      <span *ngIf="filter.active" class="breadcrumb">
        {{filter.name}}
        <span *ngIf="filter.value">
          {{filter.value}}
        </span>
        <button md-icon-button (click)="clearFilter(filter)"><md-icon>cancel</md-icon></button>
      </span>
  </li>
  <li *ngIf="activeFilters.length > 0" class="breadcrumb clear" (click)="clearFilters()">
    clear all
    <button md-icon-button><md-icon>remove_circle</md-icon></button>  
  </li>
</ul> 
